[2016-11-10 10:45] RobinBuschmann opened #1 "@Column and @PrimaryKey annotation do not work together properly"

[2017-02-24 15:57] mzgnr opened #2 "Roadmap & Contributing"
hey, nice work! Do you have any roadmap that you can share ? I would like to contribute to make it more stable. I've also seen that you are working on refactoring branch.

[2017-02-24 16:22] RobinBuschmann commented on #2
Hey, thanks. Hopefully I can publish a first version in the next two weeks. What's left to do:

- make it also compatible with the next version of sequelize, so that it will work with sequelize v3 and v4.
- find a way to make the `add<Relational-Model>`,  `set<Relational-Model>` syntax type safe.
- adopt some more tests of the original sequelize repo
- documentation (readme mostly)
- (more validat

[2017-02-24 19:18] #2 closed

[2017-03-15 17:52] RobinBuschmann commented on #1
f95d439896bae83eb5825c973348fa7530b8cf50

[2017-03-15 17:52] #1 closed

[2017-03-20 15:38] RobinBuschmann commented on #2
@mzgnr are you still interested in contributing? If so, feel free to do so. I would appreciate it.

Or do you have further remarks, ideas or basic requirements that I have overseen?

[2017-03-29 17:48] taicho opened #3 "Specifying string length does not appear to generate proper schema (sqlite3)"
If using the "@Column" attribute with DataType.String(someLength) the model does not appear to generate the correct schema and instead generates a column in the sqlite database with an incorrect "[object Object]" column type, very bizarre. I've tried using @Column({type: DataType.String(someLength)}) and have used the raw Sequelize.STRING type as well. With no arguments the column generates proper

[2017-03-29 21:39] RobinBuschmann commented on #3
This is a bug, thank you for reporting. I will solve this tomorrow morning.

[2017-03-30 08:32] #3 closed

[2017-03-30 08:38] RobinBuschmann commented on #3
@taicho It should work now. I published a new version to npm: `sequelize-typescript@0.2.1`.

[2017-03-30 12:34] taicho commented on #3
@RobinBuschmann can confirm works like a charm now! Thanks for such a quick fix.

[2017-04-24 19:30] pburrows opened #5 "Cannot define a varbinary column type."
Sequelize does not natively support the binary column types, but their recommendation is to use the string 'binary(100)' or 'varbinary(max)' etc... when specifying the column type.

I've tried many variations of this, and don't seem to be able to specify the column correctly for my password field. I've tried this:

	@Column({type: "VARBINARY(MAX)")
	Password: any;

and

	@Column({type: "VARBINARY(

[2017-04-25 07:25] RobinBuschmann commented on #5
@pburrows You're using mssql, right? Could you try it with `DataType.BLOB`. Sequelize will internally map this to `VARBINARY(MAX)` and will do some validation and conversion for you. Probably this helps. I have not much experience with mssql and currently no mssql server running, which I can test on.
If this doesn't work, you could ask the sequelize team or on stackoverflow for help. Since this do

[2017-04-25 13:11] pburrows commented on #5
`DataType.BLOB` worked! Thanks for your help. Wish I'd thought of that.

[2017-04-25 13:11] #5 closed

[2017-04-25 14:00] pburrows opened #6 "Configuration for Connecting to Microsoft SQL Server"
(note: I am just creating this issue so it is documented in case anyone else has the same problem in the future)

The default configuration for sequelize uses a property called `database` to specify the name of the database to connect to, like so:

[code]

However, this does not work with sequelize-typescript. Instead, it expects a property called `name` in order to specify which database to use,

[2017-04-25 14:00] #6 closed

[2017-05-05 17:54] stelescuraul opened #7 "Belongs to issue"
Say we have the following models :

Users:
[code]
Details:
[code]
The constrain in the database is:
[code]
That means that the same user can have multiple 'Details'

Easiest way to fix, is to support the constrain 'Unique' (maybe as an annotation) or have belongsToOne type of relation ?

@RobinBuschmann If i missed something, can you point me in the right direction on how to force the relation of

[2017-05-06 02:05] stelescuraul commented on #7
I have fixed this issue by splitting it like this and using the unique property on column. Took me a while to find:
[code]

But now I am facing another issue. When trying to drop and sync the models, or simply using them, because of minification, I have to declare `modelName` and `tableName` in `@Table` decorator, BUT ts is throwing an error about the function being void. If i don't, the drop and

[2017-05-06 16:02] RobinBuschmann commented on #7
Hey, thanks for contributing.

As you already mentioned, this is the way to go:
[code]
Regarding your minification issue: It is not common practice to minify server-side code. Since there is no real benefit from it (see [here](https://www.quora.com/Is-it-advisable-or-even-possible-to-minify-node-js-code) and [here](http://stackoverflow.com/questions/12068971/does-it-make-sense-to-minify-code-used-

[2017-05-06 17:35] stelescuraul commented on #7
@RobinBuschmann Thanks for answering :)

Regarding the unique and AllowNull, maybe we could add that example to the documentation if it makes sense ? Someone else might not pay attention (like I did) and might spend some time finding it out :) Maybe add the example at `@Table` decorator right next to the timestamp example ?

Regarding the minification: To give you an overview of why I decided to m

[2017-05-06 19:36] RobinBuschmann commented on #7
@stelescuraul Since this is a sequelize issue I will not add this to the docs. I would like to keep only sequelize-typescript related stuff in the docs. As you can see [here](http://stackoverflow.com/questions/29551941/unique-constraint-across-foreign-keys-in-sequelize-model) someone else faced the same problem with pure sequelize. Probably we can do some research on why sequelize doesn't implicit

[2017-05-06 20:46] stelescuraul commented on #7
@RobinBuschmann Well, for a one-to-one relationship it would make sense to add a `unique` constraint. Here, you would use `belongsTo` but lets take the following example:
One person has many houses, and x houses belong to the same user. In this scenario you might have a table for `person` and one for `house`. When you make the reference it is one-to-many but each house belongs to one person. So yo

[2017-05-07 09:32] RobinBuschmann commented on #7
@stelescuraul You mean, that the reason why `belongsTo` does not implicitly sets `unique` to the foreign key is, that `belongsTo` is also used for one-to-many relations and not for one-to-one only? Am I getting you right?
A `@Unique` decorator is a good idea. I will implement it for the next version.

Regarding TypeScripts structural typing:
- https://www.typescriptlang.org/docs/handbook/type-comp

[2017-05-07 16:51] stelescuraul commented on #7
@RobinBuschmann Yes, that is what I mean. But from their documentation they have a `belongsTo` which says:
[code]
and then a `belongsToMany` which says:
[code]

I have made a small test using the sequelize library with two models (User and Detail) with the following relation:
[code]
I have taken two approaches to add details to the User instance:
If I do:
[code]
The resulting query is this:
[code]

[2017-05-07 17:06] RobinBuschmann commented on #7
Thank you, I appreciate any help.

[2017-05-07 17:06] #7 closed

[2017-05-10 10:01] RobinBuschmann commented on #7
@stelescuraul I've released a new version(0.3.0) with the issues you've discovered. thanks again

[2017-05-11 12:48] Pritilender opened #8 "npm dependencies"
Hi, I've noticed that dependencies in `package.json` are a bit mixed up: `@types` are in `dependencies` and regular libraries that are used are in `dev-dependencies`.

The thing is that npm won't install `dev-dependencies` when you install the package, but only `dependencies`. So if you say that someone needs to install `reflect-metadata` when they install this package, that's an obvious "smell" y

[2017-05-11 17:28] RobinBuschmann commented on #8
Hey thanks for your advice :) But there is a reason why these dependencies are listed in the corresponding dependency configuration (`dependecies`/`devDependencies`).

`reflect-metadata` should not be installed by default when using `sequelize-typescript`.This is to ensure, that never multiple `reflect-metadata` packages exist in one project. This is because of how `reflect-metadata` stores the in

[2017-05-11 18:46] RobinBuschmann commented on #8
@Pritilender As you also mentioned sequelize in your pull request: The consumer of `sequelize-typescript` should be able to choose which sequelize version they want to use. So that also sequelize is a peer dependency :)

[2017-05-11 21:29] Pritilender commented on #8
@RobinBuschmann Oh, I see. I wasn't thinking about having different versions.

For `@types`, I think that all type packages are dev dependencies, but if you want to ensure that the user has out of the box support for sequelize in TS, then it makes sense to have it there.

As far as help is concerned, I'm glad to help you. This would be my first open-source contribution, so I'd appreciate if you wo

[2017-05-12 09:39] RobinBuschmann commented on #8
@Pritilender Good to here that you will include `sequelize-typescript` in your project :)

Regarding contribution: I don't have any guidelines yet. For every newly added feature, tests should be implemented. When writing an issue, questions, advices,..  any help is greatly appreciated.

Since all `sequelize` features are available with `sequelize-typescript` (or did I missed one?), there are no fe

[2017-05-12 10:11] Pritilender commented on #8
@RobinBuschmann It's cool :)

[2017-05-12 10:11] #8 closed

[2017-05-14 18:52] RobinBuschmann opened #10 "(Semi)automatic includes"
## Whats the problem that should been solved?

It should be possible to define includes dynamically when retrieving or writing data.

## Current situation

**Selecting data including related data:**
[code]
[from sequelize docs](http://docs.sequelizejs.com/manual/tutorial/querying.html#relations-associations)

**Specifying attributes work like this:**
[code]
[from sequelize docs](http://docs.sequel

[2017-05-15 10:56] lilling opened #11 "enum column"
@RobinBuschmann

How do I write an enum column?

[code]

I want the default value to be pending

[2017-05-15 13:30] RobinBuschmann commented on #11
If you want to use the data type ENUM, you could implement it like this:

[code]
Therefore you need to map your TypeScript enum values to its string representations. (`RoleStatus[RoleStatus.ACTIVE]`) or you're could use literal types instead:
[code]
[code]
(Regarding enum types in databases in general it might be useful to read this http://stackoverflow.com/a/8792748)

[2017-05-16 13:42] lilling commented on #11
thanks @RobinBuschmann I tried it and It worked perfectly!

[2017-05-16 13:42] #11 closed

[2017-05-17 09:39] lilling opened #12 "create/ update with model relation"
I have your example:

[code]

I want to create/ update a book. How do I do that that the map table will also be updated?

[2017-05-17 10:47] xkguq007 opened #13 "Is there any hook example?"
I searched, but i can't see.

here is my sample table

[code]

My question is... I don't know, model equals above Role class. because as you can see,
I need to use instance method in this beforeCreate hook.

It will be great that i can see any example in hook.

p.s.
In decorator Table, there is classmethods and instancemethods. but it is useless because I just write function in class. am I right?

[2017-05-17 10:57] xkguq007 commented on #13
I've been done changing instance methods to class methods.
and, call like Role.classMethods(model.getDataValue('field')) this.
but, is there any smooth way?
this way feel wierd because this is hook function but I use class methods calling like CLASS.FUNCTION
I think this or model object or something else that i can access class methods or instance methods.

[2017-05-18 18:21] RobinBuschmann commented on #12
What do you mean exactly with "updating the map table"?

You need to associate a Book with an Author - the mapping table "BookAuthor" gets updated automatically.

So, you could create them separately like
[code]

or at once:
[code]

[2017-05-18 19:13] RobinBuschmann commented on #13
Hey, thanks for contributing.

The `classMethods` and `instanceMethods` property comes from native sequelize. You're right, in `sequelize-typescript` you should use real instance methods and static methods like:

[code]

So you want to call an instance method in your hook, am I right? This should work as you already defined in your example.
[code]
Please note, that you don't need to use a Promise,

[2017-05-21 17:45] zlokomatic commented on #13
Hi,

i tried using a hook:

User.beforeCreate((user : User) => {
    console.log('BEFORE', user);
})

but im getting the error:

[code]

any hint what im doing wrong?

[2017-05-21 18:49] RobinBuschmann commented on #13
@zlokomatic Ah, I see. Calling static members of a model is currently only available after these models are initialized by sequelize. So you need to add these models to the sequelize instance before you can call `beforeCreate`:

[code]

Hmm, this should be added to the documentation, I think. Thanks raising this issue.

[2017-05-22 09:15] xkguq007 commented on #13
Oh, then it just tslint alert..
Yeah I got a same problem with @zlokomatic 's problem.
I was trying hundreds of times, so I did like @RobinBuschmann 's did. :)

I just use this library as a test, before I change my backend as Node.js typescript.
This library is really good for begins with Object Oriented style.
Of course I should do more testing, but this project and https://github.com/evertonrobe

[2017-05-22 09:15] #13 closed

[2017-05-24 10:24] lilling opened #14 "when unique=true is violated it doesnt returns in Model.validate errors"
thew model:

[code]

[code]
When I pass violated ```username```, ```password``` and ```email``` the following happends
```password``` and ```username``` appears in  ```ValidationErr```.
when I fix them and submit again  ```email``` appears in ```saveErr```.

[2017-05-24 13:24] RobinBuschmann commented on #14
Hey @lilling . So, if I understand you correctly, you expect a duplicate email to appear in the validation error object, right?
The validation process does not include any database actions. This means, sequelize cannot know that a user with the same email already exists, until it tried to insert the data into the database. This is by design. ([Here](https://github.com/sequelize/sequelize/issues/26

[2017-05-24 13:24] RobinBuschmann commented on #12
@lilling If you're happy with my answer, feel free to close this issue :)

[2017-05-24 14:48] lilling commented on #14
@RobinBuschmann Yeah you are correct. so other then writing my own validator, this my code the expected code for this functionality?

[2017-05-24 14:50] lilling commented on #12
Sorry about that.. Thanks for your help. deeply appreciated 👍

[2017-05-24 14:50] #12 closed

[2017-05-24 15:18] RobinBuschmann commented on #14
@lilling Yes, if you want to ensure, that only one user with the same email exists in your db, `@Unique` or `@Column({unique: true})` is the way to go.

If you want to handle a ValidationError and a Constraint Error at once you could do it a bit more elegant like:
[code]
(Please notice, that this [filtered-catch](http://bluebirdjs.com/docs/api/catch.html#filtered-catch) functionality comes from bl

[2017-05-24 15:24] lilling commented on #14
@RobinBuschmann thank you very much!

[2017-05-24 15:24] #14 closed

[2017-05-31 07:48] vikrantpogula opened #15 "How to get underlying Sequelize / Config ?"
Hey !

Great module.. been looking for this from a while.  Just wondering how to get underlying sequelize module, or how to configure additional config like `pool` etc.

[2017-05-31 08:34] vikrantpogula commented on #15
Never mind i figured it out. ! very well written library this one. 👍

[2017-05-31 08:34] #15 closed

[2017-05-31 17:57] RobinBuschmann commented on #15
@vikrantpogula thank you very much :)

[2017-06-01 08:31] lilling opened #16 "include when adding model."
I have a user:
[code]
how do I include the role model to the user when adding new user? ( the role is already in the DB.)

[2017-06-01 09:10] RobinBuschmann commented on #16
There are multiple ways to achieve this.

You could add the foreign key when creating a new user:
[code]
or could add a role model instance afterwards:
[code]

Most of this can be found in the sequelize docs: http://docs.sequelizejs.com/

[2017-06-01 09:34] lilling commented on #16
this is the addUser function
[code]

```dbUser``` hasn't got role

[2017-06-01 11:40] RobinBuschmann commented on #16
@lilling  So, you mean that the role_id value isn't stored into the database?

[2017-06-01 11:46] lilling commented on #16
@RobinBuschmann  the role id is stored.
if I call get all users and include Role. it will get all users with its role

[2017-06-01 12:02] RobinBuschmann commented on #16
@lilling So, it is working now?

[2017-06-01 12:13] lilling commented on #16
no the role_id is stored but I want to get the entire Role object

[2017-06-01 12:17] RobinBuschmann commented on #16
@lilling If you want to extract users including its roles, you need to specify the includes like: `User.findAll({include: [Role]})`

[2017-06-01 12:32] lilling commented on #16
there no option to add a user and get its role immediately?

[2017-06-01 12:39] creffect opened #17 "classMethods / instanceMethods"
Hi, thank you for writing this promising module! Right now, we are migrating from our existing sequelize model definitions to sequelize-typescript, but we are struggling with existing instance- and class-Methods. Is there a way to migrate them? If so, could you please provide an example? Thank you!

Greetings, Tim

[2017-06-01 13:16] RobinBuschmann commented on #16
You want to save the model (write operation) and retrieve (read operation) its related models at once? Unfortunately this is not possible. You need to do it separately:

[code]

[2017-06-01 13:26] RobinBuschmann commented on #17
Hey, thanks.

So you want to migrate classMethods and instanceMethods of a sequelize model definition to es6 class style?
This can be achieved with static and non-static methods like:

from
[code]
to
[code]

[2017-06-01 13:39] lilling commented on #16
thanks

[2017-06-01 13:45] creffect commented on #17
Thank you! I tryed this, but right now its not working. Can I still access the models via sequelize.models?

Here is a test code - if you run it, you get "TypeError: sequelize.models.Workstation.getDynamicRelations"

`import {Table, Model, PrimaryKey, Column, AutoIncrement, BelongsToMany,
    DefaultScope, Scopes, DataType, Sequelize } from 'sequelize-typescript';

@Table
export class Workstation

[2017-06-01 13:57] RobinBuschmann commented on #17
Unfortunately accessing models via `sequelize.models.*` is not fully supported and not recommended with sequelize-typescript. You need to call them via its class reference `Workstation.getDynamicRelations()`.

If you say, you cannot live without `sequelize.models.*` model access, I can investigate this one (?)

[2017-06-01 14:10] creffect commented on #17
Ah, okay. Right now we are using the sequelize.models quite extensively... long term we could probably refactor a lot of it, but right now for migration it would ease the process fundamentally if there would be a way. Alternatively, I could use another function, like "getModels()" if that would make thinks easier...

[2017-06-02 17:48] DavidPMacNeil opened #18 "Scopes and FK"
Hello, I am trying to create Models with FK. I am having trouble understanding the scope model, when to
set as model: () => Customer, or just () =>. How I have my scope set up now, I get undefined errors for the fields I am trying to reference. Thanks for the help in advance.

[2017-06-02 18:14] RobinBuschmann commented on #18
@DavidPMacNeil Hey, can you provide an example? So that I can better understand what you are trying to achieve.

[2017-06-02 18:52] DavidPMacNeil commented on #18
Hey @RobinBuschmann, Thank you for the quick reply.
[example.txt](https://github.com/RobinBuschmann/sequelize-typescript/files/1048679/example.txt)

I've uploaded an example (in txt) because it is over a couple of files. In this example, Equipment will not be created, but some other tables will be. I have one table being created with a FK right now with the same syntax.

[2017-06-02 19:15] DavidPMacNeil commented on #18
So I've found out that I can create the Equipment table by removing one of the FK constraints. Am I not properly formatting the constraints, or will sequelize-typescript only allow 1 FK per model definition for now?

[2017-06-03 13:37] RobinBuschmann commented on #18
@DavidPMacNeil  I recommend you to read the docs, so that you fully understand what scopes are about:

http://docs.sequelizejs.com/manual/tutorial/scopes.html

I've found some issues in your example:
- In Equipment.ts you included `Equipment` in your scope, despite of `Equipment` has no relation to itself:
[code]
Same for Location.ts, Department.ts

- If you define your foreign key columns explici

[2017-06-03 13:52] RobinBuschmann commented on #17
@creffect I've published a new release in which you can access the models dynamically with `_` instead of `models`:

[code]

I hope this helps :)

[2017-06-03 15:26] creffect commented on #17
Thank you very much! :-)

[2017-06-03 15:27] #17 closed

[2017-06-04 00:06] DavidPMacNeil commented on #18
OK I see. I wasn't sure from the example listed in your repo. I would like `Department 1:n Equipment`,  `Location 1:n Equipment` ,`Location` 1:1 Customer `. Thanks for the help!

[2017-06-04 09:39] RobinBuschmann commented on #18
@DavidPMacNeil I'm not really sure about your model architecture, but here are the definitions of what you described:

`Department.ts`
[code]

`Equipment.ts`
[code]

`Customer.ts`
[code]

`Location.ts`
[code]
- The one-to-one relation between `Location` and `Customer` can also be designed in another way. It depends on where the foreign key should exist - on `Location` or `Customer`. In my example

[2017-06-04 21:24] DavidPMacNeil commented on #18
Thanks a lot for the help! Yes for the architecture, I am trying to say that One Department can have lots of equipment, Equipment belongs to a department, and belongs to a location, and That a customer has a location, and that a location belongs to a customer so that all looks good to me!

[2017-06-04 21:24] #18 closed

[2017-06-05 10:09] lilling commented on #16
Hey sorry for reopening but its very related.

I have a third model ```Permission``` witch is  linked to role in many to many relationship.

this is the Role:
[code]

and this is the Permission:
[code]

I have RolePermission to map between them.

Now for adding a new Role with couple of permissions. the role is stored and RolePermission table also has the role id to permission id stored. but when

[2017-06-05 15:24] RobinBuschmann commented on #16
Hey @lilling.

`$add` returns a promise. So it is an async process, which is not considered in your code. Furthermore it is not necessary to add each model vice versa. One of `dbRole.$add('Permission', permission)`, `permission.$add('Role', dbRole)` would be enough. Additionally there is another option: You also can add all permissions at once:

[code]

Putting it all together:

[code]

[2017-06-05 15:55] lilling commented on #16
so the reason why I didn't receive the permission list is because I didn't saw ```$add``` as a promise?

[2017-06-05 16:10] RobinBuschmann commented on #16
@lilling yeah, that's the problem

[2017-06-05 16:10] #16 closed

[2017-06-05 16:52] snewell92 commented on #2
@RobinBuschmann I ran across this project and it is just what I needed. Was trying to get Sequelize v4.0 working in a project, but with more tooling support. Then BAM. Robin Bushmann to the rescue.

Thanks 👍

As @mzgnr brought up though, having a roadmap, contributing guide, open issues, etc. would help in directing possible collaborators. I'll be glad to open any issues I come across (none so far

[2017-06-06 10:42] RobinBuschmann commented on #2
@snewell92 thank you for your helpful input. You're right, a roadmap and a contributing guide would be very useful. Do you know of a good template for a contributing guide? thanks :)

Regarding any roadmap, there are currently no new features planned except of #10. But if there are any improvements on your mind... I appreciate any help.

[2017-06-06 13:17] snewell92 commented on #2
I just ran into a problem with the sequelize types (not having `alter: true` option in `SyncOptions` so I might open a PR to just update the types of sequelize. I suppose I'll keep using it and open PR's when necessary, as it is I'm just now learning sequelize.

As far as a contributing guide - a few googles and clicks and I came up with the following.

- [Overkill atom guide](https://github.com/a

[2017-06-07 13:58] snewell92 opened #20 "Running tests on windows"
This relates to a [previous discussion about the node environment variable](https://github.com/RobinBuschmann/sequelize-typescript/pull/19#issuecomment-306531655).

I've made some headway [on this branch](https://github.com/snewell92/sequelize-typescript/tree/updateNodeEnvInTravis) so that windows users can run `npm run exec-tests` and get all the mocha goodies (moved the environment variable into

[2017-06-08 06:29] RobinBuschmann commented on #20
@snewell92 Thank you for raising this. I will assign this issue to you, if it's OK for you.

[2017-06-08 20:09] #20 closed

[2017-06-11 12:51] blocka opened #22 "Usage with ts-node"
The `getModels` function assumes the models are located in .js files. When using ts-node, nothing is compiled so it doesn't find anything. Would it work if that function looked for .ts files too?

[2017-06-11 16:24] RobinBuschmann commented on #22
@blocka thanks for raising this. Yes, this will work. I'll put this in the next release.

[2017-06-12 16:31] RobinBuschmann commented on #22
@blocka I've released a new version (`0.3.3`), which allows loading ts files now.

[2017-06-12 19:52] snewell92 opened #23 "Model loading, ignore declaration files"
When passing a directory to the `modelPaths` option in the constructor, it would be nice if sequelize-typescript only looked for .js files.

I see two instances where people could run into this:

1. `mocha-typescript` requires my main application to be compiled with the `"declarations": true` option so that it can consume the application's types to (if the test suite and app are two different type

[2017-06-12 20:37] RobinBuschmann commented on #23
Hey @snewell92, on which version did you noticed this? I've released a new version(`0.3.3`) several hours ago, in which I changed this behavior. With `0.3.2` it used `.js` files only, but now also considers `.ts` files too. This is because of what is described here: #22

Unfortunately I didn't think about `d.ts` files. So, yes, this need to be fixed, but loading `.ts` files need to be further supp

[2017-06-12 21:58] snewell92 commented on #23
Ah yes I saw that patch earlier and should've connected the dots.

I also upgraded to `0.3.3` earlier today.

Let's discuss this, because ideally we would allow end users total freedom in their project structure. Source maps, definition files, a .js output or .ts to be dynamically transpiled by ts-node - possibly even an `index` file that is a single source of exporting models.

I like your file g

[2017-06-13 06:12] RobinBuschmann commented on #23
OK, let's support both options then :)

The v3/v4 folder structure together with `BaseSequelize` seems to be a little bit confusing, I know. But it is necessary to support version 3 and version 4 at the same time. Sequelize 4.0.0 provides es6 classes, Sequelize >= 3 the constructor-pattern. Since es6 classes cannot be extended with  constructor-pattern "classes", the models in v4 are transpiled wi

[2017-06-13 14:06] snewell92 commented on #23
**tldr; I like this. I would like the includes option to be an array of globs/directories/paths that gets concatenated with the modelPaths array. Excludes option can be an array of strings that are patterns/file names. The readme/documentation can go unchanged until includes/excludes gets implemented. modelPaths, as far the end user is concerned, can be for directories, includes for glob patterns.

[2017-06-13 14:12] snewell92 opened #24 "Add excludes / includes option"
Based on the discussion within #23 we can add a feature in the `ISequelizeOptions` for support of `includes/excludes` options. To fully support this, we should add support for [globs](https://www.npmjs.com/package/glob).

Still a bit of discussion as to whether or not `modelPaths` should only be paths - since it would be easier to implement if we could just concatenate both the `includes` array an

[2017-06-13 14:51] RobinBuschmann commented on #23
Hey @snewell92, thanks for your input.

Regarding `include`/`exclude` options: I'm a little bit confused now :O You wrote

But later on

If not a directory, assume a glob, use glob.

So you meant to support globs in `modelPaths`, right? Hm, I'm not sure about it. Why should one use `modelPaths` and `include` together? Either could work on its own or did I overseen something?

Regarding your exampl

[2017-06-13 15:05] snewell92 commented on #23
Yeah I changed my mind a little bit and was thinking/typing. This is what I've come to:

I still think we should keep the current behavior so people's code doesn't break, so modelsPaths should still be able to be a directory. Now,should it *only* be a directory? Or can it be a glob too?

If we allow modelPaths to be an arbitrary mix of directories/globs, implementing `includes` will be simpler, si

[2017-06-13 15:10] snewell92 commented on #23
I'm thinking about what you said...

maybe you're right. Unless we want to be strict, we could simply not use the includes option, and just use `modelPaths`.

[2017-06-13 15:33] #23 closed

[2017-06-13 15:37] RobinBuschmann commented on #24
Yeah, I think it would be much clearer to use only paths for `modelPaths` option and no globs. Using globs in `include`, `exclude` with an absolute path should work.

[2017-06-13 15:39] snewell92 commented on #24
:+1: Sound great.

[2017-06-13 19:40] YaroslavOsetrov opened #26 "Class constructor Model cannot be invoked without 'new'"
Hi,
I'm trying to load the models and getting the error `Class constructor Model cannot be invoked without 'new'`

Here's the **./models/index.ts**:

[code]

In controller **./routes/registration**:
[code]

This way i'm getting the error `Class constructor Model cannot be invoked without 'new'`

Also I've tried another way and got the same error:

[code]

Is it a correct way to load and enable the

[2017-06-13 20:15] RobinBuschmann commented on #26
Hey @YaroslavOsetrov, which sequelize version are you using?

Sequelize 4 uses es6 classes for its models. So if you are using sequelize 4, you need to set `es6`, `es2015` `es2016`  or `es2017` as the target in your `tsconfig.json`. This is because es5 constructor-pattern "classes" cannot extend es6 classes.

[2017-06-13 20:52] YaroslavOsetrov commented on #26
Hi @RobinBuschmann

Thank you!
Exactly, I'm using sequelize 4 with the es5

[2017-06-13 20:52] #26 closed

[2017-06-14 07:56] blocka opened #27 "hasTrigger option in @Table"
I'm trying to set this option, but it seems typescript doesn't think it exists. It is definitely in the d.ts file under DefineOptions. Do you have any insights (or workarounds?)

[2017-06-14 08:00] blocka commented on #27
Actually, forget that. It appears that you don't have the latest type definitions for sequelize.

[2017-06-14 09:55] BruceHem opened #28 "Question: If you guys use vscode, is it possible to get intellisense in create, update or build functions?"
[code]

[2017-06-14 14:13] RobinBuschmann commented on #28
Hey @BruceHem, `build` can be called with a second generic:

[code]

Or if you only need auto completion and don't care about what's optional or required, you can use typescripts build in mapped type `Partial`. With this approach you don't need to defined an additional interface:

[code]
The problem with this approach is, that you will get auto completion for all your members within `User` - Which

[2017-06-14 14:14] RobinBuschmann commented on #27
@blocka I will update the typings with the next release. Thanks for raising this issue.

[2017-06-14 14:51] BruceHem commented on #28
Hey man thanks, this lib is freaking awesome. Waiting to see it reached v1 soon.

[2017-06-14 14:51] #28 closed

[2017-06-14 15:06] snewell92 commented on #27
Dang, the types just recently updated to `4.0.60` - I had just submitted a PR last week to update the typings to `4.0.59`.

@RobinBuschmann Is there a reason we need to pin the version of the typings package? Can we do `~4.0.60` or `^4.0.60`? If not that's okay, you'll just need to re-release `sequelize-typescript` to update typings whenever you run into something that's missing ;). (I could see h

[2017-06-14 15:08] snewell92 commented on #22
@blocka did the new release (`0.3.3`) resolve your issue? It seems like we can close this issue now.

[2017-06-14 16:52] RobinBuschmann commented on #27
@snewell92 Yeah, I think all dependencies should been locked to a fix version to ensure nothing breaks with an Update of a dependency.

[2017-06-14 16:53] RobinBuschmann commented on #27
@snewell92 dies this mean we already using the latest typings?

[2017-06-14 16:54] RobinBuschmann commented on #28
@BruceHem thank you very much :)

[2017-06-14 18:37] RobinBuschmann commented on #27
closed due to 42f19a912578304bf0ee41695c75cc9d8b79d2ba

[2017-06-14 18:37] #27 closed

[2017-06-14 18:57] RobinBuschmann commented on #27
@blocka  `sequelize-typescript@0.3.5` now uses the latest sequelize typings

[2017-06-14 20:02] snewell92 commented on #27
re: @RobinBuschmann  about your question, as you saw, nope. We were a version behind.

Good job being on top of this! :+1:  If I had cryptocurrency I'd tip you.

[2017-06-14 21:05] snewell92 opened #29 "Sequelize Officially released 4.1.0"
[code]

Looks like sequelize has officially been updated in the npm registry. We should target the latest stable versions for testing. Here are all the versions of sequelize above `3.30.0`:

[code]

I propose `package.json` be changed to target `3.30.4` and `4.1.0` in the prepare scripts. I'll make a PR and link it. I'm mostly interested in getting rid of `npm install sequelize@4.0.0-1` now that m

[2017-06-15 03:37] blocka commented on #22
Yup. Works great!

[2017-06-15 03:37] #22 closed

[2017-06-15 06:37] RobinBuschmann opened #31 "Adjust docs to fit latest sequelize version"
`npm install sequelize` installs sequelize >4 now. Therefor ` --save // v3` is no longer true.

[2017-06-15 10:44] agalazis opened #32 "disregard definition files"
I am using using node v 7.10 with typescript 2.3.3 and sequelize-typescript 0.3.3.
.d.ts files in the model directory should be disregarded. instead I am getting:
`Cannot find module '../some-model.d' `
`(which is not even a thing because it's a d.ts and not d.js)`. Either consider only .js files or disregard .d.ts files.

[2017-06-15 11:48] RobinBuschmann commented on #32
Hi @agalazis , this was fixed with `sequelize-typescript@0.3.5`. So update to `0.3.5` and it should work very well :)

[2017-06-15 13:43] xkguq007 opened #33 "usage with async, await"
error appeared code.
[code]

Problem scenario is.

when i use promise, i use like
[code]
like this. This way is not occured error.
However, when i use like this
[code]
It error occured,

So I did is
[code]
and error is disappeared.
However, now i must use instance method (comparePassword in this scenario), so I did
[code]

then, boom! error appeared.

How can i fix this?
I'm stucked.

p.s sorry fo

[2017-06-15 14:23] RobinBuschmann commented on #33
@xkguq007 You need to pass the type as a generic to all static functions. No matter if you are using async/await or pure promises. So when using `User.findOne<User>(...)` instead of `User.findOne(...)` it should work:
[code]

[2017-06-16 02:29] HackedByChinese opened #34 "Provide association options"
I'm trying to set some association options. For example, I have a `HasMany` where I want to disallow null in the FK and cascade on delete.

In Sequelize, I'd do something like:

[code]

I don't see any place in the association attributes or `ForeignKey` to pass in those options. See [foreign keys](http://docs.sequelizejs.com/manual/tutorial/associations.html#foreign-keys) (Their documentation on t

[2017-06-16 02:29] xkguq007 commented on #33
Oh, I see. Thanks!
I should check static functions more.
closed!

[2017-06-16 02:29] #33 closed

[2017-06-16 02:44] BruceHem commented on #34
Yeah i been reading the doc, but don't see any where to set 'CASCADE'. @RobinBuschmann can u shed some light here?

[2017-06-16 06:57] RobinBuschmann commented on #34
Unfortunately this is currently not possible with the available decorators. So at the moment you have to rely on the automatically set configuration by sequelize.

But this should be supported by sequelize-typescript. I will look into this and start implementing this feature as soon as possible.

[2017-06-19 13:53] snewell92 commented on #32
@agalazis Have you tried updating to `sequelize-typescript@0.3.5`, and has that resolved the error?

[2017-06-19 16:42] #29 closed

[2017-06-19 16:43] #31 closed

[2017-06-21 10:43] gkTim commented on #26
Have exactly the same issue. But when I set the target to es6 the sequelized-typescript module is not found anymore. @YaroslavOsetrov can you provide your tsconfig.json here?

[2017-06-22 07:25] RobinBuschmann opened #37 "Model.scope().findAll({...}) cannot infer `as` in `include` option"
Assuming the following defined models:
[code]

When selecting entities of a scoped model, the `as` value of the include options, that are NOT defined within the scope, is not inferred by sequelize-typescript:

[code]

Current workaround:
[code]

[2017-07-03 11:43] zuhair-naqvi commented on #34
+1

[2017-07-04 09:38] RobinBuschmann opened #38 "Links to sequelize docs are dead"

[2017-07-04 18:29] #38 closed

[2017-07-06 09:14] oscarcalvo opened #41 "Using types in front"
Hi:

I have defined my types in server side using annotations
`@Table
export default class Car extends Model<Car> {
  @Column
  name: string;
}`

I am creating a API with node to consume it from front (Angular 2). my question is, are there any way to use Car class in front? of course I dont want to use save method etc etc but I would like to use Car attributtes ('name' in this case) directly in my

[2017-07-06 09:32] RobinBuschmann commented on #41
Hey @oscarcalvo , thanks for contributing. Unfortunately sequelize-typescript is not working on client-side, because sequelize is not.

But my suggestion is, to define interfaces, which are implemented by your models. These interfaces can also be shared with client.
[code]

[2017-07-06 13:24] Pritilender opened #43 "Specifying another model's scope"
I have two models in n:m association, `A` and `B`, and third one in association with `A` in 1:n association. Default scope of `B` has `include: [() => C]` but I want to specify in default scope of `A` not to include `C` when loading `B`, so I created a new scope on `B` which doesn't include `C`.

Sequelize [docs](http://docs.sequelizejs.com/manual/tutorial/scopes.html#definition) says that you can

[2017-07-06 14:40] oscarcalvo commented on #41
Thanks a lot. I was thinking about add logic ( methods) etc as well.

At the end I have made
`
export class BaseCar{
    name:string
  public getFullName():string{
    return 'name from BaseCar:'+this.name;
  }
}

@Table
export default class Car extends Model<BaseCar>{
  @Column
  name: string;
  @Column
  surname: string;
}
`
So I can add shared logic to BaseCar and use in front and back, also I

[2017-07-06 14:55] RobinBuschmann commented on #43
Hey @Pritilender, seems like a bug to me and I guess it is related to #37 . I will investigate this on next weekend. Thanks for reporting.

[2017-07-06 17:08] #34 closed

[2017-07-06 19:43] Pritilender commented on #43
Yes, I've noticed #37 also today (therefore the 'thumbs up' reaction 😃).

[2017-07-06 21:09] chrissm79 opened #45 "Polymorphic Relationships"
First off, thank you for this package, it's made my transition to Sequelize insanely easy!

I'm running into an issue w/ polymorphic relationships. On the [sequelize docs](http://docs.sequelizejs.com/manual/tutorial/associations.html#1-m), it mentions that I need to set a `scope` and a `constraints ` on the `HasMany` side of the relationship and a `constraints ` and `as` on the `BelongsTo` side).

[2017-07-06 23:41] chrissm79 commented on #45
This is a duplicate of #34 which looks like it's already resolved [#42] 👍 💯

[2017-07-06 23:41] #45 closed

[2017-07-07 13:55] #41 closed

[2017-07-09 11:35] RobinBuschmann commented on #32
Closing due to no answer

[2017-07-09 11:35] #32 closed

[2017-07-10 13:29] slavafomin opened #46 "Is it possible to implement class-table inheritance?"
Hello!

Thank you for your hard work, this module looks very promising.

However, do you mind if I ask? Maybe you are familiar with this problem. Is it possible to implement class-table inheritance with Sequelize and this module?

Thank you.

[2017-07-10 18:14] RobinBuschmann commented on #46
Hey @slavafomin,

unfortunately this is not possible. But sounds very interesting and challenging. And I think this could be implemented in sequelize-typscript.
If you don't mind, you could share your thoughts and ideas(?) about it. How should this feature work in sequelize-typescript from your point of view?

Thank you too :)

[2017-07-12 21:26] bananabr opened #49 "Cannot find module './lib/annotations/association/BelongsTo'"
Install 0.3.5 through npm and /lib/annotations/association/BelongsTo.js will be missing.

[2017-07-13 04:57] RobinBuschmann commented on #49
Hey @bananabr thanks for reporting. Can you provide an example project, which demonstrates the issue. I can't reproduce it - It's working fine for me. Thank you.

[2017-07-13 23:31] slavafomin commented on #46
Thank you for getting back to me.

The idea is pretty straightforward, here's the simplified example:

[code]

[code]

[code]

[2017-07-14 14:27] RobinBuschmann commented on #37
Same issue for `findAndCountAll()`

[2017-07-14 17:31] bananabr commented on #49
@RobinBuschmann, it was probabbly some npm issue ...
Although, I noticed that this kind of signature is missing @BelongsTo(relatedModelGetter: () => typeof Model, options: AssociationOptionsBelongsTo), only @BelongsTo(relatedModelGetter: () => typeof Model, foreignKey: string) is availble. Is this right?

[2017-07-15 11:07] interphx opened #50 "Using @CreatedAt causes Sequelize to also create updatedAt column"
Model:

[code]
Expected Sequelize output:

Actual Sequelize output:

This also makes methods like `findAll` unusable if my tables were created manually and do not contain `updatedAt` field.

[2017-07-15 15:48] RobinBuschmann commented on #49
@bananabr This is correct - The readme on github comes from the master branch. This version is not released yet.

[2017-07-15 15:48] #49 closed

[2017-07-15 16:43] RobinBuschmann opened #51 "Model.findAndCountAll() can not infer as from include option"
`Model.findAndCountAll({include: [RelatedModel]})` throws `Error: RelatedModel is not associated to Model!`

[2017-07-16 12:53] #37 closed

[2017-07-16 17:09] #43 closed

[2017-07-16 17:48] RobinBuschmann commented on #46
Hey @slavafomin, thanks for your suggestions. I investigated this a little bit deeper and came to the conclusion that an implementation for single table inheritance in sequelize-typscript wouldn’t be an issue. Multi table inheritance aka class table inheritance on the other side should be implemented in sequelize, not in sequelize-typescript. I did not find anything in the first place regarding mu

[2017-07-16 17:51] RobinBuschmann commented on #50
@interphx thanks for reporting.

[2017-07-16 17:52] RobinBuschmann commented on #51
fixed by 136e7b8c7e3ab8c858b9b4666b2485633fdee18b

[2017-07-16 17:52] #51 closed

[2017-07-16 17:53] RobinBuschmann opened #54 "Missing declaration adjustment and "infer-as" for findOrInitialize"

[2017-07-16 17:57] RobinBuschmann commented on #50
@interphx As a workaround you could use `@Table({ updatedAt: false })` temporarily.

[2017-07-16 18:09] RobinBuschmann commented on #34
This feature is now part of the 0.4.0-beta release (`sequelize-typescript@0.4.0-beta`) @HackedByChinese thanks again for implementing.

[2017-07-16 18:26] Chnapy opened #55 "Make a relation: add a foreign key"
Hi
I made two Model and I search to add a relation between them, simply a foreign key.

Password.ts
[code]

User.ts
[code]

And I test that :
[code]

The database result is :
* For Password table:
![image](https://user-images.githubusercontent.com/7474483/28250219-cc253504-6a63-11e7-952d-ccdc024ecb06.png)
* For User table:
![image](https://user-images.githubusercontent.com/7474483/28250233-f0b7d39

[2017-07-16 18:57] RobinBuschmann commented on #55
@Chnapy Hey, your model definitions are looking good so far.

When storing the data including the relations, you either need to create or build it like this:

[code]
or
[code]

[2017-07-16 19:18] Chnapy commented on #55
Thanks !
But it doesn't work :(

I tried one and the other, but Typescript refuse to compile: `Argument of type '{ include: typeof Password[]; }' is not assignable to parameter of type 'IBuildOptions'.`

[2017-07-16 20:19] RobinBuschmann commented on #55
Ah, I see. This seems to be a bug in the declaration files unfortunately :/

Try `include: [{model: Password}]` - This should work.

I will fix this. So that `include: [Password]` will work. Thanks for reporting

[2017-07-17 04:57] slavafomin commented on #46
No, actually this makes sense. The example was primarily taken from TypeORM implementation, which we currently use in our project.

[2017-07-17 05:47] satellink opened #56 "populating the connecting object in many-to-many relationship"
Hi!

I am not sure whether this is just missing feature, or I just don't understand enough of the library/sequelize, but i'll put this here anyway..

I have implemented a many-to-many relationship as described with ForeignKey's. However I am not sure how to control the query output of the connecting object. This is the object connecting `Team` and `User`, and having `number` as additional info:
[c

[2017-07-17 09:35] Chnapy commented on #55
Thank you it works like a charm now :smile:

[2017-07-17 10:55] SMAH1 opened #57 "How to enable logging?"
In sequelize we use
`logging: false`
when create new sequelize like this
[code]
to enable logging SQL queries.

Now when use  `sequelize-typescript`,How to?

[2017-07-17 10:59] SMAH1 opened #58 "How to enabe CLS?"
In this [link](http://docs.sequelizejs.com/manual/tutorial/transactions.html#automatically-pass-transactions-to-all-queries) show how to enable cls for sequelize.

What are we can do it in sequelize-typescript?

[2017-07-17 13:45] RobinBuschmann opened #59 "@Length({max: <MAX_VALUE>}) results in validation error, even if VALUE.length < MAX_VALUE"
Only occurs when min length is not defined

[2017-07-17 17:37] RobinBuschmann commented on #56
Hi @satellink sequelize does not seem to provide any functionality that is intent to really solve your first issue. But you could explicitly set `modelName` in the `Table` annotation to `membership `:
[code]
This will result in what you want. So that you will get `membership` instead of `TeamPlayer`. As I already said, `modelName` was not intent to be used for that. But as far as I know, this shou

[2017-07-17 17:42] RobinBuschmann commented on #57
Hey @SMAH1 you can set the logging option when instantiating Sequelize:

[code]

[2017-07-17 17:45] RobinBuschmann commented on #46
Does TypeORM support bulk creations of models using multi table inheritance?

[2017-07-17 17:54] RobinBuschmann commented on #58
Since `Sequelize` of sequelize-typescript extends `Sequelize` of sequelize libraray, `useCLS` is available. But this method is not part of the typescript type definitions, so if you want to make the compiler happy, you need to access `useCLS` like this:

[code]

[2017-07-18 04:01] #57 closed

[2017-07-18 07:23] satellink commented on #56
Hi, thanks for the answer!

Regarding 1) - I actually remember to try to implement that with pure sequelize too, and it was not trivial. It would be cool if this could be somehow solved!

I ended up implementing the TeamPlayer as a class with its own identifier at this point, and test the uniqueness of the relationship in the code level. But I would love to see a solution with the foreign keys, as

[2017-07-18 09:17] RobinBuschmann commented on #56
You're welcome :)

Regarding:

I don't really understand what you approach is. Can you provide an example?

[2017-07-18 09:39] SMAH1 opened #60 "Add @IsNot"
I use below validation in sequelize
`validate: { len: [1, 128], notEmpty: true, not: ["^ *$",'i'] }`
But in sequelize-typescript not support `not` in validation
Please add `@IsNot` for this purpose

[2017-07-18 14:08] slavafomin commented on #46
The problem is that TypeORM has a lot of issues at the moment and inheritance is one of it's biggest problems for us, it's not reliable and considered experimental. That's why I've asked this question in the first place )

[2017-07-18 19:25] satellink commented on #56
This is what I do now:

team.ts
[code]

user.ts
[code]
team.player.ts
[code]

And then in code I do simple check that the `TeamPlayer` with the same `userId` & `teamId` does not exist yet.

[2017-07-18 20:32] RobinBuschmann commented on #56
Why do you need to check this manually? You could define teamId and userId as primary keys of TeamPlayer.

[2017-07-18 20:35] RobinBuschmann commented on #60
You cold set it via @Column({validate:{not:[...]}) or use @Is annotation .

But yeah, I think this could be added with something like @IsNot.

[2017-07-19 17:16] satellink commented on #56
Your answer made me play around a bit; I though that I cannot use `@ForeignKey` directly on the `team` and `user` parameters (which I've already tried), but realized that I can actually make it work like this:

[code]

[2017-07-19 17:55] RobinBuschmann commented on #56
..and if you add `@ForeignKey` to the `userId` and `teamId` properties, you can omit the foreign keys passed to `@BelongsTo` and `@HasMany`, like:

[code]

[2017-07-19 19:45] #55 closed

[2017-07-19 20:18] #54 closed

[2017-07-20 07:36] NitayRabi opened #61 "Create identical `attribute` in IncludeOptions and FindOptions"
In `findOptions` -
`attributes: FindOptionsAttributesArray | { include?: FindOptionsAttributesArray, exclude?: Array<string> }`

In `IncludeOptions` (currently) -
`attributes: string[]`

Tried creating a pull request but got 403.

[2017-07-20 19:24] #61 closed

[2017-07-20 19:24] RobinBuschmann commented on #61
@NitayRabi Thanks for raising this issue. This will be in the next release.

[2017-07-21 12:58] connected-jlovelock commented on #56
Hi I'm having a similar issue. I have tried both defining my join model explicitly as in this thread and using decorators, as the example below. When trying to create a **ContentItem** and assign it a **Source** I get the same **webpack compile error** in both scenarios in the same line that involves the method `$add`.

**Webpack Compile Error**
[code]
**Add a source to a new content item**
[code]

[2017-07-21 13:00] Patrax commented on #56
Hi I'm having a similar issue. I have tried both defining my join model explicitly as in this thread and using decorators, as the example below. When trying to create a **ContentItem** and assign it a **Source** I get the same **webpack compile error** in both scenarios in the same line that involves the method `$add`.

**Webpack Compile Error**
[code]
**Add a source to a new content item**
[code]

[2017-07-21 13:10] RobinBuschmann commented on #56
Hey, thanks for contributing. Does this error points to any file? Or can you provide any stack trace? Or even better an example project? thank you.

btw: You don't need to use get/set accessors, if you don't add any additional functionality in your getters and setters (sequelize will call `this.getDataValue(...)` internally anyway). Simply write:

[code]

[2017-07-21 13:19] Patrax commented on #56
Hey thanks for the prompt response. The only error that **webpack** is showing is that one and it points to line `contentItem.$add("Source", source);` .

Argument of type 'Source | null' is not assignable to parameter of type 'Mode<Source | null>'. I will make a small repo reproducing the error and add you as a contributor in a few minutes. :)

[2017-07-21 13:26] RobinBuschmann commented on #56
Ah ok, this is because `source` can be `null` and `$add` expects a non-null value as second parameter. If `findOne` does not find any model, it resolves with `null`. So you need to check if `source` is truthy:
[code]

[2017-07-21 13:30] Patrax commented on #56
Oh wow, I didn't even know compilers could check for that. Thank you so much!

[2017-07-21 16:28] olaferlandsen opened #62 "Can be used with Ionic2?"
My Question is about if I can be used it with Ionic2 on Android or iOS or both?
Thanks

[2017-07-22 09:58] RobinBuschmann commented on #62
Actually, sequelize is supposed to be used on server side only. But probably there is a way to make it work with sqlite on android and ios. I did not tried it yet. If you have time to investigate this, you could share your learnings here if you like to :)

[2017-07-23 19:21] Chnapy opened #65 "How to make self relation"
Hi
I want to make an association between 2 same objects, like this:

User.ts
[code]

app.ts
[code]

I haven't any error, but the DB column `id_top` is set at `null` and the first user is not insert to the DB.
I tried to add `{model: User}` to the includes without success.
I switched to the 0.4.0-beta and tried to use the association options for the BelongsTo with setting `as` and use it in app.ts

[2017-07-24 06:23] BruceHem commented on #34
should this be mentioned in the doc? it took me quite some time

[2017-07-24 06:50] oscarcalvo opened #67 "Order by joined table"
Hi, I have something like that

Restaurant.findOne<Restaurant>({
      where: { domain: domain },
      include: [
        { model: Promotion, where: { code: null } }
      ]
    });

and it generates:

SELECT "Restaurant".*, "promotions"."id" AS "promotions.id", "promotions"."type" AS "promotions.type", "promotions"."title" AS "promotions.title", "promotions"."description" AS "promotions.descript

[2017-07-24 06:56] RobinBuschmann commented on #65
Hey @Chnapy

your best option to store both users at once is:

[code]
If you already have existing instances, you need to store them first, before adding any relations:

[code]

[2017-07-24 07:00] RobinBuschmann commented on #34
@BruceHem this can already be found here: https://github.com/RobinBuschmann/sequelize-typescript#foreignkey-belongsto-hasmany-hasone-belongstomany-api

..or do you think that an example would be a good idea?

[2017-07-24 07:02] BruceHem commented on #34
An example would be nice. And also I think we should show that this feature is available after 0.4.0-beta too.

[2017-07-24 07:08] BruceHem commented on #34
@RobinBuschmann do we have a sequelize-typescript chat group?

[2017-07-24 08:05] RobinBuschmann commented on #67
Hey @oscarcalvo could yo try one of these approaches: http://docs.sequelizejs.com/manual/tutorial/querying.html#ordering

[2017-07-24 09:23] oscarcalvo commented on #67
Thanks. I have tried those.
At the end it was my error because I wrote a simple query, my requeriments were different.
I wrote just in case somebody is finding about order clause: you can put your nested models in the list and order by last one. for example if you have a main customer entity we can order by amount column of invoiceLines in this way
order: [["invoices","invoiceLines","amount","ASC"

[2017-07-24 10:25] RobinBuschmann commented on #34
@BruceHem You mean a chat like https://gitter.im/ ? What to you intend to achieve with a group chat? Should it be for questions, bugs, ...?

[2017-07-24 10:27] BruceHem commented on #34
Yes!

[2017-07-24 18:20] Chnapy commented on #65
It works perfectly, thanks (again) !

[2017-07-24 18:20] #65 closed

[2017-07-25 06:30] RobinBuschmann commented on #67
So, you finally got it working? :)

[2017-07-25 09:48] BruceHem opened #68 "Defining timestamps: true in the new Sequelize() class doesn't work."
[code]

When i call sync() it doesn't create with created_date, updated_date....

[2017-07-25 10:43] RobinBuschmann commented on #34
@BruceHem I think it is better to keep one communication channel for now: github. A chat needs moderation and is much harder to be moderated than the github issues.

[2017-07-25 10:44] RobinBuschmann commented on #68
thanks for raising this... I already have an idea, why this isn't working.

[2017-07-25 20:59] connected-pjeri opened #69 "Documentation/Support for Polymorphic Associations"
As the title says. Not sure if it's supported in sequelize-typescript.
Eg: From the Sequelize docs: http://docs.sequelizejs.com/manual/tutorial/associations.html#1-m

[2017-07-25 22:23] kingjerod opened #70 "Bug: Scope with function is not added correctly"
If you have a scope with a function like so:

    @Scopes({
      something: function (id) {
        return {
          where: {id: id}
        }
      }
    })

It doesn't get added properly to the Sequelize model. I was ready to open a PR to fix this, but I think it's beyond my knowledge of this module. The problem is in `resolveScope` in the lib/services/model file, it should check if the optio

[2017-07-26 15:36] RobinBuschmann commented on #69
Hey @connected-pjeri. This should work with `sequelize-typescript@0.4.0-beta`. From `0.4.0-beta` you can define association options in the assocation annotations additonally:

For example:
[code]
I hope this helps. Any feedback about whether you get it done or not is appreciated :)

[2017-07-26 15:45] RobinBuschmann commented on #70
@kingjerod Thanks for contributing. I've investigated this one and... yes, you're right, this is a bug.

[2017-07-26 18:34] connected-pjeri commented on #69
Giving it a shot right now.
Trying to figure out why it says: `Error: Foreign key for "Post" is missing on "Comment".

[2017-07-26 18:59] connected-pjeri commented on #69
Part of problem that I'm having is that I'm trying to achieve an **n:m polymorphic association** but without having a joint table.

In the Sequelize example they use Tag, Post and ItemTag as their example, but this is only necessary if you're storing additional info for Tags, eg: a tag name.

In my case I'm not looking to save an additional column so I should be allowed to collapse the ids and tab

[2017-07-26 19:18] RobinBuschmann commented on #69
Regarding:

You need to tell `Post` which foreign key should be used for the relation to `Comment`:
[code]

About your other problem: You want to achieve a n:m relation but your suggested solution looks like a 1:n relation to me. Probably I get something wrong?

[2017-07-26 19:25] connected-pjeri commented on #69
You're right, it is still an 1:n . I ended up deleting my comment after my head stopped spinning.

[2017-07-27 13:00] RobinBuschmann commented on #69
Hey @connected-pjeri if you're happy with my answers, feel free to close this issue :)

[2017-07-27 13:13] #69 closed

[2017-07-27 15:44] oscarcalvo commented on #67
Yes, perfect. Thanks.

[2017-07-27 15:44] #67 closed

[2017-07-28 19:57] TalissonJunior opened #72 "Pass model class to the constructor of an abstract class and use it"
# What i want to do?
I´m trying to create a generic base repository class that receives a Model in the constructor,  so that others repository inherit from  the base respository ´passing their model  and get some boilerplate like CRUD.

Cardapio.ts - My Model
[code]

 IBaseRepository.ts  - interface class to make sure that base class will implement all the methods
[code]

BaseRepository.ts - Base

[2017-07-29 00:24] aventurella opened #73 "Add connection string initialization"
Per the docs:
http://docs.sequelizejs.com/manual/installation/getting-started.html#setting-up-a-connection

This should be allowed to be passed into the `Sequelize` constructor:

[code]

https://github.com/sequelize/sequelize/blob/master/lib/sequelize.js#L103-L134

This appears to work (I ported from their code):

[code]

[2017-07-29 02:48] hiradimir commented on #73
+1

But, now I am using "parse-database-url".

[code]

[2017-07-29 03:13] hiradimir opened #74 "Extend model is not supported?"
I want to extend model.

I need field of createAt/updatedAt/deletedAt to all model.
I am trying some case of extends models.
Some case looks like works well.
https://circleci.com/gh/hiradimir/sequelize-typescript-extends-belongTo/4

![image](https://user-images.githubusercontent.com/1043276/28741669-8510eb7a-7456-11e7-9a15-8026d250eb42.png)

## But, some case does not working.
ex) Having HasMany f

[2017-07-29 16:28] aventurella commented on #73
Winning! I'll take that all day. Personal preference for simple stuff like that which is only a few LOC i'm dependency averse. At the same time, whatever works ;)

[2017-07-30 09:06] RobinBuschmann commented on #72
Hey @TalissonJunior can you provide the actual error code thrown by the typescript compiler please?

This part looks wrong to me: `all<this._model>();` You cannot set a variable reference here, but a type only. Like `all<string>` or `all<typeof Model>`.

[2017-07-30 09:09] RobinBuschmann commented on #73
@aventurella thanks for raising this. I will consider this for the next releases. But if you're like to create a PR for that, feel free to do so. Any help is appreciated :)

[2017-07-30 09:49] RobinBuschmann commented on #74
@hiradimir, I investigated this. It is a bug, unfortunately. Thanks for reporting.

I cannot think of any workaround currently. Sry

[2017-07-30 14:59] hiradimir commented on #74
@RobinBuschmann Thank you for reply.
Now, I do not use extends model.

----

And now, I am analyzing sequelize-typescript, but it is difficult for me...

[2017-07-30 16:40] RobinBuschmann commented on #74
@hiradimir Regarding this issue, I'am already fixing it.

For any further help I'm happy, too. If you have questions, don't hesitate to ask.

[2017-07-30 17:46] #74 closed

[2017-07-30 17:50] lessu opened #77 "usage in multi sql schema"
In my case , there's one User Model in 2 different mysql server or schema.(A and B)
how to use  A.User.or B.User explicitly?

[2017-07-30 18:15] TalissonJunior commented on #72
Yeah sure, here is the log.
![image](https://user-images.githubusercontent.com/18445152/28755790-b0c4c0b0-7538-11e7-89ac-6d43ecc283dd.png)

its complaining about the ```js all<this._model>(); ```

I created a repository on github with the project, it would be really awesome if you could clone it from https://github.com/TalissonJunior/BaseWebApi---Nodejs-Typescript to check the error by yourself an

[2017-07-30 18:17] RobinBuschmann commented on #77
The model definitions for A.User and B.User are the same? If so, sequelize-typescript is not supposed to work with one class for multiple different connections. This is because sequelize uses static functions for the typical ORM-methods like `find()`, `findAll` and so on.

But you could achieve it anyway with a base class:
folder structure:
[code]

[code]
[code]
and same for:
[code]

[2017-07-30 18:23] RobinBuschmann commented on #72
Thanks for you example project. As I said: You cannot set a variable reference in `all`, but a type only like `all<string>` or `all<typeof Model>`. So `all<this.model>` is no valid typescript code. You could use `all<any>` instead. Since there is no benefit here from passing the type. Nevertheless calling `all` on the returned promise of `findAll` is not necessary at all. You can simply write `fin

[2017-07-30 18:46] RobinBuschmann commented on #50
sequelize requires `timestamp: true` to be set, when using custom named `updatedAt` or `createdAt`. So, when using `@CreatedAt creationDate: Date;`, the options `timestamp: true` and `createdAt: 'creationDate'` are set internally. This in turn causes the `updatedAt` timestamp to be created too. The only way to prevent this, is setting `updatedAt: false`. But doing this automatically on the usage o

[2017-07-30 18:46] #50 closed

[2017-07-30 19:32] TalissonJunior commented on #72
Solved!, Thanks man you solved my problem!

[2017-07-30 20:50] TalissonJunior commented on #72
Hey man, do you know what this code works .

[2017-07-30 21:00] kukoo1 commented on #73
@aventurella  I've recently tried implementing it using static factory function, without parser dependency.  But then I realized that it breaks backward compatibility because I had to remove the constructor.
Typescript doesn't allow neither passing spread arguments into another function nor conditional super() call.
I wonder that we should go with that path or integrate with external parser instea

[2017-07-30 21:10] TalissonJunior commented on #72
Hey man do you know why my ```ListAll() function``` works when i call it directly with my Place Model ex:
[code]
and it doesn´t when i create a  global ``` private _model``` variable , populate it with the ```Place``` Model inside of my constructor and use it on my ```listAll()``` function ? ex:

[code]
CODE THAT WORKS!

BaseRepository.ts
[code]

CODE THAT DOESN´T WORK~

BaseRepository.ts
[code]
P

[2017-07-31 02:56] hiradimir commented on #74
@RobinBuschmann Thanks for fix, thanks for comment!

I'll use seqeulize-typescript more!

[2017-07-31 06:41] RobinBuschmann commented on #72
Hmm, this is strange. Did you initialize `Place` in both cases with

[code]

?

[2017-07-31 06:42] RobinBuschmann commented on #73
Hey @kukoo1, can you show me how your approach looks like? Thank you

[2017-07-31 11:33] TalissonJunior commented on #72
i did,

this is my app.ts that initialize the server.

[code]
and this is my config.ts where i get my connection object

[code]

[2017-07-31 15:57] connected-pjeri opened #78 "Composite Constraint"
How can I define a composite constraint at the model level?

Eg: I have a table named `Preferences(id, userId, name, value)` and I want to make it so that the combination of **userId** and **name** is **unique**.

[2017-07-31 16:15] lessu commented on #77
Thank you very much.

[2017-07-31 18:30] RobinBuschmann commented on #72
Finally, I got it! And it was a very tricky one.

The path to `Place` in `PlaceRepository` is wrong. Your `PlaceRepository`

[code]
It is `Database` not `DataBase`. I don't really know what is going on with this typo, but it seems so, that a copy of `Place` was created from this wrong path. So that the actual `Place` was initialized but the copy was not. This is strange. On what OS are you working

[2017-07-31 18:44] RobinBuschmann commented on #78
[code]
or as primary keys

[code]

[2017-07-31 19:39] TalissonJunior commented on #72
Woooohh, that was really tricky, i'm really glad that you found that and resolve the problem , thank you so much man.

And, I'm on windows 8, It might be an nodejs error, as you said nodejs probably created a copy from the wrong Path. I Will try to take a deep search on that error, and If i find something i tell you.

[2017-07-31 19:39] #72 closed

[2017-07-31 19:57] connected-pjeri commented on #78
But that would make both userId and name independently unique right? I mean the case where you want the combination of userId + name as the primary key.

Eg: inserting (1,'lang') and (1, 'tz') is valid, not inserting (1,'lang') and (1,'lang') is not.

[2017-07-31 20:26] RobinBuschmann commented on #78
Marking both columns as primary key makes them in combination as primary key. So that it creates a query like:
[code]

[2017-08-01 18:28] bucket-sven opened #80 "How to resolve the associations?"
Hello,
I have two models, in `profile.ts`:

[code]

in `user.ts`:
[code]

But, there are cyclic dependencies. How can I resolve this? Thank you.

[2017-08-01 19:05] RobinBuschmann commented on #80
Hey @bucket-sven, you don't need to. Node.js and the fact that lambda's are used instead of class references does this for you. So your example should work very well like it is.

Or do you face some issues with your example?

[2017-08-02 03:14] bucket-sven commented on #80
Hi, @RobinBuschmann ,

Now I found that, if I use `@BelongsTo` and `@HasOne` at the same time, it will throw exceptions.
Like the example I gave before,  if I remove `@BelongsTo` from `profile.ts`, or remove `@HasOne` from `user.ts`, it does work. But if they exist at the same time, it will throw errors like below:

[code]

[2017-08-02 04:36] RobinBuschmann commented on #80
@bucket-sven Can you provide me a full example please? Thank you

[2017-08-02 06:35] bucket-sven commented on #80
@RobinBuschmann  OK，

In `index.ts`,
[code]

In `AppUser.ts`,

[code]

In `AppUserLogin.ts`,

[code]

It will throw exception I wrote before when I call `AppUser.find<AppUser>()` in my test code.

How can I do with it?  Thank you.

[2017-08-02 07:18] RobinBuschmann commented on #80
@bucket-sven The error already occurs on `addModels`, right?

You need to add them at once, because sequelize-typescript tries to resolve the associations defined by `@HasOne`, `@BelongsTo` and so on after adding them.

So a better approach would be to add them externally (not in the corresponding model files):
[code]
or
[code]

[2017-08-02 07:19] #78 closed

[2017-08-02 07:58] bucket-sven commented on #80
@RobinBuschmann  Yeah, it works! Thank you very much!

[2017-08-02 08:38] #80 closed

[2017-08-02 14:01] #77 closed

[2017-08-02 16:02] JustGreg opened #81 "get Model from sequelize.models[name: string]"
I was wandering if there is a way to access the models from sequelize.models.

I found this project, but the function "getModel" it will just return an any type:
https://github.com/alexjoverm/unnamed-server/blob/master/src/modules/db/db.service.ts

Do you have any suggestion how to make it work?

[2017-08-02 17:28] RobinBuschmann commented on #81
Hey @JustGreg, you can access models by key like this:

[code]
or
[code]
I will add a more reasonable way in the future. I admit, `sequelize._['User']` is ugly somehow.

[2017-08-02 18:01] JustGreg commented on #81
Thank you @RobinBuschmann ,

I just tried to add this to the function `getModel` but I can't get the types of the selected model.
[code]
so i can use:
[code]
Typescript error: `Type 'typeof Model' is not assignable to type 'Model<T>'.
  Property '$add' is missing in type 'typeof Model'.'`

[2017-08-02 18:14] RobinBuschmann commented on #81
@JustGreg Try this one:

[code]

You want `typeof Model`, not an instance of Model :)

[2017-08-02 19:07] JustGreg commented on #81
That works great. Thank you!

[2017-08-02 19:07] #81 closed

[2017-08-03 03:25] bucket-sven opened #82 "'order' option can't be a string"
Hello,

when I using the `order` option,
[code]
[code]
When I use order as a string, the error below will be thrown:

[code]

The `order`'s definition is:
[code]
So, I think it's a bug.

[2017-08-03 10:33] BruceHem commented on #50
Yes I have this issue too, with only @DeletedAt, it also adds createdAt and updatedAt

[2017-08-03 12:09] RobinBuschmann commented on #50
@BruceHem So then you need to deactivate them explicitly like: `@Table({ createdAt: false, updatedAt: false })`

[2017-08-04 08:11] RobinBuschmann commented on #82
Thanks for reporting. The original sequelize typings seem to have the same issue:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L3243

Additionally I cannot find any possibilities to use strings in `order` in the sequelize [docs](http://docs.sequelizejs.com/manual/tutorial/querying.html#ordering).

Which sequelize version are you using?

[2017-08-04 13:23] BruceHem commented on #82
I think only array should be allowed, because I believed I've read in the Sequelize docs that order shouldn't be with strings. although it works

[2017-08-04 13:46] RobinBuschmann commented on #82
@BruceHem You mean it is working with strings? In which sequelize version?

[2017-08-04 14:00] BruceHem commented on #82
Sequelize v3 order can be used with strings last time I checked.

[2017-08-04 14:35] bucket-sven commented on #82
Yes, but v4 can't any more.

[2017-08-05 09:51] #59 closed

[2017-08-05 09:57] RobinBuschmann commented on #82
@bucket-sven  @BruceHem Thanks.

If it is working on v3, I would suggest to not change the typings for now. When dropping v3 support some day, this issue should be fixed as well.

[2017-08-05 11:06] #68 closed

[2017-08-05 12:40] bucket-sven commented on #82
@RobinBuschmann OK.

[2017-08-05 12:40] #82 closed

[2017-08-05 12:49] #70 closed

[2017-08-05 12:56] RobinBuschmann commented on #60
@SMAH1 While looking at my code, I've noticed, that this is already implemented. `@Not` is the annotation you are looking for :)

[2017-08-05 12:56] #60 closed

[2017-08-07 03:04] BruceHem opened #87 "Do we have a release note?"
@RobinBuschmann, Something like a change log or history would be helpful in order to keep up with changes to the module.

[2017-08-07 06:19] RobinBuschmann commented on #87
Currently we have not. But we should have one, you're absolutely right.

[2017-08-09 00:21] natesilva opened #88 "A `@Hook` decorator would be great"
There are several ways to add hooks, but they need your `Model` to be added to a Sequelize instance first. It isn’t very declarative.

It would be great if there was a `@Hook` decorator. Something like:

[code]

Is this in the works? I could try to write something. The decorator would store information using the `reflect-metadata` system and then something like `initializeHooks` would be called fr

[2017-08-09 06:25] RobinBuschmann commented on #88
@natesilva Currently there is no implementation of hook decorators in progress from my side. But yeah, sounds great. I would be pleased to see this implemented :)
But I would suggest to use `@BeforeCreateHook` or simply `@BeforeCreate` (and so on) instead of or at least in addition to the `@Hook(...)` decorator. Passing strings could lead to typos. `@BeforeCreate` is more type safe. What do you th

[2017-08-09 16:30] natesilva commented on #88
I was thinking the argument to `Hook(…)` would be a string literal type, so it would be safe from typos — and I wouldn’t have to create ~20 named decorators. But having individual decorators is more in keeping with the existing style, especially the `Hooks` class functions. So let’s do a named decorator for each type of hook.

[2017-08-09 17:10] RobinBuschmann commented on #88
Perfect :) Can I assign this feature to you?

[2017-08-09 17:17] natesilva commented on #88
Yes.

[2017-08-09 17:33] RobinBuschmann commented on #87
@BruceHem It's done for `0.4.0` and will be added on every future release.

[2017-08-09 17:33] #87 closed

[2017-08-10 00:20] BruceHem commented on #87
Thanks u so much! 🎉🎉🎉

[2017-08-10 00:50] aventurella opened #89 "Specifying a `field` in the @Column decorator does not map back to the decorated name."
For example:
[code]

When querying on this model only `search_name` is returned and `searchName` is undefined on the model.

[2017-08-10 01:22] aventurella commented on #89
This seems to work to map the names back to the `@Column` defined names

[code]

Now `myRow.toJSON()` still does the wrong thing, it returns the `field` name not the column name. but that could also be solved with 1 override of `toJSON` to look at the class's attributes again.

[2017-08-10 03:44] BruceHem opened #90 "Question: Can the following snippet have automatically type conversion?"
Since sequelize v4 DECIMAL type now returns string.

Below maximum_fee_amt is define as number, but runtime will be string.
[code]

This is my workaround.
[code]

Do you guys think it's possible to have this auto type conversion? like the following:

This would auto return a number;
[code]

and below would auto return a string;
[code]

[2017-08-10 07:19] kingjerod opened #91 "Include + HasMany + column alias + order = incorrect query"
First you need a model with a column alias:

    @Column({type: DataType.DATEONLY, field: 'date_start'})
    dateStart: Date;

And on the same model, a HasMany:

    @HasMany(() => ImageModel, {foreignKey: 'userId'})
    images: ImageModel[]

Then do a find like so:

    UserModel.findOne<UserModel>({
        where: {id: 1}, order: [['dateStart', 'DESC']], include: [ImageModel]
    })

This will c

[2017-08-10 07:27] RobinBuschmann commented on #89
Hey @aventurella Thanks for reporting. Can you provide a more advanced example or much better a repository which shows the issue? Which version are you using? I cannot reproduce it - for me it is working very well.

[2017-08-10 09:04] RobinBuschmann commented on #90
@BruceHem Is this behavior documented in sequelize v4 somewhere? Or could this be a bug?

[2017-08-10 09:06] BruceHem commented on #90
here http://docs.sequelizejs.com/manual/tutorial/upgrade-to-v4.html

it says "DataTypes.DECIMAL returns string for MySQL and Postgres."

[2017-08-10 09:15] RobinBuschmann commented on #91
Hey @kingjerod sounds like a sequelize issue to me. Can you reproduce this with pure sequelize? If so, this should be reported to the sequelize team.
Which sequelize and sequelize-typescript version are you using?

[2017-08-10 11:43] RobinBuschmann commented on #90
Thanks.

Hmm, I think we should change as less as possible of the behavior of sequelize in sequelize-typescript. So I would suggest to keep it as it is.

But you could add your own annotation to your project to achieve this:

[code]

What's your opinion about it?

[2017-08-10 12:13] aventurella commented on #89
You know what I think it is... In my particular model, I have 2 blob fields that host a JPG. So when I query for list views etc, I need to omit those 2 blob fields so I query only specific attributes:

[code]

My guess is when that is the query path, aka via `attributes` that the remapping doesn't happen.

[2017-08-10 12:21] RobinBuschmann commented on #89
Are you using the name of the properties or the name of the fields in the attributes array?

[2017-08-10 12:23] aventurella commented on #89
When I use the names of the properties, it fails to query. aka, if I use `anotherColumn1` in the `attributes` I get a SQL error that the column does not exist. So I have to use `another_column_1` in the `attributes`

[2017-08-10 12:27] aventurella commented on #89
Side note, this lib is really great, thanks for putting in the time to write/maintain it.

[2017-08-10 12:32] RobinBuschmann commented on #89
Hey thank you very much.

Normally you should use the property name. Which sequelize and which sequelize-typescript version are you using?

With sequelize-typescript `0.4.0` and sequelize `4.3.2` it is working as expected.

[2017-08-10 12:33] aventurella commented on #89
Ah.. i'm using 0.3.5 and 4.0.0.. I'll bump! thanks!

[2017-08-10 12:44] aventurella commented on #89
Yup! looks like it's not an issue in 0.4.0.. THANKS!!!!

[2017-08-10 13:52] RobinBuschmann commented on #89
Did you updated sequelize as well? So could it be that the issue was caused by sequelize?

[2017-08-10 17:32] kingjerod commented on #91
I'll give it a go with regular Sequelize. Using sequelize 4.2.1, and sequelize-typescript 0.4.0

[2017-08-10 19:09] ilawton opened #93 "Indexes"
Hi. How can I add indexes to my tables? I want none unique KEYs to my MySql tables for better optimisation and I'd like to implement indexes as specified for Sequelize:

http://docs.sequelizejs.com/manual/tutorial/models-definition.html#indexes

Thanks

[2017-08-10 19:16] ilawton commented on #93
Ah, I figured it out:

@Table({
  indexes: [{
    unique: false,
    fields: ['blahId']
  }]
})

[2017-08-10 19:16] #93 closed

[2017-08-11 00:03] natesilva commented on #88
This works, but there are no tests yet. (yeah I know) Typical usage would be:

[code]

If a hook decorator is applied to a non-static method, an informative error will be thrown.

It’s possible to name a hook: `@AfterDestroy({ name: 'myHook' })` and then you can remove it: `Person.removeHook('afterDestroy', 'myHook')`. However this doesn’t work correctly in all cases, still working on it.

[2017-08-11 04:43] natesilva commented on #88
The `removeHook` issue was a bug in Sequelize. https://github.com/sequelize/sequelize/pull/8095

After tests are written I’ll submit this PR.

[2017-08-11 05:44] RobinBuschmann commented on #88
Looks great! 🎉

[2017-08-11 13:12] BruceHem commented on #88
Hi do we really need to pass the instance? Can't it be just "this"?

[2017-08-11 14:00] RobinBuschmann commented on #88
The context of a static function is the reference to the class itself. Therefore `this` shouldn't be manipulated to be something else than `Person` in natesilva's example.

[2017-08-11 14:49] natesilva commented on #88
The parameters depend on which hook you are implementing. For some hooks Sequelize passes an instance, for others an array of instances (`beforeBulkCreate`), or no instance (`beforeBulkDestroy`). So it can’t be an instance method.

I can imagine a future enhancement where the subset of hooks that receive a single instance create a wrapper function to be the actual hook, which then calls a method o

[2017-08-11 18:35] samcal opened #94 "Cannot supply `defaults` object to Model.findOrCreate"
I'm not sure if this is a bug with `sequelize-typescript`, or with the Typescript definitions, but I get a compile-time error if I try to use the `defaults` option for `findOrCreate`:

[code]

But this doesn't typecheck, since the compiler is expecting `defaults` to be of type `WaitlistUser`, and the `defaults` object doesn't have an `id` key. My workaround for the moment is at add an `as any` ann

[2017-08-11 18:51] RobinBuschmann commented on #94
Hey @samcal which sequelize-typescript version are you using?

[2017-08-11 20:02] connected-pjeri opened #95 "DataType.TEXT Columns"
Hi @RobinBuschmann, it seems there is a problem with TEXT type columns. I think it's at the model level because migrations are ran correctly and I can also insert rows into the DB directly.

I'm defining the column in the model in the same way as it is in the README. Do you mind confirming if this works for you?

In order to reproduce the bug all you need to do is define a new object of that model

[2017-08-11 20:30] RobinBuschmann commented on #95
@connected-pjeri this appears when ModelName is not added to a `Sequelize` instance of sequelize-typescript

So you need to initialize the model first like:

[code]

But you revealed a bug though: `Model not initialized: "ModelName" needs to be added to a Sequelize instance before "$expandAttributes" can be called.` should be thrown instead of `Cannot read property 'hasPrimaryKeys' of undefined`

[2017-08-11 20:34] RobinBuschmann opened #96 "Creating new instance of unitialized Model throws wrong error message"
[code]

`Model not initialized: "UnitializedModel" needs to be added to a Sequelize instance before "$expandAttributes" can be called.` should be thrown instead

[2017-08-11 20:34] RobinBuschmann commented on #95
See #96

[2017-08-11 20:34] connected-pjeri commented on #95
Of course, I'm often forgetting this step. Thank you so much. Also, thanks for the bug surfacing silver lining lol.

[2017-08-11 20:35] RobinBuschmann commented on #95
You're welcome

[2017-08-11 20:35] #95 closed

[2017-08-11 20:40] #89 closed

[2017-08-11 20:51] samcal commented on #94
I'm using version 0.3.5, I can update to 0.4.0 if you think that will help

[2017-08-11 20:59] RobinBuschmann commented on #94
Yes, this will help. The fix is part of the `0.4.0` release (https://github.com/RobinBuschmann/sequelize-typescript/pull/64/files#diff-1c485f95a55d5ce0466f63a966ced297R330)

[2017-08-11 21:23] samcal commented on #94
Perfect, thanks so much! I should have checked before opening the issue.

Thanks for the great work on this repo, makes my job much easier 😃

[2017-08-11 21:23] #94 closed

[2017-08-12 06:33] kingjerod commented on #91
Yup, looks like a Sequelize issue. I have opened an issue with them.

https://github.com/sequelize/sequelize/issues/8100

[2017-08-12 06:33] #91 closed

[2017-08-12 07:34] RobinBuschmann commented on #91
@kingjerod Thank you

[2017-08-16 10:24] SNeugber opened #99 "Constraint already exists when starting app a second time using sequelize sync({ alter: true })"
Hi,

I'm not sure if this is a problem with just sequelize or sequelize-typescript, or a combination of both. I thought that maybe it's to do with the way sequelize-typescript generates the models, but feel free to close this if I should open the issue on the sequelize package instead.

When I run the app for the second time using sequelize.sync({ alter: true }), it tries to recreate a foreign key

[2017-08-16 22:42] RobinBuschmann commented on #99
Hey @SNeugber, thanks for reporting. I'm on vacation and therefore have no possibilities to investigate this. But you can try to reproduce this with pure sequelize in order to check if the issue occurs as well. Thank you :)

[2017-08-17 15:26] SNeugber commented on #99
Sure, will try and get to it next week :)

[2017-08-17 17:19] #88 closed

[2017-08-17 22:27] #73 closed

[2017-08-18 16:28] agalazis commented on #32
(yes it works sorry for not coming back)

[2017-08-18 18:52] cvh23 opened #102 "Problem with "addHook" - Error: Model not initialized"
If I do this:
[code]
I get this error:
[code]

If I remove `console.log(options)` in the code, everything is fine. What I wanted to do: I want to modify "options" as well, so that table names are also decamelized (snake case).

[2017-08-18 20:31] RobinBuschmann commented on #102
Hey @cvhberger. Can you try to add the model first before calling addHook? Hopefully this should fix it.

[2017-08-19 15:51] cvhberger commented on #102
@RobinBuschmann Than I get no error, because the hook is not executed any more.

[2017-08-19 17:54] samanmohamadi opened #103 "Association scopes Example"
Is there any way to use [association scopes](http://docs.sequelizejs.com/manual/tutorial/associations.html#scopes) with this great decorator ?

[2017-08-19 18:19] thecritic commented on #102
Same here. Are the hook decorators going to be added in v1 ? Can you give an example of how to successfully add a hook (without the decorators, since they are not available in sub [beta]1.0) ?

[2017-08-19 19:21] RobinBuschmann commented on #103
See the example from issue #45: https://github.com/RobinBuschmann/sequelize-typescript/issues/45#issue-241086728

Does this help?

[2017-08-19 19:33] RobinBuschmann commented on #102
Ah ok, I didn't get it in the first place - it is the 'beforeDefine' hook. In that case this seems to be a bug.

But probably we can find a workaround for now. What are you trying to achieve @cvhberger?

@thecritic The hook decorators will be in the next release :) for now you can add a hook after the model is initialized, which means after it is added to a Sequelize instance while instantiating a

[2017-08-19 21:27] cvhberger commented on #102
@RobinBuschmann I want to have table and column names **by default** in "snake case" (underscores), not in camel case. According names in Typescript model should still be in camel case. A discussion on a Sequelize issue recommended this way (with the beforeDefine hook). And it works. And also in sequelize-typescript as long as I dont try to access the second hook parameter "options", which I would

[2017-08-20 09:33] RobinBuschmann commented on #102
@cvhberger For now you could implement this with sequelize-typescript features like this:

[code]
(Currently have no possibility to test this but it should work)

[2017-08-20 09:39] mogusbi opened #104 "Unable to create relationship between more than 2 tables"
I am trying to create a relationship between 3 tables but I am having difficulty doing so because of unique constraints set on the foreign key on the joining table.

What I am trying to achieve is a user, who is assigned to a group and within that group has certain permissions to do things (i.e. a CRUD matrix) with the end result being something along the lines of this

[code]

This is what I have

[2017-08-20 09:47] thecritic commented on #102
@RobinBuschmann Maybe a stupid/unrelated question but how do I check if the model has been added to sequelize ? I'm quite new to NodeJS/Sequelize and I'd want to define the hook in the Model class itself where I think it belongs. Any suggestions on how to do this ? Currently I get the error "Model needs to be added to a Sequelize instance before addHook can be called".

[2017-08-20 10:06] RobinBuschmann commented on #104
Hey @mogusbi, I don't really get it, sorry. What is the actual problem with this setup? Do you get any errors or what exactly blocks you to achieve your goal? Thank you

[2017-08-20 10:12] mogusbi commented on #104
Yes, when I try to assign more than one permission to a task (i.e. I want to give User A the permission to read and write on Task A, I'm met with this; `error: duplicate key value violates unique constraint "TaskPermission_taskId_key`

[2017-08-20 16:17] samanmohamadi commented on #103
Yes, Thanks

[2017-08-20 19:25] RobinBuschmann commented on #104
Currently i'm not able to test it on my own - Can you provide the create table queries and the insert query you're trying to make?

[2017-08-20 20:10] RobinBuschmann commented on #102
@thecritic You're absolutely right, that the definition of hooks belongs to the models. But for now - which means with the current sequelize-typescript version available on npm - you can only do this:

[code]

For the **next release** you will be able to define the hooks via decorators:
[code]

[2017-08-20 20:49] mogusbi commented on #104
Ah sorry, I thought I had included all the definitions! Here you go;

[code]

[2017-08-20 22:54] thecritic commented on #102
@RobinBuschmann Alright thanks! I'll have a workaround in place for now until the hooks decorators are done. Got an ETA (estimate) for v1 ?

[2017-08-21 08:18] samanmohamadi opened #105 "composite unique constraint"
Is it possible to define composite unique constraints like this ?
[code]

[2017-08-21 08:58] VitalyEmelyanov opened #106 "Using literal in FindOptions"
Hello,
I'm creating a query with the code:
[code]

When compiling I got the following typescript warnings:
[code]
However the generated code works fine.

[2017-08-21 09:48] RobinBuschmann commented on #104
Hmm, looks good as well. Can you also provide the create table query of UserTask and the insert query which causes the error?

[2017-08-21 09:58] RobinBuschmann commented on #105
With the `Column` annotation:

[code]

[2017-08-21 10:08] samanmohamadi commented on #105
tnx

[2017-08-21 10:08] #105 closed

[2017-08-21 10:39] RobinBuschmann commented on #102
@thecritic I will try to make a beta release on next weekend, which includes the hooks feature (this can be installed then via `npm install sequelize-typescript@0.5.0-beta.0`)

[2017-08-21 10:52] RobinBuschmann commented on #106
Thanks for reporting. Looks like a bug in the typings.

[2017-08-21 10:55] #56 closed

[2017-08-21 12:58] thecritic commented on #102
@RobinBuschmann Awesome thanks, take your time. Great work btw. Really in love with this project.

[2017-08-21 20:01] mogusbi commented on #104
Yep, here you go (along with all the other queries);

[code]

Also I should have mentioned this at the start but I am using postgres and sequelize 4

[2017-08-22 02:32] cvhberger commented on #102
@RobinBuschmann As the models are not added at a central point in my application, but in different parts, I had to write a wrapper method named "addModel" (see below).

[code]

Table and columns are now converted correctly (I can see the correct SQL output on console, when Sequelize syncs the model), but adding data doesn't work anymore:
[code]

If I remove
[code]
and add the tableName directly at

[2017-08-22 10:20] RobinBuschmann commented on #102
@cvhberger which error message occurs when you try to adding data?

[2017-08-22 11:07] RobinBuschmann commented on #104
Hmm, ok. The following seems to cause the issue: `UNIQUE ("permissionId", "userId"), UNIQUE ("taskId")`. It should rather be `UNIQUE ("permissionId", "userId", "taskId")`. But I assume that this is a sequelize issue, not a sequelize-typescript one. If you have time to reproduce this with pure sequelize you could check this? If not, I can do so on next weekend - before Saturday I will not have time

[2017-08-22 11:13] RobinBuschmann commented on #99
Hey @SNeugber, you couldn't know that, but this is not the equivalent of how sequelize-typescript is doing this with pure sequelize under the hood. And I didn't know that a `reference` option exists for configuring foreign keys like that. So its my fault.

I will investigate this on next weekend.

[2017-08-22 13:15] cvhberger commented on #102
There is no error message, just silence :)

[2017-08-22 13:34] RobinBuschmann commented on #102
Ok, I will try to reproduce this in next weekend. Unfortunately I don't have time to investigate this earlier.

[2017-08-22 19:50] mogusbi commented on #104
How odd, It didn't work - the unique constraints are completely ignored...

[code]

I'll have a go using sequelize alone and post the results

[2017-08-22 21:31] bilby91 opened #108 "Adding postbuild for automatic building"
Hello,

I wanted to know if a pull request that added https://github.com/exogen/postinstall-build would be accepted ?

This will allow the installation of the project from a different source than npm (for example git, I also use it with file type of packages) without having to maintain a different branch with the compiled source.

[2017-08-25 10:17] mogusbi commented on #104
I've attempted to recreate this set up using just sequelize, you can find it here: https://github.com/mogusbi/sequelize-test

It appears to be working fine. Here are the generated queries

[code]

[2017-08-25 11:49] RobinBuschmann commented on #104
But the created queries are identical except of the naming and default timestamps. So that the wrongly defined `Unique`'s are generated as well:
[code]

See `UNIQUE ("TaskId"), UNIQUE ("PermissionId", "UserId"), PRIMARY KEY ("id"));`

[2017-08-25 14:34] mogusbi commented on #104
You are correct. I've updated that repo I linked to - it throws this error when I try inserting data into the database

`Error: insert or update on table "UserTask" violates foreign key constraint "UserTask_taskId_fkey"`

[2017-08-25 16:54] natesilva opened #109 "Support model validations"
While field-level validations are supported, it doesn’t look like there’s any support for model validations.

http://docs.sequelizejs.com/manual/tutorial/models-definition.html#model-validations

[code]

[2017-08-26 08:45] RobinBuschmann commented on #108
Hey @bilby91 ,

`postinstall-build` will be a dependency for all users who install `sequelize-typescript` then, despite of they probably doesn't need it. Probably we can find another solution. A branch called `build` for example, that is created automatically on every push to the master. Maybe there is a github plugin that achieves this? This would fit your requirements very well, I think? Without

[2017-08-26 08:46] RobinBuschmann commented on #104
@mogusbi Since this isn't a sequelize-typescript issue, can you report it to sequelize then?

[2017-08-26 08:56] RobinBuschmann commented on #109
Hey @natesilva,

Since the table decorator excepts `DefineOptions`, you can validate models like this:

[code]

But your suggested approach fits better in the sequelize-typescript world.

[2017-08-26 12:19] RobinBuschmann commented on #99
OK, here we go: The equivalent in pure sequelize is:

[code]
And I'm getting an error as well: `SequelizeDatabaseError: Can't write; duplicate key in table ...`

Probably that's the intended behavior, but I don't really know what `alter` does. So it doesn't seem to be an sequelize-typescript issue. Can you ask or report this to sequelize instead? :)

[2017-08-26 12:52] RobinBuschmann commented on #102
@cvhberger My [suggestion](https://github.com/RobinBuschmann/sequelize-typescript/issues/102#issuecomment-323574219) works perfectly well for me.

What I can say is, that you should not add the models separately if they have relations between each other. `sequelize-typescript` tries to solve associations synchronously right after they are added. That's why they need to be added at once.

[2017-08-26 14:10] CocaColaBear opened #110 "DefaultValue across Sequelize.fn"
Hi. I have a problem.
I need to use database function for default column value.
If i use:
`@Default(Sequelize.fn("some_function"))`
I get an error: "_Error: Invalid value [object Object]_"
But if i place this to Column annotation then works fine. Example:
[code]

[2017-08-26 14:18] RobinBuschmann commented on #106
Hey @VitalyEmelyanov this works well for me. Can you provide an example project, which reproduces the issue?

[2017-08-26 14:35] RobinBuschmann commented on #110
Hey @CocaColaBear, thanks for contributing. When does this error exactly appear?

[2017-08-26 14:38] CocaColaBear commented on #110
@RobinBuschmann
[code]

[2017-08-26 14:41] RobinBuschmann commented on #110
Is this thrown while using `find`/`findAll` or while initialization of the model? Which sequelize-typescript version and which sequelize version are you using?

[2017-08-26 14:42] CocaColaBear commented on #110
@RobinBuschmann initialization.
sequelize-typescript: 0.4.0
sequelize: 4.0.65

[2017-08-26 15:09] RobinBuschmann opened #111 "Add keywords to package.json"

[2017-08-26 15:37] RobinBuschmann commented on #110
Thank you. I will label this as a bug and will fix it soon.

[2017-08-26 18:17] #110 closed

[2017-08-28 13:45] bilby91 opened #113 "Compiler errors on 0.5.0-beta.0"
Hello,

Today I tried to use the new beta release but I'm getting the following errors when compiling my project.

[code]

From what I saw the IFindOptions is not a Generic type so I'm not sure what could be the problem. Previous version didn't have this issues on my project.

[2017-08-28 14:40] RobinBuschmann commented on #113
Hey @bilby91, which version of the sequelize typings are installed in your package? `sequelize-typescript@0.5.0-beta.0` requires `@types/sequelize@4.0.69`, in which `WhereOptions`is generic.

[2017-08-28 17:02] bilby91 commented on #113
I just forced .69 version and the errors changed. Now I'm having only this error which makes sense:

[code]

[2017-08-28 17:03] bilby91 commented on #113
Also, when trying to run `tsc` from master branch I get this compiling errors:

[code]

[2017-08-28 18:06] bilby91 commented on #113
Forget about my last comment, when running `npm run build` on master the error don't show.

[2017-08-29 20:26] RobinBuschmann commented on #113
Ah yes, that makes sense. Thanks for reporting. Strange that it doesn't come up on `npm run build`

[2017-08-29 20:40] bilby91 commented on #113
@RobinBuschmann Yep, I don't know why the error is not showing when running `npm run build`. Maybe the project flag is affecting the compilation in some way.

[2017-08-30 07:54] Pritilender opened #116 "Question about model extension"
Hello! Extending `Model` class is supported, If I got #74 correctly?

The thing is I want to add `findOneOrFail` and `findByIdOrFail` on my models (nearly all of my models have it) which is just a wrapper around `findOne`/`findById`, but I don't want to have manually add it to every new model class of mine, so I wanted to make a new `BaseModel` class having this methods defined. Currently, I have

[2017-08-30 09:11] RobinBuschmann commented on #116
@Pritilender Did you initialized `SomeModel` via `import {Sequelize} from 'sequelize-typescript'; const sequelize = new Sequelize({modelPaths: [__dirname + 'path/to/models-folder']})`or `sequelize.addModels([SomeModel])` before calling `findByIdOrFail`?

[2017-08-30 09:30] Pritilender commented on #116
@RobinBuschmann Yes I did. I do it with `{modelPaths: [__dirname...}`.

[2017-08-30 10:22] RobinBuschmann commented on #116
Ah OK, I think I've solved your problem. You need to call `findById` on `this` instead of `Model.findById`:

[code]

[2017-08-30 11:44] Pritilender commented on #116
Thanks! Works like a charm :) I missed
To sum up, the whole function with proper types (I had a bit of problem with working the types out and it was due to `<T>` behind function name which should be `<T extends BaseModel<T>>`) looks like this:

[code]

[2017-08-30 11:44] #116 closed

[2017-08-30 15:21] #113 closed

[2017-08-30 18:50] RobinBuschmann commented on #108
@bilby91 Any thoughts on this?

[2017-08-30 18:52] RobinBuschmann commented on #90
@BruceHem Does this work for you? Can we close this issue then? Thank you :)

[2017-08-30 18:53] bilby91 commented on #108
@RobinBuschmann Yep, I guess that is the only drawback. The dependency will be shipped always :(.

Yep, I guess that we can have a `master-compiled` branch that can be automatically generated by CI after a merge on master. That should work for master.

The only "problem" will be if people want to install a particular branch that is not master.

[2017-08-31 10:55] Deilan opened #117 "Creating with associations"
How to [create with associations](http://docs.sequelizejs.com/manual/tutorial/associations.html#creating-with-associations)?

[2017-08-31 11:05] Pritilender commented on #117
@Deilan what's the problem with the way described in docs?

[2017-08-31 11:25] RobinBuschmann commented on #117
@Deilan See https://github.com/RobinBuschmann/sequelize-typescript#model-association

[2017-08-31 11:52] Deilan commented on #117
See [repo](https://github.com/Deilan/sequelize-typescript-issue-117). The entities used here are from the docs.

1. `yarn install` or `npm install`
2. `npm start`

Main code:
[code]

The entities:
[code]

[code]

[code]

Error, which occurs at `await Product.create<Product>()`:
[code]

How to overcome that correctly?

[2017-08-31 11:52] Deilan commented on #117
@Pritilender, @RobinBuschmann See [repo](https://github.com/Deilan/sequelize-typescript-issue-117). The entities used here are from the docs.

1. `yarn install` or `npm install`
2. `npm start`

Main code:
[code]

The entities:
[code]

[code]

[code]

Error, which occurs at `await Product.create<Product>()`:
[code]

How to overcome that correctly?

[2017-08-31 11:59] Deilan commented on #117
This :
[code]
results the following error:
[code]

[2017-08-31 12:03] Deilan commented on #117
and this:
[code]
also won't compile without type assertion (`as any`).
With the assertion it results in the following error:
[code]

[2017-08-31 12:18] Deilan commented on #117
Seems to me like a public static property should be also defined in the entities to fix that correctly.

[2017-08-31 12:33] Deilan commented on #117
[code]
and
[code]
results in the error:
[code]

[2017-08-31 12:55] RobinBuschmann commented on #117
Regarding `EagerLoadingError: Address is not associated to Product!`

As the error says, Address is not associated to Product.

So you need to define the associations in the options correctly:
[code]

[2017-08-31 13:00] RobinBuschmann commented on #117
Regarding

[code]
and
[code]
Your options do not fulfill the interface. See `IIncludeAssociation` interface:

[code]

[2017-08-31 13:03] RobinBuschmann commented on #117
I will investigate this error: `Exception has occurred: TypeError
TypeError: instance.set is not a function`

Anyway, I recommend using:
[code]

[2017-08-31 13:05] Deilan commented on #117
@RobinBuschmann Thanks for the response! The problem with:
[code]
is that `User` and `Address` objects are not inserted as result, only `Product` object is inserted.

[2017-08-31 13:11] RobinBuschmann commented on #117
Ah ok, I see. This is because you named the `User` array in the `Product` class `public`:

[code]

Additionally you are using an object while creating the user relation, but the relations expects an array:

[code]
Define it like so:
[code]
[code]

[2017-08-31 14:31] Deilan commented on #117
Sorry, I fixed the typo in my code and forgot to update the snippets.

And you're totally right about `users` object: the problem was because of inconsistency with usage of array/object.

Thank you very much!

I also strongly recommend to include the solution we've come up to (`include: [{model: User, include: [Address]}]`) to the docs!

[2017-08-31 14:55] Deilan opened #118 "Add connectionManager to the declaration file(s)"
![image](https://user-images.githubusercontent.com/4777512/29929889-7fc48ba2-8e75-11e7-8f14-968e37bb1990.png)

[code]

[2017-08-31 15:49] bilby91 opened #119 "Logging option not working in 0.5.0.beta.1"
Hello,

The logging option it doesn't seem to be working correctly. This is the configuration I'm using to instantiate Sequelize.

[code]

With that configuration I'm getting log messages every time an interaction with the db is happening.

[2017-08-31 15:58] bilby91 commented on #119
The problem seems to be happening only when using the `uri` format.

[2017-08-31 18:46] RobinBuschmann commented on #118
`connectionManager` is not part of the official typings, but `sequelize.close()` should do the job.

If you think, that accessing `connectionManager` is absolutely necessary, you could start a pull request in the official sequelize typings :)

For now an in case of you need the connectionManager anyway, you could make the typescript compiler happy with `sequelize['connectionManager'].close()`

[2017-08-31 18:56] RobinBuschmann commented on #119
@bilby91 Thanks for reporting.

This is because all other options are ignored if `uri` is part of the object literal:

[code]

@kukoo1 Can the pure sequelize handle the `uri` option? If not I think we should remove the possibility to add `uri` in the object literal. What do you think about it? Do I miss something?

[2017-08-31 18:59] bilby91 commented on #119
@RobinBuschmann I'm trying to fix it. Their a overload of the native Sequelize Constructor that expects the uri and the seconds param is the options. The problem is that I'm not sure how to make it work :(

This is not compiling. I thought that the `...` could do the trick. Any ideas ?

[code]

[2017-08-31 19:12] RobinBuschmann commented on #119
@bilby91 Thank you for your ambitions. Yeah, you're right, the spread operator in this case is not supported by typescript. This is why the uri support was so difficult to implement. See the pull request which delivered this feature for more information: https://github.com/RobinBuschmann/sequelize-typescript/pull/79

[2017-08-31 19:12] bilby91 commented on #119
@RobinBuschmann Hey, I have a fix. I'm testing it now.

[2017-08-31 19:13] bilby91 commented on #119
@RobinBuschmann This is working.

[code]

[2017-08-31 19:15] RobinBuschmann commented on #119
@bilby91 But tsc throws: `TS2376: A 'super' call must be the first statement in the constructor when a class contains initialized properties or has parameter properties.`

[2017-08-31 19:17] bilby91 commented on #119
@RobinBuschmann Nop, I also changed this.

[code]

I had to remove the defaults here because the was generating an implicit `this` call

[2017-08-31 19:21] RobinBuschmann commented on #119
@bilby91 Ahhh ok.. so the implicit `this` statements causing the ` A 'super' call must be the first...`. That makes sense.

[2017-08-31 19:26] bilby91 commented on #119
@RobinBuschmann Let's see if the tests pass :)

[2017-08-31 20:36] #119 closed

[2017-08-31 21:49] bilby91 opened #121 "Rename uri config to url"
Today we fixed the problem that didn't allow the passing of options when using the uri constructor. Sequelize configuration file for running migrations used `url` instead of `uri` in the configuration file. This basically enforces users with this configuration to have something like this in their config file:

[code]

My suggestion is to use the same convention that is used in Sequelize.

[2017-08-31 23:23] BruceHem commented on #90
Oops Yes it works

[2017-08-31 23:23] #90 closed

[2017-09-01 06:33] RobinBuschmann commented on #121
@bilby91 Can you provide a link to the sequelize docs where this is defined? I couldn't find it. Thank you.

[2017-09-01 06:35] bilby91 commented on #121
@RobinBuschmann Here https://github.com/sequelize/cli#configuration-file

[2017-09-01 06:35] samanmohamadi commented on #103
considering this:
[code]
How should I define through Options ?
according to [this](https://github.com/RobinBuschmann/sequelize-typescript/blob/000fbb11503a622085c8735e2d3f96ebd6c46d6a/lib/interfaces/IAssociationOptionsBelongsToMany.ts#L5) interface I think it isn't possible, right ?

[2017-09-01 06:36] kukoo1 commented on #119
awesome @bilby91 :)
I tried to figure that for a week but no luck haha

[2017-09-01 06:41] RobinBuschmann commented on #103
You're right. This isn't supported yet. I will create an issue for that.

[2017-09-01 06:46] RobinBuschmann opened #122 "Add support for ThroughOptions"
See http://docs.sequelizejs.com/manual/tutorial/associations.html#n-m
[code]
and https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L1374:
[code]

[2017-09-01 06:47] RobinBuschmann commented on #103
#122

[2017-09-01 06:47] #103 closed

[2017-09-02 19:44] TalissonJunior opened #123 "TypeError: Cannot read property 'createdAt' of undefined"
Hello i´m getting this error "TypeError: Cannot read property 'createdAt' of undefined" do you have any idea what i can be?

## Sequelize initialize

[code]
## Model class
[code]

## ERROR LOG
![image](https://user-images.githubusercontent.com/18445152/29998290-7756c262-8ffd-11e7-8b62-5deff079e48d.png)

[2017-09-02 20:46] RobinBuschmann commented on #123
Hey @TalissonJunior when does this error occur?

[2017-09-02 22:21] TalissonJunior commented on #123
Well is not that easy to explain , but would help me If you clone the project from https://github.com/TalissonJunior/Nodejs-WebApi. And try to run It.

So , i'm trying to get a list of "places" from my local database , acessing "Localhost:3000/api/places", and to achieve that i have a controller.ts class that handles all the requests , then Business.ts class that handles the logic, and finally the

[2017-09-03 09:43] VitalyEmelyanov commented on #106
@RobinBuschmann Please try this sample. [https://github.com/VitalyEmelyanov/test-sample](url)
npm i && npm start

[2017-09-03 10:40] RobinBuschmann opened #124 "Consider making Model class declaration abstract"
`declare class Model<T> extends Hooks` => `declare abstract class Model<T> extends Hooks`

[2017-09-03 10:56] RobinBuschmann commented on #123
I've noticed several issues: You're creating an instance of `Model` in your BaseRepository. If you want to create instances of your models, you rather should call `new` on your specific models like `Place` (=> `new Place(...)`) than  on`Model` (`new Model()`) - `Model` is an abstract `class`.

Additionally this is not what you meant to do here. You want to use `find`, `findAll`, `create` and so on

[2017-09-03 12:04] RobinBuschmann commented on #106
Thank you. The sequelize typings (`@types/sequelize@4.0.60`) seem to be wrong. `sequelize-typescript@0.5.0-beta.2` uses a newer version of the sequelize typings, in which the problem doesn't occur anymore.

[2017-09-03 12:36] #121 closed

[2017-09-03 12:45] TalissonJunior commented on #123
hm, i did what you said, and things now start to make sense.

changes to BaseRepository:
https://github.com/TalissonJunior/Nodejs-WebApi/blob/master/src/Repository/Repositories/BaseRepository.ts

changes to PlaceRepository:
https://github.com/TalissonJunior/Nodejs-WebApi/blob/master/src/Repository/Repositories/PlaceRepository.ts

But now i get this error:

![image](https://user-images.githubuserco

[2017-09-03 13:29] RobinBuschmann commented on #123
This is cause you are compiling your ts files to `es5` while using sequelize 4+, which uses es6 classes. "es5 classes" cannot extend es6 classes. So you need to set `target` to `es6` in you tsconfig if you want to get it to work with sequelize 4+

[2017-09-03 16:49] TalissonJunior commented on #123
i actually change ```target``` to ```es6``` before posting the error here and got the same error.

I just tried to change it again and didn´t work, i also tried to downgrade to sequelize 3v and target ```es5``` and ```es6``` but still nothing.

It´s a little bit strange because:

[code]
}

so, what am i doing wrong? do i need to add an extra option to work with sequelize-typescript?

I´m kinda los

[2017-09-03 17:12] RobinBuschmann commented on #123
When you push you're last changes I can have a look.

[2017-09-03 17:56] TalissonJunior commented on #123
okay, i just did. thank you man

[2017-09-04 07:36] georgeedwards opened #127 "Specifying dialectModulePath in sequelize initializer"
Hi, I am just getting started with my first project using this ans I really love the sequelize-typescript approach!

I am converting an existing vanilla sequelize project over, this is the db connection I currently have:

[code]

I need to use `sequelize-msnodesqlv8` to support Windows auth, is this possible with sequelize-typescript?

[2017-09-04 08:39] mogusbi commented on #104
OK, I was able to get this working to create the following query

[code]

What I had to do is update my associations to the following:

[code]

[2017-09-04 09:33] VitalyEmelyanov commented on #106
Well, looking forward for stable 0.5.0

[2017-09-04 09:33] #106 closed

[2017-09-04 15:59] georgeedwards opened #128 "Feature Request: Support Self joins"
I have the following definition:

    @Table
    export default class Group extends Model<Group> {
     
        @Column
        name: string;

        @ForeignKey(() => Group)
        @Column
        parentId: number;

        @HasOne(() => Group)
        parent: Group;

    // + associations with the members model

    }

However, I get the warning:

SQL Server does support self-joins, it even s

[2017-09-04 18:19] RobinBuschmann commented on #127
Hey, it should work nearly the same way:
[code]

[2017-09-04 18:34] RobinBuschmann commented on #104
...and to be able to implement the same behavior in sequelize-typescript you need to be able to set [through options]( #122), right?

[2017-09-04 18:37] RobinBuschmann commented on #128
You could give the following a try:
[code]

[2017-09-04 19:52] mogusbi commented on #104
I need to set the through options and set the constraints option to false

[2017-09-04 20:24] RobinBuschmann commented on #104
Yes, it should :)

[2017-09-06 20:29] Deilan commented on #118
@RobinBuschmann The problem is `sequelize.connectionManager.close()` returns promise while `sequelize.close()` doesn't.

[2017-09-06 20:59] kukoo1 commented on #99
`alter` is a safer alternative to `force: true`.
It alters table instead of `DROP TABLE` then `CREATE TABLE`

Actually it's sequelize bug [](https://github.com/sequelize/sequelize/issues/7649) [](https://github.com/sequelize/sequelize/issues/7606)

[2017-09-07 08:17] SNeugber commented on #99
Thanks for finding this @kukoo1 ! Saves me having to open the bug with sequelize.

[2017-09-07 08:17] #99 closed

[2017-09-07 15:40] TalissonJunior commented on #123
hey Robin, did you had any time to take a look?

[2017-09-07 18:11] RobinBuschmann commented on #123
Sry, I missed that. But it works for me, after I set target to es6 (!). You didn't do that ;) So, set the target to es6 and it should work very well :)

[2017-09-07 21:22] TalissonJunior commented on #123
No problem, you change tsconfig target to es6 and it works? what version of nodejs are you on? because din´t work for me, i´m currently on v8.4.0 of nodejs i don´t really know if that matters

[2017-09-08 10:54] RobinBuschmann commented on #123
`8.2.1` - Can you add your compiled files to the repo? So that I can have a look?

[2017-09-08 11:25] TalissonJunior commented on #123
Yea, sure i Just did. I'm using gulp to compile .ts files and my tsconfig file is set to target es6.

[2017-09-10 16:32] TalissonJunior commented on #123
found something?

[2017-09-11 06:14] RobinBuschmann commented on #123
Hey, you did not add the compiled files (dist/**/*.js) to your repo :(

[2017-09-11 10:45] TalissonJunior commented on #123
Ohhhh,Sorry my bad o Will add them.

[2017-09-11 10:46] TalissonJunior commented on #123
Ohh Sorry , my bad i will add them ***

[2017-09-11 11:31] TalissonJunior commented on #123
@RobinBuschmann  okay i just add the dist folder that has the compiled files to the repo.

[2017-09-11 13:06] TalissonJunior commented on #123
@RobinBuschmann  i notice something weird, when i don´t have any data at my table it doesn´t show the error, in fact it returns an empty array as expected

log
![image](https://user-images.githubusercontent.com/18445152/30275215-fcb6c454-96d6-11e7-9623-b6a661730f3c.png)

my database table
![image](https://user-images.githubusercontent.com/18445152/30275244-1974bb3c-96d7-11e7-827e-fad4ed0767a5.png)

[2017-09-11 18:19] RobinBuschmann commented on #123
It seems so, that your `tsconfig.json` isn't used by your compile process. Your ts files are still compiled to `es5`. See here: https://github.com/TalissonJunior/Nodejs-WebApi/blob/master/dist/Models/Database/Place.js#L23
In `es6` `Place` would be compiled to `class Place { ... }`  instead of a constructor function.

[2017-09-11 18:59] TalissonJunior commented on #123
actually it is compiled to ```es6``` but i change 2 hours ago to make some test and forgot to commit.

As you can see:
https://github.com/TalissonJunior/Nodejs-WebApi/blob/master/dist/Models/Database/Place.js#L13

[2017-09-11 20:05] RobinBuschmann commented on #123
The error comes from `Nodejs-WebApi/node_modules/class-transformer/TransformOperationExecutor.js:108:47)`.. so it is caused by the `class-transformer` package. As the error message says `Class constructor Place cannot be invoked without 'new'`, the `transform` function in `TransformOperationExecutor` tries to invoke `Place` without `new`: `subValue = value[valueKey]();`

[2017-09-12 09:24] mtabaj opened #129 "Time and Geo DataTypes"
Maybe a newbe question, but I cant set or use Time Data Type nor Geo DataType.
The plus important for me now is a sample about how to set and use geo (point) in a Postgres db.
Thanks in advance

[2017-09-12 12:00] RobinBuschmann commented on #129
Hey @mtabaj :)

See:
[code]

and for more information: http://docs.sequelizejs.com/variable/index.html#static-variable-DataTypes

[2017-09-13 06:34] RobinBuschmann commented on #127
@georgeedwards Did it work for you?

[2017-09-13 06:35] RobinBuschmann commented on #128
@georgeedwards Same here: Did this help?

[2017-09-13 08:18] #128 closed

[2017-09-14 10:18] mtabaj opened #130 "Executing text query"
Robin, I have a model like

export class Department extends Model<DepartmentDTO> {

 @PrimaryKey
  @Column
  DepartmentID: number;

  @Column
  DepartmentName: string;

  @Column
  Available: boolean;

  @Column
  Description: string;
}

and I need to execute a string query (made from different options):
"Select DepartmentID, Available from Department"

I can't found how I can do it within sequeli

[2017-09-14 11:04] Pritilender commented on #130
@mtabaj it's same like it's in pure Sequelize ([see docs](http://docs.sequelizejs.com/manual/tutorial/raw-queries.html)).
You just have to get hold of the `sequelize` object. You can get it from your database object or, if you have a model instance, as `this.sequelize`.

So if you want to add a custom find function, you can do something like this:
[code]

By the way, if you **just** want to select

[2017-09-14 17:30] #111 closed

[2017-09-14 18:04] RobinBuschmann commented on #106
sequelize-typescript@0.5.0 is released now 🎉

[2017-09-14 21:45] georgeedwards opened #131 "Cannot invoke an expression whose type lacks a call signature."
I have the following model:

[code]

However, I get the typescript compiler error:

src/services/users/users.service.ts(9,17): error TS2349: Cannot invoke an expression whose type lacks a call signature. Type 'typeof "C:/Users/George/Source/Repos/backend/src/models/user.model"' has no compatible call signatures.
error Command failed with exit code 2.

What is wrong with my code?

NB: I am using Ty

[2017-09-15 05:49] RobinBuschmann commented on #131
Hey @georgeedwards , what sequelize-typescript version are you using?

[2017-09-15 06:27] RobinBuschmann commented on #117
Hey @Deilan, this should already be a part of the sequelize docs.

Can I close this issue now? :)

[2017-09-15 07:09] georgeedwards commented on #131
@RobinBuschmann v0.5.0

[2017-09-15 16:12] RobinBuschmann commented on #131
I cannot reproduce the issue. Can you provide an example repo?

[2017-09-15 17:05] santiagodoldan opened #132 "@CreatedAt annotation prevents the update of the column"
I'm not sure if it is an issue or if I'm not using the annotation correctly.

Saying that, here you have how I'm using it.

[code]

Then, when trying to update the `createdAt` for test purposes, it doesn't work, I don't get an error, but the createdAt isn't updated.

Any ideas?

Thanks

[2017-09-15 21:47] snewell92 commented on #62
@olaferlandsen

You should test it, [but this guy thinks so](https://www.techiediaries.com/mobiledev/ionic2-sqlstorage-with-sqlite-and-cordova/). Including Sequelize, and sequelize-typescript shouldn't be a problem (I don't think it does any crazy native bindings or anything... but again - I'd test it out on the *Ionic View* app)

[2017-09-16 11:00] Deilan commented on #117
@RobinBuschmann Unfortunately it's not a part of the sequelize docs. :)

I think it would be very helpful if it will be in `sequelize-typescript`'s docs as far as we already found the solution. But it's completely up to you of course. :)

[2017-09-16 11:00] #117 closed

[2017-09-16 11:47] georgeedwards commented on #131
@RobinBuschmann  Oh - I think I have caught the bug. Can you confirm, how do you get access to a model instance with this library? I am trying to add Typescript support to the Feathers-cli and think sequelize-typescript is the best way to go, but I need to replicate this behaviour:

[code]
where `createModel()` is required from this file:

[code]

[2017-09-16 12:01] georgeedwards opened #133 "Feature Request: Support Model Self-References"
I currently have a database schema, where a member can belong to a sub-group and a sub-group can belong to a group. I want to redesign the model to be more flexible (e.g. there could be a sub-sub-group etc.). So I wanted to associate a group with itself, so it could have a "parent" group.

Using NodeJS, sequelize and sequelize-typescript, I have the following definition:

[code]

However, I get th

[2017-09-16 14:33] borislemke commented on #22
@blocka could you kindly share a portion of your setup? My models aren't loaded properly after moving to `ts-node`

[2017-09-16 17:13] blocka commented on #22
What is the issue?

[2017-09-17 08:22] borislemke commented on #22
@blocka it turned out to be a typo, had `ts` instead of `.ts` in my `readDirSync.filter` function 😅

[2017-09-17 08:42] RobinBuschmann commented on #131
@georgeedwards I think, I do not fully understand: You want to write your pure sequelize example (`module.exports = function (app) {  ...  return test; };`) with sequelize-typescript. Is this correct?

[2017-09-17 08:48] RobinBuschmann commented on #132
@santiagodoldan Do I understand you correctly: You tried to update the `createdAt` field manually? When using `@CreatedAt` and `@UpdatedAt` decorators, sequelize is setting these values automatically for you. And I assume that sequelize do not let you set these values manually.

[2017-09-17 08:53] RobinBuschmann commented on #133
Hey, [this](https://github.com/RobinBuschmann/sequelize-typescript/issues/128#issuecomment-327013362) does not help?

[2017-09-17 09:23] #133 closed

[2017-09-17 09:35] georgeedwards commented on #131
Well, how can I get access to the model instance, i.e. the equivalent of what would have been created if I defined my models like:

[code]

How would I access the equivalent of `test`?

[2017-09-17 10:05] RobinBuschmann commented on #131
So you want to access your models via the sequelize instance? With `sequelize-typescript` you can do: `sequelize._.User` or `sequelize._['User']`

[2017-09-17 10:12] georgeedwards commented on #131
Well, I want to access the model instance. That looks about right, but if I do:

[code]

I just get "User" printed to the log, not an object?

[2017-09-17 10:25] RobinBuschmann commented on #131
Yes it prints the name of the class, but it holds the reference to the class.

[2017-09-17 10:42] georgeedwards commented on #131
Aha - got it!! Thanks for your help, this is now working! Are you on any of the sequelize slack channels?

[2017-09-17 10:42] #131 closed

[2017-09-17 11:08] RobinBuschmann commented on #131
You're welcome :)

No, I'm not on any of these channels. Would you recommend it?

[2017-09-17 11:14] georgeedwards commented on #131
They are pretty good. The reaosn I ask is that I have one more issue, where in my pure js (feathers generated) project, I have the user model like this:

[code]
and I initialize sequelize like this:

[code]
When I make a call to the feathers authentication API, the SQL generated is this `SELECT count(DISTINCT("users"."id")) AS "count" FROM "users" AS "users" WHERE "users"."email" = 'feathers@examp

[2017-09-17 11:28] #109 closed

[2017-09-17 11:30] RobinBuschmann commented on #131
It is okay to create a new issue for that :)

[2017-09-17 11:54] georgeedwards opened #135 "Generating invalid postgres queries"
They are pretty good. The reaosn I ask is that I have one more issue, where in my pure js (feathers generated) project, I have the user model like this:
[code]
and I initialize sequelize like this:
[code]
When I make a call to the feathers authentication API, the SQL generated is this `SELECT count(DISTINCT("users"."id")) AS "count" FROM "users" AS "users" WHERE "users"."email" = 'feathers@example

[2017-09-17 13:31] georgeedwards commented on #135
@RobinBuschmann moved from #131

[2017-09-17 19:13] RobinBuschmann commented on #135
Did you try to set the beforeCount hook in the sequelize-typescript version as well?

[2017-09-17 20:34] georgeedwards commented on #135
@RobinBuschmann yes, same result...

[2017-09-18 18:36] santiagodoldan commented on #132
Yeah, I need to update the `createdAt` value to test and edge case where the date needs to be older than 1 day ago, I understand the part that sequelize automatically fills both columns (created_at and updated_at), but IMO it could be a good idea to also be able to update them manually if needed. if you think that's ok, I can try to update both annotations and change how they work now.

[2017-09-19 08:27] georgeedwards commented on #135
@RobinBuschmann Any other thoughts?

[2017-09-19 10:30] micksatana opened #137 "Cannot set where $not inside @Scopes declaration"
Model file:

[code]

When defining where condition with `$not: null` or `$ne: null` in the @Scopes, it will cause an error.

[code]

[2017-09-20 05:06] RobinBuschmann commented on #135
@georgeedwards I'm getting the same error with pure sequelize - strange. Which sequelize versions are you using?

[2017-09-20 05:13] RobinBuschmann commented on #137
@micksatana This should be fixed with `sequelize-typescript@0.5.0` :)

[2017-09-20 05:19] olaferlandsen commented on #62
sequelize-typescript does not work with cordova/phonegap, therefore it does not work with ionic.

[2017-09-20 05:19] #62 closed

[2017-09-20 05:28] RobinBuschmann commented on #62
Hey @olaferlandsen, thanks for investigating this. Can you share problems you faced while trying to make it work with sequelize-typescript?

[2017-09-20 14:14] snewell92 commented on #135
I encountered the `DISTINCT(*)` on mysql as well. I reverted to `0.4.0` and do not observe that behavior anymore.

[2017-09-20 14:31] RobinBuschmann commented on #135
Strange, since I'm getting this error with pure sequelize, I assume, that this isn't a sequelize-typescript issue at all.

[2017-09-20 14:38] snewell92 commented on #135
@RobinBuschmann I'll look into reporting it to sequelize. Mind sharing the repro you have?

[2017-09-20 14:41] RobinBuschmann commented on #135
Do we know on which sequelize version this happens? You said, you switched back to `sequelize-typescript@0.4.0` and it worked again? Are you changed the sequelize versions with that as well?

[2017-09-20 14:45] snewell92 commented on #135
Oh wait, I revert sequelize-typescript and feathers-sequelze. I kept sequelize at `4.8.4` This is the commit of my package.json:

[code]

So that's interesting, because 4.8.4 is the latest sequelize, and that's what I've ran all my tests against. It could be feathers-sequelize.... let me run a few more tests on my project.

[2017-09-20 14:53] snewell92 commented on #135
I just ran my tests with `0.5.0` and all are green.

I'm updating `feathers-sequelize` to see if I get the bug. In that case it will be feather's problem. Every test run has the latest sequelize `4.8.4` still

Woo! I repro'd the `DISTINCT(*)` with `feathers-sequelize: 2.3.1`

[2017-09-20 14:53] snewell92 commented on #135
But the problem is that I had a cli generated app with the same sequelize (i think - can dbl check...) that did not have this bug. :(

[2017-09-20 14:56] snewell92 commented on #135
@georgeedwards Try running your code with `feathers-sequelize: 2.2.1` - does it work with the latest `sequelize` and `sequelize-typescript` with feathers-sequelize pinned to the previous stable release?

That can be a viable work around. The problem now is how does the vanilla js cli generated differ from our typescript apps

[2017-09-20 15:25] snewell92 commented on #135
`feathers-sequelize: 2.3.0` is also good. No distinct * thing. So the observed behavior, as far as I can tell, is not in plain sequelize js apps, but can only be repro'd in feathers-sequelize: 2.3.1 :\

So I looked [at the commit from 2.3.0 -> 2.3.1](https://github.com/feathersjs/feathers-sequelize/commit/d98b10ee5c1186bb8773cd6b27256c3a8589c240#diff-1fdf421c05c1140f6d71444ea2b27638), maybe his ha

[2017-09-20 15:38] snewell92 commented on #62
The referenced blog only shows how to add a cordova plugin to get SQLite working without sequelize. It is probable that sequelize would need a specific dialect/adapter for cordova/phonegap that uses that plugin, or at least someway to tell sequelize - hey, I'm using SQLite, and I need to use `SQLite` from `ionic-native` instead of the normal SQLite dialect/adapter.

[2017-09-20 21:12] ibox4real opened #138 "Class constructor [ClassName] cannot be invoked without 'new'"
I get an error when querying the User model

Error
[code]

node:8
[code]

tsconfig
[code]
User model
[code]

[2017-09-21 05:10] oscarcalvo opened #139 "UUID as primary key"
Hi, I have a table like this
`export default class MyTable extends Model<MyTable> {
  @PrimaryKey
  @Column(DataType.UUID)
  id:string;
  @Column
  name:string;
}`

is there any way to insert one record and it manages to create the uuid directly? for example if I do
` queryInterface.bulkInsert("MyTable", [
        {
         name: "test"
        }]);`
it says "null value in column "id" violates no

[2017-09-21 06:09] RobinBuschmann commented on #138
Hey @ibox4real, this is an issue with `class-transfromer`. It tries to invoke a class constructor without the `new` keyword. Same as https://github.com/RobinBuschmann/sequelize-typescript/issues/123#issuecomment-328643178

This should be reported to `class-transformer` instead :)

[2017-09-21 06:12] RobinBuschmann commented on #139
Hey, `@Default(DataType.UUIDV4)` or `@Column({defaultValue: DataType.UUIDV4})` (or whatever UUID version you need) should do the trick.

[2017-09-21 06:17] RobinBuschmann commented on #135
I haven't used `feather-sequelize`yet. So I would say `feather-sequelize` is not the cause of the error - I think, sequelize is. I will have a look ..and will try with different sequelize version.

[2017-09-21 07:25] ibox4real commented on #138
Thank you, it seems the  best option is to disable classTranformers in the @pleerock/routing-controllers setup.

[2017-09-21 07:25] #138 closed

[2017-09-21 07:26] oscarcalvo commented on #139
Robin sorry, I didnt know about default.
Thanks

[2017-09-21 07:26] #139 closed

[2017-09-21 07:31] RobinBuschmann commented on #139
No problem :)

[2017-09-21 08:10] oscarcalvo commented on #139
Anyway, to people who look the same issue (using postgres), at the end I had to install uuid-ossp and after that this worked

  @PrimaryKey
  @Column({type:DataType.UUID,defaultValue:Sequelize.fn("uuid_generate_v4")})
  id:string;

[2017-09-21 09:49] georgeedwards commented on #135
@snewell92 Yes, using:
[code]
works as expected...

[2017-09-21 14:45] jurajpetrik opened #140 "How to publish?"
I forked this repository and I'm struggling to figure out how you publish it to npm without having a `npm prepublish` script defined or including the build artifacts in git.
Any pointers?

[2017-09-21 15:12] swist opened #141 "Dynamically generated sequelize methods, don't show up on typings for tsc"
Sequelize dynamically generates getters allowing developers to asynchronously fetch rows from other tables via relations:

[code]

But the typedef for the generated model doesn't seem to work for typescript 2.5 which shows (a fairly reasonable) error:
``` error TS2339: Property 'getClassifications' does not exist on type 'Image'.```

What is the canonical/correct way to fix this? Is there somethin

[2017-09-21 15:29] swist commented on #141
Nvm found the missing thing in the docs. No idea how I skipped through it

[2017-09-21 15:29] #141 closed

[2017-09-21 15:50] RobinBuschmann commented on #140
Hey, just run `npm run build`before you publish.

[2017-09-21 19:57] bilby91 opened #142 "Move @types/sequelize constraint to >= ?"
Hey @RobinBuschmann,

Are you okey if we change the @types/sequelize constraint to `>=` ? We are not able to use the latest types that include some definitions that we need.

Thanks!

[2017-09-22 05:50] RobinBuschmann commented on #142
Hey @bilby91 , I thought about it too. But the problem is, in case of typings that are not compatible with sequelize-typescript, we wouldn't notice the issue fast enough. So that all beginners new to sequelize-typescript couldn't use sequelize-typescript until the typings are fixed.
Let us publish patch releases with the latest typings more frequently instead. So that we have full control over it

[2017-09-22 12:19] bilby91 commented on #142
Hi @RobinBuschmann ! Sure, that should work. I was thinking of another option maybe. Having a CI run with the latest version always. I guess the problem with that will be that if we don't commit frequently to the repo we won't notice the incompatibility. Let's go with your idea!

[2017-09-22 13:05] bilby91 commented on #142
@RobinBuschmann #143 😃

[2017-09-22 17:33] #142 closed

[2017-09-22 19:44] georgeedwards opened #144 "One-to-many association issues with postgres"
I have the following definitions, but when running with postgres I get the error:

[code]

I have followed the docs and cannot see wh this should be problematic?

[2017-09-22 19:47] RobinBuschmann commented on #144
Hey @georgeedwards, thanks for reporting. When exactly does this happen? On loading the models or requesting data or ..?

[2017-09-22 20:05] georgeedwards commented on #144
@RobinBuschmann On loading the models

[2017-09-22 21:15] RobinBuschmann commented on #144
I cannot reproduce it. So it works very well for me. Can you provide a full example (a repo)?

[2017-09-23 09:04] georgeedwards commented on #144
@RobinBuschmann Sure [here](https://github.com/georgeedwards/sequelize-ts-issue) you probably will want to set up the db creds in `src/sequelize.ts`, then yarn install and then `node src`.

For me I then get:

[code]

[2017-09-23 10:31] RobinBuschmann commented on #144
@georgeedwards There is a typo in your code
`import Result from './result';` => `import Result from './Result';` https://github.com/georgeedwards/sequelize-ts-issue/blob/master/src/models/Job.ts#L2

Here is an explanation: https://github.com/RobinBuschmann/sequelize-typescript/issues/72#issuecomment-319155934

[2017-09-23 15:24] georgeedwards commented on #144
Aha! You've got it - thanks 👍

Slightly unhelpful error message, but none the less - user error. No bug.

[2017-09-23 15:24] #144 closed

[2017-09-23 15:27] georgeedwards opened #145 "Support Alias?"
I can;t see any references in the docs (appologies if I have missed them), is there a way of doing something like:

    Contact.hasMany(PhoneNumber, {as: 'phoneNumbers'});

I can't see how you would alias an association?

[2017-09-23 17:44] RobinBuschmann commented on #145
The alias is determined by the name of the property. So when defining a relation like `@HasMany(() => Person) persons: Person[]`, the property name `persons` will internally be set as `alias` in sequelize.

[2017-09-23 19:46] georgeedwards commented on #145
Great, is that mentioned in the docs anywhere?

[2017-09-23 19:46] #145 closed

[2017-09-23 19:53] RobinBuschmann commented on #145
No it is not

[2017-09-25 15:36] schmod opened #146 "ORDER by a function"
Currently, the typings do not us to construct `ORDER BY fn(col)` queries.

From the [sequelize docs](http://docs.sequelizejs.com/manual/tutorial/querying.html#ordering):

[code]

However, the current typings do not allow a `fn` to exist in the `order` array:

[code]

[2017-09-25 20:00] RobinBuschmann commented on #146
Hey @schmod thanks for reporting. I will add them to the typings of `sequelize-typescript`.

But they also seem to be missing on the typings of `sequelize` (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L3249)

[2017-09-25 22:17] bilby91 opened #147 "Autorelease @next tag on master commits"
I create this issue to follow the conversation in #143

The idea would be the following. Every time a new stable release is created. We need to dump the version to the release with beta. So, lets say that we just published 0.6.0. After that publish we need to create a new commit that changes the version to 0.7.0-beta.

When that commit is merged into master, CI will do the following:

[code]

For

[2017-09-27 13:37] BruceHem opened #149 "I think there's a type definition problem in Model.d.ts"
<img width="698" alt="screen shot 2017-09-27 at 8 36 54 pm" src="https://user-images.githubusercontent.com/15667259/30916449-a76b1f0a-a3c3-11e7-847f-547bc404c68c.png">

There's a sequelize property on this, but I have to tell it as any.

[2017-09-27 14:07] RobinBuschmann commented on #149
Ah ok. Then we should add it to `Model.d.ts` :)

[2017-09-27 14:27] BruceHem commented on #149
ok thanks

[2017-09-27 16:14] schmod commented on #146
Ah, bummer.  I suppose we should PR that repository as well.

Do you want me to make the changes, or do you want to handle this?

[2017-09-27 16:47] RobinBuschmann commented on #146
If you like to.. :)

[2017-09-27 16:52] RobinBuschmann commented on #149
It's better to let the issue open until it's done :)

[2017-09-27 22:44] drmnick opened #150 "Include in CountOptions"
I see that for some methods there is a reference to the sequelize model, but sequelize-typescript `Model<T>` is not compatible with `Model<any, any>`. As I understand the change should be made similar to the `IFindOptions` only for the `ICountOptions`.

[code]

[code]

[2017-09-29 06:05] RobinBuschmann commented on #150
You're right, this should be adjusted. Thanks for reporting.

[2017-09-29 06:07] RobinBuschmann commented on #147
Hey @bilby91 , thank you for preparing this. This week I don't have time to look into this and give any feedback.

[2017-09-29 08:37] BruceHem opened #151 "Is mysql2 the only one that works with sequelize-typescript?"
I tried with "mysql": "^2.14.1" and I got this Error: Please install mysql2 package manually.

Is this on purpose?

[2017-09-29 09:08] dragosbulugean opened #152 "Q: Does it validate types at runtime?"
For example I have declared a date field.
Will validate() detect if the runtime type is wrong if I do something like Object.assign() from an object received from a request that has a string instead of a date?
I am using Joi for this currently, but I was wondering if I can skip it for the annotations this provides.
Awesome project, I will contribute if the occasion arises.
Thank you!

[2017-09-29 13:17] snewell92 commented on #151
I believe it is, but idk why, although @RobinBuschmann would likely know.

Does plain sequelize work with that mysql package?

[2017-09-29 13:20] bilby91 commented on #147
@RobinBuschmann No problem! Let me know! The setup above is working nice for me at the moment so I think it will work!

[2017-09-29 13:20] BruceHem commented on #151
@snewell92 yes plain sequelize works.
I'm asking this because I think I have problem in production with mysql2 on another project

[2017-09-29 15:56] RobinBuschmann commented on #151
I think `mysql` only works with older sequelize versions (<4) ... so the latest sequelize version requires `mysql2` as the docs say:   http://docs.sequelizejs.com/manual/installation/getting-started

So it has nothing to do with sequelize-typescript

[2017-09-29 16:03] RobinBuschmann commented on #152
Hey @dragosbulugean, validation requirements need to be set explicitly like `@IsDate` or `@Column({validate:{isDate:true}})`

[2017-09-29 16:10] BruceHem commented on #151
I just confirmed it, `sequelize` v4 works only with `mysql2`.

[2017-09-29 16:10] #151 closed

[2017-09-30 13:37] BruceHem commented on #149
BTW: to make the food? 😂

<img width="533" alt="screen shot 2017-09-30 at 8 34 33 pm" src="https://user-images.githubusercontent.com/15667259/31046203-e441f8ec-a61e-11e7-8aa2-e7867563f649.png">

[2017-10-02 16:26] swist commented on #137
had the same problem, can confirm that it works as of `0.5.0`

[2017-10-02 17:43] #137 closed

[2017-10-03 20:52] csreid opened #153 "Deprecation warning"
I got the following output while trying to spin up a small demo of `sequelize-typescript`:

`sequelize deprecated String based operators are now deprecated. Please use Symbol based operators for better security, read more at http://docs.sequelizejs.com/manual/tutorial/querying.html#operators node_modules/sequelize/lib/sequelize.js:236:13`

[2017-10-03 23:54] BruceHem commented on #153
Yeah that’s the latest sequelize

[2017-10-04 05:45] RobinBuschmann commented on #153
@csreid Does this happen while using operators like so `$like`, `$gt`, `$lt`, ...  or do you get this warning without using any operators in your query?

[2017-10-04 09:41] mctep commented on #153
Deprecation happens by default.

See more: https://github.com/sequelize/sequelize/issues/8417#issuecomment-334056048

To disable this warning add `operatorsAliases: false` to your `Sequelize` config:

[code]
@RobinBuschmann looks like there is no `operatorsAliases` in ` SequelizeConfig | ISequelizeValidationOnlyConfig` typings.

[2017-10-04 10:16] BruceHem commented on #153
Yes, we need somebody to add typings for the operators.

[2017-10-04 11:02] mctep commented on #153
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/20284

[2017-10-04 19:44] RobinBuschmann opened #154 "Use freezeTableName=true instead of tableName=CLASS_NAME"
see https://github.com/RobinBuschmann/sequelize-typescript/pull/148#issuecomment-334266864

[2017-10-05 05:46] oscarcalvo opened #155 "Using separate option"
Hi, I have queries with several includes and has many relations of rows where at the end I am getting cartesian product and is slow. Looking for, I see that with Sequelize I can use separate:true in includes (https://github.com/sequelize/sequelize/pull/4177), but dont see it in your package. How can I use it?

Thanks

[2017-10-05 17:11] RobinBuschmann commented on #153
Hey @mctep, what do you mean "by default"?

[2017-10-05 17:17] mctep commented on #153
I mean that this warning happens always (by default 😄) despite string operators usage.
I think this issue should be closed because it is `sequelize` issue.

[2017-10-05 17:24] csreid commented on #153
To be clear, I'm not actually using any operators. The following script gives me the warning:

[code]

[2017-10-05 17:42] RobinBuschmann commented on #153
@csreid Ah ok, thanks for clearing this. On which sequelize version does this happen?

@mctep So this happens with sequelize only as well?

[2017-10-05 18:00] csreid commented on #153
Sequelize is at `4.13.3`.

Whole `package.json` is here:

[code]

[2017-10-05 18:27] RobinBuschmann commented on #155
Hey @oscarcalvo thanks for reporting this. `separate: boolean` needs to be added to the `IIncludeOptions`.

For now you can make the compiler happy with this:
[code]

(This seems to be missing on the sequelize typings as well)

[2017-10-06 09:31] oscarcalvo commented on #155
ok thanks you

[2017-10-06 09:31] #155 closed

[2017-10-06 10:04] mctep commented on #153
@RobinBuschmann Yes. In `sequelize > 4.12.0`

[2017-10-06 10:59] RobinBuschmann commented on #153
@mctep Thanks, then you're absolutely right: This is a sequelize issue.

[2017-10-06 10:59] #153 closed

[2017-10-06 18:59] nullpixel commented on #123
I get this error too, really stumped. It occurs when calling any constructor on the model :(

[2017-10-06 19:54] RobinBuschmann commented on #123
@nullpixel can you provide an example project? So that i can have a Look? :)

[2017-10-06 20:08] nullpixel commented on #123
Uhh, is it okay if I make a private repo with a lot of half finished code? Or do you want me to try and reproduce it in a sample project

[2017-10-06 20:15] RobinBuschmann commented on #123
Half finished code is okay ;)

[2017-10-06 20:15] nullpixel commented on #123
I'll invite you, gimme a sec

[2017-10-06 20:20] nullpixel commented on #123
Invited, https://github.com/nullpixel/SuperchargeBackend/invitations

[2017-10-06 20:35] #154 closed

[2017-10-07 13:07] RobinBuschmann commented on #147
Hmm, until now I've tagged the `*-beta.*` releases with `--tag beta`, but I think you're right, `--tag next` seems to be best practice - especially to make `install ...@next` possible.

One question is left from my side: What needs to be done to give travis permission to publish to npm? Is setting the NPM_TOKEN as environment variable enough to achieve this?

[2017-10-07 13:08] RobinBuschmann commented on #152
@dragosbulugean Does this work for you? If you're happy with my answer feel free to close this issue :)

[2017-10-07 13:10] RobinBuschmann commented on #149
Ha, meaningful comment 😂

[2017-10-07 13:11] #140 closed

[2017-10-07 13:12] #129 closed

[2017-10-07 13:13] #130 closed

[2017-10-07 13:15] #104 closed

[2017-10-07 13:16] #108 closed

[2017-10-07 13:17] #123 closed

[2017-10-07 13:20] RobinBuschmann commented on #132
Hey @santiagodoldan, I think we shouldn't change as less of the behavior of sequelize as possible. So this should not be implemented in sequelize-typescript but in sequelize. Here is a discussion on this issue: https://github.com/sequelize/sequelize/issues/3759

[2017-10-07 13:20] #132 closed

[2017-10-07 14:00] RobinBuschmann commented on #135
The find option `distinct: true` does not seem to work in general.

https://github.com/sequelize/sequelize/issues/6953
https://github.com/sequelize/sequelize/issues/2713

[2017-10-07 14:12] #150 closed

[2017-10-07 14:52] #118 closed

[2017-10-07 14:52] #124 closed

[2017-10-07 14:52] #146 closed

[2017-10-07 14:52] #149 closed

[2017-10-07 15:01] RobinBuschmann opened #157 "Drop sequelize version 3 support for future releases"
Supporting v3 and v4 at the same time makes the code base unnecessarily complex and improvements much more difficult. Since sequelize v4 is available for some month now, I think it makes sense to drop support for version 3.

@bilby91 @snewell92 @BruceHem What do you think about it?

[2017-10-07 15:19] #152 closed

[2017-10-07 16:11] bilby91 commented on #157
I have the same opinion here! 

+1

Martín

On Sat, Oct 07, 2017 at 12:01 Robin Buschmann

<
mailto:Robin Buschmann <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Supporting v3 and v4 at the same time makes the code base unnecessarily complex and improvements much more difficult. Since sequelize v4 is available for some month now, I think it makes sen

[2017-10-07 23:18] bilby91 commented on #147
@RobinBuschmann Great!

Yes, NPM_TOKEN should be available as an environment variable. You can take a look here for a simple example https://github.com/suttna/botbuilder-slack/blob/master/circle.yml

[2017-10-08 02:54] BruceHem commented on #157
@RobinBuschmann to be honest, I think it's best to drop support for v3.

[2017-10-08 12:53] nullpixel commented on #157
+1

[2017-10-08 15:17] doovers commented on #123
Was this issue resolved? I'm having the same problem.

[2017-10-08 16:01] doovers commented on #138
@ibox4real How did you disable classTransformers?

[2017-10-08 17:54] RobinBuschmann commented on #123
@doovers For nullpixel it was a typo like here: https://github.com/RobinBuschmann/sequelize-typescript/issues/72#issuecomment-319155934 (See more about this issue here https://stackoverflow.com/a/23289441)

[2017-10-08 18:04] ibox4real commented on #138
I'm using  pleerock/routing-controllers which uses pleerock/class-transformer
To disable classTransformer you need to specify a { classTransformer: false } in RoutingControllerOptions when creating a server.

[2017-10-08 18:06] doovers commented on #123
@RobinBuschmann Oops I should have mentioned I was referring to the `Class constructor MyModel cannot be invoked without 'new'` error. Any ideas on that?

tsconfi.json:

[code]

[2017-10-08 18:08] doovers commented on #138
@ibox4real Not sure how I can do something similar with my setup but thanks for the response!

[2017-10-08 19:45] RobinBuschmann commented on #123
@doovers What is the compile target (es5, es6?)? Where is the error thrown (stack trace)?

[2017-10-08 19:53] doovers commented on #123
es5:

[code]

es6:

[code]

[2017-10-08 19:58] doovers commented on #123
@RobinBuschmann Why is module sequelize-typescript not found using es6?

[2017-10-09 05:44] RobinBuschmann commented on #123
@doovers The path looks strange to me `~/my-project/...`. Can provide your sequelize configuration as well?

[2017-10-09 06:25] nullpixel commented on #123
@RobinBuschmann I could make a PR to make that error have more meaning, atm it’s thrown for a lot of things

[2017-10-09 10:44] RobinBuschmann commented on #123
@nullpixel any help is appreciated :) What exact error message do you mean?

[2017-10-09 10:54] BruceHem opened #158 "Consider removing createdAt, updatedAt, deletedAt from type definition file."
@RobinBuschmann I think we should remove them, and let users define themselves. Because let say I override the timestamps behaviour in the global define config to be created_date, updated_date, or deleted_date. In this case I would have these "createdAt, updatedAt, deletedAt" giving intellisense when they are not there. What do you think?

[2017-10-09 13:40] snewell92 commented on #157
I agree.

And if someone needs v3 support (lock in on production or something), it would be easy to either 1, pin `sequelize-typescript` to an older version with v3 support, or 2 - fork this repo, reset to a commit with v3 support, and just use that indefinitely (since sequelize v3 isn't going to undergo any major breaking changes, barring some security issue... in which case the sequelize team ma

[2017-10-09 14:06] doovers commented on #123
@RobinBuschmann Sorry I just removed the full path to make it easier to read!

[code]

[2017-10-10 15:20] jbender commented on #147
FWIW here are the docs: https://docs.travis-ci.com/user/deployment/npm/

You'll want to add
[code]

then add your encrypted token:
[code]

[2017-10-10 17:34] RobinBuschmann commented on #123
@doovers Looks good to me. I need to have a look at the code to - do you have an example project?

[2017-10-10 17:37] nullpixel commented on #123
@RobinBuschmann Talking about the createdAt error. It's confusing - it should be possible to figure out what makes it undefined, and throw a more helpful error at sequelize-typescript level

[2017-10-10 17:46] RobinBuschmann commented on #123
@nullpixel Can you give me an example of when the createdAt error occurs? I'm unable to reproduce it

[2017-10-10 18:31] doovers commented on #123
@RobinBuschmann Code sample below. If you need any more detail, let me know. Also curious how to associate the same model twice to the same parent... Note commented properties in customer and phone models... Try `npm run offline` with target es5 and es6

excerpt from package.json:
[code]

tsconfig.json
[code]
handler.ts
[code]
customer.model.ts
[code]
phone.model.ts
[code]
address.model.ts
[code]

[2017-10-10 19:23] nullpixel commented on #123
It happens for seemingly unrelated things, such as incorrect casing on a file name

[2017-10-10 19:51] snewell92 opened #159 "Sequelize Migrations"
This is probably beyond the scope of this package, but I'm interested in how other users approach and handle migrations. Since Sequelize has a CLI that can generate migration files, do y'all use that and copy the javascript file into your code bases?

Is there a way we could create a sequelize-typescript migration generator? (I don't really care about having the full sequelize cli, just migrations

[2017-10-11 06:20] RobinBuschmann commented on #123
hey @doovers, thanks, but do you have a repo instead? Would be much easier for me :)

[2017-10-11 14:24] connected-pjeri opened #160 "Polymorphic Through"
Using: `"sequelize-typescript": "0.4.0-beta"`

I'm having some trouble figuring out how to do polymorphic model definitions so that the queries work as expected. I'm trying to do a **Subscription** table eg:

[code]

I'm focusing on getting **USER** to work first. I want to be able to get all the users a particular user has subscribed to. So I have something like this:

[code]

[code]

This looks

[2017-10-11 15:11] connected-pjeri commented on #160
**Update**
How could I achieve it if I treat Subscription as a through table:

[code]

[2017-10-11 15:33] RobinBuschmann commented on #158
@BruceHem I thought about it too. But someone how'd like to use `@Table({timestamps: true})` only, wouldn't get autocompletion at all anymore.

[2017-10-11 15:38] RobinBuschmann commented on #159
Hey @snewell92 currently I'm using the package `db-migrate` for my migrations.

I didn't use sequelize migrations yet. So I need to have a look into it before I can give any answers. I will give sequelize migrations a try...and come back with my thoughts about it.

[2017-10-11 15:41] RobinBuschmann commented on #160
So you want to implement a many-to-many relation, where the subscription table is the through table?

[2017-10-11 15:45] RobinBuschmann commented on #147
@jbender thanks for your input :) but as stated here https://github.com/RobinBuschmann/sequelize-typescript/pull/143#issuecomment-331995668, I will configure it in a different way

[2017-10-11 15:49] snewell92 commented on #159
I was reading the `sequelize/cli` docs - apparently v4 support is still in progress - so I'm not sure if the v4 model definitions are even compatible with the cli.

If you use `db-migrate`, I'll probably end up doing that, it seems a lot simpler than sequelize. My only desire is to have the datatypes I use in my models' annotations to match what I use in the migrations.

I'm coming from a Code-Fir

[2017-10-11 15:55] connected-pjeri commented on #160
Correct. So that ultimately I can query things like:
[code]

[2017-10-11 16:45] doovers commented on #123
@RobinBuschmann No worries! [aws-lambda-api-test](https://github.com/doovers/aws-lambda-api-test)

[2017-10-11 17:26] RobinBuschmann commented on #123
@doovers As stated before you need to set target to `es6` when using es6 classes. Furthermore you need to tell the typescript compiler how to resolve the modules. So the following configuration works for me:

[code]

[2017-10-11 17:34] bilby91 opened #161 "IFindOptions can be generic ?"
Hello,

I was wondering if `IFindOptions` could be a generic type. Sequelize `WhereOptions` are defined as:

[code]

If we make `IFindOptions` generic we can take advantage of typesafety on the `where` key. Basically, https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/interfaces/IFindOptions.ts#L14 would be:

[code]

[2017-10-11 17:39] RobinBuschmann commented on #160
Did you tried something like:

[code]

[2017-10-11 17:50] RobinBuschmann commented on #161
Yeah, makes perfect sense. So that all the static functions in `Model.d.ts` needs to be adjusted like `findAll`, which would become `static findAll<T extends Model<T>>(options?: IFindOptions<T>): Promise<T[]>;`

[2017-10-11 18:03] bilby91 commented on #161
Hey @RobinBuschmann, PR submitted :)

[2017-10-11 18:18] #161 closed

[2017-10-11 18:43] bilby91 commented on #161
Awesome!!

Can we get a new beta version ?

Thanks as usual for the super fast response time!

[2017-10-11 18:51] connected-pjeri commented on #160
If you remove the `subscriberType` column then that's not polymorphic.

[2017-10-11 19:49] doovers commented on #123
@RobinBuschmann Awesome! Thanks for figuring that out. My problem was I was missing the module & module resolution params in the tsconfig! Do you have any insight on the other problem of having the phone model as a child of customer twice? As a fax and phone property?

[2017-10-11 20:48] RobinBuschmann commented on #160
Ah, sry, my fault. This would be the proper way then:

[code]

But when querying the data, the created sql string doesn't seem to work unfortunately. I will look into this soon.

[2017-10-11 20:56] RobinBuschmann commented on #161
Strange, the PR build succeeded but after it was merged, the build fails now. Can see the issue? tsc cannot compile some specs anymore. Can you take care of it? Otherwise I will do it tomorrow.

[2017-10-11 21:07] bilby91 commented on #161
@RobinBuschmann Check https://github.com/RobinBuschmann/sequelize-typescript/pull/163

[2017-10-12 06:18] RobinBuschmann commented on #161
Perfect, thanks! I will publish a new beta-release now

[2017-10-12 06:25] RobinBuschmann commented on #161
Its done!

[2017-10-12 10:11] RobinBuschmann commented on #123
@doovers This should help https://github.com/RobinBuschmann/sequelize-typescript#multiple-relations-of-same-models :)

[2017-10-12 10:29] RobinBuschmann commented on #159
Any ideas on how this could be achieved? I'm thinking of some kind of a snapshot file of the current state of the model, which is created beside each migration. When creating further migrations this snapshot will be used to compare the old state (from the snapshot file) with the current state of the model. Sounds like a very interesting project to me... but very complex as well 🙈

[2017-10-12 13:51] bilby91 commented on #159
Hey,

We have been using `sequelize-cli` for almose 3 month now. Running with v4 sequelize code without any issue. We come from a rails background and the similar approach to handler migrations is really nice.

Are you experiencing any particular issue @snewell92  ?

[2017-10-12 15:11] doovers commented on #123
@RobinBuschmann Thanks. I did actually read that but the problem I have is setting the belongs to in the phone model.

[code]

Ideally I would set it up like this but it gives me a duplicate identifier error as both phoneId and faxId have the same parent identifier customer. Is there any way to apply multiple foreign keys to the same identifier? Something like:

`@BelongsTo(() => Customer, ['phone

[2017-10-12 19:57] schmod commented on #146
Thanks! Sorry for not getting around to submitting a PR.

[2017-10-12 20:14] snewell92 commented on #159
Neat! I was trying to use typescript files, so in my `src` dir a `migrations` folder with typescript files, and I wanted to compile them down to js files that sequelize could use. I opted to just have migrations in javascript.

[2017-10-12 20:14] #159 closed

[2017-10-12 20:16] snewell92 commented on #159
@RobinBuschmann It does sound interesting, but yes - complex. I'm going to drop it, as your solution, and @bilby91 's solution should work fine for most people. `sequelize-cli` has an open issue about typescript support I believe, and `db-migrate` can have plugins written to allow authoring of typescript migration files.

[2017-10-12 20:29] schmod opened #165 "Bluebird version conflict"
There appears to be a minor version incompatibility between the version of the Bluebird typings required by this project(3.5.4), and the latest version of those typings (3.5.15).

 It may make sense to alter this project's `package.json` to play nicely with newer semver-minor releases of the Sequelize and Bluebird typings.

`@types/sequelize` is _super-generous_, and actually just specifies `@type

[2017-10-13 14:36] schmod commented on #161
I don't quite see how this accomplishes the same thing as `WhereOptions<T>` in `@types/sequelize`, given how <T> is typically passed into `FindOptions`:

[code]

In that case, the user is allowed to generify `findAll` to search on properties present on the model, or some other field(??) as defined in the `TCustomAttributes` generic.

`@types/sequelize` has virtually no test coverage of `findAll` b

[2017-10-13 14:43] schmod commented on #161
As an aside, I have vague concerns about this library's "drift" away from `@types/sequelize`, and its heavy reliance on static methods on `Model`, which has led to verbose code and hard-to-debug errors in our codebase (ie. having to write out `User.findAll<User>`)

[2017-10-13 21:56] devuxer opened #167 "Options is missing operatorsAliases"
Please add `operatorsAliases` to the Sequelize `Options` interface.

The type should `object | boolean`

This is needed to be able the follow the advice in [this issue](https://github.com/sequelize/sequelize/issues/8417) re: string-based operators.

[2017-10-14 07:02] ShaharHD commented on #158
An idea ... what if in addition to having `extends Model<classname>` it will be more like: `extends Model<classname>, TimeStampAttributes` - is it a possible solution?

[2017-10-14 11:45] RobinBuschmann commented on #147
@bilby91 This `npm version prerelease` only increases `*-beta.x`, right? So the new upcoming versions has to be set manually or do I overseen something?

[2017-10-14 11:48] RobinBuschmann commented on #158
An interface would be an option instead. @ShaharHD Multiple inheritance is not supported :)

[2017-10-14 11:52] RobinBuschmann commented on #167
@devuxer thanks for reporting. This will be fixed with #166

[2017-10-14 12:15] RobinBuschmann commented on #160
What I can already say is, that querying data with this model configuration doesn't work with pure sequelize, too.

[2017-10-14 13:24] RobinBuschmann commented on #160
OK, it is possible. But therefor it is necessary to set through options to the belongsToMany options. See #122

[2017-10-15 01:40] ShaharHD commented on #158
I've meant `TimeStampAttributes` to be an interface

[2017-10-15 01:51] ShaharHD opened #168 "Transaction type exported"
When using
[code]
the type of `t` is different than the one from Sequelize (which is fine IMHO) but the issue is that with TypeScript if I have methods which receives the Transaction for internal usage I can't specify the parameter type as it is not exposed by `sequelize-typescript` and I have to leave `t` in method as either `any` or typeless.

Before using `sequelize-typescript` I was using `imp

[2017-10-15 02:27] ShaharHD opened #169 "Sequelize class missing Op"
In Sequelize v4 Op `Sequelize.Op` became a recommended usage for building queries [operators-security](http://docs.sequelizejs.com/manual/tutorial/querying.html#operators-security)

Could it be the type definitions are out of date? which is why it's missing `Op`?

[2017-10-15 10:10] BruceHem commented on #158
Then we would get something like:

[code]
a bit verbose IMHO

[2017-10-16 10:14] ShaharHD opened #170 "DataType.GEOMETRY not supported?"
Creating a model with `@Column(DataType.GEOMETRY('point'))` such as:

[code]
or

[code]

Upon trying to create a new model record with the specific field:
[code]

is always generating the following error:
`column "geo_location" is of type point but expression is of type geometry`

The field type is `point` (as it should be) ... but for some reason `sequelize-typescript` seems to not propagate corr

[2017-10-16 13:38] connected-pjeri commented on #160
I see. I appreciate you looking into this in such a short time @RobinBuschmann :)

[2017-10-16 14:27] bilby91 commented on #147
@RobinBuschmann Yep, that is correct. To move to next version a new commit with the bump change needs to be done. Just that

[2017-10-16 18:02] RobinBuschmann commented on #169
@ShaharHD thanks for reporting. This will be fixed with #166

[2017-10-16 18:16] RobinBuschmann commented on #170
@ShaharHD Which sequelize version are you using?

With the following setup it is working well for me:

[code]

[code]

[2017-10-16 18:20] RobinBuschmann commented on #168
`import {Transaction} from "sequelize";` should be working for that. I cannot reproduce this issue. Can you provide an example repo? Thank you

[2017-10-16 23:23] ShaharHD commented on #170
All latest versions.

[code]

I also have the following (if it makes any difference)
[code]

The other difference might be that I'm using Postgres and you're testing with a different DB?
I'll create a test project repo - and will update.

[2017-10-17 06:16] RobinBuschmann commented on #170
I've tested it on mysql and postgres. On both it is working. Can you provide a stack trace to your error as well?

[2017-10-17 10:14] ibox4real opened #171 "Testing models"
Is there a simple way to test the models in isolation?

If i run this i get an exception
[code]

[code]

I guess its because the connection was not initialized. Any advice on how to get around this?

[2017-10-17 12:21] RobinBuschmann commented on #171
The Models need to be initialized, but if you don't want them to be connected to a database, you can create a validation-only `Sequelize` instance like so:

[code]

(The error message is not really helpful, I know - this will be fixed soon)

[2017-10-17 12:26] ibox4real commented on #171
This will suffice, thank you!

[2017-10-17 12:27] #171 closed

[2017-10-17 22:53] ShaharHD commented on #168
I think I might have found what causing the issue on my end:
Can please you try to include `@types/sequelize` in your test?

I have to use it - as without it my `tsc` just goes to 100% and doesn't finish the build it seems...

[2017-10-18 06:10] RobinBuschmann commented on #168
`@types/sequelize` is installed automatically cause it is a dependency of `sequelize-typescript`

[2017-10-18 17:38] connected-pjeri opened #173 "$add method interface"
On the `$add` method interface its return value is `Promise<this>` but this isn't the case for m:n eg:

[code]

If the source was already set, it returns [].

Monkey patch is to set that interface to return `Promise<any>` but better solution would just be to create an interface for it.

**(L419 Model.d.ts) Eg**: `$add<R extends Model<R>>(propertyKey: string, instances: R|R[], options?: IAssociatio

[2017-10-19 10:51] tomislavhren opened #174 "Composite unique constraint ?"
How can set composite unique constraint ?
e.g. I have class

[code]

and I want to have unique(otherId, something).

[2017-10-19 18:37] RobinBuschmann commented on #173
So it should look rather like that: `$add<R extends Model<R>>(propertyKey: string, instances: R|R[], options?: IAssociationActionOptions): Promise<this>|[];`?

Can you provide an example? So in which exact case it is `[]`? Thank you :)

[2017-10-19 18:44] RobinBuschmann commented on #174
Hey @tomislavhren , you can achieve this like so:

[code]

[2017-10-19 19:27] connected-pjeri commented on #173
Assume you have m:n models defined with their joint table defined as a model (in order to be able to access hooks on those joins) . Then attempt to `$add` the association.

Examples below:

**Models**
[code]

[code]

If you log the return value on a successful `$add` you get the example shown above, otherwise if you try again but the source has already been added then you get `[]`.

[2017-10-22 17:30] samanmohamadi opened #175 "Property getFoo does not exist on type Bar"
[code]
when I call `getFoo` on `Bar` instance I get this error:
**Property getFoo does not exist on type Bar**

how can I prevent this?

[2017-10-22 18:06] RobinBuschmann commented on #175
Since typescript cannot know of these dynamically generated methods, `sequelize-typescript` provides additional methods like `$get`, `$add` and so on you need to do it like this: `instance.$get('foo')`

[2017-10-22 18:08] samanmohamadi commented on #175
Thanks

[2017-10-22 18:08] #175 closed

[2017-10-22 19:04] samanmohamadi commented on #175
How could I achieve this: `bar.getFoo(where{....});`

[2017-10-22 20:17] RobinBuschmann commented on #175
As a second parameter you can add your options. Unfortunately they are only marked as `any`. But it should work: `instance.$get('foo', {where: {}})`;

[2017-10-23 19:35] RobinBuschmann opened #176 "Implement possibility to pass constraint keys to @Unique decorator"

[2017-10-24 05:32] onebesky opened #177 "Glob based model paths"
Some projects keep models within modules right next to controllers. Current implementation of sequelize-typescript allows to specify only path to folder with models.

What do you think about adding support for the following configuration:
[code]

[2017-10-24 06:19] RobinBuschmann commented on #177
Sounds good. I think we should implement this next.

[2017-10-24 06:20] RobinBuschmann commented on #177
#24

[2017-10-24 16:40] SaadiKarim opened #178 "@Table annotation is missing on class ..."
Hi,
An error is thrown on the creation of my Sequelize instance.
I'm using the `modelPaths: [__dirname + '/../models/']` way
and for some reason it says that the @Table annotation is missing on the first model of the folder...

Here's a code sample
`import {
  AutoIncrement, Column, CreatedAt, DataType, Model,PrimaryKey, Table, UpdatedAt
} from "sequelize-typescript";`

`@Table({
  modelName: "Boo

[2017-10-24 17:16] SaadiKarim commented on #178
Hi again,
I may have something. I work on a Sails.js project, and for some reasons one of my coworker required a model on a Sails.js pocily like so
`let UserModel = require("../models/UserModel");`

If I remove this line everything works fine.
Is there a reason why we shouldn't require models ?

Thx

[2017-10-24 17:34] RobinBuschmann commented on #178
Hey @SaadiKarim can you provide the full error message including the stack trace?

[2017-10-24 20:24] RobinBuschmann opened #179 "Testing + code coverage setup issues"
weird code coverage reports are generated (including js and ts files for instance)

[2017-10-25 07:26] mengkheang commented on #58
@RobinBuschmann I can't use the way you mention. the compiler throw an error
![image](https://user-images.githubusercontent.com/8617506/31985766-68a94796-b990-11e7-879e-8a216abe45ea.png)

[2017-10-25 07:42] SaadiKarim commented on #178
Yep here it is
`Error: @Table annotation is missing on class "BookingModel"
    at OriginSequelize.defineModels.models.forEach.model (c:\dossin-booking-api\node_modules\sequelize-typescript\lib\models\v4\Sequelize.js:53:23)
    at Array.forEach (native)
    at Sequelize.defineModels (c:\dossin-booking-api\node_modules\sequelize-typescript\lib\models\v4\Sequelize.js:48:16)
    at Sequelize.BaseSequ

[2017-10-25 07:51] RobinBuschmann commented on #58
This is caused by the `noImplicitAny: true` tsc compiler option. You can avoid this via `Sequelize['useCLS' as  any](namespace)`.

But we should add `useCLS` to the typings.

[2017-10-25 08:01] mengkheang commented on #58
@RobinBuschmann yeah adding it to the typing would be nice.

[2017-10-25 08:09] mengkheang commented on #58
@RobinBuschmann still the same error by using `Sequelize['useCLS' as any](namespace)`.  I tried `(Sequelize as any)['useCLS'](namespace);` still didn't work

![image](https://user-images.githubusercontent.com/8617506/31987516-437448f8-b996-11e7-8ae8-4a6ff4e9b000.png)

select statement didn't execute the transaction it's executing the default.
![image](https://user-images.githubusercontent.com/8617

[2017-10-25 09:04] SaadiKarim commented on #178
Well this is getting crazy...when I rename my file Booking Class file "UserA.ts" it works, but as soon as I give it it's original name ('Booking.ts') the 'Annotion Missing' occures...could this have something to do with the TS transpilation ?

[2017-10-25 17:38] RobinBuschmann commented on #178
Do you have an example repo where I can have a look at?

[2017-10-25 18:24] RobinBuschmann commented on #58
@mengkheang your screens looking good to me. According to the sequelize docs it seems to be working like it should: http://docs.sequelizejs.com/manual/tutorial/transactions.html

[2017-10-26 01:21] mengkheang commented on #58
@RobinBuschmann as you can see in the sql log the select statement doesn't execute with the transaction id

[2017-10-26 07:44] RobinBuschmann commented on #58
@mengkheang Sry, I didn't notice. Did you tried it with pure sequelize?

[2017-10-27 01:01] mengkheang commented on #58
@RobinBuschmann haven't tried it yet let me try it.

[2017-10-27 02:32] mengkheang commented on #58
@RobinBuschmann it's working with pure sequelize

[code]
SQL log

[code]

[2017-10-27 03:22] mengkheang commented on #58
@RobinBuschmann finally got it's working using it origin class

[code]

[2017-10-27 04:55] RobinBuschmann commented on #58
@mengkheang so you set useCLS on the origin sequelize class, continued using a sequelize-typescript sequelize instance and it is working now? Strange, but good to here that you got it to work. However this need to be investigated. Thanks for posting this!

[2017-10-27 07:45] mengkheang commented on #58
@RobinBuschmann yeah I set useCLS on the origin sequelize class but I use sequelize-typescript instance  and it's working.

[2017-10-27 08:01] BruceHem commented on #58
@mengkheang what sorcery is this?

[2017-10-27 08:02] mengkheang commented on #58
@BruceHem hack

[2017-10-30 04:33] notedit opened #180 "Cannot invoke an expression whose type lacks a call signature"
typescript  2.5.3

[code]

file: 'file:///Users/xiang/Work/xiaobankets/src/models.ts'
severity: 'Error'
message: 'Unable to resolve signature of class decorator when called as an expression.
  Cannot invoke an expression whose type lacks a call signature.'
at: '28,1'
source: 'ts'

[2017-10-30 06:53] #180 closed

[2017-10-30 07:31] RobinBuschmann commented on #180
Hey @notedit, did you solved your problem or are there any questions left? :)

[2017-10-30 11:30] victorivens05 commented on #177
Hey guys.
I made some simple changes and was about to make sure they worked, before I opened a PR, when I found this discussion.
So, what will be done? Add the include option in the sequelize constructor or implement glob in the `modelPaths`?

[2017-10-30 13:08] RobinBuschmann commented on #177
Using `modelPaths` for an additional globing functionality should be fine. So that using a path to a directory with `modelPaths` should continue working as well.

@victorivens05 What is you suggestion?

[2017-10-30 14:29] victorivens05 commented on #177
@RobinBuschmann in my tests I managed to use glob and folder together.
Using glob, if you pass a folder: `c:\project\models` it doesn't return anything, but there's a method called `glob.hasMagic` with which we can detect if the user passed a folder or a glob.
If the user passed a folder, we concatenate with `\*` and get every file in the folder.

It should work, unless some user has a folder call

[2017-10-30 14:51] RobinBuschmann commented on #177
@victorivens05 Sounds good! Don't worry. Create your PR and we will have a look :) If there is something that need to be adjusted we can discuss that in the context of your PR. If you have any questions don't hesitate to ask.

[2017-10-30 16:21] victorivens05 commented on #177
I just submitted the PR. I already think some stuff should be done differently. I didn't create a test, I'd like to create one, but I would need some help to figure out where and how it should be done.

[2017-10-30 18:32] snewell92 commented on #177
Worth mentioning from [this other issue thread](https://github.com/RobinBuschmann/sequelize-typescript/issues/24#issuecomment-308157677)

It might be a good idea to leave `modelPaths` alone, and then add `include` and `exclude` options that do exactly what your PR is doing for `modelPaths`.

I'll defer to @RobinBuschmann - it will be super nice to have globs either which way imo. :D

[2017-10-30 19:02] RobinBuschmann commented on #177
@snewell92 ha, maybe I'm right with that one. We could use an option called `models` for passing either an array of paths, of globs or of model references to simplify and mark `modelPaths` as deprecated... or `include` as initially intended.

@victorivens05

[2017-10-30 19:13] victorivens05 commented on #177
In my opinion, a breaking change should only be made when there is a great benefit attached to it or there is no other way to solve a problem.

The way the PR was submitted, nothing will have to change and there will be a new (altough small) feature.

[2017-10-31 06:16] chaoxihailing opened #182 "how should i run sequelize-typescript example demo？"
I build typescript file to JavaScript file， and I execute  JavaScript file like below

![image](https://user-images.githubusercontent.com/17508916/32209898-a48445c2-be45-11e7-9741-899bdd7ec306.png)

it report error cannot find module， but I use npm install before build typescript file， please tell me how to do to run this example demo ；

[2017-10-31 10:42] RobinBuschmann commented on #182
Hey @chaoxihailing did you compile the ts files in `lib` directory as well?

[2017-10-31 17:08] victorivens05 commented on #177
I think this PR #181 closes this issue.

[2017-10-31 18:30] RobinBuschmann commented on #177
Closed due to #181

[2017-10-31 18:30] #177 closed

[2017-10-31 18:30] #174 closed

[2017-11-01 07:15] micksatana opened #183 "After upgrade to typescript 2.6.1 will get IFindOptions error"
After upgrade to typescript 2.6.1 will get this error.

`error TS2345: Argument of type ... is not assignable to parameter of type 'IFindOptions'.   Types of property 'where' are incompatible.`

Workaround: lock the typescript version to 2.5.3

Not sure if the issue similar to #106

[2017-11-01 07:24] RobinBuschmann commented on #183
@micksatana Thanks for reporting. Can you provide a `find` example? Or does this happen with any passed option to `where`?

[2017-11-01 08:13] chaoxihailing commented on #182
maybe, it is ok now， thanks。

[2017-11-01 08:14] #182 closed

[2017-11-01 09:18] chaoxihailing opened #184 "create User but not get deliver value to insert to database"
I define User model like below

    import { sequelize, Sequelize } from "../db";
    import { Instance, DataTypes } from "sequelize";
    import {Table, Model, PrimaryKey, Column, AutoIncrement, BelongsToMany,
        DefaultScope, Scopes, CreatedAt, UpdatedAt} from "sequelize-typescript";

    @Table
    export class User extends Model<User> {
        @PrimaryKey
        @AutoIncrement
        @

[2017-11-02 10:52] shuaqq2004 commented on #183
I've got this bug after upgrading the typescript 2.6.1

[2017-11-02 15:32] rocky-bgta opened #185 "Index annotation"
How I can create Index on column by annotation

[2017-11-02 18:35] RobinBuschmann commented on #184
Hey @chaoxihailing, the data is stored correctly, right? The only issue is, that the data does not appear in the response? Which framework are you using for the http request handling? Do you have an example repo, where I can have a look at?

[2017-11-02 18:49] RobinBuschmann commented on #185
This is the way to go :)

[code]

[2017-11-02 18:55] RobinBuschmann commented on #173
Since `$add` is a function from `sequelize-typescript` I would suggest a more consistent way here. Which means, let's ensure that a `Promise` is always returned, in any case.

@connected-pjeri What do you think about it?

[2017-11-03 01:41] Tower450 opened #187 "Any typing for this sequelize-typescript :)"
I'm trying to find the @types/sequelize-typescript to not have a compiler error (it still run lol but it's annoying), is it avaible somewhere or it need to be created?

Thanks a lot!

[2017-11-03 01:44] BruceHem commented on #187
@Tower450 first of all sequelize-typescript is not a framework. And it does have typings.

[2017-11-03 01:46] Tower450 commented on #187
Thanks i know it's not a framework sorry for the word i used, can you share it to me i'm not able to find it

[2017-11-03 01:48] BruceHem commented on #187
@Tower450 this lib is already written in typescript, hmm how comes u don’t have typings?

[2017-11-03 01:48] Tower450 commented on #187
My VScode is showing me module not found but it does compile lol

[2017-11-03 01:53] Tower450 commented on #187
it worked nevermind sorry thanks for your help

[2017-11-03 02:13] micksatana commented on #183
@RobinBuschmann

Typescript
[code]

Will returns this error
[code]

[2017-11-03 06:48] RobinBuschmann commented on #187
Hey @Tower450, what need to be done to get it working with vscode? :)
I didn‘t get the “you should put the npm install with @types...” - can you explain it again for me? :)

[2017-11-03 09:39] rocky-bgta commented on #185
CREATE UNIQUE INDEX lower_case_username ON users ((lower(username)));

[2017-11-03 09:42] rocky-bgta commented on #185
Thanks for your replay.
But I to create insensitive unique index like this:
CREATE UNIQUE INDEX lower_case_username ON users ((lower(username)));

Please let me know how I can I implement this feature.

[2017-11-03 09:49] rocky-bgta opened #188 "Join query Issue"
I use this orm framework and done almost all task.
But I can't execute any **join query** using this orm feature, Also your documentation doesn't show
any join query example.

I tried several time so make join query work, but I failed.
So will please give a example of join query using your orm.

[2017-11-03 14:20] Tower450 commented on #187
Sure, when you want to use a typescript library and you install it with npm or yarn whatever, you need to install the library in the @types folder , but when you do npm install --save sequelize-typescript, it saves the folder in the root of node_modules instead of  @types folder so typescript compiler says that he do not find the module even if he actually finds it in some way at the execution.

[2017-11-03 14:22] Tower450 commented on #188
you can see with sequelize documentation
http://docs.sequelizejs.com/manual/tutorial/querying.html
You can actually do some find function into find function.

[2017-11-03 14:43] RobinBuschmann commented on #187
So the `sequelize-typescript` module folder is now located under `node_modules/@types/sequelize-typescript`? This is strange and shouldn't be necessary. I'm using JetBrains WebStorm, where it is working perfectly fine. Which typescript version are you using? I will try to reproduce it with vscode

[2017-11-03 14:49] Tower450 commented on #187
It's not typescript the problem, pretty sure it's the TSlint or VScode but stillz would be perfect to fixes this, would be cleaner. And yes i copied paste the folder into @types and it fixed my problem.

[2017-11-03 18:37] snewell92 commented on #187
@Tower450 In VSCode, with the way we structure our types, installing `sequelize-typescript` and `@types/sequelize` will work. I'd be interested in your `tsconfig.json` and the specific compile errors, as I haven't run into that error.

This is a snippet from my *package.json*

[code]

VSCode v1.17.2
Node 8.5.0
NPM 5.4.2

[2017-11-03 19:38] Tower450 commented on #187
ummm. @types/sequelize is in devDependencies it's the only difference

[2017-11-03 21:54] snewell92 commented on #187
Welp - if you think it's a problem with TSlint or VScode you could submit an issue on their repos.

This package doesn't need to do anything - and other modules like `ava` and `angular`, also don't need to be installed under `@types` to get intellisense or compilation to work properly in VSCode.

[2017-11-03 22:57] Tower450 commented on #187
alright thanks for the info guys i appreciate! :) anyway i found a solution

[2017-11-04 21:12] #122 closed

[2017-11-04 21:12] #179 closed

[2017-11-06 02:06] Patrax commented on #173
Much like findOrCreate I think it should return a `Promise([this, boolean] )` to know if its a new add.

[2017-11-06 22:27] Tower450 commented on #187
Guys you really need to put the definition in @types  change your READM.me with
[code]

[2017-11-06 22:46] Tower450 commented on #187
Here is a screenshot of what it's doing with all your configuration.
I hope it can help, i showed the error to a senior and he did not understand like you guys but i'm pretty i am on a defect in some way. But i do agree that everything on your side seems to be good.

<img width="1298" alt="screen shot 2017-11-06 at 5 40 24 pm" src="https://user-images.githubusercontent.com/15604441/32467925-409370

[2017-11-06 23:13] BruceHem commented on #187
@Tower450 I’m using sequelize typescript in one of my projects. This lib already provides type definition files so we don’t need to publish it to @types. U better check your tsconfig.json file or something else.

[2017-11-07 06:49] RobinBuschmann commented on #187
@Tower450 can you provide an example repo, which reproduces the issue?

[2017-11-07 12:14] bosunolanrewaju opened #190 "Typescript compiler output bunch of errors for version 0.6.0-beta.3"
Anybody familiar with this error when compiling a project running `sequelize-typescript v 0.6.0-beta.3`:

[code]

Plus many others similar to this one.

Is there any settings or configuration setup that I am missing?

[2017-11-07 13:41] RobinBuschmann commented on #190
@bosunolanrewaju Looks like a bug. `typeof T` is invalid imo. @schmod or am I wrong?

[2017-11-07 15:30] schmod commented on #190
@bosunolanrewaju What version of typescript are you using?

[2017-11-07 15:36] Tower450 commented on #190
tsc -v 2.4.2 and the only solution is to copy the repository into
[code]
By the way, here is my tsconfig.json

[code]

[2017-11-07 15:37] Tower450 commented on #187
tsc -v 2.4.2 and the only solution is to copy the repository into
[code]
By the way, here is my tsconfig.json

[code]

[2017-11-07 15:39] schmod commented on #190
@Tower540 @bosunolanrewaju can you try again with TS 2.5.3?

That's what we use internally, and it seems to work.

[2017-11-07 15:40] Tower450 commented on #190
sorry i don't have this error, i was on the bad thread lol

[2017-11-07 16:00] schmod commented on #190
Looks like you need `skipLibCheck": true` in your `.tsconfig`.

[2017-11-07 16:04] Tower450 commented on #190
alright thanks bro! :)

[2017-11-07 16:05] RobinBuschmann commented on #187
@Tower450 Can you prepare a github repository for me? :) That would make it much easier for me

[2017-11-07 16:08] RobinBuschmann commented on #190
@schmod According to this issue: https://github.com/Microsoft/TypeScript/issues/204 `typeof T` is not valid unfortunately

[2017-11-07 16:26] bosunolanrewaju commented on #190
@schmod Typescript version is `2.6.1`

[2017-11-07 19:45] #190 closed

[2017-11-07 19:56] RobinBuschmann commented on #190
`v0.6.0-beta.4` is released now

[2017-11-08 05:35] mchencb opened #192 "Typings of `Model.find*` don't return instance of that model by default"
[code]

`sequelize-typescript` version: 0.5.0
`typescript` version: 2.6.1

[2017-11-08 06:50] RobinBuschmann commented on #192
@mchencb this is fixed with `sequelize-typescript@0.6.0-beta.4`

[2017-11-08 08:44] mchencb commented on #192
Cool! Thanks

[2017-11-08 08:46] #192 closed

[2017-11-08 10:39] azalpacir opened #193 "distinct property in IFindOptions"
Hello, i'm trying to do a findAndCountAll on one of the models and i've added an include property however i'm getting an error from the typings that distinct is not part of the property.

`BenefInsuranceTransaction.findAndCount({
            where: params,
            limit: take,
            offset: skip,
            attributes: ['Id','User','Ind','Stats'],
            include: [{model: BenefInsu

[2017-11-08 10:43] azalpacir commented on #183
Also getting the same error, downgraded to typescript 2.5.2 since it was the last one working.

[2017-11-08 11:02] RobinBuschmann commented on #193
@azalpacir Does [this](https://github.com/sequelize/sequelize/issues/2996#issuecomment-243636321) work for you?

[2017-11-08 12:09] azalpacir commented on #193
hello,

Sorry, I'm not sure how I will be able to use the distinct function in the link you gave because i need to count only if it has the associated model. hope you can enlighten me.

thanks.

[2017-11-08 14:56] snewell92 commented on #187
@Tower450 Either a small/minimal github repo (ideal) or a gist with `package.json`, `tsconfig.json` and a single typescript file that has that error you are seeing in VSCode would be helpful. None of our team has this issue, we just `npm install sequelize-typescript @types/sequelize` and it works (typescript can find all type definitions). In your screenshot it looks like you haven't configured ts

[2017-11-08 15:45] Tower450 commented on #187
there is my configuration
https://github.com/team-chiru/sidemark-back/tree/dev

[2017-11-08 16:00] snewell92 commented on #187
Try setting **moduleTesolution** -> `node` and **module** -> `commonjs`

[code]

[2017-11-08 16:03] Tower450 commented on #187
alright thanks :)

[2017-11-08 19:40] natesilva commented on #183
Some (not all) of these problems would be fixed if sequelize-typescript upgrades its embedded copy of `@types/sequelize` to version `4.0.78`.

[2017-11-08 19:41] natesilva commented on #183
Also the cause (at least for my cases) was the use of a `boolean` in a WHERE clause. TypeScript 2.6 must be more picky about that.

[2017-11-08 21:10] andineck commented on #82
I just ran into this problem as well:

Order must be type of array or instance of a valid sequelize method.
    at Object.getQueryOrders

with sequelize v4.19.0

The docs still has the "string example": http://docs.sequelizejs.com/manual/tutorial/models-usage.html
Project.findAll({order: 'title DESC'})

I think this is misleading.

[2017-11-11 02:19] blankstar85 commented on #183
I can concur. I use the @DefaultScope({where: {active: true}}) and get the same thing:
Argument of type '{ where: { active: boolean; }; }' is not assignable to parameter of type 'Function | IScopeFindOptions'.
  Type '{ where: { active: boolean; }; }' is not assignable to type 'IScopeFindOptions'.
    Types of property 'where' are incompatible.
      Type '{ active: boolean; }' is not assignable t

[2017-11-11 22:52] blankstar85 commented on #58
I have cls working on mine, and seems to be working correctly. here:
`class Database {
  private _sequelize: Sequelize;

  constructor() {
    (Sequelize as any)['useCLS'](ns);
    this._sequelize = new Sequelize({
      database: config.database,
      dialect: config.dialect,
      host: config.host,
      username: config.username,
      password: config.password,
      define: {
        freeze

[2017-11-12 18:23] #187 closed

[2017-11-13 23:50] santiagodoldan commented on #58
Here there's another workaround to enable CLS using `sequelize-typescript`

[code]

`__proto__` returns the original Sequelize class.

[2017-11-16 10:52] micksatana opened #196 "Some functions in Sequelize instance not detected by TypeScript"
~~Not sure if this line extends the class wrongly.~~

https://github.com/RobinBuschmann/sequelize-typescript/blob/1fda92ac34460fbfa82758bd8e0c33bedd1bfad6/lib/models/Sequelize.d.ts#L7

~~I track the code, the line above `SequelizeOrigin` referred to `SequelizeStatic` in @types/sequelize at [DefinitelyTyped/types/sequelize/index.d.ts#L6540](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/08

[2017-11-16 12:51] RobinBuschmann commented on #196
Hey @micksatana thank you for reporting. This should already work. I've tested it with the latest sequelize-typescript and typescript version - You're are absolutely right, it is not working :(

Probably it has to do with the new typescript version. Which typescript version are you using?

[2017-11-16 19:09] RobinBuschmann commented on #183
Anyone here experienced this error with another type than `boolean` in the where object literal? The error is caused by the sequelize typings -
 type `boolean` was missing in the WhereOptions (https://github.com/DefinitelyTyped/DefinitelyTyped/commit/8f53357a4cc054add2111f7c3a07a92541298b5c#diff-0e3744815a33a1dfe3285ef4f51888e9) The next beta release will include the latest sequelize typings.

[2017-11-16 19:15] RobinBuschmann commented on #196
Unfortunately this solution will not work, cause `SequelizeOrigin.Sequelize` is an interface. It throws `error TS2689: Cannot extend an interface 'SequelizeOrigin.Sequelize'.`

[2017-11-16 20:23] RobinBuschmann commented on #185
@rocky-bgta sry for the late response: Can you address this question in the sequelize repo to clarify how `CREATE UNIQUE INDEX lower_case_username ON users ((lower(username)));` can be achieved with pure sequelize?

[2017-11-16 20:24] RobinBuschmann commented on #193
Hey @azalpacir, sry for the late response. Can you tell me the exact SQL query you want to achieve?

[2017-11-17 01:20] azalpacir commented on #193
Hello,

I'm trying to use the findAndCountAll to be used for the pagination of the records. However when using the said function with the "include" property, I'm getting an incorrect count, which is an existing issue in sequelize. The solution was to add a "distinct" property to the main query in order to get the correct count but the sequelize-typescript model does not allow me to add the "distin

[2017-11-17 06:03] RobinBuschmann commented on #193
Ah sry, I misinterpreted your code example. You‘re right it is missing. I will mark this issue as a bug.

For now you could use distinct like so `{['distinct']: true}` or `{['distinct' as any]: true}`

[2017-11-17 06:53] micksatana commented on #196
Could you try this? I cannot re-produce on my side already, the problem seems to occur only the first time setup project. Now, I suspect it's IDE bug. I'm using PHPStorm 2017.2.4

https://github.com/micksatana/sequelize-functions-undetected-when-use-sequelize-typescript

[2017-11-19 14:13] RobinBuschmann commented on #196
Strange, autocomplete in your example project is working for me very well, too. Probably you're right and it is an IDE issue 🤔

[2017-11-19 18:53] #193 closed

[2017-11-19 22:33] intellix opened #199 "Typesafe way of getting Associations"
I'm looking at **graphql-sequelize** and trying to get things working with **graphql-typescript** here: https://github.com/mickhansen/graphql-sequelize/blob/master/docs/relay.md.

The example shows passing in an association like `User.Tasks` so the library can automatically fetch them. After reading through the documentation and debugging/profiling I've found thats a **HasMany** association object

[2017-11-20 00:22] intellix commented on #199
Was just playing around with various ways to add that data within TS and I think having something like `ModelInitialised` might help which includes the extra properties added when addModels is called:
[code]

[2017-11-20 07:48] RobinBuschmann commented on #199
Hey @intellix the reason why `associations` does not appear on the typings of `sequelize-typescript` is that it is not part of the `sequelize` typings. But I have nothing against adding them :) If you like to, you can open a PR for that.
The property need to be added to `Model.d.ts`: For example: `static associations?: any`

[2017-11-20 07:49] #183 closed

[2017-11-20 07:56] RobinBuschmann commented on #158
`createdAt`, `updatedAt`, `deletedAt` are marked as optional in the `Model.d.ts`. Therefore I suggest to use `"strictNullChecks": true,` in `tsconfig.json`, so that people using `@Table({timestamps: true})` do have autocomplete and others using there own property names are aware of the case that `createdAt` and so on are probably undefined. :)

[2017-11-20 07:56] #158 closed

[2017-11-20 07:58] RobinBuschmann commented on #157
Sequelize version 3 support will be dropped with `sequelize-typescript@1.0.0`. `sequelize-typescript@0.6.0` will be the last minor release before `1.0.0`.

[2017-11-20 08:00] BruceHem commented on #158
@RobinBuschmann Nice. Looking forward for 1.0

[2017-11-20 08:01] RobinBuschmann commented on #160
`ThroughOptions` are now available since `0.6.0-beta.3` (latest release: `0.6.0-beta.5`).

[2017-11-20 08:01] #160 closed

[2017-11-20 08:14] chanlito opened #200 "Can not use sequelize-typescript Models with sequelize ModelsHashInterface"
Hello everyone, currently `sequelize` instance has this `models` field which is of type `ModelsHashInterface`.

Is there a better way than using (sequelize.models as MyOwnDefinedTypes) ?

[2017-11-20 09:27] intellix commented on #199
I guess it'd be good to type the associations as well at some point but this one will satisfy me :)

[2017-11-20 09:44] #199 closed

[2017-11-20 13:45] BruceHem commented on #200
[code]

Seems strange about that typings.

[2017-11-20 14:14] RobinBuschmann commented on #200
You mean https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L5755 , right?

Unfortunately this is not compatible with the way sequelize-typescript defines its `Model`. So that `sequelize.Model !== sequelize-typescript.Model`. For `sequelize-typescript`it needs to look like:
[code]

[2017-11-20 14:17] RobinBuschmann commented on #200
Ahh, and some 🎉🎉🎉🎉🎉 for the 200th issue 😀

[2017-11-20 14:21] BruceHem commented on #200
Wow 200 issues already, didn't noticed it til u mentioned. 😄 🤣

[2017-11-21 08:37] BruceHem commented on #200
@RobinBuschmann how would I override the existing type definition? I'm not experienced in this area. Been googling several hours now.

[2017-11-21 10:09] RobinBuschmann commented on #200
Hmm, I see, overriding will not work. You will always get an `TS2415:Class 'XXX' incorrectly extends base class 'YYY'.
  Types of property 'aaa' are incompatible.
    Type 'ccc' is not assignable to type 'bbb'.` , right?

I'm afraid that we need to do the same with `Sequelize.d.ts` what we did with `Model.d.ts` to achieve this. So rewriting the whole typings for the Sequelize class.

[2017-11-21 10:19] BruceHem commented on #200
😩  Guess I'll have to wait for next beta release.

[2017-11-25 18:26] RobinBuschmann opened #203 "Mention globing in docs"

[2017-11-25 18:33] RobinBuschmann opened #204 "Since #189 scope typings only work together with as"
`Movie.scope(req.query['scope'] || 'defaultScope').findOne()` throws
`(Movie.scope(req.query['scope'] || 'defaultScope') as typeof Movie).findOne(...)`

Improve typings!

[2017-11-25 19:19] RobinBuschmann opened #205 "Add link to docs of starter repo"
https://github.com/RobinBuschmann/sequelize-typescript-starter

[2017-11-25 19:22] RobinBuschmann commented on #147
@bilby91 Can this be closed on favor of #202?

[2017-11-26 23:39] bradkovach opened #207 "`TypeError: model.init is not a function`"
I have been battling this issue off and on for a few days now.

When you attempt to run your application, you will see `TypeError: model.init is not a function` in the console.

For me, the fix was to edit `tsconfig.json` and ensure that `target` was `es6` or higher.  TypeScript will default to `es3` if nothing is provided.  This causes the decorator feature to fail miserably.

I hope this helps s