[2019-04-22 14:32] RobinBuschmann commented on #606
OK, so your actual issue is solved. So since the other one is already reported with #568, I close this now

[2019-04-22 14:32] #606 closed

[2019-04-22 14:49] RobinBuschmann commented on #602
@eddiemonge @sindresorhus Thanks. I tried it out (`np 1.0.0-beta.2 --tag=next --any-branch`), but got `Upstream branch not found; not pushing.`, which just skipped `Pushing tags [skipped]` but created a release anyway. Have I done something wrong? I'm sure, the upstream is set up properly. Is there a way to create the release draft afterwards?

[2019-04-22 14:50] RobinBuschmann commented on #601
Fix is released: `sequelize-typescript@1.0.0-beta.2`

[2019-04-22 14:50] #601 closed

[2019-04-22 14:50] RobinBuschmann commented on #603
Fix is released `sequelize-typescript@1.0.0-beta.2`

[2019-04-22 14:50] #603 closed

[2019-04-22 14:55] #573 closed

[2019-04-22 15:12] RobinBuschmann commented on #349
@nikhilseepana Can you provide a repository? I cannot reproduce it with the example you provided.

[2019-04-22 19:23] eddiemonge commented on #602
Did you ever rename your remote? If not, `git remote rename origin upstream`

[2019-04-23 00:34] alexpls commented on #364
@rochapablo looks like someone is having the same issue as you here: https://github.com/typestack/class-transformer/issues/242

[2019-04-23 07:47] sindresorhus commented on #602
// @itaisteinherz

[2019-04-23 09:22] Chocobozzz commented on #603
Thanks @RobinBuschmann, it works like a charm.

[2019-04-23 12:57] PatrickGeyer commented on #603
@RobinBuschmann thanks a lot!

Do you know if it's possible to add function scopes that are asynchronous with sequelize?
Reason I ask is because if I call ```Model.findAll(options)``` it runs a cleanup on options, but when I access the behind-the-scenes function ```getQueryInterface().selectQuery(options)```, the cleanup on the options doesn't run.
The solution for this is that I can create a hook

[2019-04-23 13:16] RobinBuschmann commented on #603
Hey @PatrickGeyer, yeah, it is an issue for sequelize. I checked the seuqlize code: as you can see [here](https://github.com/sequelize/sequelize/blob/master/lib/model.js#L1552) and [here](https://github.com/sequelize/sequelize/blob/master/lib/model.js#L1558) sequelize cannot handle async scope functions at the moment, it just expects a pure object there.

[2019-04-23 14:03] itaisteinherz commented on #602
@RobinBuschmann You need to set an upstream branch first for the push to work.
Try running `$ git push --set-upstream origin master` and then `$ np ...`.

[2019-04-28 08:57] TidyIQ opened #607 "Can't add 'sequelize' as a table define option"
**Versions**
- sequelize: 5.5.0
- sequelize-typescript: 1.0.0-beta.2
- typescript: 3.4.5

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
I'm trying to specify what sequelize instance my models should use by using:
[code]
where ../sequelize.ts is:

[code]
However I'm getting the error message:
[code]
It seems that I can't use the `sequelize` define option on `@Tab

[2019-04-28 09:22] RobinBuschmann commented on #607
Hey @TidyIQ this is because the property `sequelize` isn't part of the `TableOptions` interface:
[code]
Hope this helps!

[2019-04-28 09:29] RobinBuschmann commented on #602
@itaisteinherz Thanks, but the remote branches are setup properly and I only faced the issue with a branch other than `master`.

Other question: We do i find the release draft created by `np`?

[2019-04-28 09:29] RobinBuschmann commented on #597
Closing this issue due to inactivity

[2019-04-28 09:29] #597 closed

[2019-04-28 09:30] RobinBuschmann commented on #590
Closing this issue due to inactivity

[2019-04-28 09:30] #590 closed

[2019-04-28 09:30] RobinBuschmann commented on #589
Closing this issue due to inactivity

[2019-04-28 09:30] #589 closed

[2019-04-28 09:31] RobinBuschmann commented on #570
Closing this issue due to inactivity

[2019-04-28 09:31] #570 closed

[2019-04-28 09:34] RobinBuschmann commented on #567
Closing this since it cannot be fixed. Use https://github.com/RobinBuschmann/sequelize-typescript/issues/567#issuecomment-476833404 as a workaround

[2019-04-28 09:34] #567 closed

[2019-04-28 09:43] RobinBuschmann commented on #566
Hey @IntellectProductions, sry for the late reply, completely overseen your answer. My [comment](https://github.com/RobinBuschmann/sequelize-typescript/issues/566#issuecomment-472018040) was an answer to [this](https://github.com/RobinBuschmann/sequelize-typescript/issues/566#issuecomment-471617078) of yours. I meant that there is no other way than creating an additional model for specifying addit

[2019-04-28 09:48] RobinBuschmann commented on #552
Closing this due to inactivity

[2019-04-28 09:48] #552 closed

[2019-04-28 09:58] itaisteinherz commented on #602
@RobinBuschmann Try using the [`--any-branch`](https://github.com/sindresorhus/np#usage) flag. Also, if you bump into any other issue, feel free to open an issue over at [the main repo](https://github.com/sindresorhus/np).

If you saved the draft you should be able to find it in the "Releases" page of the repo. Otherwise, it won't be saved (I think, at least), and you'll to write the release yours

[2019-04-28 10:15] itaisteinherz commented on #602
@RobinBuschmann It would be helpful if you could create a bug report for this issue, and I'll look further into it later.

[2019-04-28 10:18] RobinBuschmann commented on #602
I'll do. I'm going to try a new release from a non-master branch the upcoming days. If it isn't working this time (probably I overseen something the last time), I'll come up with a bug report on https://github.com/sindresorhus/np

[2019-04-28 11:50] TidyIQ commented on #607
If I remove it then I get the error:

[code]

[2019-04-28 11:52] RobinBuschmann commented on #607
@TidyIQ You have to import your sequelize setup (`./sequelize.ts`) somewhere - otherwise sequelize-typescript cannot load you models. If you did and it still gives you this error, probably the path to your models is wrong (` models: [__dirname + "/models"]`)

[2019-04-28 12:00] TidyIQ commented on #607
Sorry if I'm unclear. That's exactly what I'm asking. How do I import it? Previously I just specified it as a define option when I was using normal sequelize but like you said, that's not possible with sequelize-typescript.

I see you used sync in your example however I don't want to do that (and I can't anyway due to how I've setup my permissions).

[2019-04-28 12:02] RobinBuschmann commented on #607
@TidyIQ You could import it in your main app file or your main index file - if exists:
[code]

[2019-04-28 12:05] TidyIQ commented on #607
OK cool, that was easy. Thanks, it's working.

[2019-04-28 12:05] #607 closed

[2019-04-28 16:56] TidyIQ opened #608 "How to include 'set role role_write;' before running a query?"
- sequelize: 5.5.0
- sequelize-typescript: 1.0.0-beta.2
- typescript: 3.4.5

**I'm submitting a ...**

[ ] bug report
[ ] feature request
[x] question

**Actual behavior:**
My database user was created with `noinherit` flag and no permissions on the database/table by default, so before running a query I need to run `set role role_write;` to add the user to the read/write role. If I don't do this I

[2019-04-28 17:37] jessep opened #609 "Is typesafe Model.create possible?"
**Versions**
- sequelize: 5.7.6
- sequelize-typescript: 0.6.10
- typescript: 0.6.10

**I'm submitting a ...**
[x ] bug report
[ ] feature request

**Actual behavior:**
I seem to be able to pass any object to `Model.create` and not get any type errors.

**Expected behavior:**
I had hoped sequelize-typescript would help make sure the data moving into my db was typed correctly. Am I using it wrong?

[2019-04-28 20:14] itaisteinherz commented on #602
I just opened sindresorhus/np#397, which should fix this issue.

[2019-04-29 00:24] mmiszy commented on #609
`sequelize-typescript` types `Model.create` correctly if you use previous versions:

[code]

So it definitely is possible.

However, since sequelize@5 and sequelize-typescript@alpha, types for `Model.create` (and many other classes and methods) are moved to `sequelize`, but in a type-unsafe versions utilising `any`.
I don't quite understand the reasoning behind this regression.

This is actually t

[2019-04-29 00:33] mmiszy commented on #572
@morrigan did you try `return res.send(user.toJSON());` ?
I had exactly the same problem and managed to avoid it simply by running `toJSON()` on the instance first.

[2019-04-29 07:52] morrigan commented on #572
@RobinBuschmann https://github.com/morrigan/mythx-vulnerability-monitor/blob/master/src/Models/User.ts

@mmiszy yes, same thing

[2019-04-30 09:11] yong150 commented on #605
@sjgmojica did u try like below example?
`
let dataList = <get your data via seqelize>
dataList = dataList.map(row => {
      return row.toJSON();
    });
`

[2019-04-30 09:48] OrenSchwartz commented on #572
happens to me on the latest version after doing toJSON or it equivalent get({plain: true})

[2019-04-30 21:13] blankstar85 opened #610 "Order Desc in @Scopes causes a type error"
**Versions**

- sequelize: 5.8.1
- sequelize-typescript: 1.0.0-beta.2
- typescript: 3.4.5

**I'm submitting a ...**

 [x] bug report
[ ] feature request

**Actual behavior:**

Types of property 'order' are incompatible.
      Type 'string[][]' is not assignable to type 'string | Fn | Col | Literal | OrderItem[] | undefined'.
        Type 'string[][]' is not assignable to type 'OrderItem[]'.

[2019-05-01 07:44] RobinBuschmann commented on #608
Hey @TidyIQ, unfortunately this is not related to sequelize-typescript and I assume not to sequelize as well. From my understanding sequelize isn't responsible for creating your database nor your database users. Can you ask your question on e.g. stackoverflow instead?

[2019-05-01 07:44] #608 closed

[2019-05-01 10:19] RobinBuschmann commented on #572
@morrigan @OrenSchwartz I've released a new beta version (`npm i sequelize-typescript@0.6.11-beta.1`) which should fix at least the issue morrigan had. Can you confirm?

[2019-05-01 10:32] RobinBuschmann commented on #609
Hey @jessep, thanks for asking. First, I see an issue here: `sequelize@5` doesn't work with `sequelize-typescript@0.6.X`.So either use `sequelize-typescript@next` (which installs a `sequelize-typescript@1`) together with `sequelize@5` or `sequelize-typescript@0.6.X` with `sequelize@4`

If you use `sequelize-typescript@0.6.X` with `sequelize@4`, you should get what you want :)
`sequelize@5` provide

[2019-05-01 10:49] RobinBuschmann commented on #610
@blankstar85 Thanks for reporting

[2019-05-01 11:35] RobinBuschmann commented on #610
Fixes with `sequelize-typescript@1.0.0-beta.3`

[2019-05-01 11:35] #610 closed

[2019-05-01 14:26] blankstar85 commented on #610
Thanks!

[2019-05-01 14:57] mmiszy commented on #609
To make it even more interesting, TypeScript contributors recommend to keep on using `@types/sequelize` because the typings bundled with Sequelize are unsafe by design :|

[2019-05-01 21:02] samuelt1 opened #611 "Ignore fields in toJSON function"
**Versions**

- sequelize: ^5.7.5
- sequelize-typescript: ^1.0.0-beta.1
- typescript: ^3.4.5

**I'm submitting a ...**

[ ] bug report
[ x] feature request

When you do a User.toJSON() I do not want to pass back the password and salt It would be nice if there was a way to ignore these fields in the to JSON.

**Related code:**
it would look something like this:
[code]

Is this possible? Should I tr

[2019-05-02 04:34] #611 closed

[2019-05-02 04:37] samuelt1 commented on #611
found the solution:
an instace method like this:
[code]

[2019-05-03 08:48] RobinBuschmann commented on #609
@mmiszy but does „by design“ also mean the `create` und `build` functions? Or would the sequelize team approve a PR which implements `keyof` for these functions? What do you think?

[2019-05-03 16:54] BjarkeNL opened #612 "Non-static update method of the Models returns old value"
Hi! This library looks like really cool - this is a much better way to declare model-classes for sequelize! Unfortunately i ran into a problem when trying it out:

**Versions**
- sequelize@4.43.2
- sequelize-typescript@0.6.10
- typescript@3.4.5

- reflect-metadata@0.1.13
- @babel/core@7.4.4
- @babel/preset-typescript@7.3.3
- @babel/plugin-proposal-class-properties@7.4.4
- @babel/plugin-proposal-de

[2019-05-03 17:08] josecolella commented on #535
@PatrickGeyer It works without the `.`. Thanks. I don't really understand why it has issues with the models with `.`, but anyways thanks again,

[2019-05-03 20:25] RobinBuschmann commented on #612
Hey @BjarkeNL, I think the issue is indeed caused by [this](https://github.com/sequelize/sequelize/issues/10579#issuecomment-486027564) behaviour of babel. I've got the impression that `_defineProperty` overrides the previously defined getters and setters created by sequelize. As you already mentioned the `dataValues` are updated. But when calling `user.firstName` it uses the getter which is defin

[2019-05-05 09:46] chaitanya11 opened #613 "Group should be included in include if seperate:true is specified"
If seperate: true is specified, user should be able to do group operation, because it will be executed as separate query.
related issue in [Sequlize](https://github.com/sequelize/sequelize/issues/1640#issuecomment-40706881).

[stack overflow question](https://stackoverflow.com/questions/37339708/sequelize-group-by-aggregating-only-on-main-table-instead-of-the-complete-joined)

[2019-05-05 15:05] vekexasia opened #614 "Cant Use DefaultScope with sequelize.literal"
**Versions**

- sequelize: 5.8.5
- sequelize-typescript: 1.0.0-alpha.9
- typescript: 3.4.5

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**
calling `.findAll` + default scope with a custom attribute defined with a literal.

**Expected behavior:**

**Steps to reproduce:**
This code producess
[code]

Stacktrace:
[code]

**Related code:**
...

[2019-05-05 18:40] vekexasia commented on #614
Hey @RobinBuschmann

Apparently the same codebase works if using plain "sequelize" code. Here a snippet showing sequel-typescript vs sequelize code.

[code]

[2019-05-05 19:14] RobinBuschmann commented on #614
Hey @vekexasia, thanks for reporting. But this is fixed with the latest pre-major release `sequelize-typescript@1.0.0-beta.3`. Passing objects to `@Scopes` and `@DefaultScope` is deprecated there - Use it like so instead:
[code]
Hope this helps!

[2019-05-05 20:04] AnkhHeart commented on #572
@RobinBuschmann I was having the same issue, testing the beta now. I'll let you know the results in the next 24 hours :)

[2019-05-06 16:20] AnkhHeart commented on #572
@RobinBuschmann Fix seems to be good, no exceptions in the past 29 hours of using it :) , thanks.

[2019-05-07 04:20] piyushkantm opened #615 "$$ Syntax not accepted"
**Versions**
- sequelize: **4.43.0**
- sequelize-typescript: **0.6.8**
- typescript: **2.9.2**

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**
Whenever i am trying to use $$ syntax to add a where clause on joined table, it throws type error on the where clause.

**Expected behavior:**
It should not throw error and actually add a where condition on the joined tab

[2019-05-08 05:49] RobinBuschmann commented on #615
Hey @piyushkantm, thanks for bringing this up. The reason why it’s not accepted there is that the where options are restricted to `keyof YourModel`. Since the `$A.column$` cannot be types and is more an exception for the rule, we decided to do it like this and offer a workaround instead:
`{['$B.userId$' as any]: 100}` should do the job. What do you think about it?

Hope this helps!

[2019-05-08 07:46] OrenSchwartz commented on #572
checking now

[2019-05-09 02:31] nadrane commented on #165
hmm should this issue be resolved in `1.0.0-beta.3` and `1.0.0-alpha.9`

I am getting the exact same Bluebird conflict in both. Is there something I might be missing?

[2019-05-09 05:51] RobinBuschmann commented on #165
@nadrane Hmm, that’s strange since sequelize-typescript doesn’t require a specific version anymore and also defines @types/bluebird as a peer dependency. Can you provide an example repo? I also think it might make sense to open a new issue for that. Thank you!

[2019-05-09 10:06] MalavitaC opened #616 "The type of the attribute "where" is not compatible."
Why "where" is "object" will give an error：The type of the attribute "where" is not compatible.
![image](https://user-images.githubusercontent.com/38742840/57445181-5d6a2e00-7284-11e9-8ece-37b185832161.png)

[2019-05-09 21:12] piyushkantm commented on #615
Hi @RobinBuschmann . Thanks for replying.

You're right. I was using any to avoid type errors... But don't have anything better in mind to overcome this use-case..

It'd be nice though to have a demo code for this on readme. It could help someone save some time :) Let me know if i can help in any way...

[2019-05-10 10:33] Telokis opened #617 "Type toJSON's return type"
**Versions**
- sequelize: ^4.37.6
- sequelize-typescript: ^0.6.10
- typescript^3.4.3

**I'm submitting a ...**
[ ] bug report
[x] feature request

**Content**
`Model.toJSON()` is set to return `any`.
Would there be a way to make it return an interface consisting of the specified raw attributes?
I noticed the typings of sequelize make it return `TAttributes`. Can we do some decorator magic there?

[2019-05-11 17:39] Telokis commented on #612
@RobinBuschmann Hey! I have this exact problem. Did you manage to find a solution?

[2019-05-12 00:00] OrenSchwartz commented on #572
fix seems to be good.

[2019-05-12 09:23] keyiis opened #618 "where is IFindOptions in 1.0.0"
Today i update sequelize to v5 and  install sequelize-typescript@next,but occur a lot of error,for example
![QQ截图20190512172153](https://user-images.githubusercontent.com/7766085/57580310-779d4980-74da-11e9-8a06-56b0982a4e6b.jpg)

[2019-05-12 19:16] loganfsmyth commented on #612
This is a current difference in behavior between Typescript and ECMAScript class fields. Babel's TypeScript transformation parses TS, but the runtime behavior for ECMA features follows the ECMA spec, not TS.

https://github.com/microsoft/TypeScript/issues/27644

[2019-05-13 15:04] RobinBuschmann commented on #613
Hey @chaitanya11, thanks for bringing this up. Can you fill out the [issue template](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/ISSUE_TEMPLATE.md) please?  I don't quite understand your issue. Are you expecting [this](https://github.com/sequelize/sequelize/issues/1640#issuecomment-40706881) to work with sequelize-typescript while it doesn't?

[2019-05-13 15:05] RobinBuschmann commented on #616
Hey @MalavitaC, can you fill out the [issue template](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/ISSUE_TEMPLATE.md) please?

[2019-05-13 15:34] RobinBuschmann commented on #617
Hey @Telokis, thanks for bringing this up. Since `sequelize-typescript@1.0.0` won't be responsible anymore for most of the typings (since version 5 sequelize provides their own typings), those changes won't be implemented anymore. So this should be fixed in sequelize directly.

But for now you could implement your own BaseModel where you could override `toJSON` and use a mapped type like so:
[code

[2019-05-13 15:39] RobinBuschmann commented on #618
Hey @keyiis, since version 5, sequelize provides its own typings (See https://github.com/RobinBuschmann/sequelize-typescript/tree/1.0.0#upgrade-to-sequelize-typescript1) and sequelize-typescript@1 uses those ones now. So the names of the interfaces mostly changed.

Hope this helps!

[2019-05-13 15:41] RobinBuschmann commented on #615
@piyushkantm Thanks for offering help: Yeah, any pull request adding this to the readme is appreciated :)

[2019-05-13 16:16] Telokis commented on #617
Thanks for the suggestion. I ended up adding a custom typings that globally overrides your definition of `toJSON()` for every model automatically. It works like a charm!

I don't have the code with me but it looked something like this:

[code]

[2019-05-13 16:16] #617 closed

[2019-05-13 16:21] RobinBuschmann commented on #612
@loganfsmyth thanks for giving more insights. So `babel-plugin-proposal-class-properties` is doing it the right way 🤔

@Telokis @BjarkeNL
For now I can only provide a workaround (Overriding the defined properties again):
[code]

[2019-05-13 22:57] dancrumb commented on #312
I have created https://github.com/DefinitelyTyped/DefinitelyTyped/pull/35420 to address the typings issue in sequelize

[2019-05-13 22:58] dancrumb commented on #312
FWIW: You could address this with declaration merging, in the interim: http://www.typescriptlang.org/docs/handbook/declaration-merging.html#module-augmentation

[2019-05-14 06:29] 757566833 opened #620 "comment"
**Versions**

- sequelize: 4.44.0
- sequelize-typescript: 0.6.10
- typescript:2.9.2
- mysql:5.6
**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

 @Column({
        type: DataType.BIGINT(20),      //√
        comment: 'id'                           //×
    })
**Expected behavior:**

 @Column({
        type: DataType.BIGINT(20),      //√
        comment: 'id'

[2019-05-14 11:14] chaitanya11 commented on #613
[code]
in above mentioned operation we are including `REPLY_MAIN` Model in a separate query.
so shoulbe be executed in a separate query like follows
`SELECT * FROM REPLY_MAIN WHERE REPLY_STATUS=200 GROUP BY QSTN_I HAVING REPLY_COUNT NOT NULL`

But, in sequelize-typescript even after enabling `separate: true`, `Group by` and `Having` were not enabled giving compilation error in code.

[2019-05-14 19:37] dancrumb commented on #312
Perhaps #312 is a better solution for this - make the DefinitelyTyped types a peer dependency and allow the users of `sequelize-typescript` to handle this with declaration merging?

[2019-05-15 01:23] keyiis commented on #618
@RobinBuschmann thks reply,I had to give up the upgrade because there were too many changes to make :(

[2019-05-15 05:43] RobinBuschmann commented on #618
Hey @keyiis, sad to here so. Is there something you can think of that would might help you?

[2019-05-15 08:51] ShintaroNippon opened #621 "Cannot find module 'sequelize/types/lib/hooks'."
Hi there I'm using an app typescript node js

and in deploy to heroku I got this error

node_modules/sequelize-typescript/dist/hooks/shared/hook-meta.d.ts:2:32 - error TS2307: Cannot find module 'sequelize/types/lib/hooks'.

I have tried tsc build locally and got the same error...
can someone help ....

   2 import { SequelizeHooks } from "sequelize/types/lib/hooks";
My package.json is

[code]

th

[2019-05-16 13:50] piyushkantm commented on #615
Yup, i would try to lend my hand over this weekend..

[2019-05-16 13:54] keyiis opened #622 "Hook work incorrect"
I used defined hook in model,but it seem not wok
[code]
console output:
[code]
so  `instance.fullName=instance.name+'111';` not work,why?
![QQ截图20190516215331](https://user-images.githubusercontent.com/7766085/57859227-1c928c00-7825-11e9-80dd-f390aaacd841.jpg)

[2019-05-18 13:23] chaitanya11 commented on #613
@RobinBuschmann  let us know your thoughts about this.

[2019-05-18 15:53] RobinBuschmann commented on #613
@chaitanya11 Which sequelize and which sequelize-typescript are you using? Did you try the same with pure sequelize - does it work there?

[2019-05-18 16:07] RobinBuschmann commented on #620
Hey @757566833, what error do you get?

[2019-05-18 16:08] RobinBuschmann commented on #621
Hey @ShintaroNippon, this is because sequelize-typescript@1 only works with sequelize@5 - you are using sequelize@4.

Hope this helps!

[2019-05-18 16:20] RobinBuschmann commented on #622
Hey @keyiis thanks for reporting, but unfortunately I cannot reproduce it. It works fine for me. Can you provide an example repo which shows the actual issue?

[2019-05-18 16:42] RobinBuschmann commented on #572
I'm closing this, since the fix was released with `sequelize-typescript@0.6.11`

[2019-05-18 16:42] #572 closed

[2019-05-19 05:11] chaitanya11 commented on #613
@RobinBuschmann
here is the sequelize version `"sequelize": "^5.8.6"`
working code with sequelize
[code]
the above program translate query to

[code]
while `"sequelize-typescript": "^0.6.8",` will give compilation error
`Object literal may only specify known properties, and 'group' does not exist in type 'typeof Model | IIncludeOptions'.`

Unable to add `group: ['id']` in `include` when `separate:

[2019-05-19 07:09] 757566833 commented on #620
comment not in effect in 0.6.10

Switch to version 1 ，not error

[2019-05-19 09:05] gogoout commented on #555
I'm running into the same error. I'm solving it by using `require.context`. The following code is working for my project.

[code]

[2019-05-19 15:29] ShintaroNippon commented on #621
Thanks. Ir works !!!!

[2019-05-19 15:30] #621 closed

[2019-05-19 17:05] RobinBuschmann commented on #613
@chaitanya11 Thanks. It's obviously working, but unfortunately I can't find anything in the docs of sequelize. Can you provide a link to it? Nevertheless I mark this as a bug - this should be added to the typings of sequelize-typescript. But also to  the typings of sequelize@5, there are missing there as well.

[2019-05-20 05:33] MangoBird commented on #620
Same issue here. We've been using 0.6.10 for some time and 1.0.0 breaks a lot of legacy code. Is there anyway to fix this without migrating to 1.0.0?

[2019-05-20 19:00] RobinBuschmann commented on #620
@757566833 @MangoBird Looks to me like a sequelize issue. Did you also update sequelize? On which version did it work before? I can't get it working with pure sequelize neither.

[2019-05-21 02:08] chaitanya11 commented on #613
@RobinBuschmann  so should we raise this bug in `sequelize@5` and wait till they resolve and release new version or shall we try to solve in our `sequelize-typescript` repo and make that as reference to sequelize buddies ?

[2019-05-21 06:07] MangoBird commented on #620
We use sequelize@4.44.0 currently. I'm not sure which version worked previously.

[2019-05-22 10:49] fareshan opened #623 "typescript building errors"
**Versions**
- sequelize: 5.8.6
- sequelize-typescript: 1.0.0-beta.3
- typescript: 2.7.2

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
After upgrading sequelize and sequelize-typescript, I get these errors when I build the code:
[code]

[2019-05-22 12:27] fareshan commented on #623
the issue happens in versions 0.6.9+ (it works in 0.6.8)

[2019-05-22 22:24] adamtLICOR commented on #123
@RobinBuschmann I know this is a closed Issue, but hopefully this might help someone else stumbling across this thread via Google (as I did).

I received this exact same error `TypeError: Cannot read property 'createdAt' of undefined` when I forgot to add a data model to the array passed to my `sequelize.addModels()` call.

This error is 100% me being careless, but the seemingly unrelated error me

[2019-05-23 12:39] nullpixel commented on #123
@adamtLICOR: yeah, the error is terrible. makes these bugs really hard to track down!

[2019-05-23 17:14] RobinBuschmann commented on #620
@757566833 @MangoBird Can one of you try to make it work with pure sequelize? If not it is definitely an issue with sequelize and not sequelize-typescript.

[2019-05-23 18:20] RobinBuschmann commented on #623
Hey @fareshan thanks for bringing this up. `sequelize-typescript@1.0.0-beta.3` requires at least `typescript@3.0`. While `0.6.9` needs `typescript@2.9.1`. (With `sequelize-typescript@1.0.0` it will follow semver - so no breaking changes for minor versions any more)

[2019-05-24 02:36] 757566833 commented on #620
switch to version 1 ，The code works fine

I understand English but I can't write English.

Can you read Chinese?

在工作中我用到了 sequelize: 4.44.0 sequelize-typescript: 0.6.10 但是   comment 并不生效

无法解决的情况下，

我将 sequelize@4 升级为 sequelize@5

sequelize-typescript@0.6.10 升级为 sequelize-typescript@1

typescript 升级为 3.4.5

这样comment 就正常工作了

[2019-05-24 07:17] VishalUZ opened #625 "Sequelize update issue."
Hello..
I created a function in Nodejs (typescript) to update a table.
Following is my function.

    update_con_fav_stores(update_con_fav_stores: any, scb: (cl: any) => void, ecb: (er: Error) => void) {
        var con_fav_str = update_con_fav_stores;
            c2s_favorite.update({
                store_id: con_fav_str.store_id,
                cuser_id: con_fav_str.cuser_id
            },{

[2019-05-24 08:18] TidyIQ commented on #387
I just had the same issue. @albinojunior 's solution solved it for me though.

Perhaps this should be in the docs since the example is incomplete and results in this error?

[2019-05-24 11:34] RoelRoel commented on #357
The errorhandling could be better. A wrong import caused my problem.

[2019-05-24 13:08] nikdale commented on #625
Where are you getting `c2s_favorite` from?

[2019-05-24 18:11] VishalUZ commented on #625
Hey Nikdale.
c2s_favorite is my model where the the table structure is defined.

The problem is only with "UPDATE" query. The below code works as expected for fetching records.

find_con_fav_stores(find_con_fav_stores: any, scb: (cl: any) => void, ecb: (er: Error) => void) {
    var con_fav_str = find_con_fav_stores;
        c2s_favorite.findAll({
            where: Sequelize.and({

[2019-05-27 15:15] RobinBuschmann commented on #620
@757566833 Sorry, I cannot understand Chinese.

[2019-05-28 16:59] aminmc opened #626 "Access to transaction using Sequelize"
**Versions**
- sequelize: 5.8.6
- sequelize-typescript: 0.6.11
- typescript3.4.5

Hello I'm trying to access the transaction function from Sequelize but I get the following exception:

TSError: ⨯ Unable to compile TypeScript:
test/model/Form.spec.ts(10,19): error TS2339: Property 'transaction' does not exist on type 'Sequelize'.

![Screenshot 2019-05-28 at 17 58 35](https://user-images.githubuserc

[2019-05-28 20:33] RobinBuschmann commented on #626
@aminmc thanks for asking. sequelize@5 only works with sequelize-typescript@next. Hope this helps!

[2019-05-28 20:39] aminmc commented on #626
Thank you for your quick reply! Will use the appropriate versions. Thanks

[2019-05-28 20:39] #626 closed

[2019-05-29 09:27] 757566833 commented on #620
I used sequelize at work: 4.44.0 sequelize-typescript: 0.6.10 but comment does not take effect

Unable to solve the situation,

I upgraded sequelize@4 to sequelize@5

Sequelize-typescript@0.6.10 upgrade to sequelize-typescript@1

Typescript is upgraded to 3.4.5

This comment works fine.

-------

from https://translate.google.cn/

[2019-06-02 07:14] RobinBuschmann commented on #625
@VishalUZ sry for the late reply: Can you please fill out the [ISSUE_TEMPLATE](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/ISSUE_TEMPLATE.md) please?

[2019-06-02 07:15] RobinBuschmann commented on #623
@fareshan So it solved your issue, right? Can we close this now?

[2019-06-02 07:16] RobinBuschmann commented on #616
Closing this due to inactivity

[2019-06-02 07:16] #616 closed

[2019-06-02 07:41] RobinBuschmann commented on #614
@vekexasia Does my suggestion solve your issue? Can we close this now?

[2019-06-02 07:48] RobinBuschmann commented on #613
@chaitanya11 I think both makes sense: Fixing it in `sequelize-typescript` (what you already did) and raising a bug in sequelize.

[2019-06-02 07:49] RobinBuschmann commented on #609
Closing this due to inactivity

[2019-06-02 07:49] #609 closed

[2019-06-02 07:50] RobinBuschmann commented on #605
Closing this due to inactivity

[2019-06-02 07:50] #605 closed

[2019-06-02 07:51] RobinBuschmann commented on #577
Closing this due to inactivity

[2019-06-02 07:51] #577 closed

[2019-06-02 07:52] RobinBuschmann commented on #576
Closing this due to inactivity

[2019-06-02 07:52] #576 closed

[2019-06-02 07:54] RobinBuschmann commented on #566
Closing this due to inactivity

[2019-06-02 07:54] #566 closed

[2019-06-02 07:55] RobinBuschmann commented on #555
@someApprentice Can you confirm that @gogoout's solution works?

[2019-06-02 07:55] RobinBuschmann commented on #550
Closing this due to inactivity

[2019-06-02 07:55] #550 closed

[2019-06-02 09:46] fareshan commented on #623
Thanks a lot @RobinBuschmann . I close it.

[2019-06-02 09:46] #623 closed

[2019-06-02 15:11] fjodor-rybakov opened #630 "Sequelize cannot create models"
**Versions**

- sequelize: ^5.8.7
- sequelize-typescript: ^1.0.0-alpha.9
- typescript: ^3.3.3333

**I'm submitting a ...**

[ ] bug report

Sequelize cannot create models
For example i try:
[code]
after im add modes
`services.addModels([User]);`

User Model
[code]
After start server all right, but database is empty.
If try create record
`const user = await User.create({name: "name", email: "mail@g

[2019-06-02 15:47] #614 closed

[2019-06-02 15:47] vekexasia commented on #614
yes sorry :)

[2019-06-02 17:03] fjodor-rybakov commented on #630
Sorry, i forgort call sync for create...

[2019-06-02 17:03] #630 closed

[2019-06-02 19:31] vanthome opened #631 "Relation target is not schema aware for Postgres"
**Versions**
- sequelize: what 1.0.0-beta.3 requires
- sequelize-typescript: 1.0.0-beta.3
- typescript 5.8.7

**I'm submitting a ...**
[ ] bug report
[x] feature request

**Actual behavior:**

I have a model like below and I'm using it with Postgres on multiple schemas and I'm
populating these schemas dynamically by looping through the models and I set the current schema via `schema()` and `sync()

[2019-06-03 15:45] pratikshah14 commented on #576
Sorry for the late reply, thank you this is working.

[2019-06-04 13:35] #613 closed

[2019-06-05 19:20] kfrajtak commented on #387
I am experiencing different problem with many-to-many:

`@BelongsToMany(() => Role, () => UserRole) roles: Role[];`

The error is
[code]

Via poor man's debugger (i.e. console) I get
[code]

and the `through` function is returning undefined.

Can anybody help?

Thanks, Karel

[2019-06-05 19:43] kfrajtak commented on #387
For anyone running into this issue, the problem was with "smart" import of all models from one file

[code]

and importing them as `import { Role, UserRole } from "./index";` which resulted in `Role` and `UserRole` being `undefined`. Changing that to `import Role from './role.model'` fixed the problem.

I guess, I have to study JavaScript exports more ...

[2019-06-06 03:56] Bosn commented on #618
IFindOptions => FindOptions
[code]

IWhereOptions => WhereOptions

Don't give up, I just upgraded days ago, very easy. Using auto-import to solve all these problems.

[2019-06-06 19:10] Dragons0458 commented on #458
Sorry to reopen the thread after so much time, but I have returned to get the same error and I do not know why, the models and classes are the following:

`
export default class ProjectRecurrence extends Model<ProjectRecurrence> {

    ...

    @ForeignKey(() => Projects)
    @IsInt
    @Column
    project_id: number;

    @BelongsTo(() => Projects, 'project_id')
    projectIdObject: Projects;

[2019-06-07 20:47] vanthome commented on #631
I think it's more of a Sequalize Issue, I came up with a fix here:
https://github.com/sequelize/sequelize/pull/11044
It's not yet ready though.

[2019-06-07 20:47] #631 closed

[2019-06-08 13:47] udanpe opened #634 "Op.like not working"
**Versions**
- sequelize: sequelize@5.8.7
- sequelize-typescript: sequelize-typescript@1.0.0-beta.3
- typescript: typescript@3.4.3

**I'm submitting a ...**
[ x] bug report
[ ] feature request

**Actual behavior:**

[code]
[code]

**Expected behavior:**
[code]
[code]

[2019-06-09 16:21] MathieuAndrade opened #635 "How to join 4 tables"
Hello !

I have 4 tables: User, Plugin, Satellite and Variables.
I try to join this 4 tables with on field, but I can not :/

Here is a quick example of what I'd like to do =>

A User can have many variables, a satellite too and a plugin too but a variable can have just one owner.

So here is my models =>

**User**
[code]
**Satellite**
[code]

**Plugin**
[code]

**Variable**
[code]

At this moment

[2019-06-10 07:41] Hadard753 opened #636 "multiple relations to same object using belong to many and has many"
**Versions**
- sequelize: 5.2.1
- sequelize-typescript: 1.0.0-alpha.9
- typescript: 2.7.2

I read quite a number of issues/articles/docs but I can't get my use case working, always failing with 'multiple relations' error. Here it is:

**User**
[code]

**Property**
[code]

**UserFavoriteProperty**
[code]

**The Select query**
[code]
The error appears only when trying to retrieve data

[2019-06-12 10:17] kfrajtak commented on #550
Hi, I do have similar issue, can you have a look at that https://github.com/mickhansen/dataloader-sequelize/issues/80? The dataloader is shimming the `findByPk` method but later the shimmed method is not called.
Thanks,
Karel

[2019-06-13 07:10] kfrajtak opened #637 "Dataloader does not work well with this library"
**Versions**
- sequelize: 5.3.1
- sequelize-typescript: 0.6.11
- typescript: 3.3.3333

**I'm submitting a ...**
[X] bug report
[ ] feature request

**Actual behavior:**
When using this library in a project with GraphQL backend and [dataloader](https://github.com/mickhansen/dataloader-sequelize) the dataloader is not intercepting the static methods like `findByPK` etc. The dataloader library is pro

[2019-06-13 19:17] RobinBuschmann commented on #634
@udanpe Sry for the late reply. I cannot reproduce your issue. It is working well for me with sqlite - Which dialect are you using?

[2019-06-13 19:36] RobinBuschmann commented on #635
Hey @MathieuAndrade, this is because this piece of code `class User { ... @HasMany(() => Variable, {foreignKey: 'owner'}) ...}` causes sequelize to create a foreign key on the `variable` table referencing(!) the `user` table. Since the foreign key is already set up with the reference to `user` it cannot be redefined within `Plugin` and `Satellite`.
You're right, that you have to set up a polymorph

[2019-06-13 19:46] RobinBuschmann commented on #636
The following works very well for me:

[code]

[code]

[code]

[code]

Can you confirm?

[2019-06-13 19:47] RobinBuschmann commented on #550
hey @kfrajtak can you provide an example repo which already connects sequelize-typescrip  with the dataloader?

[2019-06-13 20:24] RobinBuschmann commented on #458
@Dragons0458 can you provide an example repo, which reproduces the issue?

[2019-06-14 08:04] franky47 commented on #465
I ended up with the same problem: I'm building a shared module that initializes the Sequelize connection, whereas models are defined per-application in their respective app modules (that consume the shared module as a dependency).

As soon as I try adding associations between models (even though all models are defined in the same app module), I end up with the same error:
[code]

From what the `no

[2019-06-14 08:45] eBuccaneer commented on #465
@franky47 I ended up installing the sequelize-typescript dependency only once in the project root and not in the specific module directories, so every module that depends on it uses the same.
And yes it feels hackish, but it suits our needs.

[2019-06-14 16:41] Mauricio320 opened #638 "Sequelize Invalid value { '$iLike': 1 }"
![image](https://user-images.githubusercontent.com/39031653/59524385-5c3aab00-8e99-11e9-9b01-626c34c6a60c.png)

[2019-06-14 18:20] Dragons0458 commented on #458
Hi! this is the repository: https://github.com/Dragons0458/AliasCannotBeInferred thank you!

[2019-06-14 19:07] kfrajtak commented on #550
The problem was fixed in dataloader library. Thanks for your time.

[2019-06-16 12:07] dancon opened #639 "include[].on get an error: Error: Invalid value { '$col': '...' }"
**Versions**

- sequelize: 5.8.8
- sequelize-typescript: 1.0.0-alpha.9
- typescript: 3.4.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

code as below

[code]

get the error:

[code]

Is there some thing I missing?

**Expected behavior:**

work as it is

[2019-06-16 13:22] udanpe commented on #634
mysql 8.0.13 - mysql2@1.6.5

[2019-06-17 15:41] fareshan opened #640 "include inside include"
**Versions**
- sequelize: 5.8.9
- sequelize-typescript: 1.0.0-beta.3
- typescript: 3.3.3

**I'm submitting a ...**
[ X ] bug report
[ ] feature request

Defining a scope with an "include" inside an "include" brings a typescript error:

[code]

error:
[code]

[2019-06-17 16:06] fareshan commented on #640
I had this issue while trying to migrate from:
[code]
to:
[code]

[2019-06-17 16:14] fareshan opened #641 "function inside operator inside where"
- sequelize: 5.8.9
- sequelize-typescript: 1.0.0-beta.3
- typescript: 3.3.3

**I'm submitting a ...**
[ X ] bug report
[ ] feature request

Trying to migrate from:
[code]
to:
[code]

This was working:
[code]

This does not work:
[code]
The typescript error:
[code]

[2019-06-17 16:46] fareshan opened #642 "typescript error with sequelize literal"
**Versions**
- sequelize: 5.8.9
- sequelize-typescript: 1.0.0-beta.3
- typescript: 3.3.3

**I'm submitting a ...**
[ X ] bug report
[ ] feature request

Trying to migrate from:
[code]
to:
[code]

This is no more working:
[code]
The error I get:
[code]

[2019-06-18 15:46] rvalim commented on #465
Hi guys,

I am facing the same error here! When I use the sync method, it creates all the database with all the dependencies, normally and correct. But now I am using the cli-typescript to run migrations and seeders, which works, but when I try to instantiate the Sequelize get the same error.

Already tried the @canary, the @next version from sequelize-typescript, and nothing works.

### The error

[2019-06-18 16:30] RobinBuschmann commented on #637
Closed due to https://github.com/RobinBuschmann/sequelize-typescript/issues/550#issuecomment-502228492

[2019-06-18 16:30] #637 closed

[2019-06-18 16:32] RobinBuschmann commented on #638
Hey @Mauricio320, can you fill out the [issue template](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/ISSUE_TEMPLATE.md), please?

[2019-06-18 16:39] RobinBuschmann commented on #458
Hey @Dragons0458, your setup is totally fine. The issue is the query itself. You have to tell sequelize-typescript which relation to `ProjectRecurrence` you want to use:

[code]

Hope this helps. Feel free to close this issue if my answer solves your problem

[2019-06-18 16:45] RobinBuschmann commented on #639
Hey @dancon, the `$col` syntax isn't supported anymore by sequelize. Use the following instead:
[code]
See [docs](http://docs.sequelizejs.com/manual/querying.html#operators) for further information.

Hope this helps. Feel free to close this issue if my answer solves your issue!

[2019-06-18 16:54] RobinBuschmann commented on #634
@udanpe Can you provide an example repo, which reproduces the issue? Can still not reproduce it.

[2019-06-18 17:00] RobinBuschmann commented on #640
Hey @fareshan, passing objects to the `Scope` annotation is deprecated. Use an arrows function instead, like so:

[code]

(Nevertheless there is a typings issue on sequelize-typescript side when using objects like you did. But since passing it like so is deprecated, it is very unlikely that this will be fixed. So use arrow functions :) )

Hope this helps!

[2019-06-18 17:05] RobinBuschmann commented on #641
Hey @fareshan, thanks for bringing this up. But This seems to be an issue on sequelize, not sequelize-typescript. Can you report this on the github page of sequelize instead?  Thanks :)

[2019-06-18 17:07] RobinBuschmann commented on #642
Hey @fareshan, this also seems to be an issue with the official sequelize typings. So this need to be fixed on sequelize side.

[2019-06-18 17:09] RobinBuschmann commented on #465
Hey @rvalim, can you provide an example repo which reproduces the issue please?

[2019-06-18 17:43] rvalim commented on #465
Hi @RobinBuschmann I copy from the original branch to [here](https://github.com/rvalim/cle_test)

you can do as bellow

- can create a new postgres database
- get the IP address, and substitute on DATABASE_URL from _./services/gama-auth/env/node.env_
- run _node_modules/.bin/sequelize db:migrate_
- run _npm run watch_

Sorry but it is a little bit verbose.

[2019-06-18 18:19] fareshan commented on #640
Thanks, my code contained 2 errors (or deprecated syntax). I had to:
1- use arrow function for scope
2- remove arrow function for include

This fixed my issue
Thanks @RobinBuschmann
I close the issue

[2019-06-18 18:19] #640 closed

[2019-06-18 18:25] Mauricio320 commented on #638
Do not recive alias from the front! Is there any solution for it?

[2019-06-18 18:38] fareshan commented on #641
@RobinBuschmann done: https://github.com/sequelize/sequelize/issues/11079

[2019-06-18 18:44] fareshan commented on #642
https://github.com/sequelize/sequelize/issues/11080

[2019-06-19 03:32] adminparry commented on #496
i`m also this question

@Table
class Book extends Model<Book> {
  @BelongsToMany(() => Author, () => BookAuthor)
  authors: Author[];
}

@Table
class Author extends Model<Author> {

  @BelongsToMany(() => Book, () => BookAuthor)
  books: Book[];
}

@Table
class BookAuthor extends Model<BookAuthor> {

  @ForeignKey(() => Book)
  @Column
  bookId: number;

  @ForeignKey(() => Author)
  @Column
  aut

[2019-06-19 03:32] adminparry commented on #496
Error: Model not initialized: "Author" needs to be added to a Sequelize instance before association can be resolved.

[2019-06-19 03:38] adminparry commented on #496
can i understand each ref problem

[2019-06-19 12:43] vinniimiranda opened #643 "removeHook function does'nt work the way it should."
**Versions**

- sequelize: ^4.43.2",
- sequelize-typescript: "^0.6.10",
- typescript: ^3.4.5"

**I'm submitting a ...**

[ x ] bug report
[ ] feature request

**Actual behavior:**
I'm having problems on testig my code because the external depencies that are executed in a Hook ('@AfterCreate'), in the testing file i am trying to removeHook, but it's not working, still getting the same error.

**Exp

[2019-06-19 16:23] RobinBuschmann commented on #638
@Mauricio320 sry, I can't  follow you. What do you mean with

?

[2019-06-19 16:53] RobinBuschmann commented on #465
Hey @rvalim I didn't get any errors. Can you provide a simpler example?

[2019-06-19 16:57] RobinBuschmann commented on #496
Hey @adminparry, thanks for reporting. Can you submit a new issue for that? An example repo would be great as well. Thanks!

[2019-06-19 17:11] RobinBuschmann commented on #643
Hey @vinniimiranda, thanks for bringing this up. You need to give your hook a name, like so:
[code]
[code]
It's also important to call `removeHook` after `Tenant` was added to the sequelize instance. For example:
[code]

Hope this helps. Feel free to close this issue, if my answer solves your issue.

[2019-06-19 19:57] vinniimiranda commented on #643
Thanks for the quick response.

I did the changes that you said, and it worked.

Thanks a lot Robin

[2019-06-19 19:57] #643 closed

[2019-06-21 11:35] rvalim commented on #465
When I run my application returns the mentioned error.

Just tried to use the **sequelize-cli** instead of **sequelize-cli-typescript**, everything worked just fine.

Bellow my package.json config, do you see any problem of doing like this? When I run _sequelize model:generation_ it creates the js version, but I can create the models by myself.

[code]

Tks

[2019-06-21 11:44] RobinBuschmann commented on #465
Since sequelize-cli-typescript doesn't seem to be maintained anymore, its definitely better to use sequelize-cli instead. In general I cannot recommend the one or the other, because I never used these tools. Sry

[2019-06-21 15:34] rvalim commented on #465
thank you @RobinBuschmann

[2019-06-22 07:30] dancon commented on #639
Got it, really appreciate it!

[2019-06-22 07:49] dancon commented on #639
I get

[2019-06-22 07:49] #639 closed

[2019-06-25 00:06] Dragons0458 commented on #458
Hello! My apologies for the delay in responding.

The query that shows me works for me, but when I do the opposite it does not work, what could it be? Thank you!

[code]

[2019-06-25 23:56] hcabnettek opened #644 "Typescript JSONB datatype on a model?"
Trying to type a model. How can I use JSONB sequelize postgres type?

`Keep in mind sequelize-typescript does not provide typings for sequelize - these are seperate things. A lot of the types in sequelize-typescript augment, refer to, or extend what sequelize already has.`

`@Table({ modelName: "Userprefs", tableName: "userprefs" })
export default class UserPrefs extends Model<UserPrefs> {

  @Pri

[2019-06-26 08:40] huanhuan129129 opened #645 "Naming collision between attribute 'id' and association 'id' on model SpaceModel. To remedy this, change either foreignKey or as in your association definition"
**Versions**
- sequelize: 5.8.8
- sequelize-typescript: 0.6.11
- typescript: 3.5.2

**questions**
### this is my ComponentModel
[code]

### this is my SpaceModel
[code]

### this is my SpaceComponentModel
[code]

**Actual behavior:**
![image](https://user-images.githubusercontent.com/13194743/60165482-f43d7a80-9831-11e9-8dce-91f648ecd275.png)

**questions**
I have set the foreign key in BelongsToM

[2019-06-28 20:47] oldmud0 commented on #644
[code]
Naturally, `prefs` might want to follow a certain structure rather than an arbitrary object (meaning, use a more specific type).

[2019-06-30 10:08] RobinBuschmann commented on #458
@Dragons0458 Do you receive the same error? I don't get any - It's working very well for me.

[2019-06-30 10:14] RobinBuschmann commented on #645
Hey @huanhuan129129, `@BelongsToMany` and `primaryKey: true` can't be used together: Define an additional property for your relations. Especially to get access the relational model typesafely:

[code]

[code]

Hope this helps! Feel free to close this issue, if my answer solves your issue.

[2019-06-30 14:21] rccoder commented on #593
@RobinBuschmann  Thx，solved my problem

[2019-07-01 23:37] ashokvishwakarma opened #646 "Unable to access Model.rawAttributes"
**Versions**
- sequelize: ^5.9.0
- sequelize-typescript: ^1.0.0-beta.3
- typescript: ~3.2.2

**I'm submitting an issue**

[x] bug report
[ ] feature request

**Actual behavior:**
In Sequelize I am able to access Model.rawAttributes which throwing an error with sequelize-typescript

[code]

**Expected behavior:**
It should give me the rawAttributes from the model

**Steps to reproduce:**
[code]

[2019-07-01 23:58] ashokvishwakarma commented on #646
I have fixed the same using the connection object

[code]

[2019-07-01 23:58] #646 closed

[2019-07-05 19:02] fjodor-rybakov opened #647 "getDataValue and setDataValue does not exist"
**Versions**

- sequelize: 5.9.3
- sequelize-typescript: 1.0.0-beta.3
- @types/sequelize: 4.28.3
- typescript 3.5.2

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**
[code]
Typescript say
[code]

[2019-07-08 05:15] samuelt1 commented on #567
@RobinBuschmann 's answer fixes the issue inside of the findAll sort of query, but I am using a  defaultScope to pull the includes with the order like this:
[code]
/app/node_modules/sequelize-typescript/dist/model/shared/model-service.js:80
        .reduce((acc, key) => {
         ^
TypeError: Class constructor ServiceProvider cannot be invoked without 'new'
    at /app/node_modules/sequelize-type

[2019-07-08 16:10] RobinBuschmann commented on #647
Hey @fjodor-rybakov, when using get/set within `Column` you have to tell the compiler what `this` is. It can't be inferred here:
[code]

Or use get/set accessors instead:
[code]

Hope this helps!

[2019-07-08 20:00] fjodor-rybakov commented on #647
The first will work if the type for `this` is specified as `any`.
If specified 'MyModel' i get this error
` Argument of type '"results"' is not assignable to parameter of type '"user" | "where" | "isNewRecord" | "sequelize" | "ge
tDataValue" | "setDataValue" | "get" | "set" | "setAttributes" | "changed" | "previous" | "save" | "reload" | "validate" | ... 32 more ...`

If use second option i get th

[2019-07-08 20:02] RobinBuschmann commented on #647
Can you share a repo which reproduces the issue? For me it is working

[2019-07-08 20:21] fjodor-rybakov commented on #647
I create for you test repo with this issues https://github.com/fjodor-rybakov/sequelize-test

[2019-07-08 20:25] fjodor-rybakov commented on #647
I create for you two branches with fist and secode try

[2019-07-09 17:18] RobinBuschmann commented on #647
@fjodor-rybakov Thanks for sharing. Seems to be an issue with the types. I don't know why they assume the same type for the dataValues and what the getters return and the setters get passed in. (You could open an issue for that on https://github.com/sequelize/sequelize) So for now you can only fix this by using `as any`:

[code]

or you could use the JSON data type and store the number array as it

[2019-07-09 18:16] fjodor-rybakov commented on #647
Oh, thanks! Use JSON type was better

[2019-07-09 18:16] #647 closed

[2019-07-09 18:40] thebigredgeek opened #648 "Add support for Sequelize V6"
**I'm submitting a ...**

[ ] bug report
[x] feature request

Now that Sequelize v6 is out, we should add support

[2019-07-10 09:23] RobinBuschmann commented on #648
Hey @thebigredgeek thanks for bringing this up. Can you provide docs (breaking changes) for version 6? I couldn't find any.

[2019-07-10 19:11] Dragons0458 commented on #458
I just checked and if it works correctly, sorry for the inconvenience, for now it was all good, thank you very much for your help! I will close the issue: D

[2019-07-10 19:11] #458 closed

[2019-07-11 23:36] fareshan commented on #642
this issue is fixed with sequelize version 5.9.4

[2019-07-11 23:36] #642 closed

[2019-07-16 12:57] Desnoo commented on #648
@RobinBuschmann I only found these release notes with breaking changes note https://github.com/sequelize/sequelize/releases/tag/v6.0.0%40next

[2019-07-17 10:28] praveenfzs commented on #389
hello, I am import type jquery in ionic 4 project.
To count remaining character in input field, i had attach error below.
![Ionic App](https://user-images.githubusercontent.com/39900321/61368487-912c8a00-a8ab-11e9-8786-49005e285895.png)

[2019-07-19 13:01] Plotist opened #649 "There is no way to simultaneously pass both scope and foreignKey options to the @BelongsToMany decorator"
**Versions**

- sequelize: ^5.8.6
- sequelize-typescript: ^0.6.10
- typescript: ^3.4.3

[x] bug report

**Actual behavior:**

In the `BelongsToMany.d.ts` we have two sets of arguments it can receive

[code]
- In one of those we are able to pass `foreignKey` but `through` options can only receive `ModelClassGetter` (no way to pass `scope` like in `IThroughOptions`)
- In the second one we can only s

[2019-07-19 13:38] Plotist commented on #649
@RobinBuschmann funniest thing - it works fine if I just add `foreignKey` to `IAssociationOptionsBelongsToMany` in `IAssociationOptionsBelongsToMany.d.ts` right in the source code like that:

[code]

[2019-07-19 16:33] ermamud opened #651 "Dynamic Table Name"
**I'm submitting a ...**

[  ] bug report
[?] feature request
[X] question

Hi,

I have a client that has an old system with a rotatory table system (for using a name) on MySQL. So, a new table is being created every month with the same name and the month-year as the suffix. All tables have the same schema and fields since we need to do a `UNION ALL` between several tables for building reports.

I

[2019-07-19 18:07] ermamud commented on #306
HI, I tried the same example above, and I am getting this error:
`@Table annotation is missing on class BaseCustomer `

Any ideas?

[2019-07-20 22:00] TobiasWehrum commented on #640
@RobinBuschmann, could you add this to the Readme? It currently teaches the deprecated way of doing things, and I tripped over the same problem as described here.

[2019-07-20 22:14] fareshan commented on #640
@TobiasWehrum It was already there. The issue is that you have to switch the
[branch 1.0.0](https://github.com/RobinBuschmann/sequelize-typescript/tree/1.0.0) to read it

[2019-07-20 22:36] TobiasWehrum commented on #640
I see. Then maybe a short note at the beginning of the master branch readme with a link to that branch? I don't think I would've found this anytime soon.

[2019-07-21 12:53] RobinBuschmann commented on #651
@ermamud Do I understand you correctly, that you still need access to the old tables via sequelize? Or is it enough to re-initalize sequelize with the new tables?

[2019-07-21 12:58] RobinBuschmann commented on #649
Hey @Plotist, actually it should work, since `AssociationOptionsManyToMany` extends `AssociationOptions` which already provides the `foreignKey` option. See this: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L1256

[2019-07-21 15:10] ermamud commented on #651
Yes @RobinBuschmann, I need to access all the old tables plus the new ones that are being created dynamically.

[2019-07-22 07:56] Plotist commented on #649
@RobinBuschmann I've missed that. You right, it should work
But for some reason (for me) it does not (see my set of versions for `ts`, `sequelize-typescript` and `sequelize` above

[code]

I'm not really good with either `sequelize` or `typescript` and I have no idea why it does not. Can you help out?

[2019-07-22 08:00] Plotist commented on #649
@RobinBuschmann I'll add a little more detail. An actual code that it fails on:

[code]

[2019-07-22 11:55] ssdk86 opened #652 "describe model with multiple relation to itself"
Versions

sequelize: 5.6.0,
sequelize-typescript: 5.6.0,
typescript: 3.4.3

I have model with multiple relation to itself and have problem to describe it.

In books_table have a list of books and books title

In books_alsoBought_table is only to columns(book_id_1 and book_id_2) with ids of books that hasMany relation to each other.

So we can see what book bought with other books. Both column is a

[2019-07-22 13:14] ssdk86 commented on #652
according to https://github.com/RobinBuschmann/sequelize-typescript/issues/398 it turned out very simple
`let books = await Book.findByPk(15, {include: [Book]});`
`!!Book.alsoboughtBooks == true;`

###Books
[code]

###BooksAlsoBought
[code]

[2019-07-22 13:14] #652 closed

[2019-07-23 16:01] hcabnettek commented on #644
@oldmud0 I am definitely interested in the underscored option. Where can I find more info?

[2019-07-23 22:54] oldmud0 commented on #644
See http://docs.sequelizejs.com/manual/models-definition.html#configuration:

[code]

[2019-07-24 11:02] Plotist commented on #649
@RobinBuschmann just checking in. Can you provide assistance or should I close the issue and figure it out by myself?

[2019-07-24 11:06] RobinBuschmann commented on #649
Hey @Plotist, completely overseen the versions of seq and seq-types you are using: sequelize version >= 5 only works with sequelize-typescript@next (1.0.0-beta.x)

Since version 5, sequelize provides its own typings.

[2019-07-24 11:40] Plotist commented on #649
@RobinBuschmann thanks!
btw, I'm bumped up version and now see:
Version:
[code]

Error:
[code]

Not sure wether I should report it here on in `sequelize` (or should I report it at all)

[2019-07-24 11:47] Plotist commented on #649
Anyway. This is not relevant since

Closing the issue

[2019-07-24 11:47] #649 closed

[2019-07-24 12:37] Plotist commented on #649
@RobinBuschmann btw the issue above was totally my fault.
It works as expected with ` "sequelize": "^5.10.2" ` and `"sequelize-typescript": "^1.0.0-beta.3"`

Thanks for the help!

[2019-07-25 08:44] hamburml opened #653 "Relation does not exist (Foregin Key)"
**Versions**

- sequelize: 5.10.2
- sequelize-typescript: 1.0.0-beta.3
- typescript 3.5.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

First time using sequelize and sequelize-typescriot. I have two models, device and measurement. A device can hav many measurements. A measurement is from exactly one device.

The Table "Devices" is created. The Table measurem

[2019-07-25 16:48] fareshan opened #654 "order inside findOrCreate"
https://github.com/sequelize/sequelize/issues/11081#issuecomment-515114663

This does not work:
[code]

The typescript error:
[code]

## Environment
sequelize-typescript: 1.0.0-beta.3
Dialect:
- [ ] mysql
- [ X ] postgres
- [ ] sqlite
- [ ] mssql
- [ ] any
Dialect library version: pg version 6.4.2
Database version: 9.6.12
Sequelize version: 5.8.10 (or 5.10.3 same issue)
Node Version: 8.11.4 (or 10

[2019-07-25 16:49] fareshan commented on #654
Is this a ```sequelize``` or ```sequelize-typescript``` issue ?
https://github.com/sequelize/sequelize/issues/11081#issuecomment-515114663

[2019-07-25 18:57] RobinBuschmann commented on #654
This is a sequelize issue. Since 1.0.0 sequelize-typescript uses the official typings of sequelize. According to their typings, `order: [["updatedAt", "DESC"]],` is not allowed here. As you can see here: https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L667 `FindOrCreateOptions` has no `order` property, since `FindOrCreateOptions` doesn't extend [`IncludeOptions`](https://gi

[2019-07-25 19:07] RobinBuschmann commented on #651
Does this example help somehow? (For details on whats going on there see this [comment](https://github.com/RobinBuschmann/sequelize-typescript/issues/487#issuecomment-442996094))
[code]

[2019-07-25 19:11] RobinBuschmann commented on #653
Hey @hamburml, this is because you're missing the `BelongsTo` relation on `Measurement `:

[code]

Hope this helps!

[2019-07-30 01:51] killerall commented on #46
Hello,

We can do something like that?

You have multiple interfaces with their own properties, but in the database they are stored in the same table.

[code]
[code]

[2019-07-30 18:01] petercooke536 opened #655 "Type Safe Through Table Instance Variables"
**Versions**

- sequelize-typescript:

**I'm submitting a ...**

[X] bug report
[ ] feature request

**Actual behavior:**

Type safe through-table instance access is not working.  I have two varies in the MemberOf table but in the graphql playground I can not get access to these two variables.

[code]

**Expected behavior:**

I should be able to see the MemberOf and User variables.

Group Model
[c

[2019-08-02 17:49] RobinBuschmann commented on #655
Hey @petercooke536, I assume, it's not working because your GraphQL schema isn't connected to  the class types. The only thing which can be evaluated by your GraphQL playground is are the GraphQL schema's. The playground can't now about the typescript types. You could create a union type in your schema like so:
[code]

Hope this helps. I'm closing this, since it isn't a sequelize-typescript issue

[2019-08-02 17:49] #655 closed

[2019-08-02 17:49] RobinBuschmann commented on #654
Closing this, since it is a sequelize issue - not a sequelize-typescript one

[2019-08-02 17:49] #654 closed

[2019-08-02 17:50] RobinBuschmann commented on #653
@hamburml Did my answer solve your problem? Can we close this issue then?

[2019-08-02 17:50] RobinBuschmann commented on #651
@ermamud Did my answer help in any way?

[2019-08-05 05:39] rroman81 opened #657 "Facing model not initialized issue"
**Versions**

- sequelize: 5.10.0
- sequelize-typescript: 1.0.0-beta.3
- typescript: 3.6.2

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**
I am getting an error `Model not initialized: <Model> cannot be instantiated. "<Model>" needs to be added to a Sequelize instance.` when attempting to use insert data via new Model constructor within the sequelize.authenticat

[2019-08-05 18:59] djvs commented on #536
@RobinBuschmann  as discussed where?  Broken link?

[2019-08-05 18:59] djvs commented on #536
#553 Fixed link

[2019-08-06 06:15] hamburml commented on #653
@RobinBuschmann Haven't had time to test this. Will do in some hours.

[2019-08-06 15:21] cwhatley opened #658 "underscored vs. model timestamps"
**Versions**

- sequelize: 5.12.3
- sequelize-typescript: 0.6.11
- typescript: 3.5.3

**I'm submitting a ...**

[X ] bug report
[ ] feature request

**Actual behavior:**

The typing for Model has camel case for the timestamps in Model.d.ts which makes a reference to the timestamp fields named using underscores an error.

**Expected behavior:**

If underscores is set on the sequelize instance, then

[2019-08-06 18:30] RobinBuschmann commented on #657
Hey @rroman81, thanks for reporting. Unfortunately I cannot reproduce it. Can you provide an example repo, please?

[2019-08-06 18:33] RobinBuschmann commented on #658
Hey @cwhatley, thanks for reporting. First thing I've noticed: You are using sequelize@5.12.3 together with sequelize-typescript@0.6.11, which is not supported. For sequelize@>=5 sequelize-typescript@next is needed. Can you try it this way?

[2019-08-07 05:05] phunguyen19 opened #659 "Mismatch typing of Transaction with sequelize"
**Versions**

- sequelize: ^5.12.3
- sequelize-typescript: ^0.6.11
- typescript: ^3.5.3

**I'm submitting a ...**

[x] bug report

**Reproduce:**
I define the model and using transaction like this
[code]

**Actual behavior:**
Getting error
[code]

**Expected behavior:**
No errors

[2019-08-07 05:42] RobinBuschmann commented on #659
Hey @phinguyen19 please use sequelize@>=5 together with sequelize-typescript@next (1.0.0-beta.3)

[2019-08-07 06:19] phunguyen19 commented on #659
@RobinBuschmann Solved my issue. Thanks.

[2019-08-07 06:19] #659 closed

[2019-08-07 15:17] andrewawni opened #660 "No type checking for Model.Create and Model.Build"
**Versions**

- sequelize: 5.12.3
- sequelize-typescript: 1.0.0-beta.3
- typescript: 3.5.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

MyModel.create() or .build() methods are accepting an argument of type object instead doing type checking with the actual model, this feature actually worked on sequelize-typescript v0.6.11 with the same sequelize version.

[2019-08-07 18:48] RobinBuschmann commented on #638
Closing this due to inactivity

[2019-08-07 18:48] #638 closed

[2019-08-07 18:49] RobinBuschmann commented on #615
Closing this due to inactivity

[2019-08-07 18:49] #615 closed

[2019-08-07 18:49] RobinBuschmann commented on #618
Closing this due to inactivity

[2019-08-07 18:49] #618 closed

[2019-08-07 18:50] RobinBuschmann commented on #620
Closing this due to inactivity

[2019-08-07 18:50] #620 closed

[2019-08-07 18:50] RobinBuschmann commented on #622
Closing this due to inactivity

[2019-08-07 18:50] #622 closed

[2019-08-07 18:51] RobinBuschmann commented on #625
Closing this due to inactivity

[2019-08-07 18:51] #625 closed

[2019-08-07 18:51] RobinBuschmann commented on #634
Closing this due to inactivity

[2019-08-07 18:51] #634 closed

[2019-08-07 18:51] RobinBuschmann commented on #635
Closing this due to inactivity

[2019-08-07 18:51] #635 closed

[2019-08-07 18:52] RobinBuschmann commented on #636
Closing this due to inactivity

[2019-08-07 18:52] #636 closed

[2019-08-07 18:52] RobinBuschmann commented on #641
Closing this, since it isn't a sequelize-typescript issue

[2019-08-07 18:52] #641 closed

[2019-08-07 18:52] RobinBuschmann commented on #644
Closing this since it's solved

[2019-08-07 18:52] #644 closed

[2019-08-07 18:53] RobinBuschmann commented on #645
Closing this due to inactivity

[2019-08-07 18:53] #645 closed

[2019-08-07 19:34] RobinBuschmann commented on #660
Hey @andrewawni, thanks for bringing this up. Since version 5 sequelize provides its own typings. These typings are used by sequelize-typescript@next. We don't want to override the original typings unless it's really necessary. So in order to bring this feature back alive, one need to push this on sequelize side. Hope this helps.

[2019-08-08 06:51] gray-wen opened #661 "use query operators aliases value is [object Object]"
**Versions**

- sequelize: "^5.12.3"
- sequelize-typescript: "^1.0.0-beta.3"
- typescript:"^3.5.3"

**I'm submitting a ...**

[ ] bug report
[ ] feature request

**Actual behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

output sql:
[code]

[2019-08-08 08:03] andrewawni commented on #660
Hey @RobinBuschmann , Thank you for responding.
I'm sorry but I'm not really sure if I get it, is there anything I can currently do to get this feature back without falling back to sequelize-typescript@latest?

[2019-08-08 12:45] RobinBuschmann commented on #660
you could implement this feature in [sequelize](https://github.com/sequelize/sequelize) and create a PR

[2019-08-08 15:41] hcabnettek commented on #644
Thanks!

[2019-08-09 14:23] justinlottes opened #662 "Sequelize v5.13.0 not supported"
**Versions**

- sequelize: 5.13.0
- sequelize-typescript: 1.0.0-beta.3
- typescript: 3.5.3

**I'm submitting a ...**

[ x] bug report
[ ] feature request

**Actual behavior:**

Unable to build project.  See below for tsc output...

[code]

**Expected behavior:**

I assume this should work.  The documentation says sequelize v5 is supported.  I have reverted back to sequelize v5.12.3 and all seems h

[2019-08-09 14:41] andrewawni commented on #660
That sounds great! please tell me how to get started

[2019-08-09 16:55] zeroFruit commented on #662
I had a same issue. in my case I used `sequelize-typescript@^1.0.0-beta.3`, `sequelize@5.10.2`.

 I don't know exact cause but I fixed this issue by changing `sequelize@5.10.2` to `sequelize@5.1.0` as I noticed `sequelize-typescript@^1.0.0-beta.3` internally use `sequelize@5.1.0`. I know this is temporary solution and hope to fix this issue asap

[2019-08-09 21:19] budhead2004 commented on #662
@zeroFruit I tried your solution but when using mssql dialect and hitting any of my endpoints it kept throwing some error from the connection-manager.js:
`Unhandled rejection SequelizeConnectionError: Invalid arguments: "instanceName" must be a string`

However with `sequelize@5.13.0`,  `sequelize-typescript@1.0.0-beta.3`, and `ts-node-dev@1.0.0-pre.40` everything seems to function as intended. In

[2019-08-10 03:57] zeroFruit commented on #662
@budhead2004
1. your code build successfully (ts -> js) ?
2. your mssql connection code runs with ts file?

[2019-08-11 17:31] RobinBuschmann commented on #662
Hey @justinlottes, thanks for reporting. Just published a new beta version. (`sequelize-typescript@1.0.0-beta.4` or `sequelize-typescript@next`). Can you confirm that its working with this one?

[2019-08-11 22:43] cristian-chis opened #663 "Virtual column retrieved as regular column inside include"
**Versions**

- sequelize: 5.13.1
- sequelize-typescript: 1.0.0-beta.4
- typescript: 3.5.2

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Virtual columns are retrieved as normal columns when using include. I have a virtual column called "name" on user model. When querying the model w/o mentioning any column, "name" does not show up. When mentioning it, it does

[2019-08-12 06:52] Chocobozzz commented on #662
It works on my side. Thanks @RobinBuschmann

[2019-08-12 07:55] hamburml commented on #653
@RobinBuschmann Didn't work :(
I added

[code]

Still it does show

[code]

[2019-08-12 11:24] RobinBuschmann commented on #653
Can you provide an example repo which reproduces the issue?

[2019-08-14 14:00] frct1 opened #664 "Wrong counting on included tables"
**Versions**

- sequelize: ^5.10.2
- sequelize-typescript: ^0.6.11
- typescript 3.4.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Currently when we trying to count multiple includes there is a trouble when count is wrong

**Expected behavior:**

Independent counting of each joined table records
**Steps to reproduce:**

[code]

Create for example 3 tables **

[2019-08-14 15:27] Floby commented on #662
Worked for me too.

[2019-08-14 18:55] RobinBuschmann commented on #661
Hey @gray-wen, you're using the old syntax. To get this working you have to use symbols:
[code]

(See [this](https://sequelize.org/master/manual/querying.html#operators) for details)

Hope this helps!

[2019-08-14 19:01] RobinBuschmann commented on #663
Hey @cristian-chis, thanks for reporting. Can you provide an example repo, since I cannot reproduce your issue?

[2019-08-14 23:24] Madror7 opened #665 "Self Join with two types of relationships- Parent and Children"
**Versions**
- sequelize-typescript:

**I'm submitting a ...**
[X ] bug report

**Actual behavior:**

"Alias cannot be inferred: \"Entity\" has multiple relations with \"Entity\"", is the error I receive when I try to post to the database

**Expected behavior:**

I have a table Entity and a table EntitiesToEntities.  An Entity can have one parent and multiple children. I am trying to post to Entit

[2019-08-14 23:29] Madror7 commented on #665
needed to add "as" in the include piece for each model. I was previously doing:

[code]

needed to do:

        const newEntity = await new Entity(whiteListEntityInsertRequest(newEntityRequest), {include: [
                {model: ContactInformation},
                {model: Entity,
                    as: 'parent',
                },
                {model: Entity,
                    as: 'childr

[2019-08-14 23:29] #665 closed

[2019-08-15 20:03] cwhatley commented on #658
I did try updating and still have to refer to the dates via "createdAt", for example.

[2019-08-15 20:12] justinlottes commented on #662
Works for me.  Thanks!

[2019-08-15 20:12] #662 closed

[2019-08-15 22:35] #664 closed

[2019-08-20 13:37] Mosouley commented on #451
That was a key answer, since my dirname could not add the related models
i finally got it done, by adding each of the models once, because they were related
You can also use globs like sequelize.addModels([__dirname + 'path/to/*/models/*']);

sequelize.addModels([Model1, Model2, Model3]) and it did the job!

[2019-08-20 21:08] acconrad commented on #662
@RobinBuschmann I actually am having trouble getting this to work. I pulled the latest from `sequelize-typescript@next` and the thing is I can see in the code that `interfaces/*` should be exported via `index.ts` _but_ I'm not seeing it show up when I actually install the folder into my `node_modules`

![Screen Shot 2019-08-20 at 5 05 09 PM](https://user-images.githubusercontent.com/422184/6338452

[2019-08-21 16:28] acconrad opened #666 "Next version missing interfaces"
**Versions**
- sequelize: `5.15.1`
- sequelize-typescript: `next`
- typescript: `3.5.3`

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
Code does not compile:

[code]

This is because the `interfaces` are not being properly exported to the `node_modules/sequelize-typescript/dist` folder:

![Screen Shot 2019-08-20 at 5 05 09 PM](https://user-images.githubuserconte

[2019-08-21 19:35] #437 closed

[2019-08-22 00:11] amites opened #667 "FindAll always returns `null` for @BelongsTo field"
Short version is that I'm unable to get a related model to populate with values

https://gist.github.com/amites/b16b24f864106121475e153c8b4d224a

The gist above duplicates the issue I'm seeing, can paste inline if helpful

With `logging: console.log` I can see that the query generated is pulling the related table data but not passing it back to the query result

assuming I'm doing something silly

[2019-08-23 02:11] Toxicable opened #668 "[feat] Add browser support back in"
It would appear in the 1.0.0 merge the generate-browser.js script was skipped over.
This was the latest version: https://github.com/RobinBuschmann/sequelize-typescript/blob/a05f4fcaa619ab04455ca87a39dacbeb8447a2c1/generate-browser.js

Would be great to have browser support back in for 1.0.0

[2019-08-23 18:38] amites commented on #667
Possibly related, if I migrate from using a static initialization of `Sequelize`

from:
`export const sequelize = new Sequelize`

to:
`export function initSequelize(context) { return new Sequelize`

where context contains dynamically loaded values then I start getting some strange errors

example:
`User.findAll()`

[code]

If I comment out `deleted_at` column then it will run the query but return

[2019-08-27 14:16] credli opened #669 "Hooks are not working"
**Versions**

- sequelize: 5.16.0
- sequelize-typescript: 1.0.0
- typescript: 3.5.3

**I'm submitting a ...**

[X] bug report
[ ] feature request

**Actual behavior:**

Hooks `@BeforeCreate` and `@BeforeUpdate` are not triggered upon calling create on a model.

**Expected behavior:**

static function with hook annotation should work like specified in tests.

**Steps to reproduce:**

Create a model

[2019-08-27 14:38] credli commented on #669
Turned out this is not an issue with `sequelize-typescript` but instead it was related to an issue with enum switch.

https://stackoverflow.com/questions/27747437/typescript-enum-switch-not-working

[2019-08-27 14:38] #669 closed

[2019-08-28 08:56] imbooo opened #670 "Missing useMaster option in count options"
Missing useMaster option in ICountOptions.d.ts.
Version 0.6.x

[2019-08-28 08:57] imbooo commented on #670
![image](https://user-images.githubusercontent.com/6120414/63841194-f13b4380-c9b4-11e9-8636-9786a3e54d81.png)

[2019-08-28 11:38] Otoru opened #671 "Alias cannot be inferred: "ModelA" has multiple relations with "ModelB""
**Versions**
- sequelize: 5.17.0
- sequelize-typescript: 1.0.0
- typescript: 3.5.3

**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Actual behavior:**
When performing a query on the table Users have an unexpected error.

**Expected behavior:**
Perform the query correctly.

**Steps to reproduce:**
Data my `Users` object, when executing `User.findAll command ({include: [models.Com

[2019-08-30 15:58] #671 closed

[2019-09-02 18:21] RobinBuschmann commented on #667
Hey @amites, sry for the late reply. I see 2 issues with your code.

1.
[code]
`BelongsTo` and `HasMany` takes as a second argument the foreign key, not the primary key.
2. When using `ForeignKey` you don't need to specify the foreign key in the `BelongsTo` and `HasMany` annotations.

So the following should do the job:
[code]
[code]
Hope this helps!

[2019-09-02 18:21] RobinBuschmann commented on #657
Closing this due to inactivity.

[2019-09-02 18:21] RobinBuschmann commented on #657
Closing this due to inactivity.

[2019-09-02 18:21] #657 closed

[2019-09-02 18:27] RobinBuschmann commented on #658
Hey @cwhatley, didn't get your issue in the first place, sry for that. The `underscored` option doesn't make access to underscored properties possible but just converts the field values to from camelCase to underscored. See official docs: https://sequelize.org/master/manual/models-definition.html#configuration

Closing this, since it is expected behaviour

[2019-09-02 18:27] #658 closed

[2019-09-02 18:31] RobinBuschmann commented on #660
The typings that need to be updated in sequelize repo can be found here: https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts

As an inspiration the typings of `sequelize-typescript@0.6.X`: https://github.com/RobinBuschmann/sequelize-typescript/blob/0.6.X/lib/models/Model.d.ts#L318

[2019-09-03 11:25] jpollard-cs commented on #312
assuming we now need to update the typings that ship with sequelize to get this to work?

[2019-09-04 21:56] briosheje commented on #271
In case someone experiences this issue, do NOT forget to declare the property type if you don't set it in the `@Column` signature.

In a nutshell, this **will raise an error (asking to specify column type**:

[code]

While this won't:

[code]

[2019-09-05 12:06] VictorJuliani opened #672 "findOne with nested many-to-many selection"
**Versions**

- sequelize: 5.16.0
- sequelize-typescript: 1.0.0
- typescript: 3.4.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**
Hi! I have a simple database mapping with this relations:
Item > hasOne > Tag
Tag > hasOne Company
Company > belongsToMany > UserCompany
User > belongsToMany > UserCompany

They seem correctly mappend using annotations and work fine

[2019-09-09 15:59] ssdk86 opened #674 "order by ids in array"
Hi!

I have some id and want to search with them
[code]

but my result is ordered by id: 3,4,6,8 ;

can we cancel such order and get 8, 4, 6, 3 ordered result?

[2019-09-09 16:45] ssdk86 commented on #674
find one way
[code]

[2019-09-10 09:08] questionablequestion opened #675 "Get model to use outside Nodejs app"
Hello,

Is it possible to use models defined by sequelize-typescript in React without getting sequelize properties, but just ones I defined in my model?

I did succeed to get somehow one part of the model I want by using following code
[code]

But if DBModel has some relation like `@BelongsTo` projects, if I try to access `RealModel.projects` it will list me again all sequelize properties, so I wo

[2019-09-10 18:30] amites commented on #667
Gracias, always a joy when it's the elusive obvious vs a real issue

At least once recognized, rather annoying when chasing it ;)

[2019-09-10 18:30] #667 closed

[2019-09-10 19:22] spearmootz opened #676 "getters/setters type issue"
**Versions**

- sequelize: 5.18.4
- sequelize-typescript: 1.0.0
- typescript: 3.6.2

**I'm submitting a ...**

[ x] bug report
[ ] feature request

**Actual behavior:**

Getters this.getDataValue returns the type declared on the class property and not on the Column.type.

**Expected behavior:**

this.getDataValue returns a type value stipulated by the Column.type if stipulated

**Steps to reproduc

[2019-09-13 12:07] ssdk86 commented on #674
@piyushkantm, thanks, can you get a link to example with adding case in  order statement?

[2019-09-17 21:21] webhacking opened #678 ""Error: Model not initialized: Member "findOne" cannot be called. "u" needs to be added to a Sequelize instance""
**Versions**

- sequelize:
- sequelize-typescript:
- typescript

**I'm submitting a ...**

[ ] bug report
[ ] feature request

[code]

[2019-09-18 03:58] amites commented on #576
that snippet would do well in the docs -- this issue took a minute to find as a reference on model wide validation

[2019-09-18 08:30] FujiBilly opened #679 "How to use initialAutoIncrement in sequelize-typescript"
**Versions**

- sequelize: 4.44.2
- sequelize-typescript: 0.6.11
- typescript: 3.3.3333

**I'm submitting a ...**

[ ] bug report
[x] feature request

**Actual behavior:**

**Expected behavior:**

`sequelize-typescript` can initial start of the auto increment column

**Steps to reproduce:**

**Related code:**

such as the model with `sequelize` and `initialAutoIncrement`:
[code]

[2019-09-19 05:38] lookfirst opened #680 "Figuring out relations"
Quite possibly this is my own stupidity of how to use sequelize, so I apologize in advance. That said, I'd expect some variation of what I'm doing to just work.

The good news is that I did make a point to make a sample project with a bunch of unit tests in my attempt to try to figure this out. Once we know how it works, it might be nice to add this as a working example so that others can benefit.

[2019-09-21 19:12] questionablequestion commented on #675
Thanks @Toxicable but not really sure that can help me. I want basically a shared folder with models from API so I can reuse them on web and mobile (react-native). What I do now is I guess fine but it's a bit tedious as I found that I have to replace all associations as well within the model to custom association model where I excluded Sequelize model.

I tried searching some more on how to do thi

[2019-09-26 08:14] ricktjwong commented on #525
Using an `index.ts` file for exporting models work, just add this to your sequelize initiation:

`import * as models from './models'`

[code]

[2019-09-26 09:39] vipulpatel1994 commented on #281
How should i do in my repo

[2019-09-26 14:52] webmaster0820 opened #681 "Help me please: I tried to get all items that contain deleted items."
I tried to get all items that contain deleted items.
How can I do it using scope?
  [scopes.contact]: {
		include: [{
			model: Contact.scope('deleted'),
			as: 'contact'
		}]
	},

[2019-09-27 09:59] RobinBuschmann commented on #663
Closing this due to inactivity

[2019-09-27 09:59] #663 closed

[2019-09-27 09:59] RobinBuschmann commented on #661
Closing this due to inactivity

[2019-09-27 09:59] #661 closed

[2019-09-27 09:59] RobinBuschmann commented on #660
Closing this due to inactivity

[2019-09-27 09:59] #660 closed

[2019-09-27 10:00] #651 closed

[2019-09-27 10:00] RobinBuschmann commented on #653
Closing this due to inactivity

[2019-09-27 10:00] #653 closed

[2019-09-27 10:09] RobinBuschmann commented on #672
@VictorJuliani Does piyushkantm's answer solve your issue?

[2019-09-27 10:23] RobinBuschmann commented on #668
Hey @Toxicable, thanks for bringing this up. In Version 1.0.0 the folder structure completely changed compared to 0.6.X. So that much more manual work is needed to bring this feature back alive.

Are you using real implementations (e.g. class functions) or just the types of models in your client? I'm asking because if the latter, maybe a mapped type would be a better solution?

[2019-09-27 10:23] RobinBuschmann commented on #668
And sorry for the late reply

[2019-09-27 10:31] RobinBuschmann commented on #676
Hey @spearmootz thanks for reporting. Unfortunately this cannot be fixed within sequelize-typescript, but need to be solved on sequelize side. The actual issue is the type of `getDataValue`: https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L2551. As your example makes it very clear, the internal type (the type stored in dataValues) doesn't necessarily need to be the type of

[2019-09-27 10:32] RobinBuschmann commented on #678
Hey @webhacking, can you provide an example repo which reproduces the issue?

[2019-09-27 10:34] RobinBuschmann commented on #679
Hey @FujiBilly, you can set the inital auto increment value in the table options like so:
[code]

Hope this helps

[2019-09-27 10:39] Toxicable commented on #668
It's all good.
I came up with a far more simplified version here: https://github.com/RobinBuschmann/sequelize-typescript/pull/673

As for how we use them, we only use properties, we don't define any functions in out Models.
We actually go a bit further than athat and noop out all the Sequalize types on Model like this:

[code]
This is so you don't get methods like `findById()`, which wont work in

[2019-09-27 10:47] RobinBuschmann commented on #281
@vipulpatel1994, if you use `sequelize-typescript@1.0.0`, this should do the trick:
[code]

[2019-09-27 11:09] RobinBuschmann commented on #680
Since `Thing` depends on `Person`, you either have to create a `Thing` instance from a `Person` instance like so:
Precondition: Person need to have the relation setup as well:
[code]
[code]
...or you need to set the foreign key of Person instance to thing instance:
[code]

Hope this helps!

[2019-09-27 11:20] RobinBuschmann commented on #681
Hey @webmaster0820 can you provide an example repo with your sequelize/model setup?

[2019-09-27 11:21] webmaster0820 commented on #681
thanks for reply, sure

[2019-09-27 11:22] webmaster0820 commented on #681
export class ContactFamily extends Model<ContactFamily> {

	@ForeignKey(() => Contact)
	@Column({
		type: DataType.INTEGER.UNSIGNED,
		allowNull: false,
		field: 'contact_id',
	})
	contactId?: number;

	@BelongsTo(() => Contact, 'contact_id')
	contact!: Contact;
-----------------------------------------
@Scopes(() => ({
  contacts: {
		include: [{
			model: Contact,
			as: 'contact',
		}]
	},

[2019-09-27 11:38] RobinBuschmann commented on #668
I'm just wondering, that the bundler tries to bundle the models at all, since you only use them as types. Actually they should be omitted in general.

[code]
should become something like:
[code]

Nevertheless, I'm totally fine with your solution (#673). Thanks for implementing it!

[2019-09-27 11:39] #668 closed

[2019-09-27 11:41] lookfirst commented on #680
Great thanks! I'll close this as I've moved onto MikroORM v3. Cheers and thanks for the great response.

[2019-09-27 11:41] #680 closed

[2019-09-27 11:56] RobinBuschmann commented on #681
What about:
[code]
Usage
[code]

[2019-09-27 13:37] webmaster0820 commented on #681
it will contains all `contact` such as deleted contacts and undeleted contacts

[2019-09-27 13:37] webmaster0820 commented on #681
?

[2019-09-29 12:27] RobinBuschmann commented on #681
@webmaster0820 It depends on how the scope _deleted_ of the `Contact` model is defined:

[code]

So that `Contact.scope('deleted').findAll()` returns all deleted entries.

[2019-09-29 13:02] RobinBuschmann commented on #375
Closing this, since `1.0.0` is released

[2019-09-29 13:02] #375 closed

[2019-10-01 08:21] JamesParkDev opened #682 "How to add indexes with decorators ?"
How Can I make the title an Index?

-->
[code]

[2019-10-01 14:51] VictorJuliani commented on #672
@piyushkantm I had tried that, but without success. In fact, I tried placing `subQuery: false `everywhere and in multiple places as well. However, the outcome was always as reported.

@RobinBuschmann My solution to this was to reverse Item & Tag relation (though no changes were required in DB). Then, my selection became:

[code]

In this way, my joins changed from Item > Tag > Company > User to Ta

[2019-10-02 03:14] jvieirar opened #683 "Bug with Version field on relationship"
**Versions**
- sequelize: 5.19.1
- sequelize-typescript: 1.0.0
- typescript: 3.6.3

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**

I'm getting 'version field not found in table' when I findAll() including a relationship.
I have defined both timestamps and version to **false** on my sequelize setup:
[code]

My table Milkrun has a ManyToMany relationship with Agen

[2019-10-02 10:23] JamesParkDev commented on #682
Oh nvm I figured it out on issue #93 ! Sorry

[2019-10-02 10:24] #682 closed

[2019-10-02 13:33] frct1 opened #684 "More useful possibility to define own method for model or instance"
**Versions**

- sequelize: ^5.18.4
- sequelize-typescript: 0.6.11
- typescript3.4.3

**I'm submitting a ...**

[ ] bug report
[x] feature request

**Actual behavior:**

Many options to create instance methods through a lot of hard to read code
**Expected behavior:**

Defining instance methods inside model definition with decorator or something like that
Creating own decorator from lib to define in

[2019-10-02 14:07] RobinBuschmann commented on #684
Hey @frct1, it's already possible to define model and instance methods easily. Just like in any normal class:

[code]

So no need for defining them in the table options like `@Table({instanceMethods: {}, model...})`

Does this resolve your issue?

[2019-10-02 14:24] frct1 commented on #684
Hello @RobinBuschmann
WOOOOOOAH
Incredible
Got it, yes it solve the question
Awesome!
Thank you for answer
Looked for this for a week, maybe more :D

[2019-10-02 14:24] #684 closed

[2019-10-02 14:34] frct1 commented on #684
I think i can create PR for updating README.md about instance/model methods (currently in web a lot of creepy solutions. Actually i'm didn't test them, but look like)

If you don't mind it

[2019-10-02 14:41] RobinBuschmann commented on #684
Thanks for asking, but it's already part of the sequelize documentation: https://sequelize.org/master/manual/models-definition.html#expansion-of-models.

[2019-10-02 14:47] frct1 commented on #684
![image](https://user-images.githubusercontent.com/25178244/66054416-9c06ca80-e53c-11e9-88d4-026d30bb918e.png)

Oh, it's become to be more sad
I missed it in official docs :(

[2019-10-02 17:15] Madror7 opened #685 "Associations and destructuring - Unexpected Includes"
**I'm submitting a ...**

[X] bug report
[ ] feature request

**Actual behavior:**
I have a data model with a lot of associations.  I included those associations when retrieving a record by using the include option.  For example an organization has stores, brands, and contactinformation. The stores and brands, that are child records, likewise also have contact information.

I refactored my code so

[2019-10-02 21:04] #685 closed

[2019-10-04 06:28] grzegorzCieslik95 opened #686 "Model not initialized: Member "getTableName" cannot be called. "Model" needs to be added to a Sequelize instance"
**Versions**

- sequelize: 5.19.2
- sequelize-typescript: 1.0.0
- typescript: 3.6.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

Hi, I have two models

[code]

and

[code]

And sequelize init
[code]

Everything works great, but when I try use repository with include like this

[code]

this throw error
[code]

But when I log the sequelize instance, models keys look like this
[code

[2019-10-04 10:21] grzegorzCieslik95 commented on #686
Problem resolved :)

In repository, I change include keys to

[code]

[2019-10-04 12:13] RobinBuschmann commented on #686
Hey @grzegorzCieslik95, yeah this is one way, another is documented [here](https://github.com/RobinBuschmann/sequelize-typescript#how-to-use-associations-with-repository-mode). Hope this helps! :)

So we can close this now, right?

[2019-10-04 12:13] grzegorzCieslik95 commented on #686
Yes, thanks :)

[2019-10-04 12:14] #686 closed

[2019-10-05 17:36] TNThacker2015 opened #687 "One-to-many relationship errors"
**Versions**

- sequelize: 5.13.1
- sequelize-typescript: 1.0.0-beta.4
- typescript: 3.6.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

I am making a one-to-many relation.
[code]
However, the code errors and returns `ReferenceError: Cannot access 'Userinfo' before initialization`
**Expected behavior:**

The code runs without errors, and the one-to-many relat

[2019-10-08 11:22] grzegorzCieslik95 opened #688 "Sequelize-typescript with jest.js tests"
**Versions**

- sequelize: 5.19.2
- sequelize-typescript: 1.0.0
- typescript: 3.6.3

**I'm submitting a ...**

[ ] bug report
[X] feature request

Hi,
Do you have any idea, how should I mock Sequalize class in tests in this case?

I have repository
[code]

When I try to create a new instance of User I got an error like that
[code]

Do you have any idea, how can I fix this problem?

[2019-10-09 10:32] FujiBilly commented on #679
Hey @RobinBuschmann ,I try to use the table options, but it's useless
[code]

[2019-10-10 11:48] Satont opened #689 "UnhandledPromiseRejectionWarning: Error: Model not initialized: Member "call" cannot be called. "Model" needs to be added to a Sequelize instance."
**Versions**

- sequelize: 5.19.5
- sequelize-typescript: 1.0.0
- typescript: 3.6.4
- "pg": "^7.12.1",
- "pg-hstore": "^2.3.3",

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

I'm using postgresql, and when i'm trying to call findOne() got this error.
[code]
So weird i tryed sqlite provider, and it returns me `null`, without this error.
Also i added
[code]
For

[2019-10-11 09:34] Satont commented on #689
Again, when i tested this on sqlite i got it working (i think, because my code at https://github.com/Satont/twitch-vk-notifier/blob/master/src/libs/vk.ts#L11 showed me `null` in console), postgre not.

[2019-10-15 17:50] catsalive opened #690 "QueryTypes not part of typings"
**Versions**
- sequelize: 5.19.6
- sequelize-typescript: 1.0.0
- typescript 3.6.4

**I'm submitting a ...**
[ x] bug report
[ ] feature request

**Actual behavior:**
After creating the sequelize-typescript instance, even though The QueryTypes prop is present on the object, typescript is not aware of them.

**Expected behavior:**
Should be able to use QueryTypes from the sequelize-typescript instan

[2019-10-16 18:53] spearmootz commented on #676
i have opened an issue here.  i tried to fix it but failed to do so, in the issue i have my observations which for a typescript master its probably rubbish.

https://github.com/sequelize/sequelize/issues/11558

[2019-10-16 18:53] #676 closed

[2019-10-17 17:50] RobinBuschmann commented on #683
Hey @jvieirar, sry for the late reply. To recap your issue: Sequelize expects a `version` field on your through table `milk_run_agents`, which isn't actually defined on your database, right? This seems to be a sequelize issue, not a sequelize-typescript one. Assumed it is an issue and not expected behaviour. I couldn't find anything related to this in the sequelize docs. So I suggest to create an

[2019-10-17 18:07] RobinBuschmann commented on #687
Hey @TNThacker2015 , sry for the late reply. You defined both `Alias` and `Userinfo` in one and the same file, right? And that's the actual issue: Classes aren't hoisted in JavaScript. So `Userinfo` isn't defined yet when it gets evaluated within your `Alias` class. To be more accurate, this line `public user!: Userinfo;` is the actual problem. Now you could ask yourself, why is this, since type a

[2019-10-17 18:19] RobinBuschmann commented on #688
Hey @grzegorzCieslik95 thanks for bringing this up! You could create another sequelize instance just for testing purposes with option `validateOnly: true`:
[code]
With `validateOnly` sequelize doesn't connect to any database, but the models get initialized and can be instantiated.

Hope this helps!

Maybe it would be better to provide an option, which is exclusively defined for testing purposes li

[2019-10-17 18:42] RobinBuschmann commented on #690
Hey @catsalive, thanks for reporting, but unfortunately this doesn't seem to be an issue with sequelize-typescript but with the typings provided by sequelize itself. The `Sequelize` class of sequelize-typescript just extends the one from sequelize. So this should be reported here: https://github.com/sequelize/sequelize

Until then, you can use the enum (which comes with typings of course) directly

[2019-10-17 18:45] RobinBuschmann commented on #679
Which dialect are you using, postgres? Just noticed that it doesn't work on postgres: https://github.com/sequelize/sequelize/issues/5954
https://sequelize.readthedocs.io/en/latest/api/sequelize/

[2019-10-17 19:01] RobinBuschmann commented on #689
Hey @Satont, sry for the late reply. Can you provide a simpler example which reproduces the issue? So that I don't have to set up twitch? Just the a file with the sequelize setup, a file with the model and another with a method which makes the database request? Thank you

[2019-10-17 22:03] jvieirar commented on #683
Thanks a lot, @RobinBuschmann for your answer, I'll give it a try!

[2019-10-18 06:51] grzegorzCieslik95 commented on #688
Hi @RobinBuschmann !
Thanks for your answer. In my project, I changed ORM to typeorm, but in the feature project, I will try to use sequelize again.
If sequelize with `validateOnly` doesn't connect to the database, I think the better name is `shouldConnectToDatabase` or something similar. And if you can add a better description for this key will be great, because now description `If true enable va

[2019-10-18 19:48] max10rogerio opened #691 "Create methods $getOne and $getMany"
**Versions**
- sequelize: 5.19.8
- sequelize-typescript: 1.0.0
- typescript: 3.6.4

**I'm submitting a ...**
[ ] bug report
[x] feature request

Using the `$get( )` method, the return can be an array or not.
This can causes some confusions.
Example:
Using graphql with typescript, I need return exact type for it, but the `$get( )` method returns
`Promise<R | R[ ]>`, and to work you need force cast

[2019-10-19 02:45] Satont commented on #689
Hi, just setuped project for you.
https://github.com/Satont/sequelize-typescript689
Set up your db credentials at src/libs/db.ts, after that just use
`npm i; npm run build; node dest/app.js`

[2019-10-19 02:52] Satont commented on #689
Nah, nevermind. I removed babel intermediary, and moved to `tsc`, my problem is gone.

[2019-10-19 02:52] #689 closed

[2019-10-19 03:01] FujiBilly commented on #679
oh yes, thanks

[2019-10-19 03:01] #679 closed

[2019-10-19 13:16] RobinBuschmann commented on #691
Hey @max10rogerio, thanks for bringing this up. I just noticed an issue with the current types of `$get(...)`: Actually it should rather be `Promise<R | null | R[ ]>` than `Promise<R | R[ ]>`. So that `$getOne` would be `Promise<R | null>`, which isn't an exact type either. So type checking or type casting need to be done anyway.

Besides fixing the types, we could implement some type inference in

[2019-10-21 12:54] max10rogerio commented on #691
I'm new in typescript, so I'm not really the best one to say if its good or not. But It does seen to solve my problem, thanks!

[2019-10-24 11:56] devdany opened #692 "i got a error like throw new Error(`@Column annotation is missing for "${propertyName}" of class "${target.constructor.name}"` + ^ Error: @Column annotation is missing for "id" of class "MembersInWorkspace" or annotation order is wrong"
**Versions**

- sequelize: 5.15.1
- sequelize-typescript: 1.0.0
- typescript

I write a model like this.

MembersInWorkspace.ts

[code]

Workspace.ts
[code]

User.ts
[code]

i got a error like
[code]
what is the problem for my code?

[2019-10-25 07:28] #692 closed

[2019-10-25 17:50] FauziFadhi commented on #596
where am i wrong about this $create ?

// company
@Column({ allowNull: false, type: DataType.STRING(50) })
  name: string

  @CreatedAt
  @Column({ field: 'created_at' })
  createdAt: Date

  @UpdatedAt
  @Column({ field: 'updated_at' })
  updatedAt: Date

  @Column({ field: 'is_deleted', defaultValue: 'f', type: DataType.BOOLEAN })
  isDeleted: boolean

  @HasMany(() => CompanySettings)
  setting

[2019-10-25 17:54] FauziFadhi commented on #596
`sads`

[2019-10-25 17:56] FauziFadhi commented on #596
where am i wrong about this $create mr. @RobinBuschmann ?

`// company
@column({ allowNull: false, type: DataType.STRING(50) })
name: string

@CreatedAt
@column({ field: 'created_at' })
createdAt: Date

@UpdatedAt
@column({ field: 'updated_at' })
updatedAt: Date

@column({ field: 'is_deleted', defaultValue: 'f', type: DataType.BOOLEAN })
isDeleted: boolean

@hasmany(() => CompanySettings)
settings

[2019-10-25 18:23] FauziFadhi opened #693 "Need help with like $create automatic association method"
where am i wrong about this $create mr. @RobinBuschmann ?
im using version 1.0.0

`// company
[code]

`// company settings
`
[code]
`

// controller
[code]
i have few question
1. my hasMany association name from Company -> CompanySettings is 'settings' but why when i use assocatiation method $create, has to be 'setting' to make it work ?

2.  can i bulk create like, with $create method too ? creat

[2019-10-26 11:21] linger123 opened #694 "i have update command who doesnt work"
await User.update({
                    logout_at: utc.format('YYYY-MM-DD HH:mm:ss')
                }, {
                    where: {
                        id: Sequelize.fn('unhex', id)
                    }
                });
that is error:

 UnhandledPromiseRejectionWarning: Error: Cannot pass SequelizeMethod as a bind parameter - use escape instead
[Node]     at MySQLQueryGenerator.format (

[2019-10-28 03:29] KokomiShiina commented on #678
Hi, I am having the same issue. Looks like a chicken and egg problem.

My code looks like this.

[code]

Where I look at the runtime param, `__dirname` is pointing to the folder where the TypeScript files are compiled into JavaScript. So it cannot resolve `*.model.ts` inside the `lib` folder. Where my `src` folder have all the models in TypeScript.

I've tried replacing the `.ts` with `.js`. It se

[2019-10-28 03:38] KokomiShiina commented on #678
My bad, just figured out I need to use the `modelMatch` function for `.model` suffix. It gets to work finally.

However, the document point us to use globs in `.ts` which cannot be resolved. I ended up using `.js` or the Model will not be initialized.

I guess a framework might have been used during the development (?). But `.js` has to be used in pure TypeScript.

[2019-10-28 10:13] #678 closed

[2019-11-01 03:44] #693 closed

[2019-11-01 08:38] RobinBuschmann commented on #693
@FauziFadhi Could you solve your issue?

[2019-11-02 10:13] FauziFadhi commented on #693
yeah, i just make all association name to singular, even its association is hasMany,
then i can put that association name in $create parameter like its name.

but it would be better if i have association hasMany and its name is 'settings', then i put it 'settings'.
for now if like that, it make some errors, and i has to put in param 'setting'

[2019-11-02 16:57] sudhagar10 opened #696 "Typescript compilation failing after I enabling `strict: true`"
**Versions**

- sequelize: 5.19.3
- sequelize-typescript: 1.0.0
- typescript: 3.6.3

**I'm submitting a ...**

[x ] bug report
[ ] feature request

**Actual behavior:**

Not sure if this belongs here, but after hours of looking for a solution, I don't know what else to do.

The issue is after enabling "strict": true in tsconfig.json, compilation is failing with below logs.

**Logs**
`src/storage/m

[2019-11-02 19:23] JasonEtco commented on #691
I came here looking for this issue! The [above solution]() looks like a great implementation. I'd want to continue using the `$get` method, with smarter typing inferred from the model properties rather than additional methods.

[2019-11-04 11:05] sudhagar10 commented on #696
Sorry my bad. This was due to recompilation.

In one of the files I am importing, there is this line `require('ts-node/register');` which was causing recompilation.

[2019-11-04 11:05] #696 closed

[2019-11-05 17:54] RobinBuschmann commented on #694
Hey @linger123 Can you provide more information about where `utc.format` comes from?

[2019-11-05 20:20] RobinBuschmann commented on #691
@JasonEtco @max10rogerio Here we go: `sequelize-typescript@1.1.0-beta.1` or just `sequelize-typescript@next`

[2019-11-05 21:55] JasonEtco commented on #691
Thanks for the quick action @RobinBuschmann, works like a charm! The only thing is, I'm now able to remove things like:

[code]

But that hack was also preventing it from returning `<Relation | null>`. Is there an obvious way to say that `$get()` will always returning a record, and never `null`? Sorry if that's out of scope of this issue, but it came up while removing the type overrides that #697

[2019-11-06 06:59] RobinBuschmann commented on #691
Your welcome

If you are 100% sure that you always get a result, casting is still your best option. From sequelize point of view `Relation | null`, makes perfectly sense. Since the related data doesn’t necessarily exist on database table.

[2019-11-06 11:17] max10rogerio commented on #691
@RobinBuschmann Thanks!

[2019-11-06 20:48] JasonEtco commented on #691
That makes sense, thanks for the info @RobinBuschmann ✨

[2019-11-07 08:13] DigiGroundJohn opened #701 "sequelize with Sequelize.VIRTUAL,"
Hi,

is there any way to achieve below in sequelize-typescript ?

const Pug = db.define('pugs', {
  firstName: {
    type: Sequelize.STRING,
  },
  lastName: {
    type: Sequelize.STRING
  },
  fullName: {
    type: Sequelize.VIRTUAL,
    get () {
      return this.getDataValue('firstName') + ' ' + this.getDataValue('lastName')
    }
  }
})

Thanks

[2019-11-07 09:39] RobinBuschmann commented on #701
Sure:
[code]

Hope this helps!

[2019-11-08 00:50] DigiGroundJohn commented on #701
Thanks for the reply,

But the getDataValue always returning undefined.

"myFullName": "undefined undefined",

[2019-11-08 00:54] DigiGroundJohn commented on #701
Sorry got this, I was not selected firstName and lastName

Thanks

[2019-11-08 00:54] #701 closed

[2019-11-08 02:00] DigiGroundJohn opened #702 "get the child's child attributes its parent"
Hi,

The below function is working, getting all the details of the users and its association.
 Can we get the child's child attributes in the children?
 Is there any way I can fetch the count of starsST in each story and "behaviourName" attribute in the story model.

 I already tried sequelize hierarchy. I am looking forward to your suggestion.
Thanks

const teamMemberDetails = await this.userMode

[2019-11-09 05:53] FauziFadhi commented on #702
can i see your model class and your database settings ??
I need this hierarchy too.

[2019-11-10 10:03] kfrajtak opened #703 "Field 'id' doesn't have a default value"
**Versions**

- sequelize: 5.3.1
- sequelize-typescript: 0.6.11
- typescript: 3.3.3333

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

I have following class
[code]

and when I try to insert new instance into the database, the library tries to insert value into the primary key column as well resulting in the `Field 'id' doesn't have a default value` error with

[2019-11-11 08:02] kfrajtak commented on #703
Sorry for my stupidity, I forgot to modify the database column to use auto increment feature ...

[2019-11-11 08:02] #703 closed

[2019-11-12 11:25] wizardnet972 opened #704 "Generate models from database"
This library provide a way to generate model classes from database? any outside tool to do that?

[2019-11-16 09:07] RobinBuschmann commented on #704
Hey @wizardnet972, not yet. But if you‘d like to implement it, I would definitely support you with that.

[2019-11-16 09:09] wizardnet972 commented on #704
@RobinBuschmann Yeah, I'm working on it, update soon :)

[2019-11-16 09:09] #704 closed

[2019-11-16 09:24] RobinBuschmann commented on #704
Sounds good. 👍

[2019-11-18 12:37] Kagu-chan opened #705 "Sequelize.logging typings are incorrect"
**Versions**
- sequelize: `^5.21.2`
- sequelize-typescript: `^1.0.0`
- typescript: `^3.6.3`

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
`SequelizeOptions->logging` provides the Sequelize Object instead of `timing: number` as second parameter

**Expected behavior:**
`SequelizeOptions->logging` should provide the typed Sequelize Object **or** the execution time

[2019-11-21 18:10] RobinBuschmann commented on #705
Hey @Kagu-chan, thanks for reporting, but this is a sequelize issue. Since the typings are defined there https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L18, can you report it in the sequelize repo instead?

[2019-11-22 21:37] Kagu-chan commented on #705
Thanks for the link - i didn't exactly look into the code at this point (:

For other users who may find this it's worth mentioning, that the parameter `logging.benchmark: boolean` enables exactly this behavior.

Since it's resolved in this case, i'll close the issue (:

[2019-11-22 21:37] #705 closed

[2019-11-29 10:17] neeraj87 opened #706 "@BeforeUpdate hook not working"
**Versions**

- sequelize: ^5.21.2
- sequelize-typescript: ^1.0.0
- typescript: ^3.6.4

**I'm submitting a ...**

[x ] bug report
[ ] feature request

**Actual behavior:**

I have `@BeforeCreate` and `@BeforeUpdate` hook on my model which is suppose to hash the password before saving but only the before create hook works. When I do User.update(). the password is saved in plain text

**Expected beh

[2019-12-02 06:37] cjancsar commented on #328
@snewell92 did you ever make any progress on this? That branch is dead.

[2019-12-02 12:50] ialexi-bl opened #708 "Add "save" to AssociationActionOptions options"
## Versions

- sequelize: ^5.21.2
- sequelize-typescript: ^1.0.0
- typescript: ^3.7.2

## I'm submitting a ...
[x] bug report
[  ] feature request

## Related

#244

## Behavior

`$set` doesn't accept the `save` option described in sequelize documentation (https://sequelize.org/v5/class/lib/associations/belongs-to.js~BelongsTo.html#instance-method-set). The following code produces compilation erro

[2019-12-03 05:59] wangweiwei opened #709 "'You have an error in your SQL syntax' when i used DataType.ARRAY"
**Versions**

- sequelize: 5.21.2
- sequelize-typescript: 1.0.0
- typescript: 3.7.2

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

I've got an error when i used `DataType.ARRAY(DataType.STRING())` like this:
[code]
sql from logging hooks function like this:
[code]
this error is:
[code]

**Expected behavior:**

sql from logging hooks function like this:
[code]

[2019-12-04 16:52] AndresED opened #710 "How use concat with alias model in sequelize"
I am trying to perform a search based on the concatenation of 3 attributes of my model
For this I am using the concat function but because my model has multiple relationships I had to use an alias for my model but at the time of listing the results I always get the following error:

error: an entry for the "cliente" table is missing in the  clause

Stack:

 - NestJS : ^6.0.0
 - Sequelize-Typescrip

[2019-12-04 21:17] cjancsar opened #711 "When using glob configuration with `tsc` compiler (with NestJS) cannot resolve model modules"
**Versions**
- sequelize: "version": "5.21.2",
- sequelize-typescript: "version": "1.0.0",
- typescript "version": "3.7.2",

**I'm submitting a ...**
[ x ] bug report
[ ] feature request

**Actual behavior:**
Setting up `sequelize-typescript` and then adding models:

[code]

An error is thrown when trying to do the `require(fullPath)` line in `sequelize-service` (https://github.com/RobinBuschmann/

[2019-12-04 21:26] cjancsar commented on #711
If you want any internet points: https://stackoverflow.com/questions/59184878/sequelize-typescript-when-using-glob-configuration-with-tsc-compiler-with-n

[2019-12-04 21:48] cjancsar commented on #711
Resolved via:

Thanks to https://stackoverflow.com/users/9576186/jay-mcdoniel for the assist

[2019-12-04 21:48] #711 closed

[2019-12-05 04:40] jpollard-cs opened #712 "TypeError: Cannot read property 'name' of undefined"
**Versions**

- sequelize: ^5.17.2
- sequelize-typescript: 1.0.0
- typescript: 3.7.2

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
[code]

**Related code:**

I have a many-to-many relationship which is essentially modeled like is seen in the below code. The `VendorEmployeeModel` represents a join table, but there may not always be an `Employee` record unless th

[2019-12-05 12:54] jpollard-cs commented on #712
I've put this up on StackOverflow with some improved formatting: https://stackoverflow.com/questions/59195662/sequelize-many-to-many-relationship-typeerror-cannot-read-property-name-of-un

[2019-12-05 16:19] RobinBuschmann commented on #712
Does your mentioned code also reflect the file structure. What I mean is, are your classes in one file? Can you also provide how you initialize the sequelize instance?

[2019-12-05 16:23] RobinBuschmann commented on #706
Hey @neeraj87, thanks for reporting. Can you check this issue: https://github.com/sequelize/sequelize/issues/6253 Does this solve your problem?

[2019-12-05 16:26] RobinBuschmann commented on #708
Hey @ialexi-bl , thanks for reporting!

[2019-12-05 16:30] RobinBuschmann commented on #709
Hey @wangweiwei , according to the sequelize docs you have to omit the `()`. So just pass the second type, don’t function-call it: https://sequelize.org/master/class/lib/data-types.js~ARRAY.html

Hope this helps

[2019-12-05 16:40] jpollard-cs commented on #712
@RobinBuschmann these are in separate files
Will follow up in a moment with the initialization code

[2019-12-05 16:51] jpollard-cs commented on #712
so we have a custom wrapper that looks something like this:

[code]

then in the composition root of the app we're simply initializing with:

[code]

[2019-12-05 19:20] RobinBuschmann commented on #712
Thanks. And the error is thrown on the initialization or when trying to query data?

[2019-12-06 06:16] neeraj87 commented on #706
Thank you, it did solve the problem. The user was getting updated via both `model.update` at one place and `instance.update` at another so I had to include both the hooks to be safe.

I think this should be mentioned in the documentation as many unsuspecting people like me will use `@BeforeUpdate` without taking into consideration if they are updating via the instance or model.

[2019-12-06 06:16] #706 closed

[2019-12-06 09:03] wangweiwei commented on #709
hi, it cant resolve the problem

[2019-12-06 14:15] cjancsar opened #713 "sequelize-typescript tests on windows fail"
**I'm submitting a ...**
[ x ] bug report
[ ] feature request

**Actual behavior:**

Running the `sequelize-typescript` project tests on windows does not work.

[code]

**Expected behavior:**
Tests should run

**Steps to reproduce:**
1. Clone project on windows 10
2. `npm install`
3. `npm run build`
4. `npm run cover`

[2019-12-06 19:31] Otoru opened #714 "How to choose the column to use when referencing a foreign key?"
**Versions**

- sequelize: `"^5.21.2"`
- sequelize-typescript: `"^1.0.0"`
- typescript: `"^3.7.2"`

**I'm submitting a ...**
- [x] question
- [ ] bug report
- [ ] feature request

**Actual behavior:**
[code]

Focus in ```FOREIGN KEY (`domain`) REFERENCES `domain` (`id`)```

**Expected behavior:**
[code]

Focus in ```FOREIGN KEY (`domain`) REFERENCES `domain` (`domain`)```

**Steps to reproduce:**

[2019-12-08 17:37] jpollard-cs commented on #712
@RobinBuschmann it appears to happen when attempting to query data. It seems as though the models are not properly getting initialized. Also interesting to note that a test for the `VendorEmployeeModel` equivalent was failing with an error indicating `create` was not defined on the model.

[2019-12-09 03:57] jpollard-cs commented on #712
Ok I figured it out, but don't entirely understand the issue. I realized the issue was only happening for tests and finally noticed that in a test factory for the `VendorEmployeeModel` apparently there was one place we were importing the model inconsistently with the rest of the code base. We export the `VendorEmployeeModel` as a default, but then in the `index.ts` file we do  `export { default as

[2019-12-09 04:02] #712 closed

[2019-12-10 11:31] ouassimBenMosbah opened #715 "Create entity with many to many association"
**Versions**
- sequelize: 5.21.2
- sequelize-typescript: 1.1.0
- typescript: 3.6.3

**Actual behavior:**
I have two models (`Domain` and `Request`) associated with a Many To Many relation. I would like to create a `Request` that is linked to many domains. Can i do it with the `CreateOptions` or do I have to create those associations on my own. Here is my code:

**Related code:**

`request.model.ts

[2019-12-10 14:26] closertb opened #716 "how to make getter works"
**Versions**

- sequelize: 5.21.2
- sequelize-typescript: 1.0.0
- typescript 3.6.4

**I'm submitting a ...**
i follow the example use getter but it does not work; the code:
[code]
when set query { raw: true }, the getter doesnt work;
**Actual behavior:**

 **the add_time property still return date time**:
[code]

**Expected behavior:**

the getter not works when raw = true option,  the add_time pr

[2019-12-10 18:25] RobinBuschmann commented on #716
Hey @closertb, that's the point of setting `raw` to `true`, it returns a dataset which doesn't get mapped to the model. Why are you using this option?

[2019-12-10 18:51] RobinBuschmann commented on #715
Hey @ouassimBenMosbah , thanks for asking. But unfortunately I cannot think of a better solution. What's the issue with your provided solution?

[2019-12-10 18:59] RobinBuschmann commented on #714
He @Otoru, the generated SQL looks correct to me. Why do you expect `(`id`)` to be `(`domain`)`?
[code]

[2019-12-10 19:01] RobinBuschmann commented on #713
He @cjancsar, thanks for reporting. When you import `reflect-metadata` (`import 'reflect-metadata';`) at the top of the file `attribute-service.ts, is the error still thrown?

[2019-12-10 19:03] RobinBuschmann commented on #710
Hey @AndresED, thanks for asking. This is a very specific question. Since sequelize-typescript is just on top of sequelize itself, I recommend to ask this question in the sequelize repo or stackoverflow.

[2019-12-10 21:07] chscott commented on #225
Could you elaborate on why sequelize-typescript cannot be used in the renderer? Thanks!

[2019-12-11 00:05] closertb commented on #716
direct to get clean data. so i set the option

[2019-12-11 03:57] chscott opened #717 "Special requirements for 1.1.0?"
**Versions**

- sequelize: 5.21.2
- sequelize-typescript: 1.1.0
- typescript: 3.7.3

**I'm submitting a ...**

[x ] bug report
[ ] feature request

(More of a question than a bug.)

**Actual behavior:**

I've inherited a project that uses sequelize-typescript bundled via webpack. The project breaks when I updated sequelize-typescript to from 1.0.0 to 1.1.0 (or from 1.0.0 to 1.1.0-beta.0). I don't

[2019-12-11 06:21] closertb commented on #716
i see the source code, it just call getter function when call toJson

[2019-12-11 09:44] RobinBuschmann commented on #716
So if I understand you correctly you want to retrieve pure objects from the database and don't want them to get mapped to you models, right? If so you can't benefit from the ORM and can't expect the getter from your `Rule` model to get called. You can't get one without the other.

Hope this helps

[2019-12-11 09:54] RobinBuschmann commented on #717
Hey @chscott , thanks for reporting. In order to be able to use the models on client side, the feature implemented with the commit you've mentioned, was developed. Since you've bundling your app for server side, this feature shouldn't apply 🤔 What target is set in you webpack config? (Here is a [link](https://github.com/RobinBuschmann/sequelize-typescript/pull/574#issuecomment-489016551) to the PR

[2019-12-11 15:05] Otoru commented on #714
No, sorry if I wasn't clear or if I made a mistake in the code. The `subscribers table` has a column named `domain` that must be a foreign key to the `domain column` of the `domain table`.

Really, it's a lot of `domain` in the same sentence lol

[2019-12-11 15:38] RobinBuschmann commented on #714
Ah ok, now I see. This should do the job:
[code]
Hope this helps!

[2019-12-11 15:48] chscott commented on #717
The target is electron-renderer. That's not something I was looking at, but a quick search of that and webpack turns up [this issue](https://github.com/webpack/webpack/issues/7953). I haven't fully digested it yet, but I wonder if it's related.

[2019-12-11 15:54] RobinBuschmann commented on #717
@Toxicable Can you have a look at this issue? Is there something we can do? Is there a workaround you can think of?

[2019-12-11 16:09] chscott commented on #717
From the issue I linked, it may have nothing to do with sequelize-typescript at all and that the only reason 1.0.0 works for me is that it omitted the browser support, thus not giving webpack a chance to make the wrong decision. I'm on webpack 4.41.2, which I believe is impacted by that issue.

I'll try some of the workarounds from the webpack thread and update here for posterity.

[2019-12-11 16:54] chscott commented on #717
The solution [here](https://github.com/typeorm/typeorm/issues/4210#issuecomment-543914144) worked for me. I'm not sure it's the most _desired_ solution, but it's enough for me to believe this isn't an issue with sequelize-typescript.

Thanks for the help!

[2019-12-11 16:54] #717 closed

[2019-12-11 17:01] RobinBuschmann commented on #717
You're welcome! Good to here you find a solution.

[2019-12-11 21:36] byronferguson opened #718 "@Default decorator throws error"
**Versions**

- sequelize: 5.21.2
- sequelize-typescript: 1.1.0
- typescript: 3.7.3

**I'm submitting a ...**

[ x ] bug report
[ ] feature request

**Actual behavior:**
`Error: @Column annotation is missing for "sort" of class "CampaignPhase" or annotation order is wrong.`

Currently throwing an error. (does the same thing with `@Comment()` too

**Expected behavior:**
generate the DEFAULT_VALUE i

[2019-12-12 02:01] Otoru commented on #714
Yeah, that worked!
Thanks for the help and congratulations for the excellent work.

[2019-12-12 02:01] #714 closed

[2019-12-13 08:29] ouassimBenMosbah commented on #715
Hello @RobinBuschmann, the issue is that if I want to add relations to my request I will have to update all my routes as the association won't be created automatically.

And actually I tried typeorm where you only need to write:
`const requestCreated: Request = await this.requestsRepository.create(requestToCreate);`
And typeorm was automatically creating entries in the association table if domains

[2019-12-13 14:20] cjancsar opened #719 "Getting `this[("create" + string_1.capitalize(...))] is not a function` error on `$create`"
For some reason, the `$create` method is not working for associations. (The `$get` method seems to work fine).

ModalA
[code]

ModelB
[code]

When I do:

[code]

I get error:

For some reason, the method `createModelBs` is not added to `ModelA`

[2019-12-16 06:39] bhushankumarl opened #720 "Model should allow to use as type with Partial Keyword"
**Versions**

- sequelize:  ^5.21.2
- sequelize-typescript: ^1.1.0
- typescript: ^3.7.3

**I'm submitting a ...**

[x ] bug report
[x] feature request

**Actual behavior:**
The model should allow using the types with `Partial<ModelName>` keyword. Below usage not working.
* Actual problem is with Partial keyword when I will use it with few properties rather than all properties mentioned in the Tabl

[2019-12-17 17:14] sitexw commented on #333
Is it me, or the bug is back ?
![image](https://user-images.githubusercontent.com/2950561/71018440-c78b6100-20f8-11ea-9a70-66f134e50eb0.png)

- typescript: 3.7.2
- VSCode: 1.4.;2

[2019-12-18 17:58] max10rogerio commented on #718
Try:
[code]

[2019-12-18 18:01] byronferguson commented on #718
I will try that with @Default, but tried that order of operations earlier
this week with @Comment and it didn't work

On Wed, Dec 18, 2019 at 11:58 AM Max Rogério <notifications@github.com>
wrote:

--
Byron Ferguson
ferguson.bs@gmail.com

[2019-12-18 18:10] RobinBuschmann commented on #702
Closing this due to inactivity

[2019-12-18 18:10] #702 closed

[2019-12-18 18:15] RobinBuschmann commented on #709
@wangweiwei, are you using postgres as dialect? According to https://sequelize.readthedocs.io/en/2.0/api/datatypes/#array feature is only supported for postgres

[2019-12-18 18:15] RobinBuschmann commented on #710
Closing this, since it's not related directly to sequelie-typescript. Its rather a sequelize specific question

[2019-12-18 18:15] #710 closed

[2019-12-18 18:16] RobinBuschmann commented on #713
@cjancsar Ping ;)

[2019-12-18 18:22] RobinBuschmann commented on #715
Hey @ouassimBenMosbah, you could specify the one-to-many relation from `Request` to `DomainRequest` to achieve this behaviour:
[code]
And run like so `await this.requestsRepository.create(requestToCreate, {include: [DomainRequest]});`

[2019-12-18 18:49] RobinBuschmann commented on #719
Hey @cjancsar, sry cannot reproduce this error. For me it is working very well. Can you provide an example repo?

[2019-12-18 18:50] RobinBuschmann commented on #720
Hey @bhushankumarl, can you provide the error that you get and where do you get the error?

[2019-12-18 18:51] RobinBuschmann commented on #694
Closing this due to inactivity

[2019-12-18 18:51] #694 closed

[2019-12-18 18:52] RobinBuschmann commented on #691
Closing this, since it is solved

[2019-12-18 18:52] #691 closed

[2019-12-18 18:52] RobinBuschmann commented on #690
Closing this, since it isn't an issue with sequelize-typescript but sequelize

[2019-12-18 18:52] #690 closed

[2019-12-18 18:54] RobinBuschmann commented on #688
Closing this due to inactivity

[2019-12-18 18:54] #688 closed

[2019-12-18 18:55] RobinBuschmann commented on #687
Closing this due to inactivity

[2019-12-18 18:55] RobinBuschmann commented on #687
Closing this due to inactivity

[2019-12-18 18:55] #687 closed

[2019-12-18 18:55] RobinBuschmann commented on #683
@jvieirar did my suggestion solve your issue?

[2019-12-18 18:56] RobinBuschmann commented on #681
Closing this due to inactivity

[2019-12-18 18:56] #681 closed

[2019-12-18 18:57] RobinBuschmann commented on #675
Closing this due to inactivity

[2019-12-18 18:57] #675 closed

[2019-12-18 18:57] RobinBuschmann commented on #674
Closing this due to inactivity

[2019-12-18 18:57] #674 closed

[2019-12-18 18:58] RobinBuschmann commented on #672
Closing this, since the reported issue is not related directly to sequelize-typescript but sequelize

[2019-12-18 18:58] #672 closed

[2019-12-18 19:02] RobinBuschmann commented on #568
Closing this due to inactivity

[2019-12-18 19:02] #568 closed

[2019-12-18 19:02] RobinBuschmann commented on #555
Closing this due to inactivity

[2019-12-18 19:02] #555 closed

[2019-12-18 19:03] RobinBuschmann commented on #414
Closing this due to inactivity

[2019-12-18 19:03] #414 closed

[2019-12-18 19:05] RobinBuschmann commented on #349
Closing this due to inactivity

[2019-12-18 19:05] #349 closed

[2019-12-19 03:27] flatcoke commented on #719
same with me

[2019-12-19 04:51] MarkusAnthony opened #721 "Nestjs/Sequelize-typescript FindAndCountOptions"
**Versions**

- sequelize: "^5.21.2",
- sequelize-typescript: "^1.1.0"
- @types/sequelize: "^4.28.8"
- typescript: "^3.6.3"

**I'm submitting a ...**

[ ] bug report
[ ] feature request
[ X ] documentation

**Actual behavior:**

I cannot figure out how to add where criteria to the FindAndCountOptions. I had it working in NodeJS but switching to NestJs/Sequelize-typescript is a no-go.

**Expected b

[2019-12-19 06:46] RobinBuschmann commented on #719
@flatcoke do you get the same error or it is working for you as well as for me?

[2019-12-19 08:52] #715 closed

[2019-12-19 13:29] flatcoke commented on #719
@RobinBuschmann
@RobinBuschmann
@RobinBuschmann  I worked it out plural to singular
[code]
It works for me
But in docs there is `plural` example

[2019-12-20 06:56] MarkusAnthony commented on #721
More readable error message.

I just don't know what the where object is supposed to look like...

	error TS2345: Argument of type '{ where: { [x: number]: any; length: number; toString(): string; toLocaleString(): string; pop(): any; push(...items: any[]):
	number; concat(...items: ConcatArray<any>[]): any[]; concat(...items: any[]): any[]; ... 25 more ...; includes(searchElement: any, fromIndex?

[2019-12-20 19:01] #721 closed

[2019-12-21 03:08] wangweiwei commented on #709
I am using mysql, thank you!

[2019-12-21 03:08] #709 closed

[2019-12-22 19:24] RobinBuschmann commented on #395
Fixed with `sequelize-typescript@1.0.0`

[2019-12-22 19:24] #395 closed

[2019-12-22 19:27] RobinBuschmann commented on #312
Since sequelize ships typings (where the assoication types are fixed) since version 5, this isn't an issue anymore

[2019-12-22 19:27] #312 closed

[2019-12-28 14:48] closertb opened #722 "Associations query question"
**I'm using sequelize-typescript  to do some Associations query, but i can't got what i want, here is my question**

[code]

[code]
`query` like sequelize example:
![image](https://user-images.githubusercontent.com/22979584/71545216-9eee4b80-29c3-11ea-8038-9807b68c860f.png)

[code]

i want Association enums.tag to rule.scene_code;
[code]
but i got the sql:

[code]

how can i change `id` to `tag`

[2019-12-29 08:53] deceive3w opened #723 "How to make insert with relations"
recently i am using typeorm the code its just like below and using sequelize the query doesnt work, how to do it in sequelize-typescript?

[code]
[code]

[code]

and there are is have update in future to make sequelize-typescript fully support data mapper ?
Thankss

[2019-12-29 09:27] #722 closed

[2019-12-29 10:07] RobinBuschmann commented on #723
Hey @deceive3w, thanks for bringing this up. To achieve this, you could do it like so:
[code]
(Unfortunately sequelize only supports pure objects here, so Model instances won't work)

Hope this helps!

[2019-12-29 10:23] RobinBuschmann commented on #723
Hey @deceive3w thanks for bringing this up. Am I right that your polls are already stored in the database and the post is newly created/stored?

[2019-12-29 10:33] deceive3w commented on #723
@RobinBuschmann i tried ``polls: [poll1.toJSON(), poll2.toJSON()]`` it doesn't work because id is null, and try ``polls:[{option:'btc'}, {option:'eth']}`` work perfectly.  Nice Work @RobinBuschmann!

[2019-12-29 10:33] #723 closed

[2019-12-29 10:39] RobinBuschmann commented on #723
In case of your polls already exists in database, you have to save `Post` first and add the polls afterwards like so:
[code]
or if you want to commit it at once, use transactions like so:
[code]

[2019-12-29 10:50] deceive3w commented on #723
@RobinBuschmann Greattt, btw did you have a plan to support data mapper just like type-orm separating infrastructure logic in model, and make model is clean?

[2019-12-30 01:08] frct1 opened #724 "Unique Constraint Error"
**Versions**

- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript 3.4.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Each time when new table creating there is error [SequelizeUniqueConstraintError: Validation error] in case of usage with postgresql (tested 11, 12 version).
-->

[2019-12-30 01:19] frct1 commented on #724
Tested with clean sequelize and everything ok with similar model

[2019-12-30 02:14] #724 closed

[2019-12-30 09:03] RobinBuschmann commented on #724
Hey @frct1 , what was the actual issue? How did you solve your problem?

[2019-12-30 11:24] frct1 commented on #724
@RobinBuschmann
Hi, @RobinBuschmann

Since i'm using it with nest there is was some shitty troubles with providers. It is so strange that doesn't errored when used mariadb 🤔

[2019-12-30 12:54] RobinBuschmann commented on #719
Closing this due to inactivity

[2019-12-30 12:54] #719 closed

[2019-12-30 12:55] RobinBuschmann commented on #718
Hey @byronferguson could you solve your issue?

[2019-12-30 12:55] RobinBuschmann commented on #716
Closing this due to inactivity

[2019-12-30 12:55] #716 closed

[2019-12-30 12:56] RobinBuschmann commented on #713
Closing this due to inactivity

[2019-12-30 12:56] #713 closed

[2019-12-30 12:57] RobinBuschmann commented on #683
Closing this due to inactivity

[2019-12-30 12:57] #683 closed

[2019-12-30 12:58] RobinBuschmann commented on #393
Implemented with #707

[2019-12-30 12:58] #393 closed

[2019-12-30 14:45] zaikin-andrew commented on #687
This works just with `"module": "commonjs"` in tsconfig but not with `"module": "es6"`.
I had `Cannot access ‘Model’ before initialization`

[2019-12-30 16:05] frct1 commented on #724
More details: i think when database connection was provided in many places sequelize tried to run same queries for creating constraints

Just a guess.

[2019-12-30 17:43] byronferguson commented on #718
I was not able to solve the issue I raised.

[2020-01-05 05:11] piotrmoszkowicz opened #725 "createIndexDecorator has problems with "underscored" or "field" params"
**Versions**
- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript 3.7.4

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
I've tried using new feature - `createIndexDecorator`, but it doesn't take into account the `underscored` table param (`field` param on the column doesn't work either) - therefor it errors out on database level, because there are no su

[2020-01-05 05:28] piotrmoszkowicz commented on #725
"Temporary fix"

[code]

Works with PostgreSQL.

[2020-01-06 11:47] spinlud opened #726 "Question: type checking on create/find/update/delete input props"
Is it possible somehow to have type checking on these situations?

[code]

[2020-01-06 22:02] libvirtadept commented on #333
Got the same thing
vscode: 1.41.1

[2020-01-07 10:41] kartsims opened #727 "Define models to be used across multiple databases"
Sorry if this doesn't belong here but I am having an issue to re-use models across multiple databases. I _think_ this is related to `sequelize-typescript`.

When I define my model I am able to add it to a sequelize instance, but when I add it to another instance it fails.

[StackOverflow post](https://stackoverflow.com/questions/59426330/sequelize-same-model-across-multiple-databases)

[2020-01-08 01:22] libvirtadept opened #728 "vscode intellisense broke again ?"
**Versions**

- sequelize: 5.12.2
- sequelize-typescript: 1.1.0
- typescript 3.7.4
- vscode: 1.41

**I'm submitting a ...**

[x] bug report
[ ] feature request

Hello,
This issue opened only due to previous same issue was closed
I think it is returning of bug with intellisense like here https://github.com/RobinBuschmann/sequelize-typescript/issues/333

**Actual behavior:**
![image](https://user-im

[2020-01-08 15:47] spinlud opened #729 "'hasMany called with something that's not a subclass of Sequelize.Model' when importing models from another npm package"
**Versions**

- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript: 3.7.4
- node: 10.16.3

**I'm submitting a ...**

[x] bug report

**Actual behavior:**

I have a private npm package (let's call it `@my/tables`) that exports some `sequelize-typescript` models in pure typescript.
The structure of the package is very simple:

[code]

This package will be used by other typescript projects

[2020-01-08 18:41] RobinBuschmann commented on #725
Hey @piotrmoszkowicz, thanks for reporting.

[2020-01-08 18:42] RobinBuschmann commented on #720
Closing this due to inactivity

[2020-01-08 18:42] #720 closed

[2020-01-08 18:55] RobinBuschmann commented on #718
@byronferguson could it be that you faced another issue after correcting the order of annotations? The following throws `Error: Invalid definition for "CampaignPhase.sort", "notNull" validator is only allowed with "allowNull:false"`:
[code]

But when using this setup instead, it works very well:
[code]

Hope this helps!

[2020-01-08 18:58] RobinBuschmann commented on #726
Hey @spinlud, yeah it is indeed possible, but need to be implemented in sequelize. (Since version 1.0.0 sequelize-typescript uses the official typings provided by sequelize). I'm planning to create a PR for that.

[2020-01-09 22:47] spinlud commented on #726
Ok! Let me know if I can help in anyway ;-)

[2020-01-11 13:16] RobinBuschmann commented on #727
Hey @kartsims, you could use the respositoryMode for that. This mode lets you re-use your models. See https://github.com/RobinBuschmann/sequelize-typescript#how-to-enable-repository-mode for details.

[2020-01-11 13:19] RobinBuschmann commented on #728
Duplicate of #726

Since version 1.0.0 sequelize-typescript uses the official typings provided by sequelize. These typings just don't provide typechecking for create and where options. So this feature need to be implemented in sequelize

[2020-01-11 13:24] RobinBuschmann commented on #729
Hey @spinlud, could it be that you've got multiple sequelize packages installed? I assume it, since you've defined `sequelize` and `sequelize-typescript` as a normal dependency in your `@my/tables` package. `sequelize` does a `instanceOf Model`-check - So if you've extend your models with `Model` of sequelize package 1 and use it with sequelize package 2, the reference to `Model` is not the same a

[2020-01-11 13:44] libvirtadept commented on #728
Hi, @RobinBuschmann
Thank you for answer! Waiting for the fix from sequelize side :)

[2020-01-11 22:18] spinlud commented on #729
Hi, thanks I figured out the same! I moved the dependencies as peer dependencies so there is no more duplication in the host project. Closing!

[2020-01-11 22:18] #729 closed

[2020-01-14 23:24] redevill opened #731 "@DefaultScope being ignored"
**Versions**

- sequelize: 5.21.0
- sequelize-typescript: 1.1.0
- typescript: 3.5.3

**I'm submitting a ...**
[x ] bug report

**Actual behavior:**
No default scope is applied to the query

**Expected behavior:**
The include specification should cause a join to the corresponding table.
The attributes spec should limit the number of columns returned.

**Steps to reproduce:**
Set up sequelize models

[2020-01-14 23:56] redevill commented on #731
Small little thing like a "Commit" on a database can ruin your whole day... SORRY GUYS.

[2020-01-14 23:56] #731 closed

[2020-01-16 07:44] lenon461 opened #732 "sequelize-typescript is not work in AWS-lambda, Serverless-framework"
**Versions**

- sequelize: ^1.61.1
- sequelize-typescript: ^1.1.0
- typescript: ^3.7.4

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Hi,

I'm trying to make RESTAPI server with AWS lambda, Serverless Framework, AWS RDS.
i use sequelize-typescript for defining model.
it ***perfectly works*** in my local environment. (serverless offline)
but, return error when

[2020-01-17 03:24] yeongjet opened #734 "Support Transaction Decorator like Java Spring"
[code]

That will be convenient if support this feature

[2020-01-19 23:21] lenon461 commented on #732
sry i was mistaken

[2020-01-19 23:21] #732 closed

[2020-01-27 14:00] neokamikai commented on #718
I'm getting a sql syntax error using default value with dialect ***mssql***:
[code]

I think for mssql you should add a constraint no the column, not just alter column:

[code]

I'm not sure if it's needed, but if so, before dropping a *table* with default constraints all default constraints should be dropped first. You can query them with:
[code]

[2020-01-28 16:35] frct1 opened #735 "class-transformer usage"
**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Maximum call stack exceeded when we attempt to do `classToPlain` with class-transformer decorators.

**Expected behavior:**

Working @Type, @Exclude and so on `class-transformer` decorators which used in model

**Steps to reproduce:**

Create simple model and use @Exclude() decorator on any property. Then attempt t

[2020-01-28 17:04] cjancsar commented on #719
This is still occurring.  Is there a test that shows that this works?

[2020-01-30 20:05] RobinBuschmann commented on #734
Thanks for this suggestion. I will try to find a solution for that. But any PRs are welcome as wel!

[2020-01-30 20:06] RobinBuschmann commented on #735
Hey @frct1 can you provide an example repo, which reproduces the issue

[2020-01-30 20:32] frct1 commented on #735
Hello, @RobinBuschmann
Yes, that's it
https://github.com/frct1/seq-ts

[2020-02-01 23:07] TimMensch commented on #446
AND I'm using a new version of Sequelize-TypeScript, and this bug _has returned_.

Can you please fix ASAP _again_? Sent another PR: https://github.com/RobinBuschmann/sequelize-typescript/pull/736

[2020-02-05 13:51] RezaT1994 opened #737 "Problem with $add and polymorphic"
**Versions**
- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript: 3.6.3

**I'm submitting a ...**

[*] bug report
[ ] feature request

**Related code:**

I have these entities:

[code]

Now I want to insert a **Patient** and insert the services for this patient based on the services user selected. Here is the code I'm using:

[code]

This is the result query:
[code]

But sometimes the l

[2020-02-06 10:35] VaguelySerious commented on #555
Not OP, but this solution worked for me, with a slight change.

Since I'm exporting my modules as default export, I need to change the line
`return req(key)[modelName];`
to
`return req(key).default;`

[2020-02-06 19:14] RobinBuschmann commented on #735
May I ask why you are using class-transformer? sequelize already maps the objects to class instances.

[2020-02-06 19:37] RobinBuschmann commented on #737
Hey @RezaT1994 thanks for reporting. Unfortunately I cannot reproduce the issue. Can you provide an example repo which reproduces the issue?

[2020-02-06 23:25] tomitheninja opened #738 "PrimaryKey fetching does not work without AutoIncrement"
**Versions**

- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript: 3.7.5

**I'm submitting a ...**

[x] bug report

**Actual behavior:**
When saving a new instance with unknown primaryKey value I expect it to save the instance's id into the primaryKey, but it is actually in a prop called 'null'

Without AutoIncrement
[code]

**Expected behavior:**
With AutoIncrement
[code]

**Steps to r

[2020-02-07 14:45] DalerAkhmetov commented on #612
@RobinBuschmann, this solution doesn't work with associations.
[code]

example.someModel is undefined where example is instance of Example.

[2020-02-07 16:31] DalerAkhmetov opened #739 "Date field is a string"
**Versions**

- sequelize: 4.44.3
- sequelize-typescript: 0.6.11
- typescript: 3.7.5

**I'm submitting a bug report**

**Actual behavior:**
Queries return fields with type "DataType.Date" as a string.

**Expected behavior:**

Field type should be Date as createdAt, updatedAt

**Steps to reproduce:**

I provided a code in Related code section

**Related code:**

[code]

[2020-02-07 18:47] zgid123 commented on #737
I faced this problem too. The thing is in my localhost, I run the project with typescript and do not face this problem, but when I build ts to js and deploy to staging/production, I face this issue. So I don't use $add and do the insert manually

[2020-02-07 19:03] zgid123 opened #740 "problem with underscored and polymorphic (scope)"
**Versions**
- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript: 3.7.3

**I'm submitting a ...**
[ x] bug report
[ ] feature request

I have two models

[code]

[code]

When I use `findAndCountAll`

[code]

The first time I run the code, I will get the error `media.resourceType does not exist`. It should be `media.resource_type`.

Here the full query
[code]

It seems the first query wi

[2020-02-08 10:21] RezaT1994 commented on #737
I don't what was wrong, but it's working now. I didn't change anything!!

[2020-02-08 10:26] RobinBuschmann commented on #738
@tomitheninja Thanks for reporting. It is a bug in sequelize reported here: https://github.com/sequelize/sequelize/issues/10823

[2020-02-08 10:50] RobinBuschmann commented on #739
Hey @DalerAkhmetov, thanks for reporting. Can you provide an example repo which reproduces the issue. For me it is working well. Thanks!

[2020-02-08 11:20] RobinBuschmann commented on #740
Hey @zgid123, thanks for reporting. This seems to be a sequelize issue. I reproduced this behaviour with sequelize only as well:
[code]
As work around for now you can use `scope: {resource_type: 'Product' }` instead of`scope: {resourceType: 'Product' }`

Can you create an issue on https://github.com/sequelize/sequelize using my example above?

[2020-02-08 11:22] zgid123 commented on #740
@RobinBuschmann I'm using your case too. If that's the case, let me create an issue for sequelize. Thanks for your quick reply

[2020-02-08 11:29] RobinBuschmann commented on #612
@DalerAkhmetov Good point. One need to add the association keys as well like so:
[code]

(Untested, but) Hope this helps for now!

[2020-02-08 11:41] RobinBuschmann commented on #740
@zgid123 Yeah, would be cool if you could create an issue on https://github.com/sequelize/sequelize. Thank you!

[2020-02-09 14:50] DalerAkhmetov commented on #739
Thanks for feedback. This issue can be closed). I created example repo and found out it works fine. There was a mistake in my project, not related with sequelize-typescript.

[2020-02-09 14:50] #739 closed

[2020-02-09 15:52] DalerAkhmetov commented on #612
thanks, it works

[2020-02-13 02:15] mcarlotta commented on #393
Is this dependent on utilizing `sequelize.sync()` verses an actual migration script?

Can not seem to get this decorator to work testing all variations

[code]

Sample Entity:

[code]

Sample Migration Script
[code]

[2020-02-14 14:04] KAMAELUA opened #742 "Webpack Production mode support"
**Versions**
- sequelize: "^5.21.4"
- sequelize-typescript: ^1.1.0
- typescript: ^3.7.5

**I'm submitting a ...**
[x ] bug report
[ ] feature request

**Actual behavior:**
It throws `unhandled rejection` when running application:

[code]

**Steps to reproduce:**
Run webpack with optimization in production mode then run your app.

**Related code:**
Everything is working in webpack when I using webp

[2020-02-15 15:00] frct1 commented on #735
@RobinBuschmann
Hi, sorry for delay
I tought about transforming result object depending from user property but i did it with custom class definition and then pass result to them

[2020-02-15 15:04] #735 closed

[2020-02-17 10:24] Gowtham029 opened #743 "Query is not formed properly"
Hi All,

I am using nest js Sequelize.

"sequelize": "5.21.4",
"sequelize-typescript": "1.1.0",
"@types/sequelize": "4.28.7",

I tried to insert value and I got the below result.

I have to insert all the values which are inside the data values.

How to solve this?

[code]

[2020-02-18 12:03] ihoryan commented on #594
I'm trying to define array property and getting the error.
`\app\node_modules\sequelize-typescript\dist\model\shared\model-service.js:63
    throw new Error(`Specified type of property '${propertyName}'
          ^
source-map-support.js:419
Error: Specified type of property 'permissions'
            cannot be automatically resolved to a sequelize data type. Please
            define the data type

[2020-02-20 20:00] frct1 opened #745 "Custom include feature"
**I'm submitting a ...**

[ ] bug report
[ x] feature request

**Actual behavior:**

Not possible by sequelize at this moment.

**Expected behavior:**

Processing functions while we building data object/array
**Related code:**

[code]
In code we will tell sequelize that we need to run custom function to get objects from other model. Why it can be usable: currently sequelize can't build query to jo

[2020-02-25 07:44] kangzj commented on #727
@RobinBuschmann hey awesome work man.
Just got a question here as well. I found out how to create / find using repository mode, but how to do updates and deletes?
Can I please have some examples? As sequelize static update/delete are all for bulk operations.
Thanks.

[2020-02-26 06:26] saefullohmaslul commented on #231
Hi @SamiSammour
I found the solution, change
`protected relation: typeof Sequelize.Model `
to
`protected relation: {new(): T} & typeof Sequelize.Model`

[2020-02-29 14:07] RobinBuschmann commented on #727
Hey @kangzj , `save` and `update` should still work on your instances (`instance.save();`) So the created objects are still active records.
Otherwise you have to do it like you said: Using `repository.update/delete` like so:
`await MyModel.update(instance.toJSON(), {where: {id: instance.id}});`

Hope this helps.

[2020-02-29 14:21] RobinBuschmann commented on #742
Hey, @KAMAELUA, thanks for bringing this up. Can you provide an example repo so that I can test with it? I think, that at least one thing is missing in sequelize-typescript in order to get this work. But verify this a test repo would be great, thanks !

[2020-02-29 14:22] RobinBuschmann commented on #743
Hey @Gowtham029, thanks for reporting. I think I don't fully understand you issue. Can you provide an example repo which reproduces your problem? Thank you

[2020-02-29 14:23] RobinBuschmann commented on #745
Hey @frct1 , probably hooks help you with it? See https://github.com/RobinBuschmann/sequelize-typescript#hooks

[2020-02-29 14:24] RobinBuschmann commented on #737
@zgid123 Can you provide an example repo which reproduces the issue? Otherwise I cannot help with this.

[2020-02-29 18:02] frct1 commented on #745
Hi @RobinBuschmann
Yes, actually they can. But it is should be something like conditional calling depends on options
I think it is possible to check in CustomSelect decorator do we really need to call next function or just skip it

[2020-02-29 18:05] Hwan-seok opened #746 "sequelize automatically adds 'id' column in my table"
**Versions**

- sequelize: ^5.21.3
- sequelize-typescript: ^1.1.0
- typescript:`3.7.5`
- mysql : 5.7

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Following table schema makes `id` column automatically
But I have capsuleId and taggedCapsuleId In my table using primaryKey already
[code]
It makes create table statement as follows
[code]
**Expected behavior:**

[2020-03-05 13:34] neokamikai opened #747 "Dialect MSSQL: sync({ alter: true }) is duplicating foreign keys"
**Versions**

- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript: 3.7.5

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

I'm using dialect 'mssql'. When I do sync({ alter: true }), all foreign keys for the model are created again without dropping the existing ones.
Also, even if i set the `foreignKey: { name: 'fk_custom_name' }` option for BelongsTo

[2020-03-06 04:04] bradennapier opened #748 "`$create` is broken when `@HasMany` is used"
**Versions**

- sequelize: any
- sequelize-typescript: ^1.1.0
- typescript: ^3.8.0

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Creating this again since #719 was closed and this is still not working.

When utilizing a `HasMany` property which will be plural in some cases, the plurality needs to be removed for the `create` method.

I assume this is a problem

[2020-03-08 21:10] dilizarov commented on #159
@snewell92 I really resonate with this post. What did you end up landing on? Do you happen to have an example of how you're managing migrations while using `sequelize-typescript`?

@bilby91 I also come from a rails background. Do you maybe have an example as well of your `sequelize-cli`? I'm on version 5 right now, but I imagine it might be similar?

[2020-03-09 15:14] piotr-pawlowski commented on #523
@blankstar85 @WarienX Did you resolve that issue?

[2020-03-10 01:35] blankstar85 commented on #523
Hello @piotr-pawlowski
I was able to get this to work, I have it working really well between three tables, the primary one, and the two that are associated to it. Let me know what is tripping you up and i can see if i can help you out.

[2020-03-10 07:32] Duplicated opened #749 "Static decrement method for Model"
From #276 , I have just noticed that a static `decrement` method is still missing. Mind if I put in a PR for this one?

[2020-03-12 10:50] KAMAELUA commented on #742
Hi @RobinBuschmann. I created an example repo with my models: https://github.com/KAMAELUA/-sequelize-ts-test.git
I tried to create simple `HasMany` relation, but unfortunately it works fine for me, so I decided to commit whole bundle of models.

You just need to build and run it and it will throw an exception without any queries to DB.

[code]

Thanks.

[2020-03-12 13:39] kacepe opened #750 "Cannot access static members of model with .schema() call"
**Versions**
- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript 3.8.3

**I'm submitting a ...**
[ x ] bug report
[ ] feature request

**Actual behavior:**
When you call `.schema()` method of model then call static member typescript says that member doesn't exist.

**Expected behavior:**
Ability to use static members of model without warnings.

**Steps to reproduce:**
You need model wit

[2020-03-12 13:41] kacepe commented on #750
FYI:
It might be easy fixed by adding `schema` method to model definition:
[code]

[2020-03-13 08:18] hansyulian opened #751 "Error(`Foreign key for "${relatedClass.name}" is missing `"
**Versions**
- sequelize: 5.21.3
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**
[x ] bug report
[ ] feature request

**Actual behavior:**
Error: Foreign key for "User" is missing on "Session".

**Expected behavior:**
Following the guide on https://www.npmjs.com/package/sequelize-typescript#one-to-many, it should be working

**Steps to reproduce:**
- i just tried to fol

[2020-03-13 19:37] tobias47n9e commented on #751
Possible duplicate of https://github.com/RobinBuschmann/sequelize-typescript/issues/748 ?

[2020-03-14 07:14] RobinBuschmann commented on #737
Closing this due to inactivity

[2020-03-14 07:14] #737 closed

[2020-03-14 07:19] RobinBuschmann commented on #740
Closing this in favour of https://github.com/sequelize/sequelize/issues/11916

[2020-03-14 07:19] #740 closed

[2020-03-14 11:06] RobinBuschmann commented on #742
Ok, I get it working:

1. You need to define the foreign keys explicitly. Normally sequelize-typescript tries to infer the foreign keys from property keys (`@ForeignKey(() => Model) some_id: string`). But since they are obfuscated by webpacks minimizer (TerserPlugin) this isn't possible in that case:
[code]
2. After fixing this, I've got another issue, which was unrelated to sequelize-typescript.

[2020-03-14 11:06] RobinBuschmann commented on #743
Closing this due to inactivity

[2020-03-14 11:06] #743 closed

[2020-03-14 11:10] RobinBuschmann commented on #745
Sry for the late reply. What stops you from implementing these conditions within hooks or you could implement your own decorator - I could help you with it. But from now on I think this shouldn't be implemented in sequelize-typescript itself.

[2020-03-14 11:10] #745 closed

[2020-03-14 11:14] RobinBuschmann commented on #746
Hey @Hwan-seok, this is because you defined the column `id` within the `BelongsTo` decorator:
[code]
So it works as expected.

See https://sequelize.org/v5/manual/associations.html#difference-between-hasone-and-belongsto for details.

[2020-03-14 11:14] #746 closed

[2020-03-14 11:18] RobinBuschmann commented on #719
@cjancsar Sry for the late reply: Yes there are tests verifying that this works: https://github.com/RobinBuschmann/sequelize-typescript/blob/master/test/specs/association.spec.ts#L422

[2020-03-14 12:19] RobinBuschmann commented on #748
Hey @bradennapier, thanks for reporting. I don't really understand what the problem is. You say:

But you also provide the actual available methods,

  'countNames',
  'hasName',
  'hasNames',
  'setNames',
  'addName',
  'addNames',
  'removeName',
  'removeNames',
  'createName',

...where `createNames` is not part of it already.

Do you expect a `createNames` method or you don't expect one?

[2020-03-14 12:24] RobinBuschmann commented on #749
Hey @Duplicated, thanks for reporting, but this should be fixed with sequelize. sequelize-typescript@1 uses the official typings of sequelize. So if you want to add `decrement` it should be added here: https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L1517

[2020-03-14 12:24] #749 closed

[2020-03-14 12:33] RobinBuschmann commented on #750
Hey @kacepe, thanks for reporting. For me in is working very well. sequelize-typescript uses the official typings and `schema` is already defined there. See this https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L1626

[2020-03-14 12:46] RobinBuschmann commented on #751
Hey @hansyulian, thanks for reporting. At what point do you receive this error? Just with the definition of the models or when trying to use them? I tried both and it is working very well for me. Can you provide an example repo which reproduces the issue?

[2020-03-14 14:27] kacepe commented on #750
@RobinBuschmann Idk how it can works for you.
Here is a code example:
https://repl.it/repls/FrequentLostGraphicslibrary

[2020-03-14 18:35] RobinBuschmann commented on #750
Ah sry, I didn't understand it in the first place. Now I see. Anyways, this need to be fixed in the official sequelize typings: https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L1626

[2020-03-16 05:00] bradennapier commented on #748
@RobinBuschmann because there is only `createName` not `createNames` so it is an array and you can not do

[code]

because it is `'names'` in this case since its an array.

[2020-03-18 18:16] Johnathon332 opened #752 "Errors when defining @ForeignKey and @BelongsTo decorator"
**Versions**

- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[x ] bug report
[ ] feature request

**Actual behavior:**

There are actually two errors that I am facing one of which is with the @ForeignKey decorator and the other being the @BelongsTo decorator.

- Foreign key error being

- BelongsTo error being

  Overload 1 of 2, '(associatedClassG

[2020-03-20 16:15] rtman opened #753 "BelongsToMany and Include getting column does not exist error"
**Versions**
    "sequelize": "5.21.5",
    "sequelize-typescript": "^1.1.0",
    "typescript": "3.8.3"

I'm not sure if this is a bug or not

The behaviour I'm expecting is to get a specific user from the user table with an array of the associated playlists that match the user_id.

[code]

What I get is this:
[code]

I can see that the column does exist in the user_playlist table
[code]

The quer

[2020-03-21 16:20] rtman commented on #753
This fixed it.
[code]

[2020-03-21 16:20] #753 closed

[2020-03-21 23:40] abduljeleelng commented on #387
Try this article, it may help you
https://medium.com/@eth3rnit3/sequelize-relationships-ultimate-guide-f26801a75554

[2020-03-22 16:26] juspky commented on #648
Any updates on this?

[2020-03-23 12:57] RobinBuschmann commented on #752
Hey @Johnathon332, you've imported the wrong `Model` reference:
[code]

[2020-03-23 19:07] hkyq opened #754 "Error: Foreign key for "User" is missing on "Person" [Repo included]"
Hi, possibly related to #751

**Versions**
- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript:  3.8.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

Having an issue with foreign keys. Here are my models:

`person.ts`
[code]

`user.ts`
[code]

When I create a `Sequelize` instance as described in the docs with the models, I get

[code]
Not really sure why. I tried to foll

[2020-03-23 19:14] hkyq commented on #754
Forgot

[code]
In Person model. Oops.

[2020-03-23 19:14] #754 closed

[2020-03-24 21:15] lleonesouza opened #755 "CASCADE don't working with BelongsTo"
**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
Hi,
I'm tryng to destroy() with Cascade but it's not working, I already try it in a lot of different ways, the relations is working. but I don't why Cascade not.

versions:
"sequelize": "^5.21.5",
"sequelize-typescript": "^1.1.0"
"typescript": "^3.8.3",

my models:
[code]

[code]
I'm using "underscored": true at conf

[2020-03-25 11:29] MagicLegend commented on #438
Sorry for ripping open this old question again, but I'm facing the same right now, and I don't know how to solve this based on the existing comments. I have an existing codebase written in plain JS, and I'm working on switching to TS. Given the complexity and time constraints I really cannot spend time on refactoring all the existing models **and their calls** to TS.

*(Emphasis added)*

@RobinBus

[2020-03-25 18:44] MagicLegend opened #756 "Integrate with / migrate from plain JavaScript Sequelize to Sequelize-Typescript"
**Versions**

- sequelize: 4.44.4
- sequelize-typescript: 0.6.12-beta.3
- typescript: 3.8.3

**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [X] Question

**Actual behavior:**
Errors all over the place.

**Expected behavior:**
A working application.

**Steps to reproduce:**
Run testing project below.

**Related code:**
https://github.com/MagicLegend/ts-testing-project

*Migrated

[2020-03-25 21:23] MagicLegend commented on #756
Took me a little while to get the publishable test-project to the same state as my internal one, but it's there now. It throws with the same error:

[code]

Attaching a debugger to it (see the  README.md file in the project), the `sequelize` instance is indeed `undefined`, and I don't know why. To my eyes both the `i` model and the `product` model from [your project](https://github.com/RobinBuschm

[2020-03-26 13:00] MagicLegend commented on #756
New update:

After changing things around a lot (see https://github.com/MagicLegend/ts-testing-project/commit/6aefd5a414520c79f86508adcee44d87cb730818); I found out that if you ignore the error given by the transpiler, the debugger will happily start and build the correct database. However; I don't know what I changed to fix the aforementioned error; nor how to solve the current type-related error

[2020-03-27 22:03] eacdev opened #757 "Foreign key for "X" is missing on "Y""
**Versions**

- sequelize: 5.21.4
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**
[ x] bug report

**Actual behavior:**
```(node:29538) UnhandledPromiseRejectionWarning: Error: Foreign key for "Server" is missing on "User".```

**Expected behavior:**
The foreign key should be detected.

**Steps to reproduce:**
[code]

[code]

[code]

**Related code:**
https://github.com

[2020-03-28 16:36] SamiSammour opened #758 "Auto generated foreign key does not exist"
**Versions**

- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

When creating a belongs to association typescript cannot resolve the auto generated foreign key
**Expected behavior:**

I can set/get the auto generated foreign key
**Steps to reproduce:**

[code]
I cannot state `player.teamId` wit

[2020-03-28 20:18] eacdev commented on #757
After noticing that the docs. say to put both Server and User as "belongs to many", I did it, and the problem was fixed.

But, isn't it technically that a Server "has many" Users and a User "belongs to many" Servers?

[2020-03-31 10:07] sonacy opened #759 "enforcing-a-foreign-key-reference-without-constraints"
for sequelize, we can [enforcing-a-foreign-key-reference-without-constraints](https://sequelize.org/v5/manual/associations.html#enforcing-a-foreign-key-reference-without-constraints).
the reason is i don't want create foreign key to constaint, just for use reference.  not seeing this in docs. wonder how to do it in typescript?
much thanks.

[2020-04-02 15:30] robwells124 opened #760 "Unable to get type-safe access to the dataValues property on models"
**Versions**

- sequelize: 5.21.2
- sequelize-typescript: 1.1.0
- typescript3.8.3

**I'm submitting a ...**

[X ] bug report
[ ] feature request

**Actual behavior:**

Unable to get typing safe access to the foreign key of a model in a many-to-one association from using model.dataValues. When using the property dataValues on my instance, Typescript flags up that "Property 'dataValues' does not exi

[2020-04-03 22:26] kkmoslehpour commented on #460
I'm having an issue when exporting the SQLite config from another model. So the following gives me a typescript error:

database:
[code]

[code]

[code]

However, when I copy the entire object into the `Sequelize()` it doesn't complain.

[code]

[2020-04-03 22:50] fschuetz04 commented on #460
[code]

Does it work like that?

[2020-04-04 18:26] LeandroDoldan opened #761 "Queries without placeholders"
**Versions**

- sequelize: ^5.21.5
- sequelize-typescript: ^1.1.0
- typescript: ^3.8.3

**I'm submitting a ...**
[ ] bug report
[x] feature request

**Actual behavior:**
Right now, queries are logged using placeholders. For example:
[code]

**Expected behavior:**
I would love to have the actual query without the placeholders as sequelize does, or the possibility to choose:
[code]

**Steps to repro

[2020-04-05 16:27] Erbolking opened #762 "Unable to provide search_path while using $set"
**Versions**

- sequelize: ^5.21.3
- sequelize-typescript: ^1.1.0
- typescript: ^3.3.3

**I'm submitting a ...**

[x ] bug report
[ ] feature request

**Actual behavior:**

There is no way to provide a `searchPath` parameter while using `$set` method
For example:
[code]

it still sends:
`SET search_path to DEFAULT;`

**Expected behavior:**

While it should send:
`SET search_path to tenantId;`

[2020-04-06 04:26] dreamerblue opened #763 "typescript type infer cannot work accurately"
**Versions**

- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript: 3.8.3
- @types/bluebird: 3.5.30

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

Type of attributes and where cannot be inferred by typescript.

And return type of query is always `MyModel`.

**Expected behavior:**

Type inference can work.

**Steps to reproduce:**

Please see code bel

[2020-04-06 15:50] romulogrowthtech commented on #763
@dreamerblue the same problem

[2020-04-06 21:19] kkmoslehpour commented on #460
Yes, that fixed the error, but why do we need to cast the type here? It seems a bit misleading for people trying to follow what the docs.

[2020-04-07 09:41] fschuetz04 commented on #460
The type of the dialect field is defined as `'mysql' | 'postgres' | 'sqlite' | 'mariadb' | 'mssql'` to enable TypeScript to check whether you pass in a valid value (https://github.com/types/sequelize/blob/c628e47acd0cb073b69d06b38ff3fd3ce3f47dbc/lib/sequelize.d.ts#L156). This is a good thing, I guess, but TypeScript does not infer the type of the sqliteConfig object you import by its usage. Not kn

[2020-04-07 16:27] dianjuar commented on #357
WHAT AN ISSUE!
Thanks @eboswort! You were absolutely right!

I'm going to expose my problem to future developers.

---
A module needed other modules

This is wrong ❌
[code]

This is right ✔️
[code]

----

You can not import models using a module that re-exports those models, I don't know why

[2020-04-09 05:24] artoodeeto opened #764 "Dumb question"
Hello. This is really awesome. Planning to migrate from typeorm to sequelize. Quick question though. We’re confused. Whe using sequelize which documentation should we read? This one or the main sequelize? Can we the code from main sequelize to here?

[2020-04-10 08:50] RobinBuschmann commented on #742
Closing this due to inactivity

[2020-04-10 08:50] #742 closed

[2020-04-10 08:51] RobinBuschmann commented on #738
Closing this in favour of sequelize/sequelize#10823

[2020-04-10 08:51] #738 closed

[2020-04-10 09:06] RobinBuschmann commented on #747
Hey @neokamikai, sorry for the late reply. This seems to be sequelize-only related and should be reported [here](https://github.com/sequelize/sequelize/issues). Nevertheless according to the docs of sequelize you shouldn't use this for production anyway:

(https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html)

[2020-04-10 09:06] #747 closed

[2020-04-10 09:20] RobinBuschmann commented on #748
@bradennapier I still don't get it. Why can `model.$create('name', ...)` not be used?  The `$create` function just concats and capitalizes the passed key, which is `'name'` with the string `create`, and calls this method on the target model: `model.createName()`. As you said `createName` exists - So I cannot see any issues here. Probably a full example would make it much clearer. But what I can sa

[2020-04-10 09:21] RobinBuschmann commented on #750
Closing this since it isn't an issue with sequelize-typescript but an issue with sequelize.

[2020-04-10 09:21] #750 closed

[2020-04-10 09:21] RobinBuschmann commented on #751
Closing this due to inactivity

[2020-04-10 09:21] #751 closed

[2020-04-10 09:22] RobinBuschmann commented on #752
Closing this due to inactivity

[2020-04-10 09:22] #752 closed

[2020-04-10 09:47] RobinBuschmann commented on #648
As far as I can see it, just hooks won't work anymore if upgrading to sequelize v6. Anything else should still be untouched. But anyway, the only thing that needs to be changed (or better added) is support for the new syntax `model.hooks.add`:

[code]
https://github.com/RobinBuschmann/sequelize-typescript/blob/master/src/hooks/shared/hooks-service.ts#L77

Do I've overseen something? Anything else

[2020-04-10 09:51] RobinBuschmann commented on #758
Hey @SamiSammour thanks for bringing this up. Unfortunately this won't work. There is no way to define it so that typescript can infer the property key you've defined in a decorator. You have to explicitly define it in your model:

[code]

But what we probably could do is improving the types of the decorators. So that only keys of the model can be used as foreign key. For example, if you use a key

[2020-04-10 09:52] #758 closed

[2020-04-10 11:34] RobinBuschmann commented on #759
Hey @sonacy, thanks for bringing this up. Unfortunately this isn't supported yet.

[2020-04-10 11:37] RobinBuschmann commented on #760
Hey @robwells124. There is a getter for that. See official typings: https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L2539

Anyways, if you have good reasons to add the `dataValues` property to the typings, you would have to create an issue or PR in the sequelize project.

[2020-04-10 11:37] #760 closed

[2020-04-10 11:39] RobinBuschmann commented on #761
Hey @LeandroDoldan, unfortunately this isn't part of sequelize-typescript, but sequelize itself. So you should report this [there](https://github.com/sequelize/sequelize)

[2020-04-10 11:39] #761 closed

[2020-04-11 09:11] Alkanores opened #767 "import Datatype from Sequellize-Typescript returns empty object"
I was trying to import Datatype by this ways:

[code]

`require('sequelize-typescript');`

`import * as sequelizeTypescript from 'sequelize-typescript';`

But in all cases Datatype is empty object. How can I fix it?

[2020-04-11 17:04] SamiSammour commented on #758
That would be helpful in deed

[2020-04-12 17:18] MarkusRissmann commented on #663
@cristian-chis Did you find a solution?

[2020-04-12 20:14] cristian-chis commented on #663
Hello Markus, Well, I’m not working in that project anymore but as far as I remember, the non-fix they implemented was to comment out the virtual field section. Myeah, that is unfortunate. I’ll see if the issue will reproduce on other projects, or if it was just some misconfiguration/version type of thing. Are you having a similar issue? Cheers! From: MarkusRissmannSent: Sunday, April 12, 2020 20:

[2020-04-14 23:30] vinkaga opened #768 "How to have array of foreign keys"
**Versions**
sequelize: 5.21.6
sequelize-typescript: 1.1.0
typescript: 3.8.3

**I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] documentation request

**What am I trying to accomplish**
Using the `simple` example in this repo (and working with DB that allows arrays, e.g., Postgres), I am trying to remove `userId` foreign key from `Post` and add an array of foreign keys `postIds` in `

[2020-04-16 21:02] wallzero opened #769 "Support for `beforeQuery` and `afterQuery` hooks"
**Versions**

- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[ ] bug report
[x] feature request

I'd like to run a function before every query with `beforeQuery` and `afterQuery` on specific models with a supported annotation `@BeforeQuery` and `@AfterQuery`. I can get this to work if I write the hook to the sequelize instance but then it runs on e

[2020-04-16 21:03] wallzero commented on #769
Here is the [`Hook.ts`](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/test/models/Hook.ts) file where they are missing.

[2020-04-18 07:00] mankinchi opened #770 "Race condition while using $set method"
**Versions**

- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**
[x ] bug report
[ ] feature request

**Actual behavior:**
Below is the code to create a game. Both Categories and Mechanics are another Model, that has been connected through M:M relationship
![image](https://user-images.githubusercontent.com/8164063/79630520-51c1ff80-8195-11ea-9f87-3fba3b

[2020-04-20 17:17] whitestranger7 opened #771 "Model not initialized: TeamModel cannot be instantiated. "TeamModel" needs to be added to a Sequelize instance."
Hello, sequelize-typescript devs, I've got a weird error, which is, well... pretty weird. So that's my situation:

1. I have DBcontext.ts file, which is represents the whole logic behind about sequelize instance and all it's functions. I've created sequelize instance as a class with some publick methods like that:
`import { Sequelize, Repository, Model } from 'sequelize-typescript';
import { UserM

[2020-04-22 07:47] FreifeldRoyi opened #772 "No documentation for db init and migration"
I'm finding myself struggling with finding answers about how to init my db and doing migrations.
Eventually I managed to use the sequelize migrations with typescript in a type safe way, but there are more things sequelize-typescript related that I still haven't figured out and I feel it would be of great help to add them to the readme. All related to DB init and migrations:
1. What type and best w

[2020-04-22 10:52] hmol commented on #772
Yes! I really like using sequelize-typescript, but this is the one thing I cant figure out how to do in an easy way.

[2020-04-22 11:15] kayvanbree commented on #772
I'm in the same boat. Looking at sequelize-cli-typescript now, but I cannot get it to work yet.

[2020-04-23 10:04] SamiSammour opened #773 "Async function in transaction afterCommit"
**Versions**

- sequelize: 5.21.5
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

I'm trying to execute an `async` function to the `transaction.afterCommit` but I'm getting this error:
[code]
**Expected behavior:**

Be able to call async functions to the `afterCommit` hook.
**Steps to reproduce:**

This is how I

[2020-04-23 17:51] KamiKoroshi opened #775 "Join over multiple database"
**Versions**

- sequelize: 5.21.7
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[ ] bug report
[ X ] feature request

Hello, I have a database setup in which I have foreign keys to other databases on the same server.
I wanted to switch to an ORM for my project since I got sick of using SQL with typescript, as it was just a pain. Sequelize-Typescript seems nice to wor

[2020-04-23 19:41] leonetosoft commented on #756
I developed this tool that can help you in the migration process.
It generates all Models from its database.
You can also modify everything you need without problems.
 https://github.com/leonetosoft/ny-sequelize-auto

[2020-04-23 19:44] leonetosoft opened #776 "Automatically generate models from your existing database"
**Versions**

- sequelize:
- sequelize-typescript:
- typescript

**I'm submitting a ...**

[ ] bug report
[ ] feature request
[X] Tool

I developed this tool that can help you in the migration process.
It generates all Models from its database.
You can also modify everything you need without problems.
 https://github.com/leonetosoft/ny-sequelize-auto

[2020-04-24 06:57] nowiczka commented on #586
I did the same as @ian-callaghan however when dockerize the application it does not work correctly... I mean, I can run the application but it seems that the models are not taking into account the conditions with Op used.

[2020-04-24 11:46] MagicLegend commented on #756
Hi @leonetosoft

Nice tool, and certainly useful for other people! However, the legacy models still need to be available to the rest of the codebase; since updating the entire codebase at once is too much of a task. In my case the legacy models need to interact with the new models, which I found the aforementioned workaround for. There still seems a bug in this, which I would like @RobinBuschmann

[2020-04-25 13:53] oktapodia opened #777 "Overriding toJSON instance method"
**Versions**

- sequelize: 5.21.7
- sequelize-typescript: 1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[ ] bug report
[x] feature request

**Actual behavior:**

Overriding the instance method `toJSON` is possible in sequelize, not with sequelize-typescript

**Expected behavior:**

Possibility to override the `toJSON` instance method

**Steps to reproduce:**

**Related code:**

[code]

[2020-04-27 21:05] gideaoms opened #778 "Intance model properties are undefined"
**Versions**

- sequelize: 5.21.7
- sequelize-typescript:  1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[ x ] bug report
[ ] feature request

**Actual behavior:**
I execute a `findOne` function to get a model instance, but the properties are `undefined`

**Expected behavior:**
I would like to get the properties values

**Steps to reproduce:**
[code]

**Related code:**
If I execute the `cit

[2020-04-28 16:04] geryruslandi opened #779 "Eager load model relationship from raw query execution"
**Versions**

- sequelize: 5.21.6
- sequelize-typescript:  1.1.0
- typescript: 3.8.3

**I'm submitting a ...**

[ ] bug report
[x] feature request

**Actual behavior:**

Order the table that has lat and lng columns, order by nearby location. To archieve this i need to do a raw query to get nearby location value. currently what i do is like this:
`let query = 'select * from FieldOfficers'

[2020-05-04 18:43] shamoons commented on #763
Same issue - anyone have anything?

[2020-05-04 19:00] ShintaroNippon opened #780 "Error on model"
I'm getting this error on build using tsc

[code]

My package json

[code]

my tsconfig.json

[code]
some one can help ?

[2020-05-05 15:23] russkiy78 opened #781 "Strange behavior of model (additional UNIQUE constraint)"
**Versions**
    "sequelize": "^5.21.6",
    "sequelize-typescript": "^1.1.0",
   "typescript": "^3.8.3"

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**

Model:
[code]

sequelize.sync() is creating table with two constraints (postgreSQL DB):
`CREATE TABLE IF NOT EXISTS "company_licenses" ("delete_time" TIMESTAMP WITH TIME ZONE DEFAULT '1970-01-01 00:00:00.000 +00

[2020-05-06 22:11] brycekahle opened #782 "Unable to import Model with Node.js 13/14 ES Modules"
**Versions**

- sequelize: 5.21.7
- sequelize-typescript: 1.1.0
- typescript: 3.8.3
- Node.js: 13.14.0 or 14.2.0

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

When attempting to run only the following code with Node.js 13 or 14
[code]
I received the following error:
[code]

My `package.json` does have `"type": "module"`.

It is unclear whether this is a probl

[2020-05-07 19:48] jrcss11-iscteiulpt commented on #261
Some update about this feature?

[2020-05-13 07:12] bcba25 opened #783 "Is it possuble to fetch many-to-many without parent object ?"
I have an API which returns me data in the following format:

[code]

And the query:

[code]
Is there a way to just get the boards without user object ?

[code]

[2020-05-14 02:06] dilizarov commented on #719
@RobinBuschmann

For what it's worth, the test only shows that for a hasMany relationship, that *singular* creation works.

In the test, you essentially do `book.$create('page', page2)`, where the book hasMany pages.

I think it's a valid assumption that `book.$create('pages', [page2])` should also work, but it probably won't.

That is what this ticket is highlighting and what the documentation re

[2020-05-14 05:27] flatcoke commented on #719
It should add adge case testes, which has some unusual table name

[2020-05-14 14:51] sgoff0 commented on #771
@whitestranger7  I had this same error and saw I was missing `models: [__dirname + '/models']` completely.

I do see you already have models defined so it may not the the problem
[code]

but have you tried importing the model directory per [the sequelize-typescript-example](https://github.com/RobinBuschmann/sequelize-typescript-example/blob/cb1e675c9cd8a6df8955c81a3dedfb02b7cc4a31/lib/sequelize.ts

[2020-05-15 00:55] jessemyers commented on #725
I have a similar problem where:

[2020-05-15 10:29] ErikMartensson commented on #725
I also have this issue, and as jessemyers have pointed out, the problem is directly related to the `@Index` decorator, not just the `createIndexDecorator` function.

My solution was to use two fields, one with the correct name for the database (database field) and one virtual field for the code (application field) with magic get/set functions.
[code]

[code]

This solution requires some extra code

[2020-05-18 05:09] pedroandradef opened #784 "Sequelize-typescript include on Many to Many only includes one of many results"
Hello, i need multiples items but i get one include sale
This is function from controller
  getSale = async (req: express.Request, res: express.Response) => {
    try {
      const { id } = req.params;
      const sale = await models.sale.findByPk(id, {
        include: [{ model: Item, as: 'itens', required: true}],
      });
      if (sale) res.send(sale);
      else res.status(404).send({ error:

[2020-05-18 10:09] AlexDede opened #785 "Incompatible with sequelize 6.0.0-beta.6"
**Versions**

- sequelize: 6.0.0-beta.6
- sequelize-typescript: 1.1.0
- typescript: 3.9.2

**I'm submitting a ...**

[ ] bug report
[x] feature request

**Actual behavior:**

`2322 Type 'typeof MyClassName' is not assignable to type 'Includeable'.
  Type 'typeof MyClassName' is not assignable to type 'typeof Model'.
    Types of property 'init' are incompatible.
      Type '(attributes: ModelAttri

[2020-05-18 13:34] lawrence-peng opened #786 "ToMany and BelongsTo Error"
**Versions**

- sequelize: 5.15.1
- sequelize-typescript: 1.1.0
- typescript 3.3.3

[code]
[code]
### db table scheme

- **task_brief**

| name | type |
| --- | --- |
| id | bigint |
| state | int |
| current_step | int |

- **task_detail**

| name | type |
| --- | --- |
| id | bigint |
| task_id | int |
| state | int |

### throw error
[code]

[2020-05-19 19:42] kf6kjg commented on #785
Just created PR #787 to solve this. Please give that a try and report your results.

[2020-05-21 07:35] #783 closed

[2020-05-22 09:32] Divlo commented on #333
Yeah I don't have the autocompletion too. 🤔

[2020-05-23 21:10] wilberalx opened #789 "Sequelize + Angular TypeError Sequelize is not a constructor"
Hi @felixfbecker / @RobinBuschmann

I am developing a desktop app in Electron with Angular for the ui, for the connection to the local db I want to use sequelize-typescript. When generating an instance of sequelize to create a connection to the bd it gives me an error, to test the connection I am creating it in the main component.

**The error:**

`TypeError: sequelize_typescript__WEBPACK_IMPORTED

[2020-05-24 23:03] demsey2 opened #790 "missing dialect on Sequelize"
**Versions**
- sequelize: 5.21.9
- sequelize-typescript: 1.1.0
- typescript: 3.8.2

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
Sequelize doesn't have a Dialect type defined (not String type but Dialect type)

**Expected behavior:**
a specific dialect should be defined
[code]

[2020-05-25 06:30] rlaace423 commented on #725
Same here. It's about ```@Index``` itself, not just others.
I think it is quite critical issue for who has already existing schemas.

It seems to me considering to change sequelize-typescript to TypeORM..

[2020-05-25 10:31] ph55 opened #791 ""Upgrade to v5" link in README broken"
https://github.com/sequelize/sequelize/blob/master/docs/upgrade-to-v5.md

404 page not found

[2020-05-25 18:44] suvarnataware commented on #228
HI @RobinBuschmann
is it possible to add this use case in examples which you have shared. I also struggled quite a few hours & might be same case with many others

[2020-05-25 20:19] ShaharHD commented on #791
the correct link is https://sequelize.org/v5/manual/upgrade-to-v5.html

[2020-05-25 20:21] ShaharHD opened #792 "bluebird typings are still referenced"
According to `yarn` the bluebird are still referenced.

[code]

See here https://github.com/RobinBuschmann/sequelize-typescript/blob/master/package.json#L75

[2020-05-26 18:34] RobinBuschmann commented on #755
Hey @lleonesouza sry for the late reply. This doesn't seem to be an issue with sequelize-typescript but with sequelize - You should report it [here](https://github.com/sequelize/sequelize)

[2020-05-26 18:34] #755 closed

[2020-05-26 18:46] RobinBuschmann commented on #756
Hey @MagicLegend, sry for the late reply. Unfortunately I won't have time in the near future to investigate this any further.

But what I can say from now is, that it is very difficult if not impossible to reference an "old" model from a new one. What I meant with the quote you posted is, that you could have old and new models side by side as long as there is no reference between these models.

[2020-05-26 18:56] RobinBuschmann commented on #762
Hey @Erbolking sry for the late reply. Did you try to configure it like mentioned here: https://github.com/sequelize/sequelize/issues/4771#issuecomment-152181440

[2020-05-26 18:59] RobinBuschmann commented on #460
I wouldn't add this to the README of this project because it is common typescript behaviour.

[2020-05-26 19:02] RobinBuschmann commented on #764
Hey @artoodeeto thanks and sry for the late reply. I would recommend to use the documentation from sequelize-typescript and for any detailed information check the official sequelize docs.

[2020-05-26 19:02] #764 closed

[2020-05-26 19:02] RobinBuschmann commented on #767
Hey @Alkanores sry for the late reply. Can you provide an example repo which reproduces the issue?

[2020-05-26 19:06] RobinBuschmann commented on #768
Hey @vinkaga sry for the late reply. Can you try to achieve this with pure sequelize. If it doesn't work there, it is definitively an issue with sequelize not sequelize-typescript. Unfortunately I won't  have time to investigate this in the near future

[2020-05-26 19:08] RobinBuschmann commented on #769
Hey @wallzero, thanks for reporting. Can you create a pull request solving this?

[2020-05-26 19:21] RobinBuschmann commented on #792
Hey @ShaharHD, this is because the latest sequelize version (Version 5.21.11) still requires bluebird.

[2020-05-26 19:37] ShaharHD commented on #792
But the warning regarding this comes only from `sequelize-typescript`.
latest version of sequelize (if it was new project, as with `yarn install sequelize sequelize-typescript`) will not install bluebird typings, or am I mistaken?

[2020-05-26 19:40] #792 closed

[2020-05-26 19:53] Alkanores commented on #767
Heh, I solve it) Just added in webpack externals

`externals: {
    'sequelize-typescript': 'commonjs sequelize-typescript'
}`

[2020-05-26 19:54] #767 closed

[2020-05-27 01:56] enzomonjardin commented on #777
I've been overriding the `toJSON` method to hide information without issues. How's it not possible? What error are you seeing?

I'm doing something like this, and  it's working fine.
[code]

Maybe you're getting a typescript error from the `Object.assign`? The `values` variable wouldn't be inferred to be of the `Test` type, you should get an error similar to
`Property 'shouldBeHidden' does not exi

[2020-05-27 07:33] Adam-Burke opened #793 "Multiple instances, no Shared Models"
Sorry I'm light on detail but I've spent quite a lot of time searching.
Also I'm not sure this isn't a sequelize problem.

**Versions**

- sequelize: 5.21.7
- sequelize-typescript: 1.1.1
- typescript 3.8.3

**I'm submitting a ...**

[ x] bug report
[ ] feature request

**Actual behavior:**
We're attempting to use sequelize-typescript with multiple databases.
We are using 2 instances (`instance 1`

[2020-05-27 15:34] wallzero commented on #769
Sure thing. Give me a few days to finish what I am working on.

[2020-05-28 05:10] Adam-Burke commented on #793
The issue was we had the model nested inside a transaction. Ooooops!

[2020-05-28 05:10] #793 closed

[2020-05-28 14:42] Andrew1431 commented on #274
@samratshaw is there an article that ISN'T behind a paywall?

[2020-05-28 21:23] shamoons opened #794 "How can I use a model as a type?"
I'm trying to do:
[code]

with `Event` being:
[code]

but it says:
[code]

[2020-05-29 08:09] MagicLegend commented on #756
No worries @RobinBuschmann , life can be busy :) For our goals, I think I've figured out on my own how to do this; it's working for us now.

I have disproved this already, what I did here works: https://github.com/MagicLegend/ts-testing-project/blob/0267d3f87e9bdab8a409a6f04bd0c745d04a3cc8/src/lib/models/T.ts#L34

However, if you try to do more complex queries, Sequelize will freak out. But, for s

[2020-05-30 18:28] ertankara commented on #790
Did you initialize your db, with options that is similar to following?

[code]

[2020-05-30 18:39] ertankara commented on #772
@hmol Do you rewrite your schemas in that migration file or does it generate for you, mine did generate a file but it just has some instructions on how to do the migration instead of actually detecting that would be so much to expect I guess.

@FreifeldRoyi Can you elaborate the safe way you mentioned please.

[2020-05-31 12:11] MagicLegend commented on #794
You should create a new object using the `.create({})` function; not instantiate it like that.

[2020-05-31 12:27] shamoons commented on #794
But I’ll be adding to the object conditionally based on certain criteria

[2020-05-31 12:48] MagicLegend commented on #794
Then either define a `type` in that class as an intermediary type, use an `any` type to build the object and then save it (after saving you have the typings again), or re-think your code logic to fit this style of working with the objects.

[2020-05-31 17:51] Swadish commented on #352
Sorry for ressurrecting an old thread, but I was able to bulkInsert models using a map with destructuring:

[code]

Yes, in this case you have to iterate the array again.

[2020-06-01 04:55] joshmedeski commented on #784
You have a typo in the code, maybe that's what's wrong?

[code]

[2020-06-02 14:40] denizoguz opened #795 "Can I use an existing instance of Sequelize for creating an instance of Sequelize Typescript class?"
Hi,
I'm using Atlassian Connect Framework, which internally uses Sequelize and creates an instance of Sequelize using configuration information from a json file.
I want to use Sequelize-typescript. I don't want to create a new Sequelize and directly use the Sequelize instance created by ACE framework. I'm new to TypeScript and Sequelize, and I could not figure out how to do it.

[2020-06-02 21:45] demsey2 commented on #790
yes this is how I initialize my db.

I don't have any problems with tables creation my issue is around switching db name in the same connection.

I did a research and it looks like it is possible and to achieve that I need to set that
db.sequelize.dialect.supports.schemas = true;

[2020-06-05 12:20] farisT commented on #274
I agree this can be annoying. But to circumvent the pay wall you can always open the link on an incognito browser

[2020-06-05 12:21] Andrew1431 commented on #274
@farisT thanks I tried using the browser tools to delete the overlay to no avail, didn't think it would be that easy :P

[2020-06-05 19:01] FreifeldRoyi commented on #772
@ertankara Unlike the [official sequelize manual](https://sequelize.org/v5/manual/migrations.html), I used the DataTypes and QueryInterface types from sequelize to create the functions:

[code]

It's not that it's REALLY typesafe, but at least I can get better code completions.
What I'd like to get is some automatic way to map between the decorators, already defined with this project, to create th

[2020-06-08 18:54] kf6kjg commented on #794
In my model modules I'll export four items: the model, a "create" interface, an "update" interface, and sometimes a "read" interface.  This is basically what I believe @MagicLegend meant by using an intermediary type, but a bit more extensive.

Example:
[code]

The class and each interface are carefully tuned to the needs of the model: sometimes fields exist in one or more of them that don't exist

[2020-06-10 16:00] shamoons opened #796 "Syntax error: Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
**Versions**

- sequelize: ^5.21.12"
- sequelize-typescript: ^1.1.0
- typescript ^3.9.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

My code is:
[code]

And that's the error that I get:
[code]

[2020-06-11 03:52] swordman1205 opened #797 "Sequelize types being imported inside sequelize-typescript types are inferred to any"
**Versions**

- sequelize: 5.21.11
- sequelize-typescript: 1.1.0
- typescript: 3.9.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

I am creating sequelize models as a shared lib for microservice-like backend architecture so the models can be imported over multiple repos. Our backend is coded with Typescript so I used sequelize-typescript to support TS in the

[2020-06-11 07:58] menglingyu opened #798 "how to Player .findOne({include: [Team]})"

[2020-06-11 08:08] menglingyu commented on #798
222

[2020-06-11 08:08] #798 closed

[2020-06-11 08:19] menglingyu opened #799 "many table selectd question"
[code]

[code]

when i selectd

Sales.getList({limit: 20, offset : 0})

sql is
[code]

i dont want to  `Sales`.`id` = `goods`.`id`.   i want to get    `Sales`.`id` = `goods`.`sale_id`

what should i do

[2020-06-11 09:47] henrydyx opened #800 "SQLITE_BUSY: database is locked"
**Versions**

    "sequelize": "^5.21.3",
    "sequelize-cli-typescript": "^3.2.0-c",
    "sequelize-typescript": "^1.1.0-beta.2",

**I'm submitting a ...**

[ ] bug report
[ ] feature request

**Actual behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

![image](https://user-images.githubusercontent.com/60692500/84370942-8ab5a800-ac0b-11ea-9523-7ba6ddd667c9.pn

[2020-06-11 10:42] #799 closed

[2020-06-12 13:54] RoelRoel commented on #129
@RobinBuschmann  When I use

  @Column(DataType.TIME)
  time: Date;

It still in reality is a string with this format HH:mm:ss.

[2020-06-16 11:18] programmerkgit opened #801 "Support for type of transaction"
I want type support of transaction.

[2020-06-16 17:15] umdstu commented on #751
Versions

sequelize: 5.21.13
sequelize-typescript: 1.1.0
typescript: 3.7.2

I'm having this exact issue- new issue or re-open?

Models look good, no typescript errors anywhere. It happens when I go to start the service and it runs the compiled code. I'll provide anything you need, thanks in advance.

User.ts: HasMany Workflow
Workflow.ts: BelongsTo User

`node ./dist/server.js`

[code]

[2020-06-17 14:29] Gabrielvt14 opened #802 "findAll with HasMany returns an object instead of an array"
I have two tables. Team and Players.
Team can has many players, and a player belongs to a team.
My models:
[code]

When I run:
[code]
I get this:
[code]

but I need get this:
[code]

I don't know if I'm doing something wrong, or if it's a problem with sequelize-typescript, or if it's a problem with sequelize.

can anybody help me?

[2020-06-18 03:29] Gabrielvt14 commented on #802
The problem was option `{ raw: true }`

In the hook beforeFind I was using `{ raw: true }` option. I didn't know that these option caused this problem

-------------------------

This will happen if you specify: `raw: true` in the query options.

[code]

Results in:

[code]

Removing it:

[code]

Results in:

[code]

[2020-06-18 03:29] #802 closed

[2020-06-18 20:02] mjgriffin1113 commented on #786
I'm having this same issue. Did you figure out how to do your imports to avoid this? @lawrence-peng

[2020-06-18 22:00] mjgriffin1113 commented on #786
@RobinBuschmann I can't for the life of me determine why I'm getting this error. Any plans on revisiting this? https://github.com/RobinBuschmann/sequelize-typescript/issues/230

[2020-06-18 22:32] Gabrielvt14 commented on #801
I use `import { Transaction } from 'sequelize/types'`. Works for me

[2020-06-25 19:18] wagnxx commented on #222
thank u,my problem was fixed

[2020-06-26 02:54] doug-martin opened #803 "Calling `$set` with the relation name and `null` is not currently supported."
**Versions**

- sequelize: 5.21.11
- sequelize-typescript: 1.1.0
- typescript 3.9.5

**I'm submitting a ...**

- [x] bug report
- [ ] feature request

**Actual behavior:**

Setting a `one-to-one` relationship to null is not currently supported using `$set` or `$remove`.

I have the following models

[code]

[code]
The following code is from a framework called `nestjs-query` so it is pretty generic

[2020-06-26 06:22] #801 closed

[2020-06-26 15:08] AuHau opened #804 "Support for Sequelize v6"
**Versions**

- sequelize: 6.2.0
- sequelize-typescript: 1.1.0
- typescript: 3.9.5

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Details:**

There is a new major [Sequelize release v6](https://github.com/sequelize/sequelize/releases/tag/v6.1.0) that changes Sequelize's internals quite a bit (for example removing Bluebird, yey!)

These are the types errors that I get running it a

[2020-06-27 14:17] ShaharHD commented on #804
#787 should resolve this

[2020-06-27 21:43] doug-martin commented on #803
Looks like #774 will fix this.

[2020-06-30 20:03] rajeevbbqq commented on #748
@RobinBuschmann

My scenario is I have a Store model with many Categories.

Here is how it defined:
[code]

When I try to create a category from the Store model as below it works as expected.

[code]

But when I try for bulk insert I'm getting an exception as: `this[(\"create\" + string_1.capitalize(...))] is not a function`

[code]