[2018-08-02 14:50] RobinBuschmann commented on #423
I will label this as bug due to the `@DefaultScope` issue.

[2018-08-02 14:53] RobinBuschmann commented on #429
@aviranco Try this
[code]

[2018-08-02 14:54] AamuLumi commented on #431
Okay thanks !

I tested this function (with the `through` field in option), and got this :
```Foreign key for "SourceModel" is missing on "MiddleTable".```
But I don't have this error when using the `@BelongsToMany(relatedModelGetter: () => typeof Model, through: (() => typeof Model))` signature. Seems there's a bug too on the `through` string value which is not resolved correctly. That's why I as

[2018-08-02 15:11] RobinBuschmann commented on #431
@AamuLumi Can you show me how your MiddleTable class look like?

[2018-08-03 13:05] AamuLumi commented on #431
[code]

[2018-08-04 09:46] RobinBuschmann commented on #431
Looks good so far. Can you provide an example repo which reproduces the issue?

[2018-08-06 08:45] AamuLumi commented on #431
Here's a fork of seqyelize-typescript-example with the problem. I updated `Actor` with the code which isn't working (l.30->35) : https://github.com/AamuLumi/sequelize-typescript-example

[2018-08-06 09:34] AamuLumi commented on #431
I found this way works :
[code]

So it seems that there's only the string `through` option which doesn't work.

[2018-08-06 17:24] RobinBuschmann commented on #431
Hey @AamuLumi,

you have to use either the model getter (`() => ThroughModel`) or the string representation of the through table in both(!) models (`Movie` and `Actor` in case of the example).

Yep, this way `through: () => MovieActor` is supported as well :) If you're fine with your posted solution, can we close this issue then?

[2018-08-06 18:45] natesilva commented on #428
Is beta 0.6.6 ready? We’d like to get this fix but don’t want to reference a beta version in our package.json.

[2018-08-06 20:04] AamuLumi commented on #431
Oh okay ! Thanks a lot for the clarification ! :)

Issue resolved ! And another thanks for this amazing library.

[2018-08-06 20:04] #431 closed

[2018-08-06 21:41] keyduq opened #433 "Association Error"
I have this
[code]
Vendedor side:
[code]
And just initializing sequelize throws this error
[code]

What I'm doing wrong?

[2018-08-06 23:27] keyduq commented on #433
I just figured out what was happening, I was initializing sequelize twice. You can close this issue guys and btw great library 👍

[2018-08-07 08:32] footyapps27 commented on #274
Do have a look at the below article describing how I was able to use Sequelize CLI with migration files written in Typescript.

https://medium.com/@samratshaw/sequelize-cli-migrations-with-typescript-bd1bd41cbd6

Looking forward to feedback and critique.

[2018-08-07 09:46] Pritilender opened #434 "IsEmail options"
I've got a model that has `IsEmail` decorator for email validation, but I want to pass in `required_tld: false` option to validator.js ([more options are listed under `isEmail`)](https://github.com/chriso/validator.js#validators), but I don't know how. I've tried with `@Is('email)`, but turns out that it's not the proper way. Even tried stupid things like attaching object as `@IsEmail({...})`.

So

[2018-08-07 12:12] chirag2120787 commented on #212
I want to do the exact same thing in JS but I am not able to find something like this in SequelizeJs. Can you help ?

[2018-08-07 15:28] RobinBuschmann commented on #312
I didn't realized in the first place, but this is an issue in the sequelize typings, not in the sequelize-typescript ones. So  one need to update the sequelize typings in order to fix this.

[2018-08-07 17:08] RobinBuschmann commented on #428
Hey @natesilva its released now under `0.6.6`

[2018-08-07 17:59] natesilva commented on #428
Thank you!

[2018-08-07 19:30] spearmootz opened #435 "scopes with includes gets me error self._expandAttributes is not a function"
I have the following model, i can query using the scope without by commenting out the include but when i include the include it gives me "self._expandAttributes"
[code]

[2018-08-07 20:17] spearmootz commented on #435
im going to close the issue, since i have found something to research, if still and issue ill open it.

[2018-08-07 21:41] spearmootz commented on #435
Here is the Medical_Record code, it had an issue but it wasnt causing the original issue. i tried commenting out any function declaration, have minimal relationships, even most properties, it was still giving me the original error.

[code]

[2018-08-08 14:12] spearmootz commented on #435
I did more digging, it seems that the function where that is being called by sequelize is expecting a model but instead it is receiving the getter function.

which compiles to `() => Medical_Record_1.default`

[2018-08-08 14:14] spearmootz commented on #435
sorry... it works when i pass the model directly to include instead of doing the getter `() => Model` as specified by the documentation

[2018-08-09 00:55] wbk commented on #421
I'm a fan of the latter, selfishly, because it makes a use case of mine slightly cleaner :)

In my opinion, the error-message-displaying override breaks Sequelize.  Sequelize internally calls this function, ultimately within `sequelize.define`, which as far as things go is pretty important.  Sequelize would run as expected if this override were not in place and Sequelize could call its own impleme

[2018-08-09 13:21] patrickatkeylogic opened #436 "Foreign Keys cannot be nullable"
My model requires an optional reference to my User table through the User table's `id` primary key but when the table is created the `userId` field is always not nullable. Is this possible through the library? I hope I'm just missing something.

Here's my column definition:
[code]

Thanks!

[2018-08-14 09:59] iRath96 opened #437 "Typing of $set and $get"
Is there a specific reason why these methods do not make use of `keyof`?
For example,

`$set<R extends Model<R>>(propertyKey: string, instances: R | R[] | string[] | string | number[] | number, options?: IAssociationActionOptions): Promise<this>;`

could instead be defined as:

`$set<T extends keyof this>(propertyKey: T, instances: this[T], options?: IAssociationActionOptions): Promise<this>;`

Th

[2018-08-14 13:43] #433 closed

[2018-08-14 13:49] RobinBuschmann commented on #434
Hey @Pritilender this isn't possible with sequelize-typescript's `IsEmail` annotation for now and I don't know if it is with pure sequelize. The docs are not 100 percent clear here.

You could try to find out with `@Column({validate: {isEmail: ...}})`. Pass your options and see if it works

[2018-08-14 13:52] RobinBuschmann commented on #435
Hey @spearmootz, sry for the delayed reply. Is this working for you now? Where did you included the `Medical_Record` model?

[2018-08-14 13:59] RobinBuschmann commented on #436
Hey @patrickatkeylogic, you need to define this in your association decorators (`@BelongsTo`, `@HasOne`, ...) for example:

[code]

[2018-08-14 14:01] RobinBuschmann commented on #437
Hey @iRath96, I thought about it, too. But sequelize supports singular and plural values, which wouldn't be covered by `keyof` unfortunately.

[2018-08-14 14:05] spearmootz commented on #435
in the first file at top i have
import Medical_Record from './Medical_Record';
and then i was using it in the include like `()=> Medical_Record`
but it wasnt working so i ended up trying it without the getter function in the include `include: Medical_Record` and that worked. but since im not an expert on this package i dont know if that can create issues

[2018-08-14 14:11] iRath96 commented on #437
Hey @RobinBuschmann, I don't see the issue with this right now. Can you elaborate a bit more on this, please?

In my codebase, I've got a situation like this:
[code]

and for both cases (singular + plural), using the `keyof` approach works fine here.

[2018-08-14 14:11] Pritilender commented on #434
@RobinBuschmann yup, it works, but typings do not support passing object as a parameter for `isEmail` validator. I guess I'll have to make a PR for @types/sequelize then.

[2018-08-14 14:11] #434 closed

[2018-08-14 15:56] RobinBuschmann commented on #437
You could write `someInstance.$add('user', ...)` which would cause an compiler error, since `user` is not a known property of your model

[2018-08-14 15:59] iRath96 commented on #437
Ah, I get your point. I see why it's hard to make `$add` (as well as `$del` etc.) type-safe, but this does not affect `$set` and `$get`, right?

[2018-08-14 16:03] RobinBuschmann commented on #437
I‘ll have to check that but I think you are right - we should use keyof for get and set

[2018-08-14 16:05] RobinBuschmann commented on #435
Ah I see. When using a function to define a scope, you have to refer the Model directly. So like you finally did it, you do it right. (See https://github.com/RobinBuschmann/sequelize-typescript/blob/master/README.md#why---model for details)

[2018-08-14 16:12] spearmootz commented on #435
is there a documentation error then?

```The scope options are mostly identical to native sequelize except for the way model classes are referenced. So instead of referencing them directly a getter function () => Model is used instead.```

[2018-08-14 18:17] microsoftly opened #438 "[Question] Examples of migrating a codebase from classic Sequelize to sequelize-typescript?"
Are there any good examples of how to iteratively move a codebase to use `sequelize-typescript`? I'd like to use the module, but it seems too risky to do a massive refactor

[2018-08-14 18:49] Axure commented on #165
It's interesting to see that there's not an end to this issue...

[2018-08-14 19:14] RobinBuschmann commented on #165
@Axure Can your describe your issue a little bit more - best in a new issue? The currently used `@types/sequelize` version defines its `@types/bluebird` dependency with `*`. Which means it doesn't require a specific version. So there can't be a conflict with the typings required by `@types/sequelize` anymore.

[2018-08-14 19:29] RobinBuschmann commented on #438
Hey @microsoftly, if an additional database connection isn't an issue for you, you could only migrate a few models to sequelize-typescript and run both - st and classic sequelize - in parallel.

The only difference between sequelize-typscript and sequelize is that st uses a different default configuration for the model define options:
[code]
But those ones can be easily overridden like `new Sequel

[2018-08-14 19:51] microsoftly commented on #438
Do you have any examples for reference? It looks like using st as a drop in replacement for sequelize will work, but I'm having trouble getting around associations where some are classic and some are st ified

[2018-08-15 15:12] spearmootz commented on #165
i have this same issue.

i have it on model methods

[code]

[2018-08-15 15:15] spearmootz commented on #165
actually, i get this.

Type 'Bluebird<this>' is not assignable to type 'Bluebird<this>'. Two different types with this name exist, but they are unrelated.
  Types of property 'nodeify' are incompatible.
    Type '{ (callback: (err: any, value?: this | undefined) => void, options?: SpreadOption | undefined): this; (...sink: any[]): this; }' is not assignable to type '{ (callback: (err: any, value?:

[2018-08-15 22:05] rokerkony commented on #428
hey,
we have now similar problem after upgrade from 0.6.5 to 0.6.6:
[code]

versions:
`typescript: 2.8.3`
`sequelize: 4.38.0`
`sequelize-typescript: 0.6.6`

[2018-08-16 13:51] xlxAciDxlx commented on #403
Unfortunately, this still occurs. I've updated VS Code, updated TypeScript, downgraded, etc, etc- all to no avail. I even fully uninstalled+reinstalled VS Code to no avail. I'd provide my source code which would undoubtedly help diagnose my issue, but unfortunately, the project's not published. Are there any specific things I might be able to post that might help track down what my issue could be?

[2018-08-16 14:27] MatthiasKunnen commented on #403
What you could perhaps is trying to reproduce this issue in Webstorm (free trial version). If the problem occurs there, we know it's the code, libraries, etc ... not the IDE.

[2018-08-16 14:35] xlxAciDxlx commented on #403
I'll try that out and get back to you, thanks :)

[2018-08-16 14:49] ljmerza opened #439 "Using limit and offset on findAll generates a syntax error"
"sequelize": "^4.37.4",
"sequelize-typescript": "^0.6.3",

Trying to call this function:
[code]

this works just fine with the defaults but if I try to pass in a offset=4 then I get a syntax error:

[code]

[2018-08-16 14:53] xlxAciDxlx commented on #403
Alright, so on the good side (I guess) the issue's definitely something in VS Code. Type hinting works as expected in Webstorm, even with just opening my project folder in it, going to my API and opening my `auth` route.

Now to figure out what I need to do to fix the problem in VS Code...

[2018-08-16 15:16] MatthiasKunnen commented on #403
If it doesn't work with no extensions installed and works in another IDE, I think it might be time to create an issue in the VS code repository. Explain the problem, link to this issue and maybe they can help.

[2018-08-16 17:55] RobinBuschmann commented on #165
Did you installed `@types/bluebird` additionally? If so, for now you have to make sure, you've installed the same version as required by `sequelize-typescript`

Hmmm, probably we should go with the solution schmod initially suggested 🤔

[2018-08-16 18:08] mmiszy commented on #244
Any plans to change the typing to include `save: boolean`?

According to the Sequelize docs, `save` is only supported for `BelongsTo` relations @RobinBuschmann: http://docs.sequelizejs.com/class/lib/associations/belongs-to.js~BelongsTo.html#instance-method-set

[2018-08-16 18:48] RobinBuschmann commented on #428
@rokerkony Thanks for reporting. The actual issue is this https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#keyof-now-includes-string-number-and-symbol-keys

Since `0.6.6` sequelize-typescript supports typescript 2.9. These changes https://github.com/RobinBuschmann/sequelize-typescript/pull/380/files#diff-4212381977d6ae7d5f3204c974608a4eL1 made it possible, but breaks typescript 2.8. F

[2018-08-16 18:51] RobinBuschmann commented on #439
@ljmerza Are you sure you've put `4`(`typeof 4 === 'number'`) in there? Looks like `getData ` get a `'4'`(`typeof '4' === 'string'`) passed to it.

[2018-08-16 20:00] ljmerza commented on #439
Yes that was exactly it thank you.

[2018-08-16 20:00] #439 closed

[2018-08-19 12:07] Mreddi1 commented on #357
@aasm-moura use:

[2018-08-20 21:01] kferrone opened #440 "How to use the Model function in typescript???"
I'm pretty confused on the `sequelize.model('someModel');` function. It says it will return to me a pre-defined model which does happen when you don't care about the type. However when I try to give my variable a type it complains a whole bunch. I'm trying to make a wrapper for the function to get this effect like below but what is wrong wit the return type???

[code]

Above has the return type an

[2018-08-21 04:42] Doraemon2010 opened #441 "How to get random records from db?"
public async GenRandAdsByType(type: number): Promise<Ads | null> {
           let queryCondition = { where: { ad_type: type }, order: "rand()"     };
           return await this.adsRepository.findOne<Ads>(queryCondition);
}
I want to set order by  rand(),  but get   Ads.rand()  not found ..

how can I set raw  sql to  mysql ?

or Maybe I can use QueryBuilder  build raw sql ?

Thx.

[2018-08-21 10:28] BenjaminDish commented on #226
Hello, is this fix integrated in the current release ? I have a recent release and meet the same problem. I'm using 0.6.5.

Here is my code, which is similar :

BasePlanning.ts
[code]
And the typescript error :

[code]

[2018-08-22 17:55] JulianMined opened #442 "Association reference"
Hello,

how can i get reference of my association like this:
`const UserTasks = User.hasMany(Task, {as: 'tasks'});
`
I need it for the "resolver" method of the package "graphql-sequelize" and i couldn't found a way...

Thanks, Julian

[2018-08-22 19:41] #442 closed

[2018-08-26 17:52] Vi-jay commented on #438
migrate is very easy
just change `sequelize` to st
and add your sequelize-typescript ` model` to instance

import Car from '../models/Car';
const db = new Sequelize({
   ...
});
// This is a model of the sequelize-typescript type added later.
// You don't need to modify the previous model.
db.addModels([Car]);

[2018-08-29 05:53] NoMoreViolence opened #445 "How to findOne({where: { something or something2}}) ?"
I don't know how to use 'or' option In findOne, help me

[2018-08-29 08:42] #445 closed

[2018-08-30 20:31] TimMensch opened #446 "Still creating invalid Postgres/MySQL queries"
Bug #135 was closed for "no followup", but is being ignored even though another person posted that he was having the same issue.

Well, now I'M having this issue, and I tracked it down to a bug in `sequelize-typescript`. Rather that post it on the closed bug, where based on the history it may be ignored, I'm filing a new bug.

It's a combination of three things:

* sequelize-typescript sets `disti

[2018-08-30 20:43] TimMensch commented on #446
(Updated the bug report to clarify that I was using `sequelize-typescript` with `feathers-sequelize`.)

[2018-08-30 21:35] olaferlandsen opened #447 "Possible bug:"
I have two models(Country and State) and when I trying get one/all/some state with Relation, all data from relation is not assigned to an object....

**country.mode.ts**
[code]
**state.mode.ts**

[code]

**Query**

[code]

**Result**
[code]

**Expected**
[code]

[2018-09-04 06:05] RobinBuschmann commented on #436
@patrickatkeylogic Does the suggested solution work for you? Can we close this issue?

[2018-09-04 06:10] RobinBuschmann commented on #440
Hey @kferrone, this is because sequelize-typescript uses the @types/sequelize typings partially. So the typings for the `model` function comes from @types/sequelize (this will change in the upcoming major version `1.0.0`)

If you want to access the models via string use `sequelize._['SomeModel']`

[2018-09-04 06:31] RobinBuschmann commented on #438
@microsoftly sry for the late reply: You either need to migrate the associated models as well or you could keep the corresponding classic model definition together with the new one until you‘ve also migrated the associated one. But unfortunately you cannot use an st model together with a sequelize model if their are referenced in different instances.
Hope this helps

[2018-09-04 06:37] RobinBuschmann commented on #441
Hey @Doraemon2010 see this example: https://github.com/sequelize/sequelize/issues/3156#issuecomment-74792600

[2018-09-04 06:40] Doraemon2010 commented on #441
Thx.

[2018-09-04 06:40] #441 closed

[2018-09-04 06:46] RobinBuschmann commented on #447
@olaferlandsen this seems to be a sequelize issue: https://github.com/sequelize/sequelize/issues/6334

[2018-09-04 06:50] RobinBuschmann commented on #446
@TimMensch Thanks for reporting. Can you create a PR for that?

[2018-09-04 06:52] RobinBuschmann commented on #429
@aviranco does the suggested solution work for you. Can we close this issue?

[2018-09-04 06:57] RobinBuschmann opened #449 "Improve scopes documentation (model references)"
The following is only valid for models which gets referenced in scope definitions that are NOT a function(`{someScope() { return /*...*/ }}`):
`The scope options are mostly identical to native sequelize except for the way model classes are referenced. So instead of referencing them directly a getter function () => Model is used instead.`

This hint should be added to the docs.

[2018-09-04 06:58] RobinBuschmann commented on #435
You're right. I'm closing this issue in favor of #449 then.

[2018-09-04 06:58] #435 closed

[2018-09-04 12:45] olaferlandsen commented on #447
Thanks for sequelize issue.
Now I removed true value on raw property.

[2018-09-04 12:58] patrickatkeylogic commented on #436
I didn't end up using it so I can't confirm, sorry!

[2018-09-04 15:44] TimMensch commented on #446
OK, PR is done.

[2018-09-04 21:03] #447 closed

[2018-09-05 18:53] wbk commented on #421
@RobinBuschmann that makes perfect sense to me.  Want a PR?

[2018-09-05 20:11] RobinBuschmann commented on #421
@wbk PRs are welcome 👍

[2018-09-05 20:49] byebyebears opened #451 "Is it possible to pass multiple model paths to sequelize.addModels() ?"
I have several sub-apps and want to have my models organized per sub-app instead of in one models directory. Like, app1/models, app2/models, etc. The models are in the same database, but I just want to organize them with their related app. I tried,

`sequelize.addModels(__dirname + 'path/to/app1/models/');`
`sequelize.addModels(__dirname + 'path/to/app2/models/');`

and I get,

`Error: Model not i

[2018-09-07 06:52] #421 closed

[2018-09-07 07:00] RobinBuschmann commented on #451
Hey @byebyebears, yes this is possible. Either with separate `addModels` calls like you did in your example or
[code]
You can also use globs like `sequelize.addModels([__dirname + 'path/to/*/models/*']);`

Please note that models, which are related to each other, have to be added at once! For example if `User` is related to `Group` you cannot add them separately like `sequelize.addModels([User]);`

[2018-09-07 18:08] saachinsiva commented on #168
Sorry to bring this dead thread live again, but I am facing the same issue. When I do `import {Transaction} from "sequelize";` all I get is Cannot find module 'sequelize'.

do I need to install @types/sequelize as my own dependency?

Thanks

[2018-09-10 14:48] saachinsiva opened #453 "How to use underlying Sequelize classes"
Hi

I would like to use many of the underlying classes from Sequeseliz e.g. Transaction etc as a param of our functions and I could not do it unless I install @types/sequelize project or I will have to reference the sequelize installed as part of this package using relative path which I think is not a good idea.

So far we install both @types/sequelize and @types/sequelize-typescript and then impo

[2018-09-10 18:46] kferrone opened #454 "Example of Bridge Tables"
Would be nice to see an example of how to make a proper bridge table relationship (aka Many to Many) using `sequelize-typescript`.  Since no examples, I must trial and error till I figure it out. Wish me luck . . .

[2018-09-10 22:45] kferrone opened #455 "Comments don't generate on fields"
When I add comments to my fields they are not generated into the DB/DDl? Only the field comments are not generated, the tables do indeed get their comments just fine.

env:
typescript: 3.0.0
sequelize-typescript: ^0.6.6
nodejs: 10.9.0

Here is my example of the issue:

Here we see the `comment` attribute is implemented two different ways, inside `@Column` definition and another time using the `@Co

[2018-09-11 07:40] RobinBuschmann commented on #454
Hey @kferrone, What about https://github.com/RobinBuschmann/sequelize-typescript#many-to-many? :)

[2018-09-11 09:15] BenjaminDish opened #456 "Use string '$table_name.attribute$' in where clause : Typescript error"
Hello,

I'm trying to make a request, checking an attribute of a nested entity. Here is my request :

[code]

This runs into a Typescript error :

[code]

I understand what the error means but I don't know if it is a bug or working as expected. In the case it is expected, what would be the workaround to make it compile ?

[2018-09-11 15:08] RobinBuschmann commented on #453
@saachinsiva Just use the `Sequelize` reference from `sequelize-typescript`
[code]

[2018-09-11 15:10] saachinsiva commented on #453
Hi

Thanks for looking in to this issue. I tried that before and was getting an error as below

[2018-09-12 06:02] RobinBuschmann commented on #454
Hey @kferrone, can you share your repo with me, so that I can check?

[2018-09-12 06:11] RobinBuschmann commented on #456
Hey @BwnjaminDish, in order to keep typesafety in the where options for all model properties, `where` doesn’t accept strings. So will have to use any here:
`where:{['$derniere...' as any]}`

[2018-09-12 07:47] BenjaminDish commented on #456
Thanks @RobinBuschmann ! It works perfectly so I close the issue.

[2018-09-12 07:47] #456 closed

[2018-09-12 09:32] theGlenn opened #457 "Include all not working when creating object"
I have the following model:
[code]

- When using findById with `include`, I get the the corresponding result:
[code]
Result : `{"name": "Maya", "events": [], "id": 2}`

- But when I create an object with the same options, it doesn't return the result with the included associations
[code]

Result: `{"name": "Maya", "id": 2}`

[2018-09-12 15:29] RobinBuschmann commented on #455
@kferrone Which sequelize version are you using? There was an issue with that: https://github.com/sequelize/sequelize/issues/4386 Couldn't find out if the fix released or not.

[2018-09-12 16:19] kferrone commented on #454
OK so I can't give the full project I'm on at work but I did simplify what I'm doing down to just using `sequelize-typescript`.

Here is the repo I made real quick this morning: [kferrone/sequel_fun](https://github.com/kferrone/sequel_fun)

The repo shows off perfectly my issue if you were to un-comment the lines at the bottom of the `ability.model.ts` where you see the `@BelongsToMany` above `con

[2018-09-12 16:35] kferrone commented on #455
Well now I know. Looks like comments come back in version 5 and `sequelize-typescript` just happens to work just fine with v5. Version 5 just has not been officially released quite yet, i.e. beta.

simply use `"sequelize": "next",` in your `package.json`.

[2018-09-12 16:59] kferrone commented on #454
OK .... Your assumption about where I was importing from is correct, i.e. import { . . . } from './'. Why the heck would that be an issue??? All I did was export the default classes in the index like below.

`src/models/index.ts`
[code]

Is this an issue because they become an `alias` when I export an import and sequelize doesn't like that?

[2018-09-12 19:26] Dragons0458 opened #458 "Problems with multiple relationships"
Hi!, in my project I'm getting the following error:

[code]

My code is:

[code]

is a bug? thank you!

[2018-09-13 06:06] RobinBuschmann commented on #455
Ah ok, thanks for clarifying. Can we close this issue now?

[2018-09-13 06:07] RobinBuschmann commented on #458
Hey @Dragons0458, can you provide the query which causes this error?

[2018-09-13 06:18] Dragons0458 commented on #458
Hello! is when starting the server

[2018-09-13 06:54] RobinBuschmann commented on #454
For instance if you define a relation between two models with `BelongsTo` and `HasMany`, you will result in a circular dependency between both models. In general node can handle this, as long as the circular references aren't resolved immediately like
[code]
[code]
This example throws an error. That's why sequelize-typescript uses arrow functions to reference the dependencies “later”. With your in

[2018-09-13 18:46] RobinBuschmann commented on #453
Hey @saachinsiva, I have no issues using `Transaction` like I did in my example. So I'm getting no errors. Can you provide an example repo which reproduces the issue?

[2018-09-13 19:06] saachinsiva commented on #453
Thanks for your time. I am not sure if I can share the code due to company copyright policy. I will try to mimic something and share it once available.

[2018-09-13 19:13] RobinBuschmann commented on #457
Hey @theGlenn, `new Manager({ name: 'Maya' }, {  include: [{ all: true }]}).save();` doesn't execute a search query. It only returns an instance of `Manager` with the initialized values. So if you would pass an event like `new Manager({ name: 'Maya', {events: [{someValue: 'test'}]} }, {  include: [{ all: true }]}).save();`, it will store the event beside the manager value and will return the manag

[2018-09-13 21:49] theGlenn commented on #457
Hey @RobinBuschmann helps a lot thank you. So I have another question kinda related to the previous one. What if I want to create a Manager and associate it with a an event but using it's id

[2018-09-14 06:02] RobinBuschmann commented on #457
You're welcome!

[code]
It shouldn't matter if you call `save` before or after `$add` on `manager`.

[2018-09-15 15:38] mk4arts commented on #458
Hi,

i have a similar error... I'm trying to attach a user as an author and as an assignee of a task.

Tried two approaches:
`
*User.ts*
@ForeignKey(() => User)
@Column
authorId: string;

@BelongsTo(() => User, "authorId")
author: User;

@ForeignKey(() => User)
@Column
assigneeId: string;

@BelongsTo(() => User, "assigneeId")
assignee: User;
`

and

`
*User.ts*
@BelongsTo(() => User, "authorId")
a

[2018-09-15 16:10] mk4arts commented on #458
Got it to work... I missed my defined scope to have an `as` in the includes. Now it works like a charm, maybe its the same problem @Dragons0458 ?

[2018-09-17 01:03] shamoons opened #459 "How can I specify a JSON data type?"
Using postgres

[2018-09-17 10:34] theGlenn commented on #457
Cheers @RobinBuschmann

[2018-09-17 10:34] #457 closed

[2018-09-18 08:20] fschuetz04 opened #460 "Use sequelize-typescript with SQLite"
If I want to use sequelize-typescript with SQLite, it will make sense to allow configuration in the form of `{ storage: 'data', dialect: 'sqlite' }`, but this is currently not possible.
Shall I open a pull request or am I supposed to use a URI in this case?

[2018-09-18 12:28] RobinBuschmann commented on #459
Hey @shamoons, what about `@Column(DataType.JSON) data: any;`?

[2018-09-18 12:30] RobinBuschmann commented on #460
Hey @fschuetz04, it should already possible to pass those options:
[code]

[2018-09-18 14:15] fschuetz04 commented on #460
I'm getting the error that the types aren't compatible because I **only** pass the parameters `storage` and `dialect,` which makes sense for SQLite.
According to `lib/types/SequelizeConfig.d.ts`, I have to pass `database` + `username` + `password`, `url` or `name` + `username` + `password`. So that doesn't fit my use case.

[2018-09-18 14:38] RobinBuschmann commented on #460
Ah now I understand. So sequelize-typescript prevents you from passing only these options. If sequelize is happy with only those ones, it would be great if you could create a PR for that 👍

[2018-09-19 09:51] BenjaminDish commented on #423
Hello,
I run into the exactly same issue today.  Did you found a trick / workaround ?

[2018-09-21 08:09] fschuetz04 commented on #460
Okay, I opened the pull request #461.

[2018-09-21 08:09] #460 closed

[2018-09-24 00:15] tdiam commented on #388
Is there any workaround for cases where both models need to use a scope of the other.

Example:
[code]
and
[code]

No order in `addModels` can fix this kind of circularity and Sequelize will always fail with `Invalid scope [...] called`. Any help appreciated.

[2018-09-24 16:10] TimMensch commented on #446
Any chance you can publish a new build with this fix? I'm now running into a conflict where I _need_ `distinct` to be enabled, but I can't enable it because of the bug.

[2018-09-24 16:45] RobinBuschmann commented on #446
Hey @TimMensch, it should already be part of `sequelize-typescript@0.6.7-beta.0`

[2018-09-27 15:34] PatrickGeyer opened #462 "Accessing column attributes"
Hi there,

I'm wondering how to access the name of the primary key column for a given model.
My issue is that I have a base class, the extended models of which have differently names primary ID's. (UID, and ID)
At the moment I'm running a "describe" query of the model, but of course that adds overhead.
Before switching to the typescript version of sequelize I used model.primaryKeyAttributes..

Man

[2018-09-28 14:01] #462 closed

[2018-09-28 20:33] jefersonmombach commented on #327
Hi @RobinBuschmann I'm faced this error now, I'm using the version 0.6.6 of sequelize-typescript and 4.38.0 of sequelize.

The error occurs on retrieving data.

My code:

[code]

And the error:
Error: Alias cannot be inferred: "Document" has multiple relations with "Domain"

I've tried put the @Scope and @DefaultScope, but didn't work.
Can you help me?

[2018-09-29 07:29] RobinBuschmann commented on #139
@ckt1010 So the following is not working with sequelize-typescript:

[code]
?

[2018-09-29 07:31] ckt1010 commented on #139
@RobinBuschmann yes. here is sql:
`Executing (default): CREATE TABLE IF NOT EXISTS "_User" ("id" UUID ,...`
didn't see any default value setting.

[2018-09-29 08:07] ckt1010 commented on #139
@RobinBuschmann Oh, BTW, my dialect is pgsql, is this database not support very well on sequelize-typescript? Since when I use @UpdatedAt and hope update 'updatedAt' column automatically, but not work also.

[2018-09-29 09:10] RobinBuschmann commented on #139
@ckt1010 `@Default(DataType.UUIDV4) @Column(DataType.UUID)` works as intended. See http://docs.sequelizejs.com/manual/tutorial/models-definition.html#data-types. It says

Which means that sequelize creates the UUID programmatically (This is common practice).

Regarding your `@UpdatedAt` issue: Can you provide an example or better an example repo which reproduces the issue (For me it is working ver

[2018-09-29 09:28] RobinBuschmann commented on #462
Hey @PatrickGeyer did you manage to get it working?

[2018-09-29 09:35] RobinBuschmann commented on #246
The maintenance of @types/sequelize typings seems to be much better now. So I will stick with these.

[2018-09-29 09:35] #246 closed

[2018-09-29 09:38] RobinBuschmann commented on #282
@Danlock @mxs42 Is this still an issue? I couldn't reproduce it.

[2018-09-29 09:42] #446 closed

[2018-09-29 09:43] RobinBuschmann commented on #394
Close this issue due to inactivity.

[2018-09-29 09:43] #394 closed

[2018-09-29 09:48] RobinBuschmann commented on #458
@Dragons0458 The foreign key decorator is just a helper to  infer the foreign keys automatically. If you have multiple relations of the same model (which is `Project` in your case) the foreign keys need to be set explicitly - like you did. So no need to the foreign key annodation - Just omit it and it should work!

[2018-09-29 09:52] RobinBuschmann commented on #398
Hey @michalejoye, I've completely overseen this one. Sorry for that. When querying data including related models, you have to say sequelize that you also want to retrieve this associated data:
[code]

[2018-09-29 10:01] ckt1010 commented on #139
@RobinBuschmann Thanks a lot! It's my mistake, I thought  Sequelize will use sql like `@Default(false)`. And `@UpdatedAt` also have the same misunderstanding.
Thank you!

[2018-09-29 10:29] larongbingo opened #463 "Question: Does it support Instance Methods?"
Hello, I am curious if this has support for instance methods, and what would be syntax to use it.

[2018-09-29 10:36] larongbingo commented on #463
No need to answer, I'm a retard apparently

[2018-09-29 10:36] #463 closed

[2018-09-29 22:19] Danlock commented on #282
I also don't use typescript anymore, so If you can't reproduce it, that's good enough for me.

[2018-09-29 22:19] #282 closed

[2018-09-30 06:53] NoMoreViolence opened #464 "How to find data with index?"
[code]

I can't find option of index,
How can I select data with index??

[code]

[2018-09-30 08:12] RobinBuschmann commented on #462
@PatrickGeyer So you've got your base service `class BaseService<Repo extends Model < Repo > >` and your Repo class defined like so `class Repo extends Model<Repo> {}` - Is this correct?

[2018-09-30 11:05] PatrickGeyer commented on #462
@RobinBuschmann yes that's correct.

[2018-09-30 18:07] NoMoreViolence commented on #464
Oh, I didn't know database use index automatically.
Thanks for information.
By the way, the typescript-sequelize is very good library

[2018-09-30 18:07] #464 closed

[2018-09-30 20:03] tdiam commented on #388
I solved this by adding the scopes dynamically where needed, as per [sequelize#9864](https://github.com/sequelize/sequelize/issues/9864). I used the [addScope](http://docs.sequelizejs.com/class/lib/model.js%7EModel.html#static-method-addScope), since the solution with functional scopes from sushantdhiman did not work.

[code]

[2018-10-01 08:13] EduardsE commented on #414
@olaferlandsen did you manage to get it to work with typescript?

[2018-10-01 13:03] jefersonmombach commented on #327
Hi @RobinBuschmann tks for answer.

I omitted the `ForeingKey` annotation but didn't work, below the stacktrace

`Alias cannot be inferred: "DocumentoAmbiental" has multiple relations with "Dominio"
    at inferAliasForInclude (/home/volumes/p/sigabem/siga/packages/server/siga-backend/node_modules/sequelize-typescript/lib/services/models.js:258:23)
    at /home/volumes/p/sigabem/siga/packages/serv

[2018-10-02 08:20] RobinBuschmann commented on #462
Ah `Repo` is a generic... completely overseen this one.

Can you provide an example repo, which reproduces the issue?

[2018-10-02 09:03] RobinBuschmann commented on #327
Hey @jefersonmombach, the error doesn't seem to occur on loading the models (For me it is working well). Are you facing this issue while retrieving data?

[2018-10-02 14:27] olaferlandsen commented on #414
@EduardsE nope :(

[2018-10-02 14:31] EduardsE commented on #414
Yeah, I had the same results. :/

[2018-10-02 19:57] eBuccaneer opened #465 "Problem when adding models"
Hi,

i have two models:
[code]

and:

[code]

But when I start the app, it fails at `sequelize.addModels([/** models */])` with:

[code]

So I tracked it down to this inside of `mixins.js` hasMany() function:
[code]
which is unfortunately false somehow.
Removing it inside of `hasMany()` and `singleLinked()` in `mixins.js` lets the application start normally without errors and the database tables a

[2018-10-03 09:28] BenjaminDish opened #466 "Infinite loop using recursive models"
Hello,

I'm using Sequelize (version -m5.0.0-beta.9) + Postgresql

I'm having trouble with recursive models. I have the Commentaire model which could have children of the same type.

Code:

[code]
When trying to make a findAll request on this model, I get an infinite loop error :

`RangeError: Maximum call stack size exceeded`

For information, it is not due to some data referencing itself. I test

[2018-10-03 17:27] RobinBuschmann commented on #465
Hey @eBuccaneer, can you provide an example repo, which reproduces the issue? From what I can see , your model setup looks good.

[2018-10-03 21:47] eBuccaneer commented on #465
Hey, thanks for the quick reply @RobinBuschmann!

I have figured out my problem by now, it was that I have a shared module with own dependencies and node_modules that includes the sequelize model classes, and a server module, where I create the sequelize instance, add models (from the shared module), and sync the database.
After forcing the shared module and the server module to use the same seque

[2018-10-09 11:06] theothirteen opened #467 "Store nested object without using chaining promises"
I would like to store the following object without using chaining promises

For example, if I store B it will be chaining the store process and store all the associated objects.

Is there any option available in the library?

[code]

[code]

[2018-10-09 18:20] RobinBuschmann commented on #467
Hey @theothirteen, you are able to create an entry with its associations like so:

[code]

Hope this helps

[2018-10-10 06:08] stnramya opened #468 "Hooks are not executed when the model is used on the include."
I have got hooks defined on parent_obj and the parent_obj hooks are not been executed in spite of hooks: true on the @BelongsTo association

Parent class
[code]
On the child_object model I have the below

[code]
Query to child_object which includes the parent_obj and the parent_obj @AfterFind hooks are not getting executed
[code]
The hooks attached to parent_obj are not being executed. Please advi

[2018-10-11 03:22] bschulte opened #469 "Stubbing model methods"
What would be the best way to go about stubbing methods (via something like sinon) on models (such as create)? I've tried stubbing on the model's class prototype, but when I try that I get an error saying:

My attempt at stubbing is:

[code]

The model looks like:

[code]

[2018-10-11 06:53] RobinBuschmann commented on #469
Hey @bschulte, since `create` is a static method, you need to pass `User` as the target: `stub(User, 'create')`

[2018-10-11 12:01] intellix opened #470 "Passing host/port instead of url in Sequelize constructor"
Currently using a URI and trying to switch to host/port/username/password due to username/password being embedded within a Kubernetes secret.

Adding host/port gives me:
[code]

[2018-10-15 07:08] Ruffo324 opened #471 "sqlite - sync({alter: true}) overwrites table with @ToMany()"
When starting my application I run, cause development, a "sequlize.sync({alter: true})". This also works smoothly every time.

Only a table (CompanyPlaceholderValue) is always completely overwritten. This table refers with BelongsTo() to the table Company. Company refers to CompanyPlaceholderValue with HasMany().

Why is the table with activated "alter" overwritten every time?

Using sqlite.

Also

[2018-10-15 14:10] NickTaylor98 opened #472 "TypeError: Class constructor Model cannot be invoked without 'new'"
I try to create new instance of my Model but have the following error:
[code]
Name of my model is Student.
It's a code:
[code]
I use typescript-sequelize 0.6.6. Also I try to create the same instance by using `build` and `new`. The results of this actions are the same
My tsconfig.json
[code]

[2018-10-16 06:00] RobinBuschmann commented on #470
Hey @intellix, looks like you’re missing the `database` property in order to name the database(?)

[2018-10-16 06:01] RobinBuschmann commented on #469
Does this solve your problem? Can we close this issue then?

[2018-10-16 06:07] RobinBuschmann commented on #471
@Ruffo324 Is `CompanyPlaceholderValue` created properly (including the foreign keys) on first run?

[2018-10-16 06:09] royalpinto commented on #241
@pirmax , @RobinBuschmann  Which version of `sequelize` has this fix? I tried with the latest version v4.39.0 but issue exists there as well. If it is not part of the core `sequelize`, could you provide some patch to apply?

Thanks

[2018-10-16 06:10] RobinBuschmann commented on #472
@NickTaylor98 Your config looks good so far. Can you provide an example repo which reproduces the issue?

[2018-10-16 06:14] RobinBuschmann commented on #241
Hey @royalpinto this was fixed in sequelize-typescript - so the latest version `0.6.6` has the fix

[2018-10-16 09:41] royalpinto commented on #241
@RobinBuschmann Thanks

[2018-10-16 10:52] NickTaylor98 commented on #472
@RobinBuschmann , unfortunately no, because it's a not open source project. You can asks me to show some parts of code, but not whole code

[2018-10-16 11:00] NickTaylor98 commented on #472
@RobinBuschmann also I use babel 6.24.1. The file .babelrc is the following
[code]

[2018-10-16 15:32] RobinBuschmann commented on #472
Hey @NickTaylor98, you don’t need to put productive code in the example repo, just a simple example which reproduces the problem and gives me the ability to check the issue. I can hardly reproduce your problem without it...

[2018-10-17 15:19] Ruffo324 commented on #471
Yes, but without the foreign keys.

[2018-10-17 20:23] Cyberuben opened #473 "Solving Circular dependencies with associated models"
I currently have several issues due to recursive dependencies in my code. I'm not sure if this is something this library should be able to resolve, but I think it is.

Assume I have a model `Book` and a model `Author`. The model `Book` has an association to `Author`, defined as `BelongsToMany(() => Author, () => AuthorBooks)`. `Author` in turn has `BelongsToMany(() => Book, () => AuthorBooks)`. To

[2018-10-17 20:46] Cyberuben commented on #473
It seems one of my models used an import of the actual Sequelize instance, causing all the errors. Removing this import solved the issue. Due to the Sequelize instance being accessible through models instances passed in hooks, I no longer have any issues.

[2018-10-17 20:46] #473 closed

[2018-10-19 16:54] Ruffo324 commented on #471
Workarounded currently with the following.
[code]
I can give you access to the full source if this helps for debugging...

[2018-10-19 17:15] RobinBuschmann commented on #471
Yeah this would be nice

[2018-10-19 17:16] Ruffo324 commented on #471
How can i send you a private message?

[2018-10-19 22:01] RobinBuschmann commented on #471
I've sent you an email.

[2018-10-23 04:46] qholi opened #474 "Type 'typeof User' is not assignable to type 'typeof Model'."
In my situation, all the classes have basic fields and I created the abstract generic classes like this:
[code]
The error is showing in bold above. Any suggestions?
Thanks.

[2018-10-23 04:54] qholi commented on #474
Sorry, this is caused the minor mistake that I missed to extend AbstractBase<User> to the "User" class.
Thanks.

[2018-10-23 04:54] #474 closed

[2018-10-24 12:32] notVitaliy opened #475 "Getting the underlying/plain type of a Model to use in typing"
I'm wondering if it's possible to get the plain interface of a created model. Like this:

[code]

I'm aware I can do `Partial<FooModel>` but that's not ideal.

[2018-10-24 16:40] notVitaliy commented on #475
I was able to solve this with:

[code]

[2018-10-24 16:40] #475 closed

[2018-10-25 08:59] shishir28 opened #477 "Auto generate class"
Hi ,
I was just wondering if we could generate model class for existing table in SQL server something like sequelize-auto-ts ?

Thanks
Shishir

[2018-10-26 14:23] ph55 opened #478 "Result is not NULL when "literal" or "fn" used"
When using `literal` or `fn`, sequelize return object with null instead of null.

Example:
1. Returned value - `null`
[code]

2. Add condition (`literal` or `fn`). Returned value -`{symbol: null,low: null}`
[code]

Same for `findAll`
1. Without `fn` or `literal` - `[]`.
2. With - `[{symbol: null,low: null}]`.

[2018-10-26 14:34] ph55 commented on #478
Stupid me. It's aggregate function (`min`).
It should return row.

When other non aggregate function used result is fine.

[2018-10-26 14:34] #478 closed

[2018-10-26 15:04] bschulte commented on #469
Yes, thank you!

[2018-10-26 16:39] #469 closed

[2018-10-27 10:52] intellix commented on #470
Ahah you're right. I guess it's just the TypeScript error kind of sucks. Get the same error if you make port a string rather than number

[2018-10-27 10:52] #470 closed

[2018-10-27 17:01] RobinBuschmann commented on #477
Hey @shishir28, currently there is no feature like this implemented with sequelize-typescript.

[2018-10-29 15:26] Ruffo324 commented on #471
The mistake seems to be sequelize himself.
Probably related to [#7606](https://github.com/sequelize/sequelize/issues/7606)

[2018-10-29 15:26] #471 closed

[2018-10-30 16:35] truginis opened #479 "HasMany sourceKey not working or not available"
Not sure if i am doing something wrong but i can't get sourceKey to work for the life of me in a one-to-many association. The Employee model keeps using id column for the join. Code below.

[code]

[2018-10-30 17:21] truginis commented on #479
Quick update. Figure out how to make this work, but not sure if ```sourceKey``` should still be fixed/changed.

Solution: Just add ```targetKey``` to the belongsTo.

[code]

[2018-10-30 18:46] s00500 commented on #165
I think I have a similar problem

[code]

Whit the weird cast everything works, without it I get:

[code]

[2018-10-30 19:58] RobinBuschmann commented on #165
@s00500 Are you using the same @types/bluebird version sequelize-typescript requires?

[2018-10-30 20:03] RobinBuschmann commented on #479
@truginis It should also be working if you omit the explicit references to the foreign keys totally.
So remove `'assignedLegal'` from `@BelongsTo(() => Employee, 'assignedLegal')` and `sourceKey` from `@HasMany(() => Deal, {sourceKey: 'Employee_Name', //tried with 'fullName' as well})` (What I also notices is, that you should use the property key in sourceKey instead of the field name)

Hope this

[2018-10-30 20:11] truginis commented on #479
@RobinBuschmann thanks for a quick reply! I truncated most of the model to make it easier to read on here. I have multiple associations and multiple foreignKeys so that's why I am explicitly referencing it.

Everything is working fine now by just using targetKey. I tried using property key for the sourceKey as well, but after googling for a while i found an issue on the sequelize js that causes pr

[2018-10-30 20:11] #479 closed

[2018-10-30 20:23] RobinBuschmann commented on #468
Hey @stnramya, sry for the late reply. I've completely overseen this issue. You're right, I can approve that this doesn't work. But it seems to be an issue with sequelize itself - see this issue https://github.com/sequelize/sequelize/issues/4627 (is was reopened by one of the owners but unfortunately closed by a bot :/)

[2018-10-30 21:18] brianalois commented on #442
I am also looking for this. Do you have a solution?

[2018-10-30 21:41] JulianMined commented on #442
Yes, this is working.

`export default class User extends Model {
    static init(sequelize){
        return super.init({
            id: {type: Sequelize.INTEGER, primaryKey: true, autoIncrement: true},
            name: Sequelize.STRING,
            email: Sequelize.STRING,
            password: Sequelize.STRING,
        },{
            sequelize,
            tableName: 'users'
        })
    }

[2018-10-30 21:42] rochapablo commented on #364
It still giving the error

[code]

[code]

[2018-10-30 21:55] rochapablo commented on #472
I'm getting:

[code]

[code]

[code]

[code]

[2018-10-30 23:34] s00500 commented on #165
@RobinBushmann i have 3.5.18 installed instead of the newer 3.5.24, looks correct in the package-lock file

[2018-10-30 23:51] shishir28 commented on #477
@RobinBuschmann  Sorry for late response. That's okay .
I wrote small SQL scripts which does lot of work for me . It is not perfect  but  it saves my  time  significantly :-)
I am closing  it but may be we can add this  as request for future release?

[2018-10-30 23:51] #477 closed

[2018-10-31 00:50] brianalois commented on #442
where is assiciate called?

[2018-10-31 06:59] RobinBuschmann commented on #477
@shishir28 yes, we either could include this feature in sequelize-typescript or provide it as a separate package (as a plug-in). What do you think?

[2018-10-31 07:03] RobinBuschmann commented on #165
@s00500 probably another package that installed a different version?

Hmmm, I think we should loosen the semver range on @types/bluebird as schmod initially intended.

[2018-10-31 07:08] RobinBuschmann commented on #472
Hey @rochapablo, this is definitely an issue with class-transformer - Which Version are you using of class-transformer?

[2018-10-31 11:08] s00500 commented on #165
@RobinBuschmann no, searched my package-lock and did not find another version of the types

I am now wrapping the sequelize call into a new promise each time to avoid the ugly cast

[2018-10-31 12:33] brianalois commented on #442
Here is a issue that had a solution: https://github.com/RobinBuschmann/sequelize-typescript/issues/199

resolver(User.associations.channel) would have worked for you

[2018-10-31 22:16] shishir28 commented on #477
I guess it should be plugin if your original vision of creating sequelize-typescript was to create ORM in typescript .
My $0.02.

Let me know if you need any assistance on it.

[2018-11-01 22:49] rochapablo commented on #472
I'm not, I thought that sequelize-typescript was using it. =/

[2018-11-02 07:29] RobinBuschmann commented on #472
@rochapablo In order to find out which other package needs class-transformer, you can navigate to `node_modules/class-transformer/package.json` of your project and check the `_requiredBy` property.

[2018-11-04 11:59] rochapablo commented on #472
Thanks, `routing-controllers` seems to be the villain.

[2018-11-08 00:47] awilkinsx commented on #406
@RobinBuschmann  & @xlxAciDxlx , If either of you are still interested in sequelize migration files let me know. I have some examples ranging from adding tables, columns and through tables.

[2018-11-08 10:34] intellix commented on #350
Isn't the plan for them to release official TypeScript typings with the original library?
https://github.com/sequelize/sequelize/milestone/18
https://github.com/sequelize/sequelize/issues/9285

[2018-11-11 06:24] DavidA94 opened #480 "sequelize.sync() is missing from the documentation"
So, I've figured out based on the [example](https://github.com/RobinBuschmann/sequelize-typescript-example/blob/master/lib/server.ts) that in order to use my database, I have to call `sequelize.sync();` However, I don't see anything about this call in the README, which seems to be the only documentation.

Since I'm just starting with sequelize, I was not familiar with that call. Can it be added so

[2018-11-14 08:31] RobinBuschmann commented on #480
Hey @DavidA94, in general an ORM is not responsible for setting up the tables in a database - it is up to you. Anyway, sequelize provides a method to get your database ready, which is `sync` as you already mentioned. But `sync` should not be used for production. Use database migrations instead. One tool I currently use is https://github.com/db-migrate/node-db-migrate.

But to ask your actual quest

[2018-11-14 08:34] RobinBuschmann commented on #406
@awilkinsx Yes, I am interested :) Can you provide an example repo?

[2018-11-14 08:43] RobinBuschmann commented on #350
Hey @intellix, thanks for bringing this up. So those typings may conflict with @types/sequelize... 🤔

[2018-11-14 13:33] DavidA94 commented on #480
Hi @RobinBuschmann,

If sync shouldn't be used in production, then how do I initialize the database? I don't need it to set up my database, as that is initialized with SQL scripts (which I find easier to work with than db-migrate's syntax).

Thanks,
David

[2018-11-14 14:32] DavidA94 commented on #480
So, I just need to do an `await new Sequelize`. gotcha.

Thanks!

[2018-11-14 14:46] RobinBuschmann commented on #480
yes! :)

[2018-11-14 21:26] #480 closed, assigned to nobody

[2018-11-15 08:02] RobinBuschmann commented on #472
Closing this issue due to no further information were provided by reporter

[2018-11-15 08:02] #472 closed

[2018-11-15 08:07] RobinBuschmann commented on #467
@theothirteen Does this answer your question? Can we close this issue then?

[2018-11-15 08:08] RobinBuschmann commented on #466
@BenjaminDish Does my answer helped you? Can we close this issue then?

[2018-11-15 08:10] RobinBuschmann commented on #465
No, thanks, thats not necessary anymore. Good to here that you figured it out!

[2018-11-15 08:10] #465 closed

[2018-11-15 08:11] RobinBuschmann commented on #458
@Dragons0458 Do you still have any issues with this? Can we close this issue then?

[2018-11-15 08:11] RobinBuschmann commented on #454
@kferrone Does my suggestion already helped you?

[2018-11-15 08:13] RobinBuschmann commented on #453
Hey @saachinsiva are you still on this issue? Will you have time to provide an example repo in the near future?

[2018-11-15 08:29] BenjaminDish commented on #466
Sorry @RobinBuschmann, I forgot to give feedback. Actually, yes, you're right, it is due to sequelize itself. Sequelize doesn't manage recursive models natively. So I decided to rename my second level Model (it was a 2 level structure).

Thanks ! So I close the issue

[2018-11-15 08:29] #466 closed

[2018-11-15 08:31] #308 closed

[2018-11-15 08:37] RobinBuschmann commented on #410
According to one of the main maintainers of sequelize `includeIgnoreAttributes` isn't part of the public API.

https://github.com/sequelize/sequelize/issues/8670#issuecomment-346096561

[2018-11-15 08:37] #410 closed

[2018-11-15 08:52] RobinBuschmann commented on #418
Hey @BenjaminDish, sry for the late reply. Completely overseen this one. Is this still an issue for you? How do you want to retrieve the data for `CompteSpecialPresta`, `CompteSpecialRZ`, ...?

[2018-11-15 08:57] BenjaminDish commented on #418
@RobinBuschmann I finally decided to work diferently and not trying to do this (which was quite strange actually). So problem not solved but the problem is not a problem anymore ^^.

Thanks. I close the issue

[2018-11-15 08:57] #418 closed

[2018-11-15 09:03] #436 closed

[2018-11-15 09:05] RobinBuschmann commented on #403
@xlxAciDxlx Regarding your comment

So this has nothing to do with sequelize-typescript, right? Can we close this issue then?

[2018-11-15 09:07] RobinBuschmann commented on #398
@michalejoye Can we close this issue now or do you still have an issue with that?

[2018-11-15 09:15] RobinBuschmann commented on #404
Hey @torkelrogstad sry for the late reply. Unfortunately there aren't any typings for that at the moment. But since the original issue was solved, I close this issue now.

[2018-11-15 09:15] #404 closed

[2018-11-15 09:17] RobinBuschmann commented on #387
@sandervspl Is this still an issue for you or can this be closed?

[2018-11-15 09:19] RobinBuschmann commented on #429
Close this issue due to no further information was given.

[2018-11-15 09:19] #429 closed

[2018-11-15 09:20] RobinBuschmann commented on #372
@thuynh Does my suggestion solve your issue? Can we close this then?

[2018-11-15 09:21] RobinBuschmann commented on #347
Hey @euler2718 do you managed to get this working?

[2018-11-15 09:22] RobinBuschmann commented on #371
@jhondavila Does my suggestion solve your issue?

[2018-11-15 09:23] RobinBuschmann commented on #367
@wbobeirne Does my suggestion solve the issue for you? Can we close this issue then?

[2018-11-15 09:29] RobinBuschmann commented on #416
Closing this in favor of #328

[2018-11-15 09:29] #416 closed

[2018-11-15 11:06] aviranco commented on #429
yes thanks

[2018-11-15 14:16] MatthiasKunnen commented on #403
@RobinBuschmann, to my understanding, this issue occurs under specific circumstances which are present in sequelize-typescript but sequelize-typescript is not at fault. Meaning, yes, this issue can be closed.

[2018-11-15 14:31] Dragons0458 commented on #458
ok, ok, I just tried version 0.6.6 of this library and I no longer get the error, sorry for not looking before, thank you very much for the solution to this! :D

[2018-11-15 15:14] #403 closed

[2018-11-15 16:06] wbobeirne commented on #367
Yep, that's a totally reasonable solution. Sorry for leaving this stale so long.

[2018-11-15 16:06] #367 closed

[2018-11-18 15:31] #467 closed

[2018-11-18 15:32] theothirteen commented on #467
@RobinBuschmann

Thanks for the help.

[2018-11-20 15:23] yantrab opened #482 "Add pkg support"
When i run executable  file, that building with pkg, i get this error:

Cannot find module './v4/Model'
1) If you want to compile the package/file into executable, please pay attention to compilation warnings and specify a literal in 'require' call. 2) If you don't want to compile the package/file into executable and want to 'require' it from filesystem (likely plugin), specify an absolute path
in

[2018-11-21 16:23] nadrane opened #483 "Interoperability with javascript and Plain Sequelize"
I was curious if this library is interoperable with existing Javascript code. let me elaborate.

We currently have a codebase written in Javascript, and we're looking to do a migration to Typescript. Today, we have dozens of Sequelize models written in JS. We'd like to do our migration gradually. Is that possible with this library? Could we have some models defined used `sequelize-typescript` and

[2018-11-21 18:37] kferrone commented on #454
Oh yeah everything worked fine. My issue was indeed how I was importing. You do have to import the referenced entities directly from their files, i.e. no redirecting through index.js. Thank you very much.

[2018-11-21 18:37] #454 closed

[2018-11-21 18:50] mkay581 commented on #82
FWIW, I ran into this issue to. Docs should be updated to remove the `Project.findAll({order: 'title DESC'})` example that @andineck mentioned earlier.

[2018-11-21 18:59] RobinBuschmann commented on #482
@yantrab Can you provide an example repo, so that I can have a look?

[2018-11-21 20:31] RobinBuschmann commented on #483
Hey @nadrane, currently there is no guide for that. I try to find out one. Is your model/sequelize setup like this: https://github.com/sequelize/express-example or different?

[2018-11-21 20:35] nadrane commented on #483
@RobinBuschmann So are you saying that it is possible to get `sequelize` and `sequelize-typescript` to play nicely together?

[2018-11-21 20:37] nadrane commented on #483
and yes, our setup is similar to the one you linked. We don't use `sequelize['import']`, but it's otherwise very similar. We use `sequelize.define` like they do

[2018-11-21 21:11] RobinBuschmann commented on #483
@nadrane In general yes. The thing is the initial loading of the models differs. For pure sequelize the models are already connected to the sequelize instance when defining them (`sequelize.define('User', ...)`), but they aren't with sequelize-typescript. For st they need to be added after the models are defined - with (`sequelize.addModels([User])` or `new Sequelize({modelPaths: ['./path/to/model

[2018-11-22 14:38] LeandroDoldan opened #485 "Model not initialized"
Hello Robin!

I've been having for a while an issue when importing models. I've found the solution after a few weeks, and I'd like to share my solution. I'm sorry if this is not the place to post it.

My project structure is the following:
[code]
As you can see, every model has it's own folder, and the model definition is inside a 'schemas' folder inside that folder.

In order to make it work, eac

[2018-11-24 14:26] IgorSzymanski opened #486 "Missing properties/types in interfaces."
Would it be possible to add missing properties/types to some interfaces?
Like:

`skip` property missing in `Model.save()` method.
[code]
The only reason I'm not making a PR is because I'm not entirely sure where that property belongs. `InstanceSaveOptions`, `FieldsOptions` or `ICreateOptions`.

From the docs (can't find it in v4 docs, but it still works with v4):
https://sequelize.readthedocs.io/e

[2018-11-28 17:11] RobinBuschmann commented on #486
Hey @IgorSzymanski, thanks for contributing and the nice words as well  🙂

`InstanceSaveOptions` seem to be the right place. But this interface is part of `@types/sequelize` package. So you would need to PR against this one.

The other example confuses me a bit. You say `association` should accept a `string`, but in your example you are using `include: ['Instruments']`.  Do you initially meant `in

[2018-11-28 17:18] RobinBuschmann commented on #485
Hey @LeandroDoldan, thanks for sharing your solution. Since `modelMatch` only works together with `modelPaths`, have you tried using `modelPaths`?  I assume for your setup the following config should work as well:

[code]
(Don't forget adjusting `/relative/path`)

Hope this helps as well :)

[2018-11-28 20:51] CampaUTN opened #487 "How to add anottations to typescript decorators"
I'm trying to extend a class by adding methods and attributes through typescript annotations

My problem is that I cannot set sequelize annotations to the new attribute (comment), so it wont be persisted

Is there any chance of make it work?

Maybe it's not the best place to ask, but I've been researching a lot and couldnt find any answer, and also I found out that TypeORM does support this featur

[2018-11-29 14:22] CampaUTN commented on #487
Hi! What I want is to persist 'ConcreteEntity' and to have a 'comment' column (just a regular attribute).
I also tried using mixins but they are kind of similar, it returns a function where it's not possible to use annotations

[2018-11-29 21:16] RobinBuschmann commented on #487
@CampaUTN Ok, here we go:

First, we need some helpers:
[code]

Mixins with decorators:
[code]
[code]

Definition of our mixed model:
[code]

This might also help you: https://blog.mariusschulz.com/2017/05/26/typescript-2-2-mixin-classes

[2018-12-02 19:13] IgorSzymanski commented on #486
I copied the wrong example from the docs. It should've been:

[code]

[2018-12-03 15:53] CampaUTN commented on #487
@RobinBuschmann It's amazing and works like a charm. Thank you so much!

[2018-12-03 18:30] #487 closed

[2018-12-04 02:30] 695954085 opened #489 "How to add 'FULLTEXT' index?"
Hi:
    My entity file is like this
<pre>
import {
  Table,
  Column,
  Model,
  ForeignKey,
  DataType,
  BelongsTo,
  NotNull,
} from 'sequelize-typescript';
import { Product } from '../product/product.entity';

@Table({
  engine: 'MyISAM',
  indexes: [
    {
      index: 'FULLTEXT',
      fields: ['note_text'],
      name: 'note_text_idx',
    },
  ],
})
export class ProductNote extends Model<P

[2018-12-05 10:50] nodejayes opened #490 "Extend DataTypes to Handle Postgis Raster Type"
Hello,

in our Project we use the sequelize-typescript package to get our Business Objects aut of the Database. Some of theese uses the Raster Type of Postgres and some other Custom Types.

How i can extends the DataTypes so that sequelize-typescript knows what he have to do with this Type?

[2018-12-05 17:33] damianb commented on #401
This would be very, very valuable on more complex schemas.

Silently ignoring the other key would not have gone noticed if I wasn't looking directly at the generated schema just now, and it took me some digging to remember *why* this was a problem.  This is an error case and warrants throwing an error as such.

[2018-12-06 08:01] lewispham commented on #384
Any plans to fix this issue @RobinBuschmann ?
I've just encountered this issue on `v4.27.20`.
@lookapanda Can you help share your workarounds?

[2018-12-06 15:42] eboswort commented on #357
I just ran into the same issue. Thanks @Mreddi1 for pointing me in the right direction. I just want to add a little info for the next person who comes here looking for answers. In my case I was importing the association via `import { AssociatedModel } from "../models"` where models is a module that imports and reexports all my models. The fix for me was to use `import { AssociatedModel } from "./A

[2018-12-11 18:20] matheushf commented on #327
With me the problem is that I wasn't calling `as: 'modelCustomName'` two times.

[code]

So, if you have defined more than one relation in your model, you need to use `as` for all includes

[2018-12-12 23:11] steven-ferguson opened #492 "Can't access Model from an instance"
The [sequelize docs](http://docs.sequelizejs.com/manual/tutorial/upgrade-to-v4.html) say that I should be able to access the Model from an instance using `instance.constructor`, but I am getting a type error.

[code]

This gives the following typing error: `Property 'getTableName' does not exist on type 'Function'.`

[2018-12-13 06:53] RobinBuschmann commented on #489
Hey @695954085, did you find a way to solve your issue?

[2018-12-13 21:11] vasanth3008 opened #494 "Can't access to static member with schema"
I have model which are stored in separate schema on postgres so I tried to call schema method before accessing other method like below,

`Organization.schema("test").findAll();  `

but Typescript compiler throws error

`Property 'findAll' is a static member of type 'Model<Organization>'`

but actually it worked and I able to access the model from that specific schema, really not sure how to get ri

[2018-12-14 02:07] NoMoreViolence opened #495 "How to I get deleted flag in destroy() method ?"
SomeModel.findOne({ where: { id: `SomeID` } }).then(res => res ? res.destroy({}).then(res => { `res type is void` }) : console.log('There is no value'))

Even if the model successfully deleted, I could not check the value is deleted or not.
How can I get delete flag ?

[2018-12-18 10:39] kamilkisiela opened #496 "Model not initialized - addModels"
Here's a reproduction: https://github.com/kamilkisiela/sequelize-init

---

I have two models, a oneToMany relation. I read #366 and what I get is:

[code]

[code]

[code]

[2018-12-18 14:42] acuntex commented on #472
@rochapablo how did you fix the villain?

[2018-12-18 18:50] RobinBuschmann commented on #490
Hey @nodejayes, check these issues: [github](https://github.com/sequelize/sequelize/issues/8533) and [stackoverflow](https://stackoverflow.com/questions/34584080/how-to-add-a-custom-datatype-in-sequelize-orm). If you have any further questions, don't hesitate to ask!

[2018-12-18 18:56] RobinBuschmann commented on #492
Hey @steven-ferguson , this is because `constructor` is of type `Function`: https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es5.d.ts#L122. But you don't to do it like this (`book.constructor`), just use the class reference like `Book.getTableName`.

Hope this helps!

[2018-12-18 19:00] RobinBuschmann commented on #494
@vasanth3008 Thanks for reporting. The typings are incorrect then. I'll label this as a bug.

[2018-12-18 19:06] RobinBuschmann commented on #495
Hey @NoMoreViolence, I think this is a matter of how you design your application. Do you want to remove the record from the database or just set mark it as "deleted"? If you like to implement the last strategy, you can use the `paranoid` flag like so:

[code]

This will add  a `deletedAt` column to your model. Use sequelize this way and you get what you wanted to achieve.

Hope this helps. If you

[2018-12-18 22:44] rationalthinker1 opened #497 "Please add this note to the configuration sections"
Hello,
I literally spend a whole day trying to get this to work, I finally solved it. I don't want others to waste their time with it also. I wanted to do a pull request to add this line in the README.md, but since I'm a noob to JS frameworks and Github, I don't know how to do that.

Can someone please add this to the configurations sections?

[2018-12-19 01:17] #495 closed

[2018-12-19 18:47] robotlemons opened #498 "Model not initialized - "User" needs to be added to a Sequelize instance before "getTableName" can be called"
This is a serverless API with intention of using on AWS Lambda. Running locally and hitting endpoint with Postman. I've been spinning my gears on this for a few days and unable to figure out what I may be doing wrong. Please help @RobinBuschmann  :(

At the root, I have `sequelize.ts`...

[code]

**My lambda handler is defined as ..**

[code]
**Which calls a UserService...**

[code]

**And in the

[2018-12-19 18:54] RobinBuschmann commented on #498
Hey @robotlemons, is there a reason why you've any'd the sequelize instance? If you wouldn't, the typescript compiler would have complained about this line:

Because `addModels` expects an array of model references like: `addModels([User])`;

Hope this helps!

[2018-12-19 19:09] robotlemons commented on #498
Sorry, that's my fault. It is defined that way as an Array and the same error persists.

[2018-12-19 19:17] robotlemons commented on #498
The model file...

[code]

[2018-12-19 19:47] robotlemons commented on #498
@RobinBuschmann could it be that the table isnt created in the DB yet?

[2018-12-19 19:58] robotlemons commented on #498
So I can see the instance of sequelize when I do a console.dir(db) before calling addModels ... the error is happening when I do addModels([User])

[2018-12-19 21:53] blankstar85 commented on #309
Not to bring back the dead, but I like the solution for this, i'm just trying to figure out Delta<t> and how to use it.  I have a model with relations and I get Property Length is missing in type of the associated model. So model.associated model.

Any advice would be great.

[2018-12-19 22:12] robotlemons commented on #498
@RobinBuschmann combing through BaseSequelize.js and in the addModels method, nothing else after this.defineModels() happens (and the next line is what sets the model to initialized).

in defineModels in Sequelize.js .. I can see the model and init is called with attributes/options but that's where things die and I see no error or reason for it.

doing a console.dir(`Models: ${models}`); after thi

[2018-12-19 22:41] rationalthinker1 commented on #498
Can you post your tsconfig?

[2018-12-19 22:46] robotlemons commented on #498
@rationalthinker1 thanks for helping..

[code]

[2018-12-20 05:02] rationalthinker1 commented on #498
Try rearranging the order. Run "import User from "./repository/models/user.model";" after db instatiates. Also, try running in the beginning of the app.

[2018-12-20 05:21] rationalthinker1 opened #499 "Cannot create BaseModel extending Model"
How come I cannot get this work? I get the error ```TS2344: Type 'T' does not satisfy the constraint 'Model<T>'```. I looked at the Model.d.ts and I can see why. The model references itself.  ```class Model<T extends Model<T>>```. I can do this ```Model<Model<Model<T>>>``` but that ```T``` is causing issues.

I don't know how that is possible.
[code]

[2018-12-20 12:07] hxdef2517 opened #500 "Typescript Sequelize literals"
How to use query like this in typescript sequelize?

[code]

I have tried, but don't know where to import sequelize from, and whether it is a correct way of doing this in typescript version?

[code]

[2018-12-20 17:02] robotlemons commented on #498
@rationalthinker1 did all those and still same error message.

I put it into the Lambda handler instead of outside the handler, same error.

[2018-12-21 06:18] #500 closed

[2018-12-21 19:03] robotlemons commented on #498
@rationalthinker1 @RobinBuschmann thanks for trying to help but i had to move on and use another ORM.

[2018-12-21 20:43] awilkinsx commented on #423
Does the `User.findAll({ include: [{ all: true, nested: true }]});` method not work in this scenario? I haven't tried it myself but would be curious to know.

[2018-12-23 12:51] negezor opened #501 "How to replace Bluebird with Native Promise?"
I do not use the capabilities of Bluebird. But because of him, I have mixed the types of Native Promise (async/await) and Bluebird. In Sequelize, you can [replace ](https://github.com/sequelize/sequelize/blob/master/lib/sequelize.js#L1202 )the library.

[2018-12-26 12:34] piyushkantm commented on #498
I am facing the same issue. @robotlemons Can you please suggest which ORM did you move onto?

[2018-12-26 14:03] robotlemons commented on #498
@piyushkantm I don’t want to name some other project on someone else’s work but it was another that supports typescript. Best of luck

[2018-12-26 15:19] piyushkantm commented on #498
@robotlemons I respect your attitude and also apologise for this unfair request.

However after giving some time on the issue i was able to identify that this error was because of a version mismatch. I had 5.beta installed when i installed sequelize using `npm install sequelize --save`.

[2018-12-26 16:06] nicgirault commented on #229
Any update about this feature? My use case is that I've some scripts syncing some data from production to staging environment so I need 2 sequelize connections with the same model. Right now I'm rewriting these scripts to bypass models by writing raw queries. It's quite frustrating missing all the model features.

[2018-12-26 19:32] robotlemons commented on #498
@piyushkantm may have been same problem for me, thanks for the information!

[2018-12-26 19:32] #498 closed

[2018-12-27 09:46] rochapablo commented on #472
@acuntex I fix by setting `{ classTransformer: false }` in https://github.com/typestack/routing-controllers config.

[2018-12-27 13:47] okarlsson opened #503 "Usage with webpack"
I'm trying to use sequelize-typescript with `serverless`, `aws-lambda` and `webpack` and have a question regarding the initialization of sequelize.

I have my sequelize config in `sequelize.ts`
[code]

and `profileService.ts` like this
[code]

When calling the `listProfiles()` funciton I get the following error message. This is because the exported module from `sequelize.ts` is never imported anyw

[2018-12-27 14:18] okarlsson commented on #503
Thanks for the fast reply @RobinBuschmann .

It just feels a bit awkward to have to import it at all without using it. But I guess I'll go with that approach for now until I think of something better.

Maybe something like this will work:

[code]
[code]

[2018-12-29 15:45] RobinBuschmann commented on #501
Hey @negezor, [Sequelize.Promise](https://github.com/sequelize/sequelize/blob/master/lib/sequelize.js#L1202) is a way to access the bluebird promise object, but is this intended to be overridden? I don't know. Is there any recommendation from sequelize regarding replacing bluebird with native promises? If this is possible with pure sequelize it should be also possible with sequelize-typescript. Ho

[2018-12-30 02:52] negezor commented on #501
Just noticed that this is only a link. Writing code every night is not the best 😅

[2018-12-30 02:52] #501 closed

[2018-12-30 21:58] bosunolanrewaju commented on #375
Using this method works for me:
[code]

[2018-12-31 13:47] RobinBuschmann commented on #229
Hey @nicgirault, I've published a new alpha of the upcoming major version which includes the repository mode: `sequelize-typescript@1.0.0-alpha.7` or `sequelize-typescript@canary`. I'm happy for any feedback. See documentation [here](https://github.com/RobinBuschmann/sequelize-typescript/tree/1.0.0#repository-mode)

[2018-12-31 13:51] RobinBuschmann commented on #503
Hey @okarlsson, if you never load your `sequelize.ts` file, the sequelize instance won't get created and your models won't be initialized. So you have no choice to import it at some point.
Do you have any further questions or can we close this issue now?

[2018-12-31 13:52] RobinBuschmann commented on #496
@kamilkisiela can we close this issue now?

[2018-12-31 16:37] okarlsson commented on #503
Alright! Sure, we can close it.

[2018-12-31 16:37] #503 closed

[2019-01-01 15:04] azaeng04 commented on #472
Hi @RobinBuschmann

I have been receiving this exact same issue with Wallaby js.

The `ExpenseGroup.model.ts`

[code]

The test:

[code]

The error that Wallaby js is throwing.

[code]

`My tsconfig`
[code]

Help would be much appreciated.

[2019-01-02 14:46] azaeng04 commented on #472
@RobinBuschmann I do not see the class transformer or routing controllers package under my node_modules.

[2019-01-02 15:10] azaeng04 commented on #472
I have noticed that it is only throwing this error when I execute any function that wants to create the necessary object.

[2019-01-02 15:16] azaeng04 opened #504 "TypeError: Class constructor Model cannot be invoked without 'new'"
Hi @RobinBuschmann

I have been receiving this exact same issue with Wallaby js.

The `ExpenseGroup.model.ts`

[code]

The test:

[code]

The error that Wallaby js is throwing.

[code]

`My tsconfig`
[code]

I have noticed that this error only pops up when I call the function to create the object. `ExpenseGroup.create()`

Help would be much appreciated.

[2019-01-03 16:21] hsoto92 commented on #393
Any news or progress on this? I was looking on how to create either `FULLTEXT` indexes or `UNIQUE` indexes on certain fields on different models.

[2019-01-03 16:23] RobinBuschmann commented on #472
@azaeng04 Are you really, really sure, that `es6+` is used? I see your tsconfig looks correct (`"target": "esnext",`), but probably it is ignored for compilation somehow. Otherwise, can you provide an example repo which reproduces the issue, so that I can have a look at it?

[2019-01-03 16:40] RobinBuschmann commented on #393
@DerekTBrown  Sorry, completely overseen your answer. You mean instead of defining them like `@Table({indexes: [{index: 'FULLTEXT', fields: ['field1'], ...}]})`, you would like to see a decorator like this?
[code]
And in order to use them across multiple columns something like:
[code]

[2019-01-03 16:42] RobinBuschmann commented on #504
@azaeng04 Are you really, really sure, that `es6+` is used? I see your tsconfig looks correct (`"target": "esnext",`), but probably it is ignored for compilation somehow. Otherwise, can you provide an example repo which reproduces the issue, so that I can have a look at it?

[2019-01-03 16:45] RobinBuschmann commented on #497
Hey @rationalthinker1, thanks for sharing this with us. You could create a PR if you like. A new section in the README like _Common pitfalls_  would make sense. What do you think?

[2019-01-03 16:45] azaeng04 commented on #504
Hi @RobinBuschmann thank you soo much for getting back to me.
What is really strange is that I just extracted the bits I needed to make use of the functionality and I got it working successfully. So no, I am not sure how the error came about. Even with the exact same node_modules installed. Just done on a clean instance of the project.

[2019-01-03 16:47] RobinBuschmann commented on #504
@azaeng04 So you get the whole thing working or just a smaller setup?

[2019-01-03 16:48] azaeng04 commented on #504
@RobinBuschmann yep. That is correct. So I then merged the smaller setup onto the actual project and it worked fine. I did however revert every change I made on the project and started over.

[2019-01-03 17:07] RobinBuschmann commented on #504
Good to here. If you find out what caused the issue it would be cool to here from you :)

[2019-01-04 00:21] vasanth3008 commented on #494
Hi @RobinBuschmann above refered commit seems fix this issue, I am expert in TypeScript, But it worked for me, Please can you have look at this.

[2019-01-04 15:01] #284 closed

[2019-01-05 22:45] harryhan24 commented on #498
this lib is awful :-( same here!

[2019-01-06 04:05] hsoto92 commented on #393
@RobinBuschmann I think the latter works perfectly!  It's just a lot cleaner and straightforward to be honest.

[2019-01-08 16:30] OrenSchwartz commented on #129
DataType.GEOMETRY('point') and geo:Date ?

[2019-01-08 17:12] RobinBuschmann commented on #129
@OrenSchwartz, oh, sry, no it’s not, just a typo. Actually I don’t know what js type it is. I would need to check it by myself

[2019-01-10 04:35] morsaken opened #507 "Third Level Where Condition Bug"
Third level model include creates wrong SQL statement when the deepest level has where condition.

[2019-01-11 01:04] omariosouto opened #509 "Can't SELECT/find from Model"
## Description

Hi! Your project is amazing, is the exact solution that I was looking for. But I'm trying to make a select query and I by some reason I can't do that

Link to project: https://github.com/omariosouto/sequelize-typescript-test

## Screenshots

I can create my project and create an user:
![image](https://user-images.githubusercontent.com/13791385/51006400-254b1c80-152a-11e9-865f-a09ca

[2019-01-11 16:02] RobinBuschmann commented on #507
Hey @morsaken , thanks for reporting. Can you provide an example?

[2019-01-11 16:09] RobinBuschmann commented on #509
Hey @omariosouto, thanks for reporting. Your example project is empty (or probably I don't have rights to read?)

[2019-01-11 16:43] omariosouto commented on #509
Sorry, was to late when I was trying haha

Now the code is there :)

[2019-01-11 18:54] RobinBuschmann commented on #509
@omariosouto No problem ;)

The compiler option `strictFunctionTypes`(which is also enabled with `strict`) causes the error. For now I can only recommend to turn this off. But I will check whether I can get type inference running with `strictFunctionTypes: true`

[2019-01-14 00:23] mmiszy opened #510 "Please make a new release on npm"
There are a lot of new commits which were not released. Please create a new release on npm.

[2019-01-14 00:27] livanov opened #511 "Multiple many-to-many relationships always failing with 'multiple relations' error"
I read quite a number of issues/articles/docs of which [this](https://github.com/RobinBuschmann/sequelize-typescript/issues/398), [this](https://github.com/RobinBuschmann/sequelize-typescript/issues/295), [this](https://github.com/RobinBuschmann/sequelize-typescript#multiple-relations-of-same-models) and [this](https://www.npmjs.com/package/sequelize-typescript#many-to-many) but I can't get my use

[2019-01-14 21:16] chrift commented on #395
@RobinBuschmann Did you ever get to the bottom of this? Or find a workaround?
I think I have all my references defined correctly but am still getting this error and don't know what to do!

[2019-01-15 00:18] eddiemonge commented on #407
That sounds like a bad reason. Do you have a link to the docs that shows this happening? I don't understand how installing this as a peer prevents that. If anything, it just shifts the blame

[2019-01-15 07:57] RobinBuschmann commented on #511
@livanov How does your `find` options look like? Like so: `Artist.find({include: [Movie]})`? When including `Movie`, you need to tell sequelize which relation you mean with this `starred ` or `directed`:
[code]
Hope this helps!

[2019-01-15 17:09] RobinBuschmann commented on #510
@mmiszy Done `sequelize-typescript@0.6.7`. I'm happy for any feedback :)

[2019-01-15 17:34] C45tr0 commented on #361
Looks like in v1.0.0-alpha.7 the default for freezeTableName is still set to true. Are you still expecting to change this behavior? @RobinBuschmann

[2019-01-15 17:38] RobinBuschmann commented on #361
@C45tr0 Good point! What’s your opinion on that?

[2019-01-15 17:40] C45tr0 commented on #361
I agree with the above thread and think the default should match Sequelize.

[2019-01-15 17:44] C45tr0 commented on #361
@RobinBuschmann Let me know if it you would like me to submit a PR for this. Willing to help.

[2019-01-15 20:57] RobinBuschmann commented on #361
@C45tr0 If you like to - Any help is appreciated

[2019-01-16 19:09] josecolella opened #512 "No creation of tables"
Hello,
I'm trying to use sequelize-typescript to connect to my mysql instance.

With the following, No tables are being created by Sequelize, even though the sync is set to true.

`const sequelize = new Sequelize({
  host: "localhost",
  database: "tmpservice",
  username: "root",
  password: "somepassword",
  dialect: "mysql",
  sync: { force: true },
  operatorsAliases: false
});

sequelize.addM

[2019-01-17 16:15] RobinBuschmann commented on #512
Hey @josecolella, as stated [here](http://docs.sequelizejs.com/class/lib/sequelize.js~Sequelize.html) `{...sync: {...}}` only sets the default options for `sync`. You still need to run `sequelize.sync` in order to create tables. Hope this helps!

[2019-01-17 17:07] Cyberuben opened #513 "Many-to-many models has missing properties in typings"
If I have a table called `users`, a table called `roles`, and a table called `userRoles` (with the fields `userId`, `roleId`, `givenAt`), I'm able to set up a many-to-many relation there, no problem.

However, `sequelize-typescript` then sets up the right associations and makes sure the models work. When querying and including the relation, the result is something like:

[code]

When trying to acc

[2019-01-17 18:07] RobinBuschmann commented on #513
Hey @Cyberuben, thanks for bringing this up. Unfortunately there is no way to add those typings dynamically. So you'll need to do it manually either like so

[code]
or like this
[code]

Hope this helps!

[2019-01-17 18:09] Cyberuben commented on #513
Thanks for the quick response.

This might be something useful to mention in the documentation, as I'd guess it would confuse quite a lot of people.

[2019-01-17 18:14] josecolella commented on #512
@RobinBuschmann Thanks. Can't believe I missed that. Appreciate your help

[2019-01-17 22:22] C45tr0 opened #515 "BelongsToMany with unique in through options"
I am unsure how to add `unique: true` in BelongsToMany through options.

I have a model that previously was setup like

[code]

And the closest I can think of with sequelize-typescript is:

[code]

Any help would be appreciated. I am working with 1.0.0-alpha.6.

[2019-01-18 06:38] C45tr0 opened #516 "getters/setters in 1.0.0-alpha.6"
I am trying to add a getter and setter for a property following the docs, but I am receiving an error.

[code]

When running tsc I receive the following errors:
[code]
Any help would be appreciated.

[2019-01-18 06:49] RobinBuschmann commented on #515
This should work:
[code]

[2019-01-18 07:17] RobinBuschmann commented on #516
Hmmm 🤔... typescript doesn't seem to solve `this` properly. Don't know why. When setting `this` explicitly like so..
[code]
.. it should work. But it would be better if it would work without setting `this`. Need to check this. Do you have any ideas?

[2019-01-18 07:45] RobinBuschmann commented on #451
@byebyebears Can we close this issue now?

[2019-01-18 07:46] RobinBuschmann commented on #453
Close this issue due to inactivity

[2019-01-18 07:46] #453 closed

[2019-01-18 07:47] RobinBuschmann commented on #482
Close this issue due to inactivity

[2019-01-18 07:47] #482 closed

[2019-01-18 07:49] RobinBuschmann commented on #485
Close this issue due to inactivity

[2019-01-18 07:49] #485 closed

[2019-01-18 07:49] RobinBuschmann commented on #496
Close this issue due to inactivity

[2019-01-18 07:49] #496 closed

[2019-01-18 07:53] RobinBuschmann commented on #486
@IgorSzymanski Sry for the late reply. [This](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/interfaces/IIncludeOptions.ts#L18) should be the right place for enabling `string` for `association`

[2019-01-18 07:53] RobinBuschmann commented on #490
Close this issue due to inactivity

[2019-01-18 07:53] #490 closed

[2019-01-18 07:57] RobinBuschmann commented on #492
@steven-ferguson Does this help? Can we close this issue now?

[2019-01-18 07:58] #510 closed

[2019-01-18 10:46] KillWolfVlad commented on #350
@RobinBuschmann sequelize v5.0.0-beta.16 have official typescript typings sequelize/sequelize#10287

[2019-01-18 13:20] s97712 opened #517 "BeforeDefine and AfterDefine not work"
These will not trigger when I execute `sequelize.addModels(models).
When do these hooks trigger?

[code]

[2019-01-18 17:21] C45tr0 commented on #515
Wow. Sorry. Thought I tried that. Thanks!

[2019-01-18 17:21] #515 closed

[2019-01-18 17:32] C45tr0 commented on #516
That does indeed fix the issue. Only have to put it on the get and it also fixes the set.

I do not have any ideas currently. I'll think about it.

[2019-01-19 14:21] #512 closed

[2019-01-20 05:49] nickbclifford commented on #437
Additionally, would it be realistic to change the API of `$add` to take in a plural instead of a singular? This would allow for maximum type safety, and you could just use the [`inflection`](https://www.npmjs.com/package/inflection) library that Sequelize internally uses to make the key singular and call the Sequelize method from there.

[code]
I realize that modifying the consumer API would be a

[2019-01-20 16:54] livanov commented on #511
Thanks, that worked out! However just 1 more thing - when I fetch an Artist object with the query you provided I get an extra field called `MoviesDirectors` and I get the SQL reference there `SqlMovieDirector: {movieId: 1,directorId: 3}`. How can I get rid of that?

[2019-01-21 08:52] stoffern commented on #498
@harryhan24 your arguments for calling this a awful lib, does not exist.
Do the opensource community a favor and leave it. We dont need guys that throws garbage comments based on theyr lack of knowledge.

[2019-01-22 10:35] WarienX commented on #297
@RobinBuschmann, I am facing this same issue in Referencing a Foreign Key from one table to another having Composite Primary Key. According to what you suggested I tried using Scopes, but was still unable to get it working. Can you please share an example of how to link such table's using Scopes? Thanks much in advance.

[2019-01-22 12:50] WarienX opened #519 "Unable to refer column from a table with Primary Key of the same table"
@RobinBuschmann, We need to set a Foreign Key reference with the Primary Key of the same table. But, we haven't been able to achieve this in Sequelize TypeScript.
For example
![image 1](https://user-images.githubusercontent.com/26925053/51536606-2d805180-1e72-11e9-962e-75bed38bb42b.png)

Any suggestions would be greatly appreciated..

[2019-01-22 19:35] natesilva opened #520 "0.6.7 changelog or git commit ref please"
Now that 0.6.7 is promoted to `latest` on NPM, is there a changelog? If not, can you post the Git commit hash that was used to build it so we can check for breaking changes since 0.6.6? Thank you!

[2019-01-22 20:54] josecolella opened #522 "Integration with Inversify"
Hey @RobinBuschmann ,
One quick question, I'm using your module in conjunction with inversify. Would you know how to bind the Model to the constructor of a class that is reading from DB?

[2019-01-22 21:37] natesilva commented on #520
Perfect.

[2019-01-22 21:37] #520 closed

[2019-01-23 03:44] josecolella commented on #522
I'm thinking something where you can inject a Model into the class.

[code]

[code]

The problem is that I'm using `findAll`  which is a static method.

Any thoughts?

[2019-01-23 04:40] WarienX opened #523 "Unable to link Foreign Key to table with Composite PK"
Hey @ReneHollander, this is not working with associations only, you need to use scopes additionally. See here a discussion about it: https://github.com/sequelize/sequelize/issues/311

And here is the documentation of scopes in associations: http://docs.sequelizejs.com/manual/tutorial/associations.html#scopes

If you have issues getting this to work, just come back and I try to help you with this :

[2019-01-23 08:17] RobinBuschmann commented on #522
Hey @josecolella, with your bind configuration (`bind(..).to(..)`) you're getting an instance of `Account` instead of the reference to the class itself. You need to use `toConstantValue`. See full setup:

[code]

[code]

Hope this helps!

[2019-01-23 15:44] josecolella commented on #522
@RobinBuschmann Thank you so much for your help. 👍

[2019-01-23 15:44] #522 closed

[2019-01-24 05:16] VishalUZ opened #524 "How to running default set of queries in sequelize-typescript after node server starts."
For a NodeJS project using Sequelize-Typescript there is a requirement in which I have to execute a set of queries stored in a file (abc.sql). The SQL file should execute after Node server has started and all Model files are executed. This SQL file contains DDL and DML statements. How to make this work as I searched on many forums but didn’t find any solution? Thanks in advance.

[2019-01-24 20:43] wildcookie007 opened #525 "No default export defined for file "Xxxx"or export does not satisfy filename."
Ran into this issue when trying to set up sequelize typescript:

Error: No default export defined for file "Bet" or export does not satisfy filename.
    at glob.sync.filter.map.filter.map.fullPath (/Users/king/Documents/Development/JS/api/node_modules/sequelize-typescript/dist/model/shared/model-service.js:95:27)

My code for initializing Sequelize:

[code]

And the file that is related to the er

[2019-01-24 21:58] wildcookie007 commented on #525
Resolved. Appearently having an `index.ts` for convenient exporting of models was interfering with models and I couldn't get sequelize to exclude so I just had to delete it.

[2019-01-24 22:07] wildcookie007 commented on #525
`await sql.sync({force: true});` must be present in my initial app file in order for the error to disappear, is there any way I could not sync upon start?

[2019-01-25 19:49] steven-ferguson commented on #492
The [sequelize docs](http://docs.sequelizejs.com/manual/tutorial/upgrade-to-v4.html) say that the `instance.constructor` should be the Model not type `Function`:

I have a function where I have an instance and don't know the Model, so the solution you suggested will not work:

[code]

[2019-01-26 16:16] ZQun opened #527 "Is the .sync({force: true}) synchronous data model feature now supported?"
Is the .sync({force: true}) synchronous data model feature now supported?

Used to synchronizing data structures with sequelize
[code]
sequelize-typescript how do I need to use it?

[2019-01-26 17:33] qsona opened #528 "AssociationGetOptions type problem in 1.0"
Hi, I'm trying to use sequelize-typescript@1.0.0-alpha.7 .
It seems that `AssociationGetOptions` type is too strict.
[code]

I checked this file:
https://github.com/RobinBuschmann/sequelize-typescript/blob/1.0.0/src/model/model/association/association-get-options.ts

https://github.com/sequelize/sequelize/blob/891de8e1014ee266c736817e96686c808c21936e/lib/associations/has-many.js#L162-L164
The docu

[2019-01-27 11:42] RobinBuschmann commented on #517
@s97712 Thanks for bringing this up. It's a bug, indeed. For now you'll have to do it by yourself like so:
[code]
Hope this helps!

[2019-01-27 11:45] RobinBuschmann commented on #519
Hey @WarienX, can you show me how you attempts look like? (Maybe this helps already: The `@ForeeignKey` annotation is only a helper for the `@BelongsTo`, `@HasMany` and so on annotation. Which means,  `@ForeeignKey` doesn't work without them)

[2019-01-27 11:51] RobinBuschmann commented on #524
@VishalUZ Sounds like database migrations are what you're looking for. See this issue #274 for details.

[2019-01-27 11:59] RobinBuschmann commented on #525
@wildcookie007 Regarding your initial problem, you can use `modelMatch` or globs in `modelPath` to narrow down what should be loaded by sequelize-typescript. See https://github.com/RobinBuschmann/sequelize-typescript#model-path-resolving for details.

Regarding your necessity of using `sync`: Are you sure, you're receiving the same error as before? I assume that's not the `sync` call which fixes t

[2019-01-27 12:02] RobinBuschmann commented on #527
@ZQun It should be supported, since the beginning. Do you get an error when using this feature?

[2019-01-27 12:08] RobinBuschmann commented on #528
@qsona Thanks for bringing this up. Looks like you are right. There are types missing within `AssociationGetOptions`. For now `sequelize-typescript` is the right place to fix it. So PRs are very welcome :)

[2019-01-27 13:46] wildcookie007 commented on #525
Yeah, the necessity of sync also initializes the models as the function was in the same file, had a hard time understanding that. Thanks.

[2019-01-27 13:46] #525 closed

[2019-01-28 07:00] WarienX commented on #519
@RobinBuschmann, Thanks for replying but, we were able to get it working. It was not referencing because both the column names had different data types. After we changed the data type it worked. Thanks once again. But we currently need your assistance on another problem regarding composite primary keys. Any Help would be greatly appreciated. The link is added below..

https://github.com/RobinBusch

[2019-01-28 09:20] ricklancee commented on #350
@RobinBuschmann will sequelize typescript move to the official typings? I tried them out with `@canary` but got alot of conflicts in typing.

[2019-01-28 09:58] RobinBuschmann opened #529 "Move to typings bundled with sequelize"
Since `sequelize@5` will provide its own typings, we should use these typings for `sequelize-typescript@1` in order to prevent conflicts.

[2019-01-28 09:59] RobinBuschmann commented on #350
@ricklancee Thanks for asking: I've just created an issue for that #529

[2019-01-28 19:02] devoto13 opened #530 "Completion inside @Table({}) and @Column({}) does not work"
Let's say I try to define a model with some indexes:

[code]

There is no completion available at the `<cursor>`. This happens, because of the [signature](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/annotations/Table.ts#L6) of the `Table` function, which accepts `any` parameter in one of the overloads. TypeScript always coerces `whatever | any` into `any`, so missing com

[2019-01-29 22:09] eddiemonge opened #531 "Docs: TypeScript typings missing in examples"
https://github.com/RobinBuschmann/sequelize-typescript#build-and-create and similar examples are missing all the TypeScript parts like what the variable and return types should be. Something like:

[code]

Something like that. These examples aren't correct I don't think (don't know for sure since I'm still new to TypeScript) and without examples showing best practices, it's hard to know

[2019-01-30 00:58] EnriqueVidal opened #532 "@babel/preset-typescript not finding models"
Hi,

First of all this library looks amazing, I have been using typescript (via `@babel/preset-typescript`) using `sequelize.define` but I've had a couple of issues just using that by itself, like not being able to add Model static functions without setting them as optional or not being able to inherit from `Sequelize.Model`, so this library looks like next logical step.

My current problem is tha

[2019-01-30 04:47] blankstar85 commented on #523
Hello @WarienX I was able to get it working following this issue as a guide https://github.com/RobinBuschmann/sequelize-typescript/issues/347

so for your district city exampe

[code]

[2019-01-30 06:08] riskgod commented on #90
this one help for me Thanks~

[2019-01-30 06:44] RobinBuschmann commented on #347
@blankstar85 Thanks for your input on this. So, your example works, right? There is no difference between your example and the formerly one provided by euler2718 or have I overseen something? Thanks in advance

[2019-01-30 07:05] RobinBuschmann commented on #530
Hey @devoto13 thanks for bringing this up. How does your tsconfig look like?

I cannot reproduce your issue, since autocompletion is working for me very well. Actually the return type of the decorator should already solve what you described 🤔
[code]

[2019-01-30 07:12] RobinBuschmann commented on #531
Hey @eddiemonge, I'm not quite sure if I'm getting you right. You want [those](https://github.com/RobinBuschmann/sequelize-typescript#build-and-create) examples to have type annotations like in your example (`const person: Person /* <- here */ = new Person({name: 'bob', age: 99});`)?
IDEs like WebStorm, VisualStudio Code or Atom should give you type information without explicitly annotating everyt

[2019-01-30 08:06] IgorSzymanski opened #533 "Error TS2321 when defining relations with scopes using Typescript v. 3.2.4 (doesn't occur with TS 3.1.x)"
TS throws an error
`error TS2321: Excessive stack depth comparing types '() => NonAbstractTypeOfModel<Post>' and 'ModelClassGetter'.`

when defining relations using scopes:

[code]

For some reason TS cannot associate `NonAbstractTypeOfModel<T>` with `typeof Model`.

TypeScript: 3.2.4

[2019-01-30 08:16] RobinBuschmann commented on #533
Hey @IgorSzymanski, besides the type issue, is this technically working? My assumption is that defining relations with scoped models like you did won't.

[2019-01-30 08:55] IgorSzymanski commented on #533
Yes, it did work (meaning, the scope was applied correctly to the relation and no error was thrown) with TS 3.1.x.
I found one example in the docs of a relation defined as such, and that is:
http://docs.sequelizejs.com/manual/tutorial/scopes.html

The last line of:
[code]
So I guess it's intended to work.

[2019-01-30 09:17] IgorSzymanski commented on #533
I think I might have found the solution and it's passing all the tests.
Basically, defining `types/ModelClassGetter.ts` as:
[code]
and exporting `NonAbstractTypeOfModel` from `models/Model.d.ts'

[code]

Even though it's passing the tests and I could do a PR, I am not sure if it can affect development experience.

[2019-01-30 09:23] WarienX commented on #523
Thanks a lot @blankstar85 for the help. I will work on it and let you know when it is working.
@RobinBuschmann, can you please review this code and let us know if there is anything wrong in it. If so, how to correct it. Awaiting your response...

[2019-01-30 09:25] RobinBuschmann commented on #533
Looks good 👍

[2019-01-30 09:33] RobinBuschmann commented on #523
@WarienX I'm afraid I'm not able approve this, because I haven't used this feature yet. sequelize-typescript just wraps sequelize and adds some features on top of it. This in turn means that I'm not familiar with all features sequelize provides - the assoication/scope feature is one of a pure sequelize feature which isn't related to sequelize-typescript specific stuff. I think you're more into it

[2019-01-30 09:47] RobinBuschmann commented on #492
@steven-ferguson You're absolutely right - `instance.constructor` always points to the class reference, no matter whether we are in the sequelize context or not. See this:
[code]
The thing is, that the typings for the `constructor` reference are coming from typescript itself. I wouldn't like to overwrite them. So I can only recommend casting the type for your use case like so:
[code]
Hope this hel

[2019-01-30 09:50] #533 closed

[2019-01-30 11:52] VishalUZ commented on #523
@blankstar85 According to @WarienX the above code that you suggested is not working,
We are not getting any errors but it is not linking also.
Thanks for all the help...
Is there any other way?

[2019-01-30 11:58] devoto13 commented on #530
@RobinBuschmann In which editor did you try? I just noticed that WebStorm does something on top of the TypeScript language server, so it works there. It does not work in VS Code though. I have also checked the logs of TypeScript language server and it does return empty completion list in this case.

And here is a demo: https://github.com/devoto13/sequelize-completion

[2019-01-30 12:10] blankstar85 commented on #523
Could you post your code? How are you setting up the database? I may be able to help a little later today.

[2019-01-30 15:44] EnriqueVidal commented on #532
@RobinBuschmann Hi, thanks for your quick response, it is a private repo at the moment, but I can try and fork it and make a public one, in the mean time, could the way I'm starting the app have anything to do with it? in development I start  it like this:

`cross-env NODE_PATH=./src nodemon -e js,ts ./src --exec babel-node --extensions ".js,.ts"`

Perhaps this is a source of my troubles. Thanks i

[2019-01-30 20:36] eddiemonge commented on #531
If that was the case then TypeScript wouldn't exist.

[2019-01-30 21:35] josecolella opened #535 "Issue with Jest: Unable to run tests"
Hello @RobinBuschmann ,

I receive the following error message when I try running tests that have sequelize-typescript:
[code]
Do you know what might be causing this? I'm currently using ts-jest.

[2019-01-30 21:38] devoto13 commented on #531
@eddiemonge TypeScript can infer types in many cases, so you don't have to specify them explicitly. This is one of such cases. Check out [documentation](http://www.typescriptlang.org/docs/handbook/type-inference.html) for more information. It is good practice to rely on type inference to make your code more readable.

[2019-01-30 22:02] #531 closed

[2019-01-31 13:18] RobinBuschmann commented on #530
@devoto13 For @Table it works but for @Column, you're totally right. Nevertheless we should change it for both. The [official typings](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es5.d.ts#L1370) for decorators are looking like this:
[code]
So we should use `Object` as well to be consistent (I checked it, it works as well). What do you think?

[2019-01-31 13:36] RobinBuschmann commented on #532
@EnriqueVidal You're welcome and thanks for keeping me up to date. I never faced this issue and I only found this package: https://www.npmjs.com/package/babel-plugin-decorator-metadata - maybe it helps

[2019-01-31 14:33] devoto13 commented on #530
It still does not work for me.

Here is what I observe with below signature (only `valueOf` in the completion list):

[code]

![demo1](https://user-images.githubusercontent.com/823594/52060717-1544bc80-256d-11e9-9ef0-2fd901c0a489.gif)

And here is what I observe with this overload removed (list of possible properties to add, the desired behavior):

![demo2](https://user-images.githubusercontent.co

[2019-01-31 21:48] josecolella commented on #535
@RobinBuschmann I think I tracked this down. I basically ended up substituting any reference to the Model with interfaces and the issues stopped. It would be nice to understand why jest and sequelize-typescript aren't playing nice :(

[2019-02-01 08:10] RobinBuschmann commented on #530
Hey @devoto13 I'm getting autocompletion with `target: Object`:

<img width="530" alt="bildschirmfoto 2019-01-31 um 17 00 07" src="https://user-images.githubusercontent.com/5270739/52110525-2f2fdf00-2601-11e9-8273-d84f01e887f4.png">

[2019-02-01 08:11] RobinBuschmann commented on #535
Hey @josecolella, can you provide an example repo, which reproduces the issue?

[2019-02-01 16:41] djvs opened #536 "Type not enforced on .update({})"
Just updated to 0.6.7, was also experiencing on 0.6.6.

[code]

then elsewhere in the model class, or any other file with an instance of the class:
[code]

Will not throw up any issues.  However:

[code]

will.

[2019-02-01 16:42] djvs commented on #536
This seems to only be happening with one model, which is especially confusing.

[2019-02-01 19:51] edhedges commented on #536
I think it stems from this:

[code]
Not being typed to the generic like this
[code]

Would it be possible to have the non-static functions use the generic types?

[2019-02-04 12:14] s97712 commented on #393
Are you plan to do this?

[2019-02-04 12:17] ShintaroNippon opened #537 "composite key and foreign keys"
HI there i'm trying to use sequelize typescript in order to create a composite unique key

this is my code:

[code]

But I'm having problems in creation new rows with different Profile and online unique in isDefault...

Does any can help please?

Thanks in advance
Carlos Vieira

[2019-02-04 19:57] blankstar85 commented on #537
Can you post more of your code? looks like your missing your second column value, i'm guessing should be profileID?
What is the error, are you getting a foreign key constraint? Are you getting a index error ( unique, already exists).
How are you setting up the database?

[2019-02-04 23:21] EnriqueVidal commented on #532
Final question, I'm using this library in a GraphQL endpoint, and I can call models directly and query with no issues, but when I call my resolvers I get:

Perhaps I am missing something?

Thanks in advance

[2019-02-05 03:13] josecolella commented on #535
@RobinBuschmann sure. I'm putting it together for you.

[2019-02-05 06:49] EnriqueVidal commented on #532
Ugh, as I started moving my code to the newly created models I found that if I call them `Model.findAll()` from where `sequelize.sync` ran it works perfectly but I can't seem to do this from other files that import these classes, what am I missing?

[2019-02-05 17:12] EnriqueVidal commented on #532
After all the work I've put into this I decided to move on and just switch to `ts-node` and a typescript loader instead. Thanks

[2019-02-05 17:12] #532 closed

[2019-02-06 06:56] wyqydsyq commented on #532
I've also ran into similar issues using Babel to compile a project using `sequelize-typescript`. It seems that Babel's compilation breaks references to the Model classes entirely, as the error below also seems to occur when your Model is not added to the Sequelize instance, or you [try importing the model from a non-matching path](https://github.com/RobinBuschmann/sequelize-typescript/issues/366#i

[2019-02-06 16:31] EnriqueVidal commented on #532
@wyqydsyq Yes, I ended up doing this to get it to work myself, moved to typescript and it worked.

[2019-02-06 17:48] blankstar85 commented on #347
Yes my example is identical, it works fine so far with everything that i need. I didn't have a need for three keys though. So not sure if mine applies to the original, I handle all database (initial) manually, then use migrations to adjust. So I don't use sync or rely on sequelize to create the database for me.

[2019-02-07 08:15] RobinBuschmann commented on #537
Hey @ShintaroNippon, as @blankstar85 stated, we need some more information (error message, best would be an example repo, which reproduces the issue) in order to help.

[2019-02-07 08:18] #519 closed

[2019-02-07 08:18] #451 closed

[2019-02-10 17:00] ShintaroNippon opened #538 "Typescript sequele where model given include"
I'm trying to do this

[code]

How can I get Employee given Box moderator ? can someone help?

Thanks

[2019-02-11 02:33] josecolella commented on #535
@RobinBuschmann I have the repository showing the issue: https://github.com/josecolella/sequelize-typescript-jest-issue.

Steps to reproduce:

[code]

You should receive the following message:

[code]

Please let me know if you have any further questions

[2019-02-11 11:19] #538 closed

[2019-02-11 11:19] ShintaroNippon commented on #538
already solved

[2019-02-11 11:24] ShintaroNippon commented on #537
Hi, thanks by the reply..
Yes, its profileID...
And yes its
"What is the error, are you getting a foreign key constraint? Are you getting an index error ( unique, already exists)."

That's what is happening.
THanks

[2019-02-11 11:56] ShintaroNippon commented on #537
[code]
Additional information:

- The logging is showing the constraint UNIQUE `active_unique` (`is_default`), but this should be UNIQUE `active_unique` (`is_default`, `profile_id`).

- In the logging also is showing the constraint UNIQUE `AddressId_profileId_unique` (`address_id`, `profile_id`), but I don't know why it is happening.

[2019-02-12 17:44] josecolella commented on #535
@RobinBuschmann Any idea on this one?

[2019-02-13 15:50] Acathur opened #539 "@canary version does not work well with sequelize v5"
errors
[code]
dependencies
[code]

[2019-02-13 19:27] RobinBuschmann commented on #539
Hey @Acathur, this is because sequelize@5 provides its own typings. these typings are loaded prior to the typings from `@types/sequelize`, which are the ones sequelize-typescript relies on. There is already an issue for this: #529

[2019-02-14 04:01] Acathur commented on #539
@RobinBuschmann I got it, so what I can do is wait for the new release?

[2019-02-14 12:54] kunyan opened #540 "Many to Many will set unique key and can not be removed"
[code]

[code]

[code]
<img width="717" alt="screen shot 2019-02-14 at 8 53 36 pm" src="https://user-images.githubusercontent.com/752130/52788026-a4d48a00-309a-11e9-9e8a-9b0064e47235.png">

The `projectId` and `memberId` are being set unique key

I have try to add `{unique: false}` but not work

[2019-02-14 13:19] NickTaylor98 commented on #105
Is it possible to define two composite unique constraints where there is an intersection between columns?
I mean:
`
 await queryInterface.addConstraint('a_b', ['a_id', 'b_id'], {
      type: 'unique',
      name: 'a_b_unique_constraint',
    });
    await queryInterface.addConstraint('a_c', ['a_id', 'c_id'], {
      type: 'unique',
      name: 'a_c_unique_constraint',
    });
`
As you see there is

[2019-02-14 15:20] kunyan commented on #540
There has a interesting issue is I have another Model which has many to many relation with `Project` as well, but it not have unique key

[2019-02-15 00:30] papb opened #541 "Meta issue: fix description to mention sequelize v5"
README.md reads:

But both package.json and the GitHub repo description still read:

[2019-02-15 01:47] OrenSchwartz commented on #155
why is this closed ? please re-open.

[2019-02-15 09:46] piyushkantm opened #543 "Ability to "Hydrate" Model from JSON String."
This is more of a question rather than an issue... I have this specific use-case where we need to cache data. I just wanted to check if the following is possible.

1. We can get the whole DB Model from cache as **string**.
2. We want to parse the string and then instantiate the JSON object as Sequelize Model..

e.g.

[code]

[2019-02-15 09:48] piyushkantm commented on #543
Actually coming from Laravel background, i was searching for "hydrate" while the solution was under my nose the whole time... I just created this issue to post the answer if it servers any purpose to other users:

[code]

[2019-02-16 16:11] RobinBuschmann commented on #105
Hey @NickTaylor98, I'm not sure. What does the sequelize docs say?

[2019-02-16 16:30] RobinBuschmann commented on #524
@VishalUZ Did it help? Can we close this issue now?

[2019-02-16 16:33] RobinBuschmann commented on #347
Close this issue due to inactivity of reporter.

[2019-02-16 16:33] #347 closed

[2019-02-16 16:33] RobinBuschmann commented on #348
Close this issue due to inactivity

[2019-02-16 16:33] #348 closed

[2019-02-16 16:35] RobinBuschmann commented on #350
Close this issue due to initial question is answered

[2019-02-16 16:35] #350 closed

[2019-02-16 16:36] RobinBuschmann commented on #371
Close this issue due to inactivity

[2019-02-16 16:36] #371 closed

[2019-02-16 16:36] RobinBuschmann commented on #372
Close this issue due to inactivity

[2019-02-16 16:36] #372 closed

[2019-02-16 16:36] RobinBuschmann commented on #387
Close this issue due to inactivity

[2019-02-16 16:36] #387 closed

[2019-02-16 16:44] RobinBuschmann commented on #393
@s97712 It is not that important for now. Currently 1.0.0 and #529 have a higher priority. Keeping 1.0.0 and >=0.6.8 in sync is currently a big issue. So that it's more likely that this feature would only come with the next major version. Unless you one is willing to implement it for both branches `master` and `1.0.0`

[2019-02-16 16:49] RobinBuschmann commented on #511
Sry for the late reply: With the following options you get rid of the through object:
[code]

[2019-02-16 16:49] #511 closed

[2019-02-16 16:50] RobinBuschmann commented on #398
Close this issue due to inactivity

[2019-02-16 16:50] #398 closed

[2019-02-16 16:51] RobinBuschmann commented on #406
Close this issue due to inactivity

[2019-02-16 16:51] #406 closed

[2019-02-16 16:52] RobinBuschmann commented on #415
Close this issue due to inactivity

[2019-02-16 16:52] #415 closed

[2019-02-16 16:55] RobinBuschmann commented on #427
Fixed with #450

[2019-02-16 16:55] #427 closed

[2019-02-16 16:56] RobinBuschmann commented on #428
Close issue due to former issue is resolved

[2019-02-16 16:56] #428 closed

[2019-02-16 16:58] RobinBuschmann commented on #438
Close this issue due to inactivity

[2019-02-16 16:58] #438 closed

[2019-02-16 16:59] RobinBuschmann commented on #468
@stnramya Did you find out anything on that issue?

[2019-02-16 17:02] RobinBuschmann commented on #483
Close this issue for now. @nadrane If you still have any questions, just reopen the issue.

[2019-02-16 17:02] #483 closed

[2019-02-16 17:02] RobinBuschmann commented on #486
Fixed by #518

[2019-02-16 17:02] #486 closed

[2019-02-16 17:03] RobinBuschmann commented on #492
@steven-ferguson Does this help? Can we close this issue now?

[2019-02-16 17:05] RobinBuschmann commented on #504
Since the problem was solved, this issue is closed. @azaeng04 If you still have any questions, just reopen the issue

[2019-02-16 17:05] #504 closed

[2019-02-16 17:06] RobinBuschmann commented on #509
Close this issue in favor of #392

[2019-02-16 17:06] #509 closed

[2019-02-16 17:09] RobinBuschmann commented on #513
@Cyberuben You're right. Can you create a PR for that?

[2019-02-16 17:11] RobinBuschmann commented on #527
Close this issue due to inactivity

[2019-02-16 17:11] #527 closed

[2019-02-16 17:13] RobinBuschmann commented on #530
@devoto13 Did you get it to work with `target: Object`? Or do I do something wrong

[2019-02-16 17:50] RobinBuschmann commented on #535
@josecolella `OriginSequelize = require('sequelize')` is an empty object during jest test run. This happens when a circular dependency appears. Unfortunately I have no idea why 🤔Especially because this doesn't happen if the app server is started, right?

[2019-02-16 20:32] josecolella commented on #535
Correct. When the application is started the error is not seen, only when jest test runner is initiated

[2019-02-16 23:14] devoto13 commented on #530
No, it still did not work for me. I'll check with other colleagues on Monday to see if it works for them. Maybe we have different versions or plugins installed... Not sure what may be the reason for different results we get.

[2019-02-17 10:54] programmerkgit commented on #357
I just ran into the same issue.

[2019-02-17 11:04] RobinBuschmann commented on #539
@Acathur Exactly, but I'm already working on it

[2019-02-17 12:48] programmerkgit commented on #357
I solved The Problem.

Associated Models should be Added To Models at the same time.

It Will Not Work.
`sequelize.addModels([ Options]);
 sequelize.addModels([ Question ]);
`

It Will Work
`sequelize.addModels([ Options, Question ]);`

And re export Options, And Question from the file which is 'sequelize.addModels' is called so that models be initialized before imported.

[2019-02-17 18:48] #541 closed

[2019-02-17 18:57] RobinBuschmann commented on #537
@ShintaroNippon For foreign keys you have to define it within the association options like so:

[code]

Hope this helps!

[2019-02-18 16:46] devoto13 commented on #530
@RobinBuschmann I just checked with a colleague and he has the same results as I've reported in
https://github.com/RobinBuschmann/sequelize-typescript/issues/530#issuecomment-459365660. We both use VS Code version 1.31.1.

Below are the exact steps of what we do, can you try it and describe what you do to get the completion working? Maybe you have a different version or an extension, which does ex

[2019-02-18 18:57] RobinBuschmann commented on #530
@devoto13 Ah, if typing `val` I'm also just getting `valueOf`, but (!) if i just press <kbd>ctrl</kbd>+<kbd>space</kbd> there (without typing `val`), I'm getting auto completion just fine. This is strange. Can you confirm this?

[2019-02-19 12:24] VishalUZ commented on #524
Yes sure..
Thank you..

[2019-02-19 12:48] #524 closed

[2019-02-19 13:14] devoto13 commented on #530
Yes, it is the same for me. It's my bad, sorry. I also have a full list on Ctlr+Space, but I had a long list of snippets on top, so I didn't notice the completion items at the very bottom. Good, now we have the same results at least 😄

And also now it sounds more like a bug/TypeScript limitation that `val` does not provide completion options. I'll try to investigate it a bit more to see what actua

[2019-02-19 15:59] thomasmikava opened #544 "Allow full support of mysql timestamps"
When I want some column to be of type nullable TIMESTAMP in mysql, with default value NULL, I can't do this in sequelize-typescript.
[code]
This is not possible in current version.
Furthermore (though not related to nullability), if I want to create column updated_at with type TIMESTAMP in mysql, currently I write:
[code]
Which is causing sql errors during insertion, since "CURRENT_TIMESTAMP ON UP

[2019-02-19 20:29] josecolella commented on #535
@RobinBuschmann any suggestions for this. Currently I'm not able to use jest in any code that uses sequelize-typescript

[2019-02-20 10:59] fareshan opened #545 "define pseudo properties"
Is it possible to define [pseudo properties](http://docs.sequelizejs.com/manual/tutorial/models-definition.html#defining-as-part-of-the-model-options) (getterMethods and setterMethods) in sequelize-typescript?

[2019-02-20 12:02] RobinBuschmann commented on #545
@fareshan [This](https://github.com/RobinBuschmann/sequelize-typescript#accessors) should do the job

[2019-02-20 18:54] RobinBuschmann commented on #539
Released `sequelize-typescript@1.0.0-alpha.8`/`sequelize-typescript@canary` now, which should work with `sequelize@5.0.0-beta.16`

[2019-02-20 19:03] RobinBuschmann commented on #540
Hey @kunyan, this doesn't seem to be supported with sequelize. See [this](https://github.com/sequelize/sequelize/issues/5077)

[2019-02-20 19:06] RobinBuschmann commented on #543
Thanks @piyushkantm for coming up with the actual solution. Since this is solved I close this one. If you still have any issues, just reopen it

[2019-02-20 19:06] #543 closed

[2019-02-21 02:30] Acathur commented on #539
cool!!!

[2019-02-21 08:45] RobinBuschmann commented on #535
@josecolella With the following jest config the problem disappears:

[code]
I don't know what exact setting causes the issue.

[2019-02-21 10:17] nicolarichli opened #547 "insertOrUpdate throws Model not initialized: "State" needs to be added to a Sequelize instance before "getTableName" can be called."
Hi @RobinBuschmann
I have searched for this issue, but didn't find any solution on the issue tracker.

My Config:
[code]
My Cluster Model:
[code]

My State Model:
[code]

Now I have a function, which should insert or update the state of the cluster:
[code]

I call the function like:
[code]

The error 'Model not initialized: "State" needs to be added to a Sequelize instance before "getTableName" ca

[2019-02-21 10:36] RobinBuschmann commented on #547
@nicolarichli Looks like the models aren't loaded properly. Are you using ts-node or do you precompiling your ts code?

[2019-02-21 11:02] nicolarichli commented on #547
I precompile the code

[2019-02-21 11:05] RobinBuschmann commented on #547
Since the models are loaded during runtime, you should change your model paths so that they point to `js` files instead of `ts` ones

[2019-02-21 11:07] nicolarichli commented on #547
All right, thanks a lot. But then I get following error:
`Error: No default export defined for file "blade" or export does not satisfy filename.`

[2019-02-21 11:08] nicolarichli commented on #547
ah.. the file names are not in capital letters anymore in the compiled JS files

[2019-02-21 11:09] RobinBuschmann commented on #547
If the filename doesn't match the class name you either have to use default exports or `modelMatch`. See [this](https://github.com/RobinBuschmann/sequelize-typescript#model-path-resolving)

[2019-02-21 11:38] RobinBuschmann commented on #544
@thomasmikava As stated [here](https://github.com/sequelize/sequelize/issues/4896#issuecomment-396636594) remove `ON UPDATE CURRENT_TIMESTAMP` from you literal. Then it should work.

[2019-02-21 12:04] nicolarichli commented on #547
I did it about one hour ago.. Since then I experience an other error:
`No default export defined for file "bladeRunsScript" or export does not satisfy filename.`

My model looks like this (it's called bladeRunsScript.ts):
`import { Model, Table, ForeignKey, Column } from 'sequelize-typescript';
import { RunnedScript } from './runnedScript';
import { Blade } from './blade';

@Table
export class Bla

[2019-02-21 12:30] RobinBuschmann commented on #547
@nicolarichli So you either have to use default exports like:
[code]
or `modelMatch` like
[code]

[2019-02-21 13:10] RobinBuschmann commented on #529
Released with `sequelize-typescript@1.0.0-alpha.8`

[2019-02-21 13:11] nicolarichli commented on #547
thanks man, it worked!!
you can be proud of the work you do and I'm extremly impressed!! You volunteer for people and make the life easier of them.
Thanks a lot!!!

[2019-02-21 13:11] #547 closed

[2019-02-21 13:13] RobinBuschmann commented on #516
This is fixed with #546 and released in `sequelize-typescript@1.0.0-alpha.8`

[2019-02-21 13:13] #516 closed

[2019-02-21 13:14] RobinBuschmann commented on #547
You're welcome :)

[2019-02-21 13:17] RobinBuschmann commented on #231
Repository mode is available since `sequelize-typescript@1.0.0-alpha.7`

[2019-02-21 13:40] RobinBuschmann commented on #24
I think this can be closed, since globs are solving this mostly.

[2019-02-21 13:40] #24 closed

[2019-02-21 20:12] #231 closed

[2019-02-21 20:13] RobinBuschmann commented on #165
Solved on branch `1.0.0`

[2019-02-21 20:13] #165 closed

[2019-02-21 20:14] #529 closed

[2019-02-21 20:14] RobinBuschmann commented on #157
Dropped on `sequelize-typescript@1.0.0-alpha-X`

[2019-02-21 20:14] #157 closed

[2019-02-21 20:16] RobinBuschmann commented on #281
Fixed on branch `1.0.0` and is released with `sequelize-typescript@1.0.0-alpha.8`

[2019-02-21 20:16] #281 closed

[2019-02-22 08:19] ouxuwen opened #548 "Need Help , Use hasmany but only return one record."
## Phase suppose to has many lists, but only get one list.
## Did I missed any configure？
### Model:
[code]
## Use
[code]
## Result:
[code]
## Data:
![image](https://user-images.githubusercontent.com/24316216/53228891-9f3ffb00-36bd-11e9-9e15-99e4bbc31526.png)

[2019-02-22 08:22] thomasmikava commented on #544
If I try
[code]
or
[code]
This will create the following schema:
![image](https://user-images.githubusercontent.com/11869300/53228450-b3becc00-369a-11e9-883c-c67757de8b24.png)
while I want this:
![image](https://user-images.githubusercontent.com/11869300/53228515-dbae2f80-369a-11e9-8b3d-03a02a9d8a6f.png)

[2019-02-22 14:51] RobinBuschmann commented on #539
If you found any specific issue with the latest canary release, just open a new issue!

[2019-02-22 14:51] #539 closed

[2019-02-22 15:42] RobinBuschmann commented on #544
@thomasmikava You're using `sequelize.sync` in order to create the database tables, right? I would recommend using migrations instead. There you could set up what you want and you could omit setting `defaultValue`.

[2019-02-22 19:37] thomasmikava commented on #544
Yes, I do. Thank you! Do you still suggest db-migrate package for migrations or something else?

[2019-02-22 19:41] RobinBuschmann commented on #544
Yes, if you are fine with writing the sql statements by yourself it is definitely the right tool for you

[2019-02-22 19:42] thomasmikava commented on #544
Thanks!

[2019-02-22 19:42] #544 closed

[2019-02-22 19:57] RobinBuschmann commented on #548
Hey @ouxuwen, it is because of this:
[code]
You are overriding your actual foreign key `pid`

[2019-02-23 11:28] fareshan commented on #545
as I needed a property without creating a column, i solved my issue by setting type DataType.VIRTUAL:
`
  @Column(DataType.VIRTUAL)
  get amount(): number {
    ...
  }
`

[2019-02-23 13:25] RobinBuschmann commented on #545
@fareshan so if this is solved for you, can we close this issue then?

[2019-02-23 15:07] fareshan commented on #545
@RobinBuschmann yes, i close it

[2019-02-23 15:07] #545 closed

[2019-02-24 13:38] ouxuwen commented on #548
OMG

[2019-02-24 13:38] #548 closed

[2019-02-24 14:14] ouxuwen commented on #548
Thank you so much.

[2019-02-24 21:17] albinojunior commented on #387
Hi @RobinBuschmann, I have a same issue:

My code:

[code]

[code]

[code]

This results in the following error:
`Error: Foreign key for "Role" is missing on "Permission".`

[2019-02-24 21:27] albinojunior commented on #387
I did fix this issue setting manually the foreign key and other key on BelongsToMany annotation:

[code]

[2019-02-25 01:14] josecolella commented on #535
Thanks @RobinBuschmann , I'll continue investigating which is the option that causes the issue, and report back

[2019-02-25 09:43] unflores commented on #292
This is kind of a bummer, it means that whenever I get something from the database and do manipulations on it, I have to then cast it to the value of the attribute.

[code]
In this example the compiler complains about `appIds` being `undefined | string`. :(

[2019-02-25 09:52] RobinBuschmann commented on #292
Hey @unflores, can you open a new issue for that? Best with more information about you model?

[2019-02-25 10:29] siddisking opened #549 "foreign key issue"
Hi I am new to orm's and typescript.

I have been trying to figure out how to define foreign key relationship b/w 2 tables

here is the schema:

table 1 schema: **campaign**:

[code]

table 2 schema: **campaign_display_units**:

[code]

here are my models:

Campaign.ts

[code]

and CampaignDisplayUnits.ts
[code]

I simple want to run `Campaign.findAll({include:[CampaignDisplayUnits]});`and get a o

[2019-02-25 10:40] #96 closed

[2019-02-25 10:48] RobinBuschmann commented on #549
Hey @siddisking, it looks right to me.

Regarding 1. the table name is correct. Just look at the `FROM` part of the query: `FROM campaign AS Campaign`. The referred table name is indeed `campaign`

Regarding 2. The join is done via the primary key of `Campaign`/`campaign`, which is `id` and the foreign key of table `campaign_display_units`, which is `campaign_id` as you've defined in your model.

[2019-02-25 10:53] siddisking commented on #549
Hey,

Thanks for replying quickly.

Regarding 2 can I change the column on which it performs the join?

I am getting this result:

[code]

I am expecting that I will get a list of campaign_display_units with each campaign... to achieve this should I be doing something different?

[2019-02-25 10:59] RobinBuschmann commented on #549
Ah now I see it. You've defined `campaign_id` in your `Campaign` model. Do you want this to be the primary key? If so, you have to tell sequelize:

[code]
or
[code]

[2019-02-25 11:01] siddisking commented on #549
Yep, this works!

Thanks for your great insight.

[2019-02-25 11:01] #549 closed

[2019-02-25 11:20] RobinBuschmann commented on #10
Won't do, since this should rather be done in sequelize

[2019-02-25 11:20] #10 closed

[2019-02-25 12:41] RobinBuschmann commented on #102
Is working with `sequelize-typescript@1.0.0-alpha.8`

[2019-02-25 12:41] #102 closed

[2019-02-25 13:29] AllanPinheiroDeLima opened #550 "[QUESTION] Get raw JS constructor from Sequelize-Typescript instance"
It's because I'm using sequelize-dataloader. The lib expects to get a raw sequelize constructor, with the `sequelize.constructor.Model.prototype` accessible.
But I don't know if it is an incompatibility of the library being only JS or if I can access the instance somehow to give the library this class constructor.

Is there any workaround ?

[2019-02-25 16:52] RobinBuschmann opened #551 "Add reference to Model class on Sequelize class reference"
In order to be as most compliant as possible a reference to `Model` class should be added as static member to `Sequelize` class.

See #550 as an use case

[2019-02-25 16:54] RobinBuschmann commented on #550
I've created a new issue for that. For now just add the reference to `Model` by yourself:

[code]

[2019-02-25 21:00] wlyndes opened #552 "Mocking issue with Promise<this>"
I've run into an issue when attempting to mock `Model.create` in my unit tests using sinon.
After a bit of work I did find a workaround that it pretty ugly, but works.
`const stubbedInstance = <Item><unknown>sinon.stub(Item, "findByPk").resolves(item as unknown as undefined);`
Where `Item` implements `Model`.

This appears to be related to [BaseModel](https://github.com/RobinBuschmann/sequelize-ty

[2019-02-25 21:30] unflores commented on #292
@RobinBuschmann Sorry for the noise, I didn't properly understand what `strictPropertyInitialization` was doing. That will be fine for my needs.

[2019-02-25 22:40] cookrn opened #553 "Filtered attributes on static model methods"
When attempting to use static methods to create (or `update`), it does not seem that the `FilteredModelAttributes<Account>` type for the argument is executing as expected. For example:

[code]

Do I need to explicitly specify the type parameters to those static methods or are they implied? For example, if I copy in the relevant types from `Model.d.ts` and utils and write the following:

[code]

Th

[2019-02-25 22:41] cookrn commented on #553
This is possibly related to #536

[2019-02-26 08:06] someApprentice opened #554 "Argument of type '{ fields: string[]; }' is not assignable to parameter of type '{ skip?: string[]; }'."
When method `.validate` is used on the instance with option `{ fields: ['...'] }` application throw error

[code]

To work around this issue need manually write this [line](https://github.com/sequelize/sequelize/blob/master/lib/instance-validator.js#L24)

`entity.validate({ skip: _.difference(Object.keys(Entity.rawAttributes), ['foo']) })`

# Version
[code]

# Steps to reproduce

[code]

[2019-02-26 08:45] RobinBuschmann commented on #537
@ShintaroNippon Does this help? Can we close this issue now?

[2019-02-26 08:48] RobinBuschmann commented on #552
Hey @wlyndes, can you provide an example repo, which reproduces the issue?

[2019-02-26 09:02] RobinBuschmann commented on #536
Hey @djvs, thanks for reporting. @edhedges is right, it is because `update` is not as strict typed as `static update` is. I'm going to change this for `sequelize-typescript@0.6.X`.

(Please note, that `sequelize-typescript@1.0.0` will use the typings provided by sequelize itself, where most of the typings aren't as strict as they are now.)

[2019-02-26 09:10] RobinBuschmann commented on #553
Hey @cookrn, thanks for reporting. This is because of the second line of the `create` typings, which allows any object to get passed. See:
[code]
We could remove this in order to be more restrictive here. What do you think?

(Please note, that `sequelize-typescript@1.0.0` will use the typings provided by sequelize itself, where most of the typings aren't as strict as they are now.)

[2019-02-26 09:12] RobinBuschmann commented on #554
@someApprentice thanks for reporting. Looks like the options typings are incomplete. As stated [here](http://docs.sequelizejs.com/class/lib/model.js~Model.html#instance-method-validate) besides `fields`, `hooks` is missing as well.

[2019-02-26 09:39] ShintaroNippon commented on #537
HI, sorry,
yes indeed... its working.
Many thanks
Carlos Vieira

[2019-02-26 09:40] #537 closed

[2019-02-26 14:57] RobinBuschmann commented on #173
Since sequelize returns inconsistent values  (arrays of *through* table instances or the instance where these methods are called on or undefined) for `$add` and `$set`, I've decided to use `Promise<unknown>` for `@1.0.0.` and `Promise<any>` for `@0.6.X`.

The other return types will be:
`$has` - `Promise<boolean>`
`$remove` - `Promise<any>`
`$get<T>` - `Promise<T|T[]>`
`$create<T>` - `Promise<T>`

[2019-02-26 15:18] #173 closed

[2019-02-26 16:15] #176 closed

[2019-02-26 16:17] RobinBuschmann commented on #200
Released with `1.0.0-alpha.X`

[2019-02-26 16:17] #200 closed

[2019-02-26 17:02] #224 closed

[2019-02-26 17:06] RobinBuschmann commented on #229
Since this won't be implemented in `0.6.X` this issue is closed

[2019-02-26 17:06] #229 closed

[2019-02-26 17:16] RobinBuschmann commented on #254
Is fixed with `sequelize-typescript@1.0.0-alpha.8`

[2019-02-26 17:16] #254 closed

[2019-02-26 17:19] RobinBuschmann commented on #339
Closing issue due to inactivity

[2019-02-26 17:19] #339 closed

[2019-02-26 19:06] someApprentice opened #555 "[Help Wanted] How to define modelPath for transpiled with webpack ts code into single js file?"
I'm using a webpack to transpile my ts code into js because of some circumstances (for Angular Server Side Rendering) and because webpack transpile all models into single file I can't really define path to it from original file. And I have to define every single model by myself.

[code]

[code]

# Expected Behavior
Expected that webpack transpile this line `sequelize.addModels([join(__dirname, '..

[2019-02-26 19:06] someApprentice opened #556 "Implementation of Sequelize instance in an external file causes an error of undefined model"
If Sequelize instance implemented in an external file and imported in the main file, any model's creation throws error

[code]

# Test Case
[code]

[code]

Somehow if in `./app.ts` set a variable with imported `sequelize` instance this will prevent the error

[code]

Am I doing something wrong?

[2019-02-26 19:52] RobinBuschmann commented on #555
Hey @someApprentice, I'm not much experienced in webpack. But I think, unless there isn't already a plugin, you need to write your own for that. Or instead of using paths for loading the models, use references like so: `sequelize.addModels([YourModelA, YourModelB, ...])`

[2019-02-26 19:56] RobinBuschmann commented on #556
@someApprentice Your `./services/Database.ts` has to be imported somewhere in order to initialize the db connection and to load the models. In your first example you are indeed importing your setup (`import sequelize from './services/Database';`) but I assume that during the compilation/bundling process unused imports are removed, which prevents your setup from being loaded actually.

[2019-02-26 22:34] wlyndes commented on #552
The repo that I ran into this issue with is private.  I am working on recreating the situation in a public repo.  I will post that here when I get a chance.

[2019-02-27 07:35] someApprentice commented on #556
@RobinBuschmann Understood. Issue can be closed due it isn't relevant to this library.

[2019-02-27 07:35] #556 closed

[2019-02-27 07:40] someApprentice commented on #555
@RobinBuschmann Okay, I guess issue can keep open until someone suggest solution or I'm not found it by myself.

[2019-02-27 07:51] RobinBuschmann commented on #556
@someApprentice What you also could do is importing it like so: `import './services/Database';` This will also help to prevent it from getting removed during bundling process.

[2019-02-27 20:06] cookrn commented on #553
Good question! What is the use-case for allowing any object to be passed versus checking if the values are of the required type?

[2019-02-28 10:32] sgtkuncoro opened #558 "[Multiple Relation] If one foreign key has a null relation for the same model it will be null too."
one of the null keys causes another relation with the same model to not be formed.

[2019-02-28 12:39] RobinBuschmann commented on #558
Hey @sgtkuncoro, can you provide a more advanced example? I don't really get the issue, sry!

[2019-02-28 13:22] sgtkuncoro commented on #558
Hi @RobinBuschmann thank you for the response.

For example, I have a table `book` and `peson`, as exemplified, here is an example of the relationship..

[code]

in my case, I want if the `proofreaderId` is set (has a value) then `authorId` is `null`, and vice versa.
the problem is when the `proofreaderId` is set, and `authorId` is null (null), this causes the `proofedBooks` relation not to be for

[2019-02-28 13:28] RobinBuschmann commented on #558
I assume you are referring [this](https://github.com/RobinBuschmann/sequelize-typescript#multiple-relations-of-same-models). As stated there, this won't work.

You have to define the foreign keys with the `@BelongsTo`/`@HasMany` decorators.

[code]

[2019-02-28 13:41] RobinBuschmann commented on #553
I think, I didn't want to break something. The thing is, that the exact type isn't documented. See the [create documentation on sequelize](http://docs.sequelizejs.com/class/lib/model.js~Model.html#static-method-create).

So with the current approach we are getting auto completion, but doesn't really restrict what gets passed.

[2019-02-28 13:46] sgtkuncoro commented on #558
wow ... you're right,,
I am not very good at explaining it but the mistake is I made the same name for the relation, see the code below

**Wrong**
[code]
**Right**
[code]
thank you @RobinBuschmann, this is a good job

[2019-02-28 13:47] #558 closed

[2019-02-28 18:38] josecolella opened #559 "Unable to order by joined table"
Hey @RobinBuschmann ,
I'm having a bit of an issue getting ordering working when I have joined tables:

Basically I have User -> UserFavoriteAccount <- Account , where the UserFavoriteAccount is the joining table.

[code]

I want to be able to order by the updateOn column of the UserFavoriteAccount table. Without the order by, this works find, but with order I keep receiving the error:

`Error: Un

[2019-02-28 22:45] #492 closed

[2019-03-01 13:29] piyushkantm opened #560 "shouldn't call setters while building existing model with isNewRecord=false"
This is somewhat related to https://github.com/RobinBuschmann/sequelize-typescript/issues/543.

I have this specific use case where i am caching user data in redis. and if cache is hit, i am rebuilding object from cached string instead of querying mysql (pretty standard use-case till now)

[code]

e.g. Record
[code]
So it is saved in redis as a string
[code]

So while fetching the string and rebui

[2019-03-02 14:41] RobinBuschmann commented on #559
@josecolella Can you provide an example repo, which reproduces the issue?

[2019-03-02 15:00] RobinBuschmann commented on #560
Hey @piyushkantm, I couldn't find anything in the documentation of sequelize regarding when getters/setters should be called. Can you provide a link or something where the behaviour you've expected is documented?

[2019-03-04 15:30] jrluiscarvalho opened #561 "Jest not initialize models"
Hello Robin!
I'm experiencing problems initializing the models when I'm testing with jest, when I run the application everything works correctly.

Look at my sequelize.ts:

import { Sequelize } from "sequelize-typescript";
import { Op, DATE } from "sequelize";

// Override timezone formatting
DATE.prototype._stringify = function _stringify(date, options) {
  date = this._applyTimezone(date, option

[2019-03-05 15:19] cookrn commented on #553
Understood. Since we have the ability to create our own internal interfaces in our application which can be more strictly typed, I think your decision makes sense. (The decision being to support autocompletion but not strict argument checking.) Unless you'd like to move forward with changing something, I think this issue can be closed. Thank you so much for discussing!

[2019-03-05 16:56] RobinBuschmann commented on #553
You‘re welcome

[2019-03-05 16:56] #553 closed

[2019-03-06 23:28] mvelebit commented on #82
Still not removed from the docs, +1

[2019-03-07 09:57] vipulpatel1994 commented on #357
Not solving my problem still facing same issue

[2019-03-07 10:11] RobinBuschmann commented on #357
@vipulpatel1994 Can you create a new issue with a description of your very problem?

[2019-03-07 10:59] vipulpatel1994 opened #562 "Cannot set property 'isInitialized' of undefined"
Having an association hasmany and belongsto

My first model ---

[code]

second model -----
[code]

[2019-03-07 11:00] vipulpatel1994 commented on #357
Sure
https://github.com/RobinBuschmann/sequelize-typescript/issues/562

[2019-03-07 17:11] soofff opened #563 "seperate option missing"
hi,

it looks like the `seperate` property is missing in `include` find options

sequlize reference:
https://github.com/sequelize/sequelize/blob/v4.43.0/lib/model.js#L1509

br
felix

[2019-03-08 06:14] kush3107 opened #564 "createdAt and updatedAt(timestamps) are undefined when building a model using build method."
[code]

Here I am passing the value as JSON string which I am then parsing and the value is the serialised string of one of my models of sequelize but I am getting `createdAt` and `updatedAt` as `undefined` here.

[2019-03-08 20:01] IntellectProductions opened #566 "Select associate column values with $get"
So I have a user instance and I want to select their roles they have. In the associate table, I have the `is_primary` field to dictate if that is their primary role or not. I'm using this query setup:

[code]

But I'm getting this data returned:
[code]

When I'm expecting to get something more like this:
[code]

What am I doing wrong? I have the query logging and it's not even taking my options in

[2019-03-09 20:17] IntellectProductions commented on #564
How does your model code look?

[2019-03-10 07:14] kush3107 commented on #564
[code]

[2019-03-10 14:16] RobinBuschmann commented on #561
Hey @jrluiscarvalho, what error message do you receive?

[2019-03-10 14:22] RobinBuschmann commented on #562
Hey @vipulpatel1994, you can't add models in the same file where you define them. Especially if they depend on each other. The model is undefined because of the circular dependency between `IndustryTags` and `IndustryMaster` which isn't solved at the time when `addModels` is called. Best is to add them in the file where you're setting up your sequelize instance. You can also add them by using [glo

[2019-03-10 14:23] RobinBuschmann commented on #563
@soofff Thanks for reporting!

[2019-03-10 14:26] RobinBuschmann commented on #564
@kush3107 does `value` (the parsed json object) have a value for `createdAt` and `updatedAt`?

[2019-03-10 14:28] RobinBuschmann commented on #566
@IntellectProductions How does your model defintion of the user_roles table look like?

[2019-03-10 15:45] kush3107 commented on #564
yes it has.

[2019-03-11 16:32] IntellectProductions commented on #566
I don't have a model for associative tables. I prefer to not clutter up a model that will be pointless. I was hoping this was setup like Laravel's relationship helpers where you don't HAVE to define a model for all associative tables since that model alone doesn't need any functionality performed on it. It's rather pointless, just a link between two tables/entities.

[2019-03-11 16:45] IntellectProductions commented on #564
I don't know if this would help with anything relating to your work: https://stackoverflow.com/questions/17546953/cant-access-object-property-even-though-it-exists-returns-undefined
But perhaps try to define createdAt and updatedAt on your model? I read the second comment (by ramin) and thought it might be what's going on here.

[2019-03-11 18:32] kush3107 commented on #564
[code]

This annotation on the model class already adds the createdAt and updatedAt to the instances of the class and I can use them perfectly anywhere else. I am getting them undefined when I build the object from JSON using the `build` method.

[2019-03-11 20:31] IntellectProductions commented on #564
I realize this, but I'm curious on the getter functionality. It was just a suggestion. If you add them manually, does it work? It's just a test-case to see if that's actually the issue or not.

[2019-03-11 20:52] SamiSammour commented on #231
I'm trying the same approach and I created a very simple repository
[code]
and I'm getting this error: `The 'this' context of type 'typeof Model' is not assignable to method's 'this' of type 'new () => T'.
  Cannot assign an abstract constructor type to a non-abstract constructor type.ts(2684)`
on the `this.relation.findById<T>(id)`
Is there anything I can do to overcome this issue?

- sequelize:

[2019-03-12 06:56] kush3107 commented on #564
<img width="1280" alt="Screenshot 2019-03-12 at 12 15 53 PM" src="https://user-images.githubusercontent.com/11977323/54180419-97f05e00-44c1-11e9-8f57-0086719d2373.png">

I tried that also but didn't work. In the above screen you can see the JSON string that I am getting from cache and the model after the build is called.

[2019-03-12 11:21] flogvit commented on #388
Didn't find any way to do this with sequelize-typescript, so this is how I solved it:

I added <model>.scopes.ts files in the same folders as the <model>.model.ts files. The <model>.scopes.ts files looks something like:

[code]

Then I load everything like:

[code]

[2019-03-12 13:45] IntellectProductions commented on #566
@RobinBuschmann well when I do create the associative table as its own model and change the relationship on both my user and role models, it does select the `is_primary` attribute now. I'll just do it this way then :)

[2019-03-12 14:14] RobinBuschmann commented on #566
Hey @IntellectProductions according to the sequelize docs, there doesn't seem to be another way than creating a model for the through table (http://docs.sequelizejs.com/manual/tutorial/associations.html#belongs-to-many-associations). But I think, it is also a good way to be type safe, which means that you could also add the `UserRole` property to your `Role`

[2019-03-12 14:33] IntellectProductions commented on #566
@RobinBuschmann was this in regards to my field selections for the associative table? I'm not quite following what you're saying. After you have the user instance, you can call `getRoles()` to get the user's roles, but is there a way to limit the fields it selects? So it only selects the `is_primary` field instead of all of them? I know in the future, I will have so many use cases for this kind of

[2019-03-12 16:30] oderayi opened #567 "Sorting Included Models"
Sequelize provides a way to sort `include`d models like so:

[code]

I couldn't seem to achieve this using sequelize-typescript.

[2019-03-12 18:52] IntellectProductions opened #568 "Types of property "attributes" are incompatible - Scopes with col()"
In my scope, I have this:

[code]

However, I'm getting

When I look at the code, it looks like `Sequelize.col()` is not supported as a type?

[2019-03-12 20:07] IntellectProductions opened #569 "Setting primary key as different field doesn't remove SELECT id from queries"
I have a password_resets table where the user's email is the primary key (not an auto incremented field). However, it's still including ID in queries that I perform on this model.

`SELECT "id", "email", "token" FROM "password_resets" AS "PasswordReset" WHERE "PasswordReset"."email" = 'haleybuggs6@gmail.com';`

This is my model definition:

[code]

Is this a bug?

[2019-03-12 20:23] #569 closed

[2019-03-13 10:05] vipulpatel1994 commented on #562
Facing this issue.

// a.model.ts
import {B} from './b.model.ts';
new B();
// b.model.ts
import {A} from './a.model.ts';
new A();

Can you just give me an example of how to overcome this?

[2019-03-13 10:41] vipulpatel1994 commented on #562
Thanks

[2019-03-14 08:26] Gilneus opened #570 "stack overflow on HasMany association"
I've been trying to find the bug for hours now, but I'm still quite new with Typescript and sequelize.

The Model menu has several offers, each offer is assigned to a Meal. Whenever I try to create a menu object with offers I get the exception:
[code]

Menu.ts:
[code]

Offers.ts:

[code]

Meal.ts:

[code]

Creation code:

`await Menu.create(req.body, {include: [Offer]});
`

Object JSON:
[code]

Ac

[2019-03-17 17:42] RobinBuschmann commented on #567
@oderayi What is the error you're facing?

[2019-03-18 15:49] petrovi4 commented on #532
It seems that this issue must be reopened.
The decision to "abandon the babel-node" does not fix problem.

Even if specify all DataType for all Columns with the babel-node, I get

Does anyone have a solution how to make sequelize-typescript work with babel-node? I really liked this library, but I will choose Babel without it and without TypeScript, than losing all the features of Babel.

And this

[2019-03-19 14:13] lacuong2009 opened #571 "Transaction with model hook (@AfterCreate) run 2 times"
Hi Guys.

I have an issue with @AfterCreate hook. It runs 2 times when I try to insert a record to the database with a transaction.

My code: insert new record to db
[code]
My hook in model
[code]
When I add console log in function afterCreated then it show 2 lines log.

[2019-03-19 18:22] RobinBuschmann commented on #568
Hey @IntellectProductions due to the docs (http://docs.sequelizejs.com/manual/querying.html#attributes) and the official sequelize typings only `Sequelize.fn`is allowed there, not `Sequelize.col`.

[2019-03-19 18:53] RobinBuschmann commented on #570
Hey @Gilneus, I assume that calling `setAttributes` in your `mealId` and `menuId` accessors is causing the infinite loop.

Additionally, if you also want the meal to be created, you have to define this in the CreateOptions like:
[code]

Hope this helps!

[2019-03-19 18:59] RobinBuschmann commented on #571
Hey @lacuong2009, I'm not able to reproduce your problem. Can you provide an example repo, which reproduces the issue?

[2019-03-19 22:08] fccruz opened #572 "Sequelize-typescript cannot use include in query"
Hi,

Every time I try to get a simple query, I get the next error

TypeError: Cannot read property 'include' of undefined
    at Model.get (/admin/node_modules/sequelize/lib/model.js:3248:66)
    at Model.toJSON (/admin/node_modules/sequelize/lib/model.js:4101:12)
    at JSON.stringify (<anonymous>)
    at stringify (/admin/node_modules/fast-safe-stringify/index.js:11:18)
    at Format.module.expo

[2019-03-20 16:21] michael-go commented on #567
👋 @RobinBuschmann we are converting our codebase now to use this awesome lib, and also currently struggle with the `order` throwing an exception.

Don't know if it's the same issue @oderayi has, but we pinpointed it to this condition being false in https://github.com/sequelize/sequelize/blob/v3/lib/dialects/abstract/query-generator.js#L828
[code]
where `item` is the model passed as the first param

[2019-03-20 16:30] RobinBuschmann commented on #567
@michael-go  Can your provide an example repo, which reproduces the issue? Would be much easier to investigate this for me. Thank you :)

[2019-03-20 16:45] lacuong2009 commented on #571
Hi. I have try agian and work fine now.

[2019-03-20 16:46] #571 closed

[2019-03-20 17:13] Queatz commented on #395
We're seeing this as well

[2019-03-20 20:49] RobinBuschmann commented on #395
@chrift sry for the late reply - I've totally overseen your comment. A workaround is, explicitly setting the foreign keys in the HasMany/BelongsTo/HasOne/BelongsToMany decorators like so: `@HasMany(Related, 'parentId')` and `@BelongsTo(Parent, 'parentId')`.

[2019-03-20 21:04] RobinBuschmann commented on #572
@fccruz Can you provide an example repo, which reproduces the issue? I couldn't.

[2019-03-21 05:21] seancheung commented on #568
`col` is allowed to be used here but type definitions of official Sequelize is missing that part.

You can bypass that with

`[col('UserRole.is_primary') as any, 'is_primary']`

[2019-03-21 05:25] seancheung opened #573 "Missing useMaster option in query options"
![image](https://user-images.githubusercontent.com/5442563/54734708-70457800-4bdc-11e9-8d3f-47c991891233.png)

![image](https://user-images.githubusercontent.com/5442563/54734712-7e939400-4bdc-11e9-9a95-5a024b78f77c.png)

Missing `useMaster` option in *IFindOptions.d.ts*.
This is a replication related feature.

[2019-03-22 14:20] ian-callaghan opened #575 "How to get inferred types?"
I feel like I'm missing something here, every function call I do seems to return "any" types in vscode rather than a Promise<T>.

e.g. "then" and "post" in this example are both of type "any":

[code]

Post class:

[code]

tsconfig:

[code]

[2019-03-23 15:17] pratikshah14 opened #576 "Custom Validation - Validate one column by referencing other field in the model."
I am trying to add a custom validator on a column. This custom validator checks the value of the other field in Model and the value of the column and then decides the action that has to be taken.
But the issue is I am getting an error at `if(this.employee.....`:

[code]

I also tried using `@Is` decorator but got the same error.
[code]

[2019-03-23 20:36] Queatz opened #577 "Model.update throws TypeError with returning: true"
When the following does not match any records:

[code]

A `TypeError` is thrown:

[code]

Expected would be for `[0, null]` to be returned.

[2019-03-24 10:09] michael-go commented on #567
@RobinBuschmann thanks for the quick response 🙇
reproduced the issue here: https://github.com/michael-go/sequelize-ts-order-issue

[2019-03-24 20:09] blankstar85 opened #578 "Transaction with map"
I'm having difficulty using the map inside squelize.transaction. When i send an array of values to be created it creates the associated models in the transaction but not the final create for the main model. So if i pass two seperate objects in the updatedTestAttributes, the 4 related models get created in the transaction, but the two main models get created outside of the transaction. Below is a s

[2019-03-25 03:26] diy4869 opened #579 "表关联时，一直报错说模型找不到"
在做关联查询的时候，一直报错说找不到模型，有三个表，用户，收藏，番剧表，实现用户对番剧的收藏效果。
收藏表保存了用户的uid和bangumi_id根据这2个去查询数据
多对多的查询
下面是用户表的数据
`
import Bangumi from './bangumi'
import collection from './collection'
import {Table, Column, Model, AutoIncrement, PrimaryKey, AllowNull, BelongsToMany, ForeignKey} from 'sequelize-typescript'

// import doSQL from './doSQL'

console.log(collection)
// console.log(doSQL)
@Table({
  timestamps: tr

[2019-03-25 19:44] cookrn opened #580 "Using builtin sequelize validation decorators on optional fields"
If I have a model that looks like the following:

[code]

Even though the `email` field is optional (assumes default setting of `@AllowNull(true)`), the `@IsEmail` validation is still running and returning an error on that field.

Looking at the Sequelize docs, the following is written about per-attribute validators and `allowNull`.

Thus, I was assuming that the `@IsEmail` validator would not run

[2019-03-25 19:58] cookrn commented on #580
After looking further, I think this is a problem with a different part of our stack. I was thinking the value was `null`, but was actually an empty string `""`. Apologies for the issue churn.

[2019-03-25 19:58] #580 closed

[2019-03-26 14:34] vipulpatel1994 opened #581 "Need data in nested format but getting with the repetitive object like"
:)

[2019-03-26 18:36] RobinBuschmann commented on #573
Thanks for reporting!

[2019-03-26 18:37] RobinBuschmann commented on #575
@ian-callaghan Your setup looks good to me - it should work. Can you provide an example repo which reproduces the issue?

[2019-03-26 18:40] RobinBuschmann commented on #576
@pratikshah14 For model wide validation see this: http://docs.sequelizejs.com/manual/models-definition.html#model-wide-validations

[2019-03-26 18:46] RobinBuschmann commented on #577
@Queatz Are you using `returning: true` with postgres? I'm asking because it's only supported for postgres.

[2019-03-26 18:49] RobinBuschmann commented on #578
Hey @blankstar85, I noticed 2 issues:
1. it should be `Promise.all(updatedTestAttributes.map(...))` instead of `Promise.all([updatedTestAttributes.map(...)])` Please note the redundant brackets `[]`
2. `(testItem) => Test.create(testItem, {include: [ Person, Contact ]});` instead of `(testItem) => { Test.create(testItem, {include: [ Person, Contact ]});}`. Please note: You forgot to return the Pro

[2019-03-26 18:50] RobinBuschmann commented on #579
@diy4869 Thanks for reporting. Can you at least provide an error message or much better an example repo?

[2019-03-26 18:53] RobinBuschmann commented on #581
Hey @vipulpatel1994, can you provide an example and explain what you are trying to achieve in more detail?

[2019-03-26 20:22] RobinBuschmann commented on #567
@michael-go It is a bug and like you said: `item` is not an instance of `Model`. There is no way to fix this (see below*), but there is another way to order by `Org`. Use `{model: Org, as: 'Org'}` instead of just `Org`:
[code]

*This is because how `sequelize@3` handles instances and model definitions: They are different constructor functions("classes"), namely: `Instance` and `Model` (Since `sequ

[2019-03-26 22:19] Queatz commented on #577
@RobinBuschmann Yep, this is with Postgres.

[2019-03-27 16:05] pratikshah14 commented on #576
@RobinBuschmann thank you for the reply. I have checked it out. But @Column decorator has a property validate which takes a function, here is the defintion:
[code]
I wanted to use that & even @Is says that we can define our own function, but problem is that the `this` operator inside the function is of type `any` & hence I am not able to use `this.employee`.

[2019-03-27 21:19] ysnoussi opened #582 "get model by name"
Hi,
This is kind of similar to #81, so wondering how to get Model<I, A> from  a sequelize object. giving that `sequelize.model ` returns a typeof `Model`

Thanks in advance

[2019-03-28 01:03] EnriqueVidal commented on #532
@petrovi4 The problem here is not a limitation with this library, but a limitation in babel, you could do what I did [here](https://github.com/RobinBuschmann/sequelize-typescript/issues/532#issuecomment-459152477) and ignore the type infers, and you could load your models like this:

[code]
[code]

This would load the config allowing the models to be added before your endpoints (which I assume are

[2019-03-28 08:04] kevelbreh opened #583 "sequelize_1.Model[(staticMethodPrefix + "conformOptions")] is not a function"
Creating a new model instance yields the following error:

[code]
The presented available object keys are (using Object.keys on `sequelize_1.Model`):
[code]

The calling code:
[code]

*extra info*
I have two projects. Project A and project B. Project A defines the models, gets compiled from typescript to javascript (tsc, es6). Project B then consumes Project A's build javascript files via npm.

An

[2019-03-28 09:58] diy4869 commented on #579
这个是项目地址，没办法传图片所以。。。
[project address](https://github.com/last4869/animation_server)

user.ts:7
Error: **Cannot find module 'src/models/model/collection**'
`
source-map-support.js:444
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
    at Function.Module._load (internal/modules/cjs/loader.js:508:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at

[2019-03-28 15:44] mixecan commented on #583
What version of sequelize are you using?
I just got this error in a brand new project and the cause of the problem was `sequelize@5`. I downgraded it to v4 and it worked.
`sequelize-typescript` supports sequelize v5 only in _canary_ version

[2019-03-28 21:55] tcatkins99 commented on #583
It works up thru 5.1.1.

A change was made in 5.2 that [https://github.com/sequelize/sequelize/commit/ef18710](changed) a method from `this.constructor._conformOptions(options, this.constructor);` to `this.constructor._conformIncludes(options, this.constructor);` which seems to be cause of this particular error. For now, I've just locked my Sequelize version to 5.1.1 and things are working well fo

[2019-03-29 07:20] RobinBuschmann commented on #583
@tcatkins99 Thanks for pointing that out!

[2019-03-29 09:42] ian-callaghan commented on #575
Here's a barebones example that has the issue in vs code: https://github.com/ian-callaghan/sequelize-issue

[2019-03-29 15:28] spearmootz commented on #487
WOW! this was great! i feel like i know around 10% of typescript.  anyways i was able to make my thing into a decorator using some stuff here, just wanted to share the code

This can probably be better since i use ts-ignore quite a bit for this one.

[code]

[2019-03-29 16:49] RobinBuschmann commented on #583
@tcatkins99 I'm just wondering: Are you using `sequelize-typescript@0.6.X` with `sequelize@5`?

[2019-03-29 17:34] tcatkins99 commented on #583
Yes:
[code]

[2019-03-29 17:43] ian-callaghan opened #586 "$between syntax not working"
The standard $between syntax doesn't seem to be working for typescript, is there an alternative syntax I have to use?
[code]

[code]

[2019-03-29 18:40] RobinBuschmann commented on #583
@tcatkins99 This is strange. I was sure, that the bundled typings of `sequelize@5` conflicting with the typings depended by sequelize-typescript: `@types/sequelize`. Have you done something special in order to prevent collision?

[2019-03-29 19:14] tcatkins99 commented on #583
Nope, (at least not intentionally, LOL). Just standard npm install ...

[2019-03-29 20:59] blankstar85 commented on #578
I'll play around with it more, I simplified the function here. The Promise.all has another map function in it. and for some reason my typescript wanted the {}

[2019-03-29 21:00] blankstar85 commented on #578
thanks for the info!

[2019-03-29 21:00] #578 closed

[2019-03-30 11:12] RobinBuschmann commented on #575
@ian-callaghan This is because the `bluebird` typings (`@types/bluebird`) are missing like documented here: http://docs.sequelizejs.com/manual/typescript.html

I will also add this to the sequelize-typescripts docs.

Thanks for bringing this up 👍

[2019-03-30 11:45] #583 closed

[2019-03-30 11:46] ian-callaghan commented on #575
Ahhh don't think I even notice that doc page :). Thanks is it worth putting the bluebird typings as a dev dependency in sequelize-typescripts package.json ass well so people don't have to manually install it?

[2019-03-30 11:52] RobinBuschmann commented on #575
It caused a lot of issues in the past see #165. So at most as a peerDependency with a loose requirement.

Only under `devDependencies`

[2019-03-31 08:42] alsotang opened #587 "type infer problem when using version 1.0.0"
I write this demo project

[code]

[code]

typescript can not infer the type of `vvvvvv`. Its type is `any.

When I run `npm install @types/bluebird`, the type infer works

[2019-03-31 08:43] alsotang commented on #587
Seems it is not `sequelize-typescript` bug.
It is a bug of `sequelize`. But I believe a lot users using this library would face the bug.
https://github.com/sequelize/sequelize/issues/10668

[2019-03-31 11:10] RobinBuschmann commented on #587
Hey @alsotang, we already discussed that here #575. It is not a bug, the requirement to install `@types/bluebird` is mentioned in the docs (http://docs.sequelizejs.com/manual/typescript.html). But I  agree that this is not very obvious. We consider adding `@types/bluebird` to `peerDependencies`

[2019-03-31 16:52] alsotang commented on #587
ok, but the docs is not obvious. and I mistakenly thought it's the problem of beta version of `sequelize-typescript`

[2019-03-31 16:52] #587 closed

[2019-03-31 19:52] Toxicable commented on #310
fixed by https://github.com/RobinBuschmann/sequelize-typescript/pull/574

[2019-03-31 19:52] Toxicable commented on #348
fixed up https://github.com/RobinBuschmann/sequelize-typescript/pull/574

[2019-03-31 21:07] papb opened #588 "Readme clarification request: difference between using this and directly using sequelize v5"
I am new to TS, so this might be trivial, so sorry about that in advance. But, asking directly: now that Sequelize v5 ships TS typings, what advantages does this library still add? I think it would be nice to have this clarified in the readme, so that one can immediately know it without further digging. (Unless there is a super obvious answer, in which case I am respectfully sorry, I am very new t

[2019-04-01 02:54] BadCoder1337 commented on #588
This lib provides a lot of magnificent features like clear model definition with methods, quick hints for data fields, decorators and etc

[2019-04-01 03:03] BadCoder1337 commented on #586
You must use a symbol operator because `$` notation is deprecated
[code]

[2019-04-01 06:03] RobinBuschmann commented on #588
Hey @papb thanks for your question :) the main goal of sequelize-typescript is not to provide typings - this was already solved with `@types/sequelize`. As BadCoder1337 stated, sequelize-typescript provides decorators and some other features in order to simplify model definition, create relations between models and more. For example, see model definition with pure sequelize: http://docs.sequelizej

[2019-04-01 08:51] ian-callaghan commented on #586
Perfect thanks, Was trying to do:

[code]

[2019-04-01 09:59] sjgmojica opened #589 "Sequelize Typescript Instantiate Connection"
I'm getting this error.

config
[code]

[2019-04-01 11:40] papb commented on #588
I see!! Thanks @BadCoder1337 and @RobinBuschmann  :grin:

[2019-04-01 11:40] #588 closed

[2019-04-01 15:54] ian-callaghan commented on #586
Going to re-open, the syntax above does "work" e.g.

[code]

But it also throws an error with the typescript compiler as Op doesn't seem to exist in the typings?

[code]

[2019-04-01 22:19] BadCoder1337 commented on #586
@ian-callaghan
Which version of sequelize, sequelize-typescript, @types/sequelize do you use? Try to update to the latest versions.

[2019-04-01 22:40] BadCoder1337 commented on #589
This is right usage:
[code]

[2019-04-02 03:44] sjgmojica commented on #589
Nice. Thanks.

[2019-04-02 06:09] hxdef2517 opened #590 "Subquery in select"
Any sample for subquery inside select statement in sequelize-typescript ?
For example I'd like to implement something like this:

[code]

[2019-04-02 08:50] ian-callaghan commented on #586
reinstalled the packages but get the same error.
[code]

Could you show where the definition is in the .d.ts files so I can check it is there in mine?

[2019-04-02 11:06] BadCoder1337 commented on #586
Try latest stable version of sequelize-typescript

[2019-04-02 12:28] ian-callaghan commented on #586
Same error with @0.6.9 plus compiler throws a ton of errors about other things in the .d.ts file.

Managed to solve importing from sequelize although oddly that does not come up as an autocomplete option:
[code]

I also tries from sequelize/types which is in autocomplete but that also threw a compiler error:
[code]

Do you have an example of the above code working with it imported from sequelize-t

[2019-04-02 16:13] piyushkantm commented on #560
Apparently all i had to do was

[code]

[2019-04-02 16:15] piyushkantm commented on #564
Related to https://github.com/RobinBuschmann/sequelize-typescript/issues/560

This should fix it:

[code]

[2019-04-02 16:16] piyushkantm commented on #560
@RobinBuschmann Sorry for late reply.. I got occupied in some other things and this issue was not on my most priority until now...

After having a closer look at native sequelize library, i figured out what i was doing wrong...

[2019-04-02 16:16] kush3107 commented on #564
Yep it worked. Thanks.

[2019-04-02 16:16] piyushkantm commented on #560
Just for the record. Here is an url pointing to Sequelize Getters/Setters doc:

http://docs.sequelizejs.com/manual/models-definition.html#getters--amp--setters

[2019-04-02 16:17] #560 closed

[2019-04-02 16:17] #564 closed

[2019-04-02 16:22] piyushkantm commented on #560
By the way, I had the opportunity to look at the code of the library in an attempt to fix the issue which never existed. Hats off to the elegant code quality.

[2019-04-02 17:30] kferrone opened #591 "Sequelize Has D TS file now"
The newest version of sequelize now includes a D.TS file with types. The @types/sequelize which is referenced in this package.json now conflicts with the built in types for sequelize.

[2019-04-02 17:35] RobinBuschmann commented on #591
Hey @kferrone thanks for reporting. `sequelize@5` should be used with `sequelize-typescript@canary` the upcoming major release

[2019-04-02 21:02] mattwerthva opened #592 "Where clauses are not working for Dates"
When I send in a where clause with a date
[code]

I get `... AND "Integration"."updatedAt" = '2019-04-02 04:00:00.000 +00:00'`

1) The operator is not correct.  I have tried '$gt', '$lt', 'Op.gt', 'Op.lt' ... and they all end up '='
2) Why is the data mangled to `04:00:00.000`. I am in the 04 Timezone

* I am working against cockroachDB.
* The column datatype is TIMESTAMPTZ
* my versions are:
[cod

[2019-04-03 00:27] spearmootz opened #593 "class decorator when called as an expression"
had 0.6.6 started presenting this issue
https://github.com/RobinBuschmann/sequelize-typescript/issues/583

then i updated to 0.6.9
and i get the following error.

[code]

im using tsc 3.3.4000.

[2019-04-03 08:03] TBingooo commented on #586
@ian-callaghan
try this
[code]

[2019-04-03 08:19] TBingooo commented on #586
oh sorry, `between` is not exported from sequelize-typescript.
try this one,
[code]

[2019-04-03 08:56] ian-callaghan commented on #586
That's what I ended up doing, it works fine no errors, just a little odd that vs code auto import doesn't show it properly and instead tries to import it from 'sequelize/types'.

[2019-04-03 14:17] mkaufmaner commented on #592
Have you tried to set the pg type?

[code]

[2019-04-03 14:33] kferrone commented on #552
Any luck on that public repo @wlyndes? I would love to see an example of mocking with sequelize.

[2019-04-03 18:14] RobinBuschmann commented on #593
@spearmootz This is bug. Thanks for reporting

[2019-04-04 09:30] mannol opened #594 "Support for Array types"
If you define a column like:
[code]

You'll get the error saying:
[code]

[2019-04-04 09:46] devoto13 commented on #594
Seems to be a regression in one of the latest releases.

You can workaround it it by doing `@Column({ type: DataType.ARRAY(DataType.STRING) })` in the meantime.

[2019-04-05 13:38] mattwerthva commented on #592
It turns out the problem was that I initialized sequelize with `operatorsAliases: false` which made it note understand `$gt`.  Setting `operatorsAliases: true` solved my problem.  BTW, please dont deprecate the string operators because we use those to pass where clauses as json.

[2019-04-05 13:38] #592 closed

[2019-04-05 15:18] petrogad commented on #375
First off, thank you @RobinBuschmann for all the great work here!

I'm curious how close you are to supporting url in version 1.0.0.

Thank you

[2019-04-05 18:01] edxds opened #596 "Auto generated association functions - like '$add' - not working"
After defining models and associations like so:
[code]
I expected to be able to create a new Player and associate it to a existing Team like this:
[code]
but instead, teamId on Player isn't set to the Team ID and the association is not created. Instead, I have to set the Team ID manually:
[code]
Perhaps I'm doing something wrong? Or did I misunderstand the [docs](https://github.com/RobinBuschmann/

[2019-04-05 19:40] MauJovi commented on #349
Same error here :(
I'm using NestJs btw

[2019-04-07 10:14] #449 closed

[2019-04-07 10:14] #497 closed

[2019-04-07 11:00] #528 closed

[2019-04-07 11:05] RobinBuschmann commented on #536
I'm going not to change this as discussed [here](#553). It would also mean a breaking change.

[2019-04-07 11:05] #536 closed

[2019-04-07 11:07] RobinBuschmann commented on #530
Let's close this issue. If you, @devoto13, find something out and think it makes sense to reopen, don't hesitate to do so

[2019-04-07 11:07] #530 closed

[2019-04-07 11:08] RobinBuschmann commented on #535
Hey @josecolella , did you find something out? If there still are any issues with sequelize-typescript, just reopen the issue!

[2019-04-07 11:08] #535 closed

[2019-04-07 11:11] #432 closed

[2019-04-07 11:12] RobinBuschmann commented on #540
Since this isn't an issue with sequelize-typescript, this issue is closed

[2019-04-07 11:12] #540 closed

[2019-04-07 11:20] devoto13 commented on #530
Sure! Sorry for disappearing on this, got a lot of other work on my plate and didn't have time to investigate it further.

[2019-04-07 11:23] #551 closed

[2019-04-07 11:23] RobinBuschmann commented on #551
Is already implemented

[2019-04-07 11:24] RobinBuschmann commented on #550
I've just noticed, that `Model` is already referenced. What exact issue do you face? Which error message did you get?

[2019-04-07 12:03] RobinBuschmann commented on #562
I assume it solved your issue (If not, just reopen). So this can be closed then.

[2019-04-07 12:03] #562 closed

[2019-04-07 12:06] RobinBuschmann commented on #582
Hey @ysnoussi , I think, I don't really understand your issue. So you want to get the model by name as stated [here](81#issuecomment-319742048), right? What prevents you from doing so? Are you using sequelize-typescript@0.6?

[2019-04-07 12:07] RobinBuschmann commented on #596
Hey @edxds, please try `await team.$add('player', player);`. At the time when you're adding the player to the team, ID of player isn't defined. Hope this helps!

[2019-04-07 12:08] RobinBuschmann commented on #579
Unfortunately your github project is mostly empty (https://github.com/last4869/animation_server)

[2019-04-07 15:46] edxds commented on #596
Hi, so I really don't know why I used .id there (?), but I tried removing it and it still gave me undefined.

It does make sense, since creating a model instance with `new` doesn't give it an id since it doesn't have access to the database yet. So, saving it, assigning it to a team, and then saving it works.

But when FKs have a non-null constraint, I'm not able to save a instance without the FK s

[2019-04-08 08:20] FujiBilly opened #597 "about initialAutoIncrement of sequelize"
How to use initialAutoIncrement of sequelize?
![image](https://user-images.githubusercontent.com/16513668/55709067-146f5180-5a1a-11e9-86b7-9a42c02c5874.png)

[2019-04-09 00:10] AllanPinheiroDeLima commented on #550
Hi, @RobinBuschmann

After this, we did a workaround, it worked, but soon after I was moved to another project until we solve this one properly ( reason why I forgot what the problem was haha )

I'll return to this problem after I complete my undergoing assignment. Which may be thursday and I'll return to you to expose the problem again, 'cause, at this time I can't remember exactly what it was (

[2019-04-10 18:02] hlohrenz opened #598 "Model findOne returns object instead of model instance"
**Versions**

- sequelize: 5.3.0
- sequelize-typescript: canary
- typescript

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

So I define a model based on how it's listed in the docs. This worked when I was on Sequelize 4.* and Sequelize-Typescript 0.6.7, but now it's not working when I upgrade to canary and sequelize5. When I run a `findOne` query, it returns a

[2019-04-11 18:03] zzyyzz1992 commented on #579
@diy4869 我这边编译没有出现Cannot find moduled的错误。

[2019-04-11 20:19] mmiszy commented on #572
@fccruz try `return res.send(user.toJSON());`

[2019-04-14 08:29] RobinBuschmann commented on #597
@FujiBilly Can you fill out the [ISSUE_TEMPLATE](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/ISSUE_TEMPLATE.md) please?

[2019-04-14 08:36] RobinBuschmann commented on #598
Hey @hlohrenz, have you installed `@types/bluebird` as documented [here](http://docs.sequelizejs.com/manual/typescript.html)?

[2019-04-14 08:39] RobinBuschmann commented on #590
Hey @hxdef2517, see [this](https://stackoverflow.com/a/28322206/931502) answer from stackoverflow:
[code]

[2019-04-14 08:52] RobinBuschmann commented on #437
@nickbclifford Thanks for bringing this up and sorry for the late reply. Restricting the type to arrays only, won't work for has-one relations. Since there the `get`/`set` methods are used as well.

[2019-04-14 09:07] #554 closed

[2019-04-14 09:08] RobinBuschmann commented on #552
@kferrone Can you provide an example repo with the basic setup?

[2019-04-14 09:18] RobinBuschmann commented on #550
@AllanPinheiroDeLima Thanks for the info.

[2019-04-14 09:32] RobinBuschmann commented on #388
I came to the conclusion that there is no way to solve this. It makes perfectly sense, that the order matters here. Since you can't add a scope which depends on another which isn't resolved at the time of adding the former scope. So I think the only solution is - as @tdiam already pointed out - to add the scope dynamically.

[2019-04-14 09:32] #388 closed

[2019-04-14 09:33] RobinBuschmann commented on #523
Closing this due to inactivity.

[2019-04-14 09:33] #523 closed

[2019-04-14 09:47] #513 closed

[2019-04-14 09:57] #399 closed

[2019-04-14 09:59] RobinBuschmann commented on #468
Closing this due to inactivity and since it isn't an issue with sequelize-typescript.

[2019-04-14 09:59] #468 closed

[2019-04-14 10:07] RobinBuschmann commented on #349
@MauJovi Can you provide an example repo, which reproduces the issue?

[2019-04-14 10:24] RobinBuschmann commented on #594
@mannol Thanks for bringing this up. Does this happen with sequelize-typescript@canary?

[2019-04-14 11:08] RobinBuschmann commented on #596
@edxds You're right, you have to save the player before adding him to the team. If you want to achieve creating and adding at once, you can use `$create` instead of `$add` like so:
[code]
(Please note, that a pure object is passed and not the player instance)

Hope this helps!

[2019-04-14 11:08] mannol commented on #594
@RobinBuschmann no problem. Thanks for this library!

On your question, I believe I installed the lib via `yarn add sequelize-typescript@canary` like 2 weeks ago. `package.json` shows I'm using version `"^1.0.0-alpha.9` of this lib with sequelize version `^5.2.9`.

[2019-04-14 11:14] RobinBuschmann commented on #594
@mannol Thanks. I wanted to make sure, that @devoto13's fix solves the issue. Since he made one for sequelize-typescript@1.

[2019-04-14 11:18] mannol commented on #594
@RobinBuschmann sweet! Looks promising :+1:

[2019-04-14 11:53] #591 closed

[2019-04-14 11:55] RobinBuschmann commented on #589
Hey @sjgmojica, @BadCoder1337 is right, using the class references directly also works. But `modelPaths` should work as well. Looks like your path was wrong. Could you solve your issue? If not can you provide an example repo which reproduces the issue?

[2019-04-14 11:57] RobinBuschmann commented on #586
@ian-callaghan can we close this issue now?

[2019-04-14 11:58] RobinBuschmann commented on #581
Closing this due to inactivity.

[2019-04-14 11:58] #581 closed

[2019-04-14 11:59] RobinBuschmann commented on #559
Closing this due to inactivity.

[2019-04-14 11:59] #559 closed

[2019-04-14 12:00] RobinBuschmann commented on #561
Closing this due to inactivity.

[2019-04-14 12:00] #561 closed

[2019-04-14 13:34] RobinBuschmann commented on #563
Fixes with #584

[2019-04-14 13:34] #563 closed

[2019-04-14 17:21] RobinBuschmann commented on #573
@seancheung Are you sure, that this is part of the "FindOptions". It seems only to be part of `sequelize.query(...)`. Can you provide a link from the sequelize docs?

[2019-04-14 17:40] RobinBuschmann commented on #577
Sry for the late reply. Which sequelize version are you using?

[2019-04-14 18:46] Queatz commented on #577
We are on `"sequelize-typescript": "^0.6.7"`

[2019-04-15 00:45] edxds commented on #596
Okay, thanks @RobinBuschmann for taking your time to clarify this!

[2019-04-15 00:45] #596 closed

[2019-04-15 03:11] seancheung commented on #573
This is not listed in reference doc but in manual under Basic Usage part:

[http://docs.sequelizejs.com/manual/usage.html](http://docs.sequelizejs.com/manual/usage.html)

See **Read replication** section

It's declared in [@types/sequelize](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/d8748201c7bfc38d70269af3bcaa3a5c380547af/types/sequelize/index.d.ts#L3411) but not in the [typings](htt

[2019-04-15 04:20] DG-Wangtao commented on #247
Hi, is there a same issue? @RobinBuschmann
[model.count doesn't always return a Promise\<number\>](https://github.com/sequelize/sequelize/issues/10757)
And a PR to fix this issue in sequelize:
https://github.com/sequelize/sequelize/pull/10763

[2019-04-15 08:40] #586 closed

[2019-04-15 12:57] PatrickGeyer commented on #535
@josecolella did you ever find out what exactly was causing the issue?

[2019-04-15 13:36] PatrickGeyer commented on #535
For me it was the ``` "moduleDirectories": [
      ".",
      "src",
      "node_modules"
    ],``` option. When I removed the ```".",``` from ```moduleDirectories``` it was able to load the models correctly.

[2019-04-15 15:09] kferrone commented on #552
Here is a simple example I shared before: https://github.com/kferrone/sequel_fun

May be a bit out of date but its open for anyone.

[2019-04-15 15:21] RobinBuschmann commented on #552
Ah, sry, I mean including an example which reproduces the issue you have

[2019-04-16 06:01] vekexasia opened #600 "Support for Sequelize v5?"
**Versions**

- sequelize: 5.3.0
- sequelize-typescript: 0.6.10
- typescript: 3.4.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**
[code]
**Expected behavior:**
works ? :)

**Steps to reproduce:**
Upgrade to sequelize 5.3.0

[2019-04-16 06:22] RobinBuschmann commented on #600
Hey @vekexasia, thanks for asking. As the [docs](https://github.com/RobinBuschmann/sequelize-typescript#latest-sequelize-v5) say you have to install `sequelize-typescript@canary` (or since sunday `sequelize-typescript@next` also installs a `1.0.0` version)

[2019-04-16 10:50] PatrickGeyer opened #601 "Scope include model"
**Versions**

- sequelize: 5.6
- sequelize-typescript: 1.0.0-alpha.9
- typescript: 3.4.3

**I'm submitting a ...**

[X] bug report
[ ] feature request

**Actual behavior:**
When setting a scope for a model, typescript shows the below error.

[code]

**Expected behavior:**
Worked fine before updating to canary release, same code now throwing the above error.
I can still include models if I do as fo

[2019-04-16 13:31] PatrickGeyer commented on #601
Just discovered that this error is only shown if there is an included model that is included directly with a getter function, not as the ```{model: () => MyModel}``` object.
E.g. the below does NOT throw a TypeError:

[code]

However, the following fails again if I just add the include key to the included model

[code]

[2019-04-16 20:16] eddiemonge opened #602 "Build: Automated Changelog"
It would be nice if there was a changelog for every release so things like breaking changes, new features and bug fixes can be easily discovered. There are tools to automate this so with a one-time setup, it doesn't even have to be thought of again.

[2019-04-17 03:45] DG-Wangtao commented on #247
It works fine when I upgrade my `sequelize` to version `5.6.0`

[2019-04-17 04:55] RobinBuschmann commented on #602
Hey @eddiemonge, thanks for bringing this up. Can you recommend a tool?

[2019-04-17 11:13] nikhilseepana commented on #349
import { Injectable } from '@nestjs/common';
import { Sequelize, Model } from 'sequelize-typescript';

@Injectable()
export class databaseProviders {
    useFactory = async () => {
        const sequelize = new Sequelize({
            operatorsAliases: false,
            dialect: 'postgres',
            username: 'user',
            host: 'hostname',
            database: 'db',
            passwor

[2019-04-17 18:28] RobinBuschmann commented on #247
Hey @DG-Wangtao, thanks for bringing this up. Do you really mean `$count` of a model instance or `count` of the model reference?

[2019-04-17 18:42] RobinBuschmann commented on #601
@PatrickGeyer Thanks for bringing this up.

[2019-04-17 19:24] eddiemonge commented on #602
There are a few different ones. @sindresorhus what do you use now-a-days?

[2019-04-18 01:30] sindresorhus commented on #602
https://github.com/sindresorhus/np creates a filled out GitHub release draft after publish now.

[2019-04-18 10:32] PatrickGeyer opened #603 "resolveModelGetter strips Literal attribute of type"
**Versions**

- sequelize: 5.6.1
- sequelize-typescript: 1.0.0-alpha.9
- typescript: 3.4.3

**I'm submitting a ...**

[x] bug report
[ ] feature request

**Actual behavior:**

When I define a Default (or other) scope, the options get passed through ```resolveScope``` which in turn calls model-service.js ```resolveModelGetter``` function.

This resolve model getter function strips attributes define

[2019-04-18 11:12] PatrickGeyer commented on #603
[code]

I added another else statement to the resolveModelGetter function as seen above and that seems to solve the issue for me.

[2019-04-18 14:11] Chocobozzz commented on #603
Maybe that instead we could use the [deepCopy function](https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/utils/object.ts#L10), that could accept a transform parameter to change `() => Model` to `Model`. Adding the @PatrickGeyer might work, but I'm afraid it's less robust (what if we could have a Model inside a SequelizeMethod etc).

[2019-04-18 20:15] c8r821 opened #604 "$set returns Promise<unknown>"
**Versions**
- sequelize: 5.6.1
- sequelize-typescript: 1.0.0-beta.1
- typescript 3.4.3

**I'm submitting a ...**
[x] bug report
[ ] feature request

**Actual behavior:**
The $set method on a model returns a promise of type unknown.

**Expected behavior:**
According to sequelize's included types this method should return a promise of type ``

**Steps to reproduce:**
Just peek into [the model.ts fi

[2019-04-18 20:59] RobinBuschmann commented on #604
Hey @c8r821, this is intentionally set to `unknown`. First, [`$set`](https://github.com/RobinBuschmann/sequelize-typescript/blob/1.0.0/src/model/model/model.ts#L48) and [`set`](https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L2477) doesn't have the same purpose. `$set` is explicitly used for setting relational data (see [this](https://github.com/RobinBuschmann/sequelize-typ

[2019-04-19 04:36] DG-Wangtao commented on #247
Paste my code below:
[code]

[code]

You will see the returns type of `Access.count` will be `Promise<{ [key: string]: number }>` in `sequlize:5.6.0` and it is `Promise< number >` in `sequlize` before `5.6.0`.
Maybe is an issue of `sequlize` , not in this project.

[2019-04-19 14:31] sjgmojica commented on #589
Hi @RobinBuschmann still can't figure it out. I would just import all of my model s like @BadCoder1337 suggested. I tried to defined absolute path on modelPaths but still not works for me.

[2019-04-19 14:44] sjgmojica opened #605 "Sequelize result to plain JSON"
Hi,

I have associations, I need to convert the result into plain json object but toJSON() function of sequelize is not working.

Thanks

[2019-04-19 15:04] RobinBuschmann commented on #605
Hey @sjgmojica, can you please fill out the issue template (https://github.com/RobinBuschmann/sequelize-typescript/blob/master/ISSUE_TEMPLATE.md) Thank you

[2019-04-19 15:06] RobinBuschmann commented on #589
@sjgmojica can you provide an example repo which reproduces the issue? Otherwise it would be difficult to help.

[2019-04-19 16:40] c8r821 commented on #604
Okay, I understand. Is the recommended way of dealing with this just to `as MyType` the result then?

Sorry for the misunderstanding!

[2019-04-19 16:40] #604 closed

[2019-04-19 16:44] RobinBuschmann commented on #604
@c8r821 Yes, if you're sure with the type, just cast it like you mentioned :)

[2019-04-20 15:35] morrigan commented on #572
Did you manage to solve the problem? I have the same issue.

[2019-04-20 17:41] hlohrenz commented on #598
@RobinBuschmann I just installed that package and restarted the server and I still get the same error when I try run `npm run start:dev`. :(

[2019-04-20 18:15] hlohrenz opened #606 "$get should accept same arguments as sequelize does"
**Versions**

- sequelize: 5.3.0
- sequelize-typescript: ^1.0.0-alpha.9
- typescript: ^3.0.1

**I'm submitting a ...**

[ ] bug report
[x] feature request

**Actual behavior:**

Whenever I perform a `$get('relation', {})` on a model instance, it throws an error if I provide the `attributes` property since that second parameter only accepts `where`, `scope`, and `schema` property.

**Expected behav

[2019-04-20 21:42] hlohrenz commented on #606
This is happening for a lot of these methods. `$add` is another one. If you look at the documentation, you should be able to specify the `validate` option: http://docs.sequelizejs.com/class/lib/associations/belongs-to-many.js~BelongsToMany.html (scroll down to add())

[2019-04-22 08:52] RobinBuschmann commented on #606
Hey @hlohrenz, for bringing this up. This should be already fixed with `sequelize-typescript@1.0.0-beta.1` (`sequelize-typescript@next`) - Can you confirm?

[2019-04-22 09:02] RobinBuschmann commented on #603
@PatrickGeyer Thanks for bringing this up. I thought about to fix this by just using lambda's instead of objects (and omitting the deep assignment) This would also overcome to always write `() => Model` within the `include`:
So instead of
[code]
[code]
@PatrickGeyer  @Chocobozzz Any thoughts about this? :)

[2019-04-22 09:05] RobinBuschmann commented on #600
I'm closing this. @vekexasia If you still have any questions, don't hesitate to ask

[2019-04-22 09:05] #600 closed

[2019-04-22 09:08] RobinBuschmann commented on #598
I also mentioned `@types/bluebird` explicitly in the `1.0.0` docs now.

[2019-04-22 09:08] #598 closed

[2019-04-22 09:08] Chocobozzz commented on #603
@RobinBuschmann IMHO it's a good idea to forbid the first case: it will avoid confusion between `() => Model` and `Model` depending if we are in a function or not. And I think it will be more efficient than using a `deepClone`/`reduce`

[2019-04-22 09:11] RobinBuschmann commented on #594
Closing this, since it was fixed with `sequelize-typescript@1.0.0-beta.1`

[2019-04-22 09:11] #594 closed

[2019-04-22 09:14] RobinBuschmann commented on #603
@PatrickGeyer 🤔Hmm, not fully initialized at this time. But we could do this:
[code]

[2019-04-22 09:15] RobinBuschmann commented on #593
I'm closing this. @spearmootz If you have further questions or doesn't see this issue resolved, just reopen it.

[2019-04-22 09:15] #593 closed

[2019-04-22 09:15] RobinBuschmann commented on #590
@hxdef2517 Does this solve your issue? Can we close this now?

[2019-04-22 09:16] RobinBuschmann commented on #582
Closing this due to inactivity.

[2019-04-22 09:16] #582 closed

[2019-04-22 09:17] RobinBuschmann commented on #579
Closing this due to inactivity.

[2019-04-22 09:17] #579 closed

[2019-04-22 09:22] PatrickGeyer commented on #603
If that looks reasonable to you, it could be useful. Although if there are other ways of getting to the sequelize object without passing it as a parameter to the scope function, it would probably be cleaner.
In any case, I would support making DefaultScope a function.

[2019-04-22 09:30] RobinBuschmann commented on #603
@PatrickGeyer Can you explain why another way would be cleaner in your opinion?

I think passing it as a parameter is the cleanest solution, because it decouples the sequelize instance from the model definition. Importing the initialized sequelize instance and using it within the model definition makes the model definition again dependent on the sequelize instance. (Here I'm also thinking of the [

[2019-04-22 09:40] PatrickGeyer commented on #603
@RobinBuschmann only because I am using my own query builder solution.
This is what I'm really doing:

[code]

Where the getQuery function is a static function added to my BaseModel class.
It looks like this:

[code]

I wouldn't want to have to pass the sequelize object to my query builder function every time.

[2019-04-22 09:52] RobinBuschmann commented on #603
Ah ok, I see. Then I can assure you, that `RelatedModel` is initialized with a sequelize instance at the time the scopes are resolved. So the `() => ({...})` solution should work.

The only thing that worries me is the `RelatedModel.scope('deleted')`-Part. Because the scopes get resolved in the order the model class references are passed in (`new Sequelize({models: [MyModel, RelatedModel]})`) or h

[2019-04-22 09:58] PatrickGeyer commented on #603
@RobinBuschmann Great, that's all I needed.

No worries about the ```RelatedModel.scope()``` part, I'm actually doing something like this:

[code]
as I also define the scope functions of each model as a static member of their class

[2019-04-22 10:00] RobinBuschmann commented on #577
@Queatz I couldn't reproduce it. Can you provide an example repo?

[2019-04-22 10:09] RobinBuschmann commented on #576
Hey @pratikshah14 sry for the late reply. Yes that's the intended behaviour. `@Is` is only for column validation, so there shouldn't be a way to access the whole model instance within those validators. Thats why you should use model wide validation like so:
[code]

[2019-04-22 10:11] RobinBuschmann commented on #575
Closing this since typings are now listed under `peerDependencies` since `sequelize-typescript@1.0.0-beta.1`:
[code]

[2019-04-22 10:11] #575 closed

[2019-04-22 10:16] RobinBuschmann commented on #573
@seancheung  Ah OK, thanks. I will add this for `sequelize-typescript@0.6.X`. Can you create a PR for `sequelize@5`?

[2019-04-22 10:38] RobinBuschmann commented on #572
@morrigan Can you provide an example repo which reproduces the issue?

[2019-04-22 10:39] RobinBuschmann commented on #570
@Gilneus Does this solve your issue? Can we close this now?

[2019-04-22 11:12] RobinBuschmann commented on #568
`@types/sequelize` also missing `col`: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L3309

@seancheung Can you create a PR for `sequelize@5` with a fix?

[2019-04-22 11:50] RobinBuschmann commented on #423
Closing this, since this isn't an issue with sequelize-typescript. Referencing the same model in `@DefaultScope` always resolves in a stack overflow - That's why sequelize-hierarchy or something similar is needed

[2019-04-22 11:50] #423 closed

[2019-04-22 14:25] hlohrenz commented on #606
[code]

That's the error I'm getting now when I have this as my query:
[code]

And I know it's because it doesn't accept `col` as a type for attributes. But when I call `getRoles()` with those arguments, it works with pure Sequelize (the latest version).