[2017-11-26 23:41] bilby91 commented on #147
Yes! Make sense. Closing!

[2017-11-26 23:41] #147 closed

[2017-11-27 05:55] mchencb opened #208 "Can timestamp fields be renamed?"
`@Column` can rename field using an option. Can we do the same for `@CreatedAt`, `@UpdatedAt` and `@DeletedAt`?

[2017-11-27 08:10] RobinBuschmann commented on #208
Hey @mchencb you could achieve it like this:

[code]

[2017-11-27 10:26] mchencb commented on #208
OK. Great! Thank you!

[2017-11-27 10:26] #208 closed

[2017-11-27 13:21] Coksnuss opened #209 "@DefaultScope and @Scopes do not work w/ query symbols"
Minimal working example to reproduce the issue:

Model:
[code]

Code
[code]

Expected Query:
[code]

Actual Query:
[code]

Please note that this does not only apply to `Op.lte`. Other complex where queries are not possible either (e.g. `where: { deletedAt: { [Op.ne]: null } }`)

[2017-11-27 13:46] Coksnuss commented on #209
In addition, it would be nice to add the `paranoid?: boolean` option to `IScopeIncludeOptions` or `IBaseIncludeOptions`

[2017-11-27 18:38] RobinBuschmann commented on #209
Hi @Coksnuss, thanks for reporting. So, it is "failing" silently for you, right? Actually I'm getting an error 😮

[2017-11-27 18:41] Coksnuss commented on #209
Hi @RobinBuschmann ,

does it throw an error with the provided example?

It does throw an error for me too if I define a scope using query symbols on a regular column (i.e. not deletedAt, createdAt, updatedAt). I cant recall exactly but it said something like "unknown type {}".

[2017-11-27 18:46] RobinBuschmann commented on #209
@Coksnuss Ah ok, so it is not throwing on deletedAt, updatedAt and so - strang. I tried on regular columns only. And yes, it is something like "unknown type {}" for me, too.

But, good new, I already found out what causes the issue :)

[2017-11-27 19:07] RobinBuschmann commented on #207
Hey @bradkovach, how did you compile the source files? With simply running `tsc`?

[2017-11-27 20:04] #209 closed

[2017-11-27 20:08] #203 closed

[2017-11-27 20:08] #205 closed

[2017-11-27 20:24] #204 closed

[2017-11-27 23:28] bradkovach commented on #207
Yes, running `tsc --watch` and then using `nodemon` to reload the results as I work.

Project setup is pretty standard.  TypeScript sources are in the `src` directory, and then are compiled *over* to the `dist` directory.
[code]

Here is my `tsconfig.json`

[code]

[2017-11-28 05:10] dlemburg opened #212 "Joining a table without defining an association"
Quick note: if this question would be better served asked in the sequelize js issues, please tell me, and I'd be glad to move it there. It seems it spans both sequelize js and sequelize typescript.

So far, I've been unsuccessful. Here is a quick example of what I'd like to do that I cannot get to work...

Given 3 tables: Company, Product, Lookup...

Company has many Products. Products have one Co

[2017-11-29 16:09] RobinBuschmann opened #213 "glob dependency currently missing"
Explicit `glob` dependency currently missing.

[2017-11-29 16:27] RobinBuschmann commented on #213
closed by a4bf9bfe47e281b076bbe5c8528204043dba3358

[2017-11-29 16:27] #213 closed

[2017-11-30 06:12] Diluka opened #214 "rejectOnEmpty can be Boolean or Error"
see http://docs.sequelizejs.com/class/lib/model.js~Model.html

https://github.com/RobinBuschmann/sequelize-typescript/blob/59681a0a533f9104e0cdaa4508e980f554151f7f/lib/interfaces/IFindOptions.ts#L95

[2017-11-30 18:29] RobinBuschmann commented on #207
Hmm, can't reproduce it. Does this work with `es5` for you as well?

[2017-11-30 18:30] RobinBuschmann commented on #214
@Diluka Thanks for reporting

[2017-11-30 18:50] natesilva opened #216 "Is there a changelog for 0.6?"
I noticed 0.6.1 was released and is no longer marked beta. Before upgrading, is there a changelog? Any known breaking changes?

Regards,
Nate

[2017-11-30 18:52] bradkovach commented on #207
It does not work with es5.  I'll push my repo later so you can see the setup.

[2017-12-01 06:35] RobinBuschmann commented on #216
Hey @natesilva, not yet. But I will add a changelog very soon. I let you know.

[2017-12-01 06:54] kingjerod opened #217 "Issue with findCreateFind in v0.6.1 with Typescript 2.6.2"
Versions:
[code]
It seems like it wants the "includes" key in the where object.

Code:
[code]

Getting this error:
[code]

[2017-12-01 07:11] #214 closed

[2017-12-01 10:43] jplusje opened #218 "TS errors when upgrading to latest versions "Error:(11, 68) TS2314: Generic type 'IFindOptions<T>' requires 1 type argument(s).""
:
typescript 2.6.2
sequelize-typescript 0.6.1
@types/sequelize 4.0.79
sequelize 4.23.4

After updating relevant libraries to the latest versions I get an error which states:
`Error:(11, 68) TS2314: Generic type 'IFindOptions<T>' requires 1 type argument(s).`

[code]
I've tried to specify the type by providing the model database.IFindOptions<Throughput> but this doesn't resolve the issue. Which cod

[2017-12-01 12:11] RobinBuschmann commented on #218
Hey @jplusje, you need to pass the generic type to `IFindOptions`. For example: `IFindOptions<YourModel>`

[2017-12-01 13:08] RobinBuschmann commented on #212
So as far as I understand you correctly, you want to set up a polymorphic association, while the LookUp keeps foreignkeys of different other Tables, right?
So that: LookUp.Oid --> Product or LookUp.Oid --> OtherTableY or LookUp.Oid --> OtherTableX

[2017-12-01 13:42] jplusje commented on #218
The solution is indeed to supply the model when setting these options.

For other users having the same issue, this is the full solution:
[code]

The <T> is the actual model class which is being used to perform the search.

[2017-12-01 13:42] #218 closed

[2017-12-01 19:11] dlemburg commented on #212
I think we are saying the same thing. To further clarify:

Company has a foreign key property LkpStateOid which refs Lookup.Oid;
Product has a foreign key property LkpProductTypeOid which refs Lookup.Oid

Lookup table is sort of a monolithic constant table, where "X" number of other tables in the database holds foreign key references to the Lookup table. An example sql query:

[code]

in this case

[2017-12-01 23:46] dlemburg commented on #212
Figured it out. Solution:

` // Lookup Table
@Table
export default class Lookup extends Model<Lookup> {

    @PrimaryKey
    @Column
    Oid:number;

    @Column
    Value:number;
}`

`@Table
export default class Product extends Model<Product>{

    @PrimaryKey
    @Column
    Oid: number;

    @ForeignKey(() => Company)
    @Column
    companyOid: number;

    // sequelize association
    @Belong

[2017-12-01 23:46] #212 closed

[2017-12-02 00:30] natesilva commented on #188
Keep in mind this is an ORM, not a SQL generator. It models things at a higher level than SQL. What matters is the association between the objects. Behind the scenes, that may or may not happen using a `JOIN`. (Some ORMs I have used, like Laravel’s, avoid `JOIN`s altogether…)

The `include` directive is typically used to do `JOIN`-like things. An example, but it really depends on how your models a

[2017-12-02 06:56] rocky-bgta commented on #188
Thank for your replay.

For this purpose I use Knex.js for query builder and execute that build raw
query through sequelize.

It will be better if your framework provide a query builder like Knex.js

Thanks again
Md. Rocky

Thanks
Software Engineer
Md. Nazmus Salahin Rocky

On Sat, Dec 2, 2017 at 6:30 AM, Nate Silva <notifications@github.com> wrote:

[2017-12-02 10:25] RobinBuschmann commented on #207
Thanks, would be nice to have a look at this setup :)

[2017-12-02 13:45] RobinBuschmann commented on #216
Here we go: https://github.com/RobinBuschmann/sequelize-typescript/releases/tag/v0.6.0

[2017-12-02 13:45] #216 closed

[2017-12-02 13:51] RobinBuschmann commented on #169
Is fixed with `sequelize-typescript@0.6.0`

[2017-12-02 13:51] #169 closed

[2017-12-02 13:52] RobinBuschmann commented on #173
@Patrax Thanks for your input. Sounds like the best solution to me :)

[2017-12-02 13:53] RobinBuschmann commented on #168
@ShaharHD Do you still have issues with this? Or can this be closed?

[2017-12-02 13:53] RobinBuschmann commented on #170
@ShaharHD Same here? Did you get it to work? Can this issue be closed?

[2017-12-02 14:01] RobinBuschmann commented on #217
@kingjerod thanks for reporting. Unfortunately I cannot reproduce it. Can you provide an example repo?

[2017-12-03 08:26] rasikas opened #219 "Question: Multiple relations of same model"
[code]

How do we now reference these separately when retrieving ex: when we need to include just the Author when retrieving a book
[code]

Thanks

[2017-12-03 09:45] RobinBuschmann commented on #219
Hey @rasikas, you can achieve this by using `as` like:

[code]

[2017-12-03 10:09] rasikas commented on #219
Thanks a lot @RobinBuschmann , really appreciate the quick response and wonderful library

[2017-12-04 04:24] natesilva commented on #216
Thank you so much!

[2017-12-04 16:59] damianb opened #220 "Compiling dependant JS results in "cannot find module" error"
When running tsc to compile my application's typescript, I get the following error:

[code]

I noted that this is in the devDependencies, but not the dependencies array.

[code]

[2017-12-04 17:07] RobinBuschmann commented on #220
Hey @damianb, you need to install `reflect-metadata` manually.

[2017-12-04 17:09] damianb commented on #220
Ahhh, gotcha - why no peerDependencies? I see you described something in #8, but that sounds like an NPM bug, honestly.

[2017-12-04 17:09] #220 closed

[2017-12-04 21:56] rasikas opened #221 "Question: How to set polymorphic association"
I have following three main entities `User`, `Company`, `Address`. `User` can have many `Addresses` and `Company` can have many `Addresses` too. I managed to implement this using polymorphic many to many as given below.

I have intermediate entity (many to many table) called `EntityAddress`

[code]

and in my `User` model I can retrieve addresses belongs to user with following definition

[code]

[2017-12-04 23:37] kingjerod commented on #217
I noticed that when I switch the statDate to a string TypeScript has no problem with it.

Here's the repo:
https://github.com/kingjerod/sequelize-typescript-fcf-test

This is the error you should see:
[code]

[2017-12-05 19:02] RobinBuschmann commented on #217
The problem is the `Date`, of course. See the sequelize typings here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L3112

It doesn't allow `Date`. Since you've passed only one generic type (`StatModel.findCreateFind<StatModel, IStatModel>` is also possible) the compiler cannot infer the `WhereOptions<T[P]>`.
However, it seems to be an issue with the seq

[2017-12-05 19:14] RobinBuschmann commented on #221
Hey @rasikas the entityType should be inferred automatically. Did you try it with `user.$add('addresses', address)` ?

[2017-12-05 20:11] rasikas commented on #221
Amazing, that worked without specifying anything additionally, I was thinking I may need to specify it specifically based on my experience with Laravel eloquent, where even though you specify the relationship in the models it applies for retrieval only, and when you attach many to many relationship you have to specify the other column values

ex: `User`
[code]
**`attach($addressId, [Address::COL_E

[2017-12-05 22:26] kingjerod commented on #217
If I delete the generic type, I get an error about the id:

[code]

Seems like it only works with a single value in the "where" clause, if I have just id it works fine.

[2017-12-05 22:29] Danlock opened #222 ""Class constructor [ClassName] cannot be invoked without 'new' " that cannot be solved by targeting es6 or above"
Hey, Ive been looking around for other people who have this issue, and it seems to be solved by setting the target version higher if you are using sequelize v4 but that isn't the case for me.

Here is my model:
[code]

Here is my controller (using hapi.js)
[code]

sample of package.json :
[code]
actual error message:
[code]
my tsconfig.json:
[code]

I can't find any other guidance on this issue th

[2017-12-06 17:00] mikew opened #223 "Usage with Jest"
I can get sequelize-typescript working when using Mocha to run our tests, but when trying to use Jest I'm seeing:

[code]

I can most likely get you an example repository to reproduce it in a couple of hours.

[2017-12-06 18:28] RobinBuschmann commented on #223
Hey @mikew, do you initialized the Models via `const sequelize = new Sequelize({modelPaths: ['path/to/model']})` or `sequelize.addModels(['path/to/models'])`/`sequelize.addModels([YourModel])`?

[2017-12-06 18:30] mikew commented on #223
Sorry, I thought that would be important and forgot to mention it.

This is with the `addModels` method.

[2017-12-06 18:32] RobinBuschmann commented on #222
Hi @Danlock, can you provide the call stack to `Class constructor Version cannot be invoked without 'new'` as well? The compiled target of this project shouldn't be an issue, cause it is targeted to `es5` for sequelize <v4 and to `es6` for >v4.

[2017-12-06 18:33] RobinBuschmann commented on #223
Ah ok, an example repo would be helpful then :)

[2017-12-06 18:34] RobinBuschmann commented on #219
Hey @rasikas can this be closed then? :)

[2017-12-06 18:34] RobinBuschmann commented on #221
@rasikas Same here, can we close this issue?

[2017-12-06 19:53] Danlock commented on #222
Sorry, this problem was entirely on my end. I had another sequelize instance that was importing the model and causing this issue. Not sure why it went with that error message, but ill close this issue now.

Thanks for the prompt reply anyway! I'm slowly transforming a project from sequelize to sequelize typescript so that I dont need to write my classes twice, and the library looks really nice to

[2017-12-06 19:53] #222 closed

[2017-12-06 19:55] rasikas commented on #221
yes please

[2017-12-06 19:55] #221 closed

[2017-12-06 19:56] rasikas commented on #219
yes thank you

[2017-12-06 19:56] #219 closed

[2017-12-06 20:18] Danlock opened #224 "modelPaths will not import a single file without glob 'magic'"
Because of line

https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/services/models.ts#L185

you cannot import a single model, because it appends /* to something like
[code]

A quick workaround is to artifically insert glob syntax into the path (instead of version.ts use ?ersion.ts). This skips over the problematic if statement, although it obviously wont work if you have versi

[2017-12-06 21:30] mikew commented on #223
The good (???) news is that it doesn't work with `modelPaths` either.

Here is an example repository: https://github.com/mikew/sequelize-typescript-jest

[2017-12-07 07:32] RobinBuschmann commented on #224
Hi @Danlock, thanks for reporting. `modelPaths` wasn't intent to be used for targeting a single file. Use `addModels` of the `Sequelize` instance instead. Here you can pass the reference of the class:

[code]

Probably it makes sense to allow passing model references in the options in the future as well 🤔

[2017-12-07 07:46] RobinBuschmann commented on #217
Ah, ok. I see. This is a bug then.

In the following line `TAttributes` need to be `Partial<TAttributes>` instead.
https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/interfaces/IFindCreateFindOptions.ts#L8

For now you need to pass both generic types unfortunately `StatModel.findCreateFind<StatModel, Partial<StatModel>>` or `StatModel.findCreateFind<StatModel, {}>`

[2017-12-07 07:49] RobinBuschmann commented on #223
Are you sure, that your typescript-preprocessor for jest is using the `tsconfig.json`? Your passing null for the compiler options (https://github.com/mikew/sequelize-typescript-jest/blob/master/jest.typescript-preprocessor.js#L8) I don't know if typescript is using the `tsconfig.json` then - probably not.

[2017-12-07 15:27] Danlock commented on #224
even if it isnt valid for a single file, this issue blocks users from passing in multiple single files as well, a common use case. I think you should at least document the glob workaround for users just passing in a few models files so they wont get confused like i did.

[2017-12-07 20:39] mikew commented on #223
Hm I'm pretty sure I verified that null would mean that `tsc` uses the default tsconfig.json. I will verify later.

Thanks for looking into this.

[2017-12-08 13:32] mojtababaghban opened #225 "Does this work on electron app?"
Does this work on electron app?

[2017-12-08 14:08] snewell92 commented on #225
I would think so.

[Try it out](https://electronjs.org/docs/tutorial/quick-start) by [using the electron starter repo](https://github.com/electron/electron-quick-start) and installing typescript, sequelize, and sequelize-typescript and using a SQLite database or something.

If sequelize works, sequelize-typescript will work.

[2017-12-08 14:57] bilby91 commented on #225
I agree with @snewell92 . As long as you use `sequelize-typescript` in the main process (https://github.com/electron/electron/blob/master/docs/glossary.md#main-process) you __should__ be good to go. You won't be able to use it in the renderer process.

[2017-12-10 14:36] patsimm opened #226 "Order DESC in scope not possible with Sequelize.col"
What I want to do is get the average value of a column grouped by an id. This is like a rating. Therefore I would need to get this code-snippet to work:
[code]

This right now doesn't work but gives me the error:

[code]

I think this is due to wrong typings, because when I build it, everything works as expected. So maybe in [IScopeFindOptions](https://github.com/RobinBuschmann/sequelize-typescrip

[2017-12-11 18:59] RobinBuschmann commented on #226
@patsimm You're right, this need to be fixed. Thanks for reporting

[2017-12-12 05:36] thestrayed opened #228 "One to Many association issue"
I'm really new with typescript and sequelize, I follow [Nestjs Sequelize](https://docs.nestjs.com/recipes/sql-sequelize) guideline. Everything works fine for one model but when I want to associate between two model, there is an error while loading model.

users.entity.ts file
[code]
tokens.entity.ts
[code]
error log
[code]
I know that it's similar to [#144](https://github.com/RobinBuschmann/sequel

[2017-12-12 06:00] rocky-bgta opened #229 "Working with Multiple database not possible"
This ORM work fine for single database. But when I want to change database; By changing **db** connection string it not work at all. ORM still reference to first database connection string.
For example:

[code]
let  db =new Sequelize(dbConfig);
await db.sync();

above code work fine.
But if I change **dbConfig** object and change database name property and try to execute following code

[code]

co

[2017-12-12 06:51] RobinBuschmann commented on #228
Hey @thestrayed, can you show me how you added the models to the seuqelize instance? Do you use a path or a class reference?

In case of a path you either need to use the same filename as model name (`User.ts`) or if using another file name, you need to default export your model (`export default class User {...}`)

Excluding is currently not possible, but you can use globs https://github.com/Robin

[2017-12-12 06:55] RobinBuschmann commented on #229
Hi @rocky-bgta, do you use one sequelize instance per db connection?

It should be possible to connect to different DB’s using different sequelize instances and - which is really important - different models. So one model does only work for on sequelize instance (https://github.com/RobinBuschmann/sequelize-typescript/blob/master/README.md#recommendations-and-limitations)

[2017-12-12 07:07] thestrayed commented on #228
@RobinBuschmann
This is how I add model in provider
[code]

[2017-12-12 07:22] RobinBuschmann opened #230 "Provide better error message on uninitialized models when resolving associations"
See #228

[2017-12-12 07:22] RobinBuschmann commented on #228
Ah ok, this is the issue. You need to add them at once like `sequelize.addModels([User, Token])`. When `addModels` is called, sequelize tries to resolve all associations related to the passed models.

But of course, this is not an sufficient error message.

[2017-12-12 07:33] RobinBuschmann opened #231 "Repository mode"
Implement a mode, which separates static operations from models. So that `User.find` will not be possible in this mode. A repository need to be created instead like

[code]

This should separate the initialization of a model to the repository model as well.

[2017-12-12 07:40] thestrayed commented on #228
It works now with `sequelize.addModels([User, Token]);` Thank you

[2017-12-12 07:40] #228 closed

[2017-12-12 07:49] RobinBuschmann commented on #231
@snewell92 @bilby91 any thoughts on this? :)

[2017-12-12 12:57] bilby91 commented on #231
@RobinBuschmann I really like the idea of decoupling the model from the data access. In the project I'm working on in node at the moment I'm using this pattern.

This is my base repository:

[code]

[2017-12-12 15:52] rocky-bgta commented on #229
Yes I want to use one sequlize instance for different db connection and I
want use the models. Is this possible ?

Thanks

Thanks
Software Engineer
Md. Nazmus Salahin Rocky

On Tue, Dec 12, 2017 at 12:55 PM, Robin Buschmann <notifications@github.com>
wrote:

[2017-12-12 15:52] mikew opened #232 "Passing a model to a function and accessing static members"
I'm trying to write a function that takes a model class and calls `.findAll({})`, but TypeScript is giving me an error. This reproduces it:

[code]

gives:

[code]

[2017-12-12 15:58] LogansUA opened #233 "Real field names"
Hello.

I have model Device
[code]

How can i get real field names by querying data?
**Query**:
[code]
**Expected result**:
[code]
**Given result**:
[code]

I.e. i want to retrieve object with keys as real field name (as they named in database)

Thank you

[2017-12-12 15:58] mikew commented on #232
Seems this might be a deeper issue in TypeScript: https://github.com/Microsoft/TypeScript/issues/5843#issuecomment-348356421

[2017-12-12 16:48] RobinBuschmann commented on #229
@rocky-bgta You cannot use the same models for different sequelize instances currently.

[2017-12-12 17:12] RobinBuschmann commented on #233
Hey @LogansUA the docs say `If set to true, included instances will be returned as plain objects` (http://docs.sequelizejs.com/class/lib/model.js~Model.html#instance-method-get) So this doesn't seem to be the way to do it. But I don't know if it is working at all. Can you address this to the sequelize team instead?

If you always need to use the field names as property names, why not using the sam

[2017-12-12 17:18] rocky-bgta commented on #229
Thanks for your kind information.

Thanks
Software Engineer
Md. Nazmus Salahin Rocky

On Tue, Dec 12, 2017 at 10:48 PM, Robin Buschmann <notifications@github.com>
wrote:

[2017-12-12 17:25] RobinBuschmann commented on #232
You can achieve this like so:

[code]

[2017-12-12 17:51] RobinBuschmann commented on #231
I thought about using a derived class of the actual model. This derived class will automatically be created when the model is passed to the sequelize instance (via `new Sequelize({modelPaths: [...]})` or `sequelize.addModels`). So that sequelize will put all its information on the derived class reference and not on the actual one. `sequelize.getRepository(User);` would return the derived class ref

[2017-12-12 18:12] RobinBuschmann commented on #229
We're currently discussing an implementation to make same models for different sequelize instances possible. see #231

[2017-12-12 18:32] mikew commented on #232
How obvious, thanks! This solves my issue, but FYI, yours gives:

[code]

So you need to `return model.findAll<T>() as any as Promise<T[]>`.

[2017-12-12 18:32] #232 closed

[2017-12-12 18:44] RobinBuschmann commented on #232
You need to use bluebird as the promise type:
`import * as Promise from 'bluebird'` Then the error disappears as well :)

[2017-12-12 19:06] RobinBuschmann commented on #231
So you mean
[code]

?

[2017-12-12 19:06] bilby91 commented on #231
@RobinBuschmann Exactly. Basically, `user` will be plain object with "form" `T`

[2017-12-12 19:49] RobinBuschmann commented on #231
@bilby91 Hmm, I think configuring the ORM via classes and annotations wouldn't be the right way then. So defining a class `User` which never gets instantiated is not what a user will expect from an ORM like that. I definitely got you're point, but sequelize doesn't seem to be the proper base for that - Sounds like a totally different ORM to me.

Defining models with object literals instead would b

[2017-12-12 20:06] bilby91 commented on #231
@RobinBuschmann I sadly (in a good manner 😄) have to agree!

[2017-12-13 14:56] LogansUA commented on #233
@RobinBuschmann Ok, what about another solution, like i have now in my sequelize configuration: use hook `beforeDefine` to create instance method for each model which will return plain object where all properties mapped to their field names (if field parameters is not defined then use their property name).
For now it's solves my problems, but when i started to implement it using sequelize-typescri

[2017-12-14 03:26] Diluka opened #234 "Where object type is not match"
[code]

`"$parent.isEnabled$"` this key means lookup into the relation table. It's worked. But the type definition says it is not right.

It generate sql like this ```(`parent`.`isEnabled` = true OR `parent`.`isEnabled` IS NULL)```

[2017-12-14 06:14] #196 closed

[2017-12-14 08:56] RobinBuschmann opened #236 "Travis build error: ENOENT: no such file or directory..."
[code]

[2017-12-14 13:31] jplusje opened #237 "paranoid property for included models not supported by the IIncludeOptions interface"
An include of a deleted item by using the paranoid property is currently not supported by the IFindOptions interface. The actual function implementation does allow it.

**Example:**
[code]
This can be fixed by adding the same paranoid option from IFindOptions to IIncludeOptions defined within it's definition file.

[code]

[2017-12-15 03:32] Diluka opened #238 "feature request: a separate comment decorator"
This will be greate
[code]

[2017-12-15 05:36] micksatana commented on #170
I confirmed @RobinBuschmann solution is working. The key is you need to use capital.
[code]
Not
[code]
The latter will cause error.

However, if the DataType.GEOMETRY() suppose to take case-insensitive. I think this considered a bug.

[2017-12-15 06:52] RobinBuschmann commented on #170
@micksatana thanks

[2017-12-15 06:52] #170 closed

[2017-12-15 06:59] RobinBuschmann commented on #237
@jpulsje thanks for reporting

[2017-12-15 07:04] RobinBuschmann commented on #238
Hey @Diluka for now you can do this:
[code]

[2017-12-15 21:18] Danlock opened #239 "Improve any types for values/records in Models.d.ts"
The types for functions that have to do with creation such as Model.create or Model.build have a any type on their values: parameters. Is there a reason why that can't be Partial<T>  to get some compile time verification of model attributes on such methods?

I know that this includes function names as well, but it's better than any.
I'm going to do this on my project anyway, so let me know if you

[2017-12-17 12:37] localnet opened #240 "DataType.GEOGRAPHY not supported?"
I can see the data type GEOGRAPHY in the documentation:
 - http://docs.sequelizejs.com/variable/index.html#static-variable-DataTypes

But when I try use it:
[code]
I gets the following error:

I am newbie with geolocation and PostGIS, but this data type seems better than GEOMETRY for geolocation.

[2017-12-18 09:50] pirmax opened #241 "Sequelize - Use paranoid in include in findAll"
I use **Sequelize** to fetch all data with somes parameters.

I want display all data and data removed with **paranoid = false**.

**PhpStorm** give me an error when I use paranoid in **include[]**.

If I remove the second line **paranoid = false**, the third line give me an error too.

[![enter image description here][1]][1]
[![enter image description here][2]][2]

I know I can't use **paranoid**

[2017-12-18 16:11] pirmax commented on #241
@andrewlababies say https://github.com/DefinitelyTyped/DefinitelyTyped/issues/15670

The paranoid key is missing in IncludeOption interface...

[2017-12-18 17:57] RobinBuschmann commented on #236
https://github.com/mapbox/node-sqlite3/issues/866

[2017-12-18 18:12] #236 closed

[2017-12-18 18:40] #237 closed

[2017-12-18 18:43] damianb opened #244 "Model.$set definitions conflicts with implementation"
As above.  Typescript is currently throwing a fit, because...

[This](https://github.com/RobinBuschmann/sequelize-typescript/blob/0f7e1d450a975be1fdf2cf24165b65799bfe0493/lib/models/Model.d.ts#L428) =/= [this](https://github.com/RobinBuschmann/sequelize-typescript/blob/ddc0608c902c42b496c6c213d7178007ab610669/lib/models/BaseModel.ts#L133)

Right now, Typescript is insisting that the third paramete

[2017-12-18 19:06] RobinBuschmann commented on #241
closes by #242

[2017-12-18 19:06] #241 closed

[2017-12-18 19:17] RobinBuschmann commented on #234
Hey @Diluka , thanks for reporting. Can you provide a link to the docs of sequelize defining this? Thank you :)

[2017-12-18 19:22] RobinBuschmann commented on #239
Hey @Danlock. You mean this https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/models/Model.d.ts#L308 (`values?: any`) for example, right? You would recommend to change this to `values?: Partial<T>`? Yeah, sounds good. @bilby91 Do you see any issues with this=

[2017-12-18 19:23] RobinBuschmann commented on #240
Hey @localnet, which sequelize version are you using?

[2017-12-18 19:26] RobinBuschmann commented on #244
@damianb So `save: boolean` is missing in `IAssociationActionOptions`, right? Can you provide a link to the docs describing these options? I couldn't find them. Thank you :)

[2017-12-18 19:28] #217 closed

[2017-12-18 19:50] damianb commented on #244
Not sure if it's that it is missing from the interface, or if the interface itself for $set's options is distinct in and of itself.

This is what I was looking at:

http://docs.sequelizejs.com/class/lib/associations/belongs-to.js~BelongsTo.html#instance-method-set

[2017-12-18 22:20] snewell92 commented on #231
Decoupling data-access from model definition sounds really nice. Would make `sequelize-typescript` more flexible. I think it would be worth the additional complexity, and by introducing it via the `repositoryMode` option, it wouldn't even necessarily be a breaking change.

[2017-12-18 22:39] snewell92 opened #246 "Sequelize Typings DT @types vs types/sequelize"
So I was reading [the other sequelize typings](https://github.com/types/sequelize) and saw that it is consistently given more attention than the DT monorepo typings (the one that gets installed with `@types/sequelize`).

@RobinBuschmann have you looked at that repo? What are your thoughts?

[2017-12-19 01:39] BruceHem commented on #239
@RobinBuschmann currently i use Partial<Pick<T, 'id' | 'etc'>>

[2017-12-19 02:14] Diluka commented on #234
I can't find any docs about this feature either.
But they've already implemented this according to sequelize/sequelize#3095

[2017-12-19 13:06] imposibrus opened #247 "$count helper return type"
https://github.com/RobinBuschmann/sequelize-typescript/blob/ddc0608c902c42b496c6c213d7178007ab610669/lib/models/BaseModel.ts#L149

Shouldn't return type be `Promise<number>` here?

[2017-12-19 15:34] Danlock commented on #239
So every time you use a method like create, you have a big list of all the attributes right next to the function call? That sounds cumbersome, but I guess it's more typesafe.

Is it possible to select against subset of Model keys that are always there so that the remainder are 'legit' columns? Something like a Difference of keys between whatever Model is being passed in vs the standard Model funct

[2017-12-19 16:35] Danlock commented on #239
Ok, so I looked around for type differences and stumbled upon https://github.com/Microsoft/TypeScript/issues/18567.

With that I think I found the closest solution to getting the attributes for typesafety without needing to manually specify database columns.

[code]

This will remove almost all of the already known methods from the Model instance, allowing the user's predefined columns to remain.

[2017-12-19 19:43] localnet commented on #240
Hi @RobinBuschmann, the sequelize version I am using:
[code]

But after to think on it I think the issue is of "types/sequelize":
[code]

[2017-12-19 19:59] RobinBuschmann commented on #246
@snewell92  Thanks for the hint. I will look at it.

[2017-12-19 20:46] RobinBuschmann commented on #239
Sounds good. What about `Omit<T, keyof Model>` and adding `id`, `createdAt` and so on manually again? Would be shorter IMO.

`Omit<T, keyof Model> |  {id: number; createdAt: Date; ...}`

[2017-12-19 20:55] Danlock commented on #239
Sure, I can do that instead. I will be leaving those fields as type any though, since the user can use those fields for whatever they want.

[2017-12-21 13:32] pirmax opened #248 "Impossible to force delete an item who's soft deleted"
Hi,

Impossible to force delete an item who's soft deleted.

Thanks for help.

[2017-12-21 14:18] #248 closed

[2017-12-22 13:12] LogansUA commented on #233
@RobinBuschmann any thoughts?

[2017-12-22 16:56] Rioos opened #250 "Error with a simple find"
So im trying authenticating a User with passport:

<img width="664" alt="captura de tela 2017-12-22 as 14 51 42" src="https://user-images.githubusercontent.com/4395602/34306013-224dbc8a-e728-11e7-8f67-89124b3dd87b.png">

When checking the logs it seems that the Query is working but that Data is not being returned:

<img width="922" alt="captura de tela 2017-12-22 as 14 52 48" src="https://user-ima

[2017-12-22 17:06] RobinBuschmann commented on #250
Hey @Rioos, can you provide an example repo, which reproduces the issue?

[2017-12-22 17:09] Rioos commented on #250
<img width="395" alt="captura de tela 2017-12-22 as 15 08 56" src="https://user-images.githubusercontent.com/4395602/34306404-14fcd99c-e72a-11e7-9348-f2a1dcd3fbf2.png">

[2017-12-22 17:10] RobinBuschmann commented on #233
Sry for the late response: `new Sequelize({..., hooks: {...}})` isn't working?

Another way of encapsulating this, is creating your own model base class, which inherits from `Model` like

[code]

[2017-12-22 17:12] RobinBuschmann commented on #250
Hey, I mean a git repository :) Thank you

[2017-12-22 17:15] Rioos commented on #250
Actually cant, its a private repo, anything else that might help ?

[2017-12-22 17:43] RobinBuschmann commented on #250
Ok, here we go then: https://github.com/RobinBuschmann/st-issue-250 Works very well here. So feel free to fork and try to reproduce your issue :)

[2017-12-22 17:48] Rioos commented on #250
Testing right now, posting results soon! Thanks mate!

[2017-12-22 17:59] Rioos commented on #250
It worked just fine =(

So its nothing about the environment, i'm looking deep into code, trying to find something.

If i realize what is the error i'll send it here.

[2017-12-22 18:01] RobinBuschmann commented on #250
Great! Thanks

[2017-12-22 18:51] Rioos commented on #250
Found the problem! It was the constructor i setted in the Model class. Since i migrated from typeorm it was present and i didnt remove it.

Maybe it'd  be nice to have support for that. =)

[2017-12-22 18:54] RobinBuschmann commented on #250
Can you show me how the constructor did look like?

[2017-12-22 18:54] RobinBuschmann commented on #250
..so what actually caused the issue?

[2017-12-22 18:55] Rioos commented on #250
It was just a simple

    `constructor() {
        super();
    }`

[2017-12-22 19:19] RobinBuschmann commented on #250
Ah ok, the retrieved values from db get passed through the constructor. So internally something like `new User(data)` happens. Due to your empty `super` call data couldn’t been set.

[2017-12-22 19:23] Rioos commented on #250
So maybe something like

`
  constructor(data: User) {
    super(data);
  }
`

Might work, right ?

[2017-12-22 19:24] RobinBuschmann commented on #250
Yes, indeed :)

[2017-12-22 21:52] LogansUA commented on #233
@RobinBuschmann Ok, will try it, thank you.

[2017-12-22 21:52] #233 closed

[2017-12-24 22:09] rasikas opened #251 "Question: How to remove polymorphic association $remove"
This is related to the question #221

example Model names are bit different since I've taken it directly from my current code. But the concept is very much same with the #221

**Property Model**
[code]

**Address Model**
[code]

Property's addresses (in this case usually one but design is so that I can have many to many with entities such as User, Property etc)
So I have a table called `EntityAddr

[2017-12-24 23:46] rasikas commented on #251
I tried the $get() as follows and it also works fine by automatically including the `entityType`
[code]

**Sql output**
[code]

So I'm wondering why it doesn't include the `entityType = 1` scope condition in `$remove`

[2017-12-26 15:42] LogansUA commented on #233
Here's solution that works for me:
[code]

[2017-12-26 21:01] santiagodoldan opened #252 "missing dataValues property in Modal.d.ts"
Just wanted to know if there's a reason or if it is ok to add the missing `dataValues` property, I'd love to add it as we're using it to get the plain object of a model instance.

https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/models/Model.d.ts

[2017-12-28 23:33] bschveitzer opened #254 "Validate not working properly"
When calling instance .validate() it returns me a sequelize object instead of ValidationError object.

Is that supposed to happen ?

[2017-12-29 01:02] virgenherrera commented on #119
## TypeScript Trick
Define Connection Parameters as **any**

[code]

[2017-12-29 15:20] RobinBuschmann commented on #250
Hey @Rioos, can this be closed now?

[2017-12-29 18:36] RobinBuschmann commented on #252
@santiagodoldan Sounds good. I have nothing against it :)

[2017-12-29 19:24] RobinBuschmann commented on #254
Hey @bschveitzer. Can you post a code example and your sequelize version please? Thank you :)

[2017-12-31 08:08] dlemburg opened #256 "Multiple relations to same model"
I have this Product model with multiple relations to the Lookup model:

[code]

Example query:

`
      const productData = await Product.find({
            include: [
                { model: Lookup, as: "LkpStateOid"}
            ]
       });
`

My understanding from the docs and [this issue](https://github.com/RobinBuschmann/sequelize-typescript/issues/219) is that the "as" property should allo

[2018-01-01 10:05] RobinBuschmann commented on #256
Hey @dlemburg you need to use the property name of the related model instead of the foreign key for `as`. `{ model: Lookup, as: "state"}`.

[2018-01-01 12:56] dlemburg commented on #256
Ah, excellent. Thank you for the quick response and great library!

[2018-01-01 19:12] Rioos commented on #250
Sure =)

[2018-01-01 21:05] #250 closed

[2018-01-03 08:32] jazzfog commented on #153
I don't get it...
I am new to `sequelize-typescript`, just discovered it, installed and trying it out.
Right after connection attempt I get the error (as reported above).
So it just doesn't work. Completely.
Looks like since October, so three months now.
I mean, I appreciate all the hard work that maintainer of this repository has done but it looks bit frustrating that package could stay broken fo

[2018-01-03 13:34] RobinBuschmann commented on #153
Hey @jazzfog thanks for reporting. Can you address your issue here: https://github.com/sequelize/sequelize/issues/8417 . Maybe you already find a solution in this issues comments :)

[2018-01-05 14:53] bosunolanrewaju commented on #234
@Diluka Did you try without the `$` like `parent.isEnabled`? I was able to sort records by a related table using just `table.column`.

[2018-01-07 12:07] RobinBuschmann opened #258 "Filtered attributes issues (GetAttributes type)"
* rename to `FilteredModelAttributes`
* use `RecursivePartial` instead of `Partial`
* `|` is wrong here - it should be `&` instead, so that:

[code]

from
[code]

[2018-01-07 12:23] #258 closed

[2018-01-07 12:29] #256 closed

[2018-01-07 12:37] RobinBuschmann commented on #251
@rasikas Sry for the late response. Did you already get it to work now? Otherwise looks like a sequelize issue to me. Did you tried it with pure sequelize (`removeAdresses` or `removeAdress`)?

Regarding your other question: Yes, this seems to be a bug in sequelize-typescript typings

[2018-01-07 12:39] RobinBuschmann commented on #244
@damianb Sry for the late response. I found the set methods in the sequelize docs: http://docs.sequelizejs.com/class/lib/associations/has-many.js~HasMany.html#instance-method-set

Unfortunately it doesn't seem to have a `save` option. Can you confirm that it is working anyway with `save: false`? In this case, we could add it to the typings anyway. Thank you

[2018-01-07 12:42] RobinBuschmann commented on #240
@localnet Ah yes, it is missing on the sequelize typings... Thank you! Probably it is part of a newer version and a dependency update for sequelize-typescript would help.

[2018-01-07 12:42] RobinBuschmann commented on #239
fixed by #249 and #259

[2018-01-07 12:42] #239 closed

[2018-01-07 12:43] RobinBuschmann commented on #223
Hey @mikew any update on this? :)

[2018-01-07 12:48] RobinBuschmann commented on #234
@bosunolanrewaju I think Diluka addresses the typings here. `$parent.isEnabled$` is working for Diluka, but the typescript compiler is throwing.

@Diluka I think, the best option to achieve this is the following: `where: { ['$parent.isEnabled$' as any] }`. Otherwise we need to add `any` to the typings of `WhereOptions` which would destroy type safety here. What do you think?

[2018-01-07 12:49] RobinBuschmann commented on #225
Hey @mojtababaghban did you get it to work with electron?

[2018-01-07 12:54] RobinBuschmann commented on #224
@Danlock sry for the late response: Can you give me an example of passing in multiple single files via paths? I do not really understand your point here

[2018-01-07 12:56] RobinBuschmann commented on #207
Hey @bradkovach, is this issue still a problem?

[2018-01-07 12:56] RobinBuschmann commented on #188
@rocky-bgta Can this be closed now?

[2018-01-07 13:06] RobinBuschmann commented on #135
@georgeedwards Is this working now for you?

[2018-01-07 14:26] damianb commented on #244
Iiiinteresting...looking at the sequelize source, it seems you're right for the rest.

Though, looking at the BelongsTo definition, it *should* still work in my case; I'm trying to set their relationship via the xref table (because I have an additional column that needs set...), and I'm using BelongsTo like below:

[code]

So, correct me if I'm wrong - I'd figure that if I'm using `UsergroupPermis

[2018-01-07 15:42] fareshan opened #260 "scope include all"
Hi, I want to include all fields in scope. I tried this :
`@Scopes({
	full: {
		include: [{ all: true }]
	}
})`

But I get this error:

Argument of type '{ full: { include: { all: boolean; }[]; }; }' is not assignable to parameter of type 'IDefineScopeOptions'.
  Property 'full' is incompatible with index signature.
    Type '{ include: { all: boolean; }[]; }' is not assignable to type 'Function |

[2018-01-07 17:59] karimabdelhakim opened #261 "add custom validation message to IsDate, isAlpha, Is ,....."
for example `@IsDate(msg:"please enter a valid date")`

[2018-01-07 20:46] bosunolanrewaju commented on #234
Oh, I see. I found out that the typings for `where: sequelize.where()` is not in `ICountOptions` too.
Not sure it would work for `WhereOptions` either.

@Diluka  can you try something in the line of
`where: sequelize.where(sequelize.col("$parent.isEnabled$"), "OR", [true, null])`?

[2018-01-07 21:59] mikew commented on #223
Yep, it was the preprocessor. Everything works when using ts-jest. Sorry for the delay!

[2018-01-07 21:59] #223 closed

[2018-01-08 02:32] Diluka commented on #234
@RobinBuschmann `as any` is a good solution. I often use it to resolve the typings mismatch issue in each package.

@bosunolanrewaju I think it is too complicated. I prefer to using `as any`.

[2018-01-08 13:43] #252 closed

[2018-01-09 19:47] RobinBuschmann commented on #260
Hey @fareshan, thanks for reporting this issue. `all: boolean | string` is missing in the sequelize-typescript typings. This need to be fixed.. until then you can omit the tsc error with `[{all: true} as any]`

[2018-01-09 19:50] RobinBuschmann commented on #261
@karimabdelhakim yeah, this would be useful and should be implemented. For now you can achieve this like so:
[code]

Any PRs are welcome :) ;)

[2018-01-09 19:52] RobinBuschmann commented on #234
OK, then I close this issue now. @Diluka Feel free to reopen it, if it is still an issue for you

[2018-01-09 19:52] #234 closed

[2018-01-09 19:55] fareshan commented on #260
OK , thanks

[2018-01-09 19:58] RobinBuschmann commented on #185
@rocky-bgta any update on this ? :)

[2018-01-11 12:22] localnet commented on #240
@RobinBuschmann if you want close the issue, do it. After read a little more about geolocation, I am using GEOMETRY because it have better performance when is not necessary take in account the earth curvature.

Thanks so much and great work!

[2018-01-11 16:30] #240 closed

[2018-01-12 19:19] ali-web opened #265 "Accessing model property names dynamically"
Is there a built-in way to access model property names dynamically without having to hard code them as strings when writing a query?
So instead of:
`User.findOne({ where: {'userId': userId} })`

we could writing something like:
`User.findOne({ where: {User.propertyNames.userId: userId} })`

[2018-01-12 23:20] RobinBuschmann commented on #265
Hey @ali-web, in the next release there will be type checking available for model properties in where options - which also means that auto complete will work. Will this fit your needs?

[2018-01-13 00:12] ali-web commented on #265
Hey @RobinBuschmann , certainly, thanks!

[2018-01-13 03:11] Danlock commented on #224
When I initially made this issue I was incrementally implementing this library with my models to see if it would work, so instead of pointing it to every model in my models folder I only wanted to point to one model, then 2, then three etc.

Because of my configuration file being a JSON object it was much easier to pass in an array of filenames to import than entire javascript object reference.

T

[2018-01-14 01:24] devuxer opened #266 "Three foreign keys referencing same table"
My `Transit` model has three foreign keys referencing the `Nation` model.

When I sync to a SQLite database, however, only the first foreign key gets created.

Am I doing something wrong?

**Model**

[code]

**Expected Result (3 references to "Nations")**

[code]

**Actual Result (1 reference to "Nations")**

[code]

[2018-01-14 07:16] rasikas commented on #251
Yep I've already raised the issue with sequelize and they also confirmed it is a bug
[Here is the link to the issue](https://github.com/sequelize/sequelize/issues/8890)

[2018-01-14 13:47] intellix opened #267 "$get Generic Type is incorrectly returning <R, R[]>"
$get is Type Annotated to return either an instance or an array of instances: https://github.com/RobinBuschmann/sequelize-typescript/blob/f54231ede75a9d6ab0acd6c2ca018dfb60911dc4/lib/models/Model.d.ts#L447

## Currently
[code]

Is problematic for fetching an array of things:
[code]

## Expected

[code]

Would allow us to specify exactly the type and use it appropriately:
[code]

## Temporary worka

[2018-01-16 20:49] RobinBuschmann commented on #267
Hey @intellix that sounds reasonable. Thanks for implementing!

[2018-01-16 20:49] #267 closed

[2018-01-16 21:09] RobinBuschmann commented on #266
Hey @devuxer, sry for the late response. You need to define which foreign key should be used for which relation. So the relations should look like:

[code]

Probably an error message in case of multiple foreignKey that targets the same Model would be helpful 🤔

[2018-01-16 22:43] devuxer commented on #266
Hey @RobinBuschmann,

Thank you for the answer and this very handy library 👍

An error message would definitely help. Perhaps adding this multiple-foreign-key use case to the documentation as well.

One thing that confuses me is why I need `@BelongsTo` for `@ForeignKey` to work. I don't actually need the navigation properties (like `originNation`) in this particular case. I just added them because

[2018-01-17 08:25] dragosbulugean opened #271 "Typescript decorators"
Hi,
I am experiencing some weird stuff.
I have a multi module TS project with path-mapping in my tsconfig.json.
Some of my Models are in one module, some (like User) are in another module.
When I try to declare something like:

[code]

I get something like:
[code]

And the compiler takes forever to do its job.

All works fine if I keep them in the same module, so my guess this might be a TS issue.

[2018-01-17 08:35] RobinBuschmann commented on #271
Hey @dragosbulugean, thanks for reporting. Did you install sequelize-typescript in both - in your current project and in your module?

[2018-01-17 08:39] dragosbulugean commented on #271
Yes, it's installed, otherwise I couldn't define models :)
I am somehow under the impression this is a TS issue, that it doesn't pass decorator information from module to module, because if I compile the module the d.ts's generated don't contain decorators, so it might use the same mechanism.

[2018-01-17 09:26] RobinBuschmann commented on #271
When you saying „module“, do you mean another npm package in which additional models are kept? In this case you should have sequelize-typescript only installed on your main project... not additionally in these packages. So that sequelize typescripts doesn‘t get installed more than once in your project. If this is not the case, can you provide an example repo which reproduces the issue?

[2018-01-17 10:22] dragosbulugean commented on #271
OMG this was the problem. Having multiple sequelize-typescript installs. Thank you!
But now I have a different one, in that it can't do inference even on simple Date.
[code]

[2018-01-17 10:34] RobinBuschmann commented on #271
Good to here :)

Regarding your other issue: Did you set `"experimentalDecorators": true,"emitDecoratorMetadata": true` in your modules tsconfig.json?

[2018-01-17 10:36] dragosbulugean commented on #271
Yes, of course. Each module has its own tsconfig.json and both flags are set in both of them.

[2018-01-17 10:55] RobinBuschmann commented on #271
Does your compiled files contain something like:
[code]

[2018-01-17 10:57] dragosbulugean commented on #271
I am good now :)
The last problem was due to the fact that the second module had "typings" in package.json pointing at d.ts in the build folder.
So frustrating...

Thank you for support,
Awesome project BTW, I will contribute if needed.

Dragos

[2018-01-17 10:58] #271 closed

[2018-01-18 14:27] wujinhong opened #272 "How can I connect to mysql?"
var config = {
            "dialect": "mysql",
            "url":"mysql://localhost:3306",
            "username": "root",
            "password": "mypassword",
            "database": "db_customer",
            modelPaths: [__dirname + "/com/gordon/models"]
        };
        this._sequelize = new Sequelize( config );

I can connect the databash with navicat. and I can connect database with seque

[2018-01-18 21:27] doovers commented on #123
@RobinBuschmann Revisiting this after some time away from the project. Have you seen my previous comment?

[2018-01-18 23:59] bilby91 opened #273 "Bump version"
Any chance we can get a new beta version @RobinBuschmann ?

Thanks!

[2018-01-19 01:05] SamD opened #274 "Dealing with migrations?"
I'm guessing this means crafting migrations by hand?

[2018-01-19 02:01] wujinhong commented on #272
var config = {
"dialect": "mysql",
"host":"localhost",
"port":"3306",
"username": "root",
"password": "mypassword",
"database": "db_customer",
modelPaths: [__dirname + "/com/gordon/models"]
};

I add port property. and it is OK.

thank you.I connected the database successfully.

[2018-01-19 06:47] #272 closed

[2018-01-19 06:55] RobinBuschmann commented on #274
Hey @SamD, sequelize provides tooling for that: http://docs.sequelizejs.com/manual/tutorial/migrations.html

If you don’t want to use a query builder for your migrations but pure sql queries instead I can recommend this library: https://www.npmjs.com/package/db-migrate

[2018-01-19 07:32] RobinBuschmann commented on #123
Hey @doovers, sry for the late response. I have completely overseen you last post. What about naming the property differently? Like `@BelongsTo(() => Customer, 'faxId') customerWithFax: Customer;`

[2018-01-19 07:47] RobinBuschmann commented on #266
This is because `@ForeignKey` is more a helper for the `@BelongsTo`, `@BelongsToMany` and so on annotations then an independent decorator. In your case, since you need to define the foreign keys in the `@BelongsTo` annotation, you can omit the foreign key annotated properties completely.

Ones might consider extending the functionalities of the `@ForeignKey` decorator...

[2018-01-19 14:41] doovers opened #275 "Associated models not being created"
With the following models:

[code]
and:
[code]
Then creating an `EstimateType` as follows:
[code]
The result is that the `EstimateType` is created but the `CustomField` is not. What am I doing wrong here?

Note that creating a `CustomField` on its own works fine.

[2018-01-19 14:44] doovers commented on #275
Doh! Why does one always solve the problem 2 seconds after creating an issue!! The problem was that I incorrectly named the `customFields` variable `fields` in the `create` argument. Apologies!

[2018-01-19 14:44] #275 closed

[2018-01-19 19:09] devuxer commented on #266
Ahh OK, makes sense.

So if I want the foreign key to be nullable, I would put`@AllowNull` on the `@BelongsTo` property instead of the foreign key property?

[2018-01-19 21:10] RobinBuschmann commented on #273
It's done! `sequelize-typescript@0.6.3-beta.0` or `sequelize-typescript@next`

[2018-01-19 21:29] bilby91 commented on #273
🎉

[2018-01-19 21:29] #273 closed

[2018-01-20 17:40] intellix opened #276 "Static increment method is missing from Model"
Currently doing:
[code]

Would be nice to not need to do the first query. Looked through the documentation/code and found that there's actually a static increment as well

http://docs.sequelizejs.com/class/lib/model.js~Model.html#static-method-increment
https://github.com/sequelize/sequelize/blob/master/lib/model.js#L2929

[2018-01-21 07:20] chaoxihailing opened #277 "TypeError: Cannot read property 'toLowerCase' of undefined"
I defined User like this
![image](https://user-images.githubusercontent.com/17508916/35191735-8b9e2f42-febd-11e7-89b4-c30b3f0b9537.png)

I use sequelize.addModels([User]), but it occur error like below
![image](https://user-images.githubusercontent.com/17508916/35191761-5179dbc6-febe-11e7-8d92-3f40bbeb131b.png)

how to it happen?

[2018-01-21 09:24] RobinBuschmann commented on #277
Hey @chaoxihailing, this is because `addModels()` tries to resolve all relations of `User`.  Therefore the related models (`Role` and `UserRole`) need to be added to the Sequelize instance as well:
[code]

But yes, the error message is not very meaningful :/ I will fix this.

[2018-01-21 12:17] chaoxihailing commented on #277
I try to do it, but it also occur the same error, but if I comment `@BelongsToMany(()=>Role, ()=> UserRole) public roles: Role[]`，it can work normal.

[2018-01-21 12:35] chaoxihailing commented on #277
I have  add extra  models (`Permission` and `RolePermission`) to the Sequelize instance, so it can work again.

[2018-01-21 12:49] #277 closed

[2018-01-21 15:32] RobinBuschmann opened #278 "Adding isInitialized check on associated models"
sequelize-typescript currently fails when trying to resolve associations with uninitialized models instead of throwing early with an appropriate message. This leads to errors like: [TypeError: Cannot read property 'toLowerCase' of undefined](#277)

[2018-01-22 07:02] chaoxihailing opened #279 "bulkCreate not work normal"
I try to use `bulkCreate` to create user, code like
![image](https://user-images.githubusercontent.com/17508916/35208568-1301a218-ff84-11e7-8255-3e07f79a08f7.png)
it is error
![image](https://user-images.githubusercontent.com/17508916/35208832-3d9e3774-ff85-11e7-9137-5dbf9633ea73.png)

but if not use `bulkCreate`, and save user like `user.save()`, it is work.

[2018-01-22 08:20] RobinBuschmann commented on #279
Hey @chaoxihailing, can you provide your create table query of your `User` table? Looks like you have an unique constraint on one of your columns, which prevents you from inserting the data you want.

[2018-01-22 08:37] chaoxihailing commented on #279
`@Table({
    freezeTableName: true,
    paranoid: true,
    timestamps: true,
})
export class User extends Model<User> {
    @PrimaryKey
    @AutoIncrement
    @Column
    public id: number;

    @Unique
    @Column
    public policeNumber: string;

    @Column
    public name: string;

    @Column
    public identityCard: string;

    @Column
    public duty: string;

    @Column
    public mobi

[2018-01-22 11:42] ClueGuy opened #281 "Raw queries"
There's a typing issue when trying to use raw queries with Sequelize-Typescript:

[code]

The above generates the following TypeScript error:

[code]

[2018-01-22 13:49] RobinBuschmann commented on #281
Hey @ClueGuy, thanks for reporting

[2018-01-22 18:45] RobinBuschmann commented on #276
Thanks for reporting. Any PRs to fix this are welcome :)

[2018-01-22 19:08] RobinBuschmann commented on #279
There are 2 issues I've noticed:
1. `user.save()` is already storing data and it returns a `Promise`
2. `bulkCreate` is for creating User instances by passing in raw object literals instead of instances

So you either use `save` OR `bulkCreate`:

`save`:

[code]

or

`bulkCreate`:

[code]

[2018-01-23 02:14] chaoxihailing commented on #279
thanks

[2018-01-23 02:14] #279 closed

[2018-01-24 16:50] Danlock opened #282 "Table decorator overloaded returning incorrect void type"
So first of all, if a decorator returns void instead of Function on strict mode typescript throws an error because of this, and it can't really be worked around., or used as a decorator in strict mode. So the type is wrong because of that.

https://github.com/Microsoft/TypeScript/issues/4534
https://stackoverflow.com/questions/36446480/typescript-decorator-reports-unable-to-resolve-signature-of-cl

[2018-01-24 18:48] Danlock commented on #282
I tried to solve the issue by returning void or void|Function, but neither passes the tests.
Ill take another look when I have more time, typecasting it to any isn't really a solution.

[2018-01-27 20:59] dkuida opened #284 "ISequelizeConfig"
Hey
First of all - great job, really love the library - spent with it the whole day and it is really saving time.

now to the issue

in Interface ISequelizeConfig there is a definition that goes this way
[code]
but that means that a definition in the form of

[code]
throws an error TS2322 = because clearly `Country` is a model and not a string

what do you I miss here?

[2018-01-27 21:12] RobinBuschmann commented on #284
Hey @dkuida, thank you :)

This is currently not possible via the config. You need to create an instance of `import {Sequelize} from 'sequelize-typesctipt';` and then you can call `addModels` like

[code]

But yes, it would make sense to enable adding models to the configuration like:
[code]
Any PRs are welcome :)

[2018-01-27 22:02] RobinBuschmann opened #285 ""where" function missing in IFindOptions"
Current:
https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/interfaces/IFindOptions.ts#L16

Expected:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L3264

[2018-01-29 01:42] dengue8830 opened #286 "type safety when instantiating the model"
Its possible to maintain the type-safety when i create an instance of the model?

using the .create method

[code]

the same with .build, .bulkBuild, .bulkCreate

And with this way typescript throws an error:
`const model: MyModel = { anAttrThatExistsInModel: 1};`

The only way that i found to maintain type-safety is with

[code]

[2018-01-29 14:34] operandom opened #287 "Missing sourceKey in AssociationOptionsHasMany."
Hi !
Is it possible to update @types/sequelize to remove the problem ?
Thx !

[2018-01-30 01:39] Diluka opened #288 "What is the difference between @AfterDelete and @AfterDestroy?"
What is the difference between @AfterDelete and @AfterDestroy?

[2018-01-30 07:53] chaoxihailing opened #289 "how can I association corss_model with unique key"
I have three model `User` , `UserOrganization`, `Organization`.  and I want to `manytomany` association , but not use `Primary Key` instead using `unique Key` , these model defind like
[code]
I insert data, error like this
![image](https://user-images.githubusercontent.com/17508916/35554109-80981bc0-05d5-11e8-9358-6cb74c737105.png)

How can I defined  `manytomany` association with unique key

[2018-01-30 20:16] RobinBuschmann commented on #287
Hey @operandom thanks for reporting.

We need to update `@types/sequelize` dependency to fix this

[2018-01-30 20:20] RobinBuschmann commented on #286
Hey @dengue8830 you can either use the second generic parameter like

[code]
or update to the latest beta version via `npm install sequelize-typescript@next` and it should work without passing any generic type (`MyModel.create({...})`)

[2018-01-30 20:22] RobinBuschmann commented on #288
Hey @Diluka, there is no difference... their are interchangeable :)

[2018-01-30 20:22] #288 closed

[2018-01-30 20:23] RobinBuschmann commented on #289
Hey @chaoxihailing I will come back to you as soon as possible. But unfortunately I have no time until the end of the week.

[2018-02-01 00:32] spacem commented on #123
One thing I find is if the configuration is not quite right or you pass the wrong type of data you get strange unhelpful messages. I just got this error and searching found this issue. In my case I was doing something silly, it is entirely my fault but it was not easy to track it down.

My issue was that I was calling model.bulkCreate([[null],[],[],[]]). Yes there was a bug in my code that generat

[2018-02-01 03:48] ljjb commented on #274
@RobinBuschmann, the sequelize CLI tool looks at model files to create migrations. As far as I can tell, the model files used by sequelize-typescript won't work with that, before or after compilation to JS. Am I missing something here?

As for db-migrate, since you need to create migrations yourself, how can we produce them programatically or better, automatically?

[2018-02-01 07:00] RobinBuschmann commented on #274
Hey @ljjb , from my understanding the cli can also be used to create sequelize model files next to their actual migrations. I admit that this is not very useful for sequelize-typescript, but you don‘t need to use this feature, or am I wrong? As stated here http://docs.sequelizejs.com/manual/tutorial/migrations.html#advance-topics you are able to create migrations as usual (`up`, `down`)

[2018-02-01 14:21] snewell92 commented on #274
There is no way I know of to make migrations automatically the same way the sequelize cli can do in vanilla sequelize, the structure of our ts models differ slightly.

You may get more mileage by using [sequelize-decorators](https://github.com/felixfbecker/sequelize-decorators). It's quite different from this library, but try it out and see if that decorator library works with the CLI's migration

[2018-02-01 15:54] Cyberuben commented on #254
Hi Robin,

as I see this issue has gone silent, and I'm experiencing the same issue, I'll post the code here:

[code]

this will output an instance of the user that I just created, no validation errors.

I'm using VSCode and the intellisense shows the following:

![Intellisense](http://scrnsht.me/u/mGc/raw)

There is in fact an error in the data I'm supplying, as it is thrown when I'm trying to sa

[2018-02-01 16:02] RobinBuschmann commented on #274
@snewell92 So, you mean it is not possible to use the normal migration tooling with vanilla sequelize is not possible? If so, why not?

[2018-02-01 16:28] Cyberuben commented on #254
To elaborate on the issue: I found that this problem occurs whenever you supply a validator function that returns either `true` or `false`

With the following code:

[code]

**works** with the following validator:

[code]

**fails** with the following validator:

[code]

I'm not sure if this is intended behavior, as custom validators for Sequelize seem to be badly documented, but at least I found

[2018-02-01 17:05] RobinBuschmann commented on #254
Ah ok, I got it. Validation works differently for the two latest sequelize major versions. While `validate()` in version 3 resolves with an error if one exists, it rejects the promise  in version 4:

[code]

sequelize-typescript currently supports both major versions. So the actual issue is in the sequelize-typescript typings. It should be something like
`validate(...): Promise<ValidationError /*v

[2018-02-02 14:30] snewell92 commented on #274
@RobinBuschmann
With vanilla sequelize the normal migration tooling works.

With Sequelize Typescript you can only use a tool that scaffolds the skeleton of up/down migrations, and then we have to manually fill it out.

With vanillas Sequelize, the [migration tooling can inspect model definition files](http://docs.sequelizejs.com/manual/tutorial/migrations.html) and fill in migration up/down for y

[2018-02-03 10:32] samanmohamadi opened #290 "$count return type is this instead of number"
https://github.com/RobinBuschmann/sequelize-typescript/blob/4302356c452bfc27b1ba0117cc8abae170dd1e35/lib/models/Model.d.ts#L452

[2018-02-03 20:37] alonewarrior opened #291 "Extending Model's static methods"
Hey, I'm new to using this library and am converting over my codebase to typescript. In an effort to implement caching, I'm trying to find the most viable solution possible without having to rewrite and introduce a ton of additional logic throughout the application to support it.

What I'm hoping to do is write a class that extends Model and subsequently extends certain static find methods to add

[2018-02-03 20:50] RobinBuschmann commented on #291
Hey @alonewarrior, can you provide a specific example?

[2018-02-03 20:51] RobinBuschmann commented on #290
Hey @samanmohamadi, thanks for reporting, but it is a duplicate of #247

[2018-02-03 20:53] alonewarrior commented on #291
Sure! I'm creating a BaseModel that I'm extending from to provide pre-defined columns for each table that exists (not sure how well this is going to work yet):

[code]

I'd like to extend findAll (and a few others), and I've tried putting in many different combinations for the findAll type and none have worked.

[2018-02-03 21:26] RobinBuschmann commented on #291
Unfortunately I can only provide a workaround for that: Using `call` omits the error:
[code]
There seems to be an issue with `this` in static functions (https://github.com/Microsoft/TypeScript/issues/20264 this was closed and labelled with `Design Limitation`)

[2018-02-03 21:30] alonewarrior commented on #291
@RobinBuschmann This will work! Thanks so much!!

[2018-02-03 21:30] #291 closed

[2018-02-04 10:45] vichyssoise opened #292 "Need to disable 'strictPropertyInitialization' in TS 2.7 or later"
Or you get `
Property '' has no initializer and is not definitely assigned in the constructor.` error.

Add below to your tsconfig.json
[code]

[2018-02-04 12:00] RobinBuschmann commented on #292
@vichyssoise thanks for posting this. So you mean it is enough to set this property to the main app which uses `sequelize-typescript` or is it also necessary to add `"strictPropertyInitialization": false` to the tsconfig.json of `sequelize-typescript`?

[2018-02-04 12:22] vichyssoise commented on #292
@RobinBuschmann
The former is required it for creating new Model like

[code]

and also tsconfig.json at`/test` in this repository might be required.

[2018-02-06 01:07] chaoxihailing commented on #289
@RobinBuschmann hey，are you have time to continue answer my question  ?

[2018-02-06 15:51] RobinBuschmann commented on #289
@chaoxihailing I've looked into it, but couldn't find a solution. Can you address your issue with a native sequelize example to the sequelize team instead?

[2018-02-07 14:40] snewell92 commented on #274
Actually I'm not sure - I could be totally wrong. 🐱

I was just setting up a nodeJS feathersJS application with sequelize, and the sequelize migration tool just needs the model definitions, not the source files to be a certain format. I'm going to play with it... I suspect it will likely work now.

[2018-02-09 05:48] manV commented on #292
Would "definite assignment assertion modifiers " help? See "Definite Assignment Assertions" section on [this page](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-7.html)

[2018-02-09 06:01] jaydp17 opened #294 "Incomplete types for QueryInterface"
I was working with `QueryInterface` and `constraints` where I noticed there are some types missing.

### For example:
[showConstraint(..)](https://github.com/sequelize/sequelize/blob/a4a0f883bdb48e9d5092fa8fd750b880ef8ffbe2/lib/query-interface.js#L865)

The return type of that function i.e. `Constraint`

[2018-02-09 12:47] kjamrog opened #295 "Multiple relation to the same model problem"
In Project model I have two relations to User model. One of them is M:N realized by ProjectsUsers model:

  `// Project model`
 `@ForeignKey(() => User)`
 `@Column`
  `created_by_id: number;`

  `@BelongsTo(() => User, 'created_by_id')`
  `created_by: User;`

  `@BelongsToMany(() => User, () => ProjectsUsers)`
  `users: User[];`

  `// User model`
  `@BelongsToMany(() => Project, () => ProjectsUse

[2018-02-09 13:52] ReneHollander opened #296 "Cannot read property 'createdAt' of undefined"
I am trying to use sequelize-typescript instead of MongoDB in [Angular-Full-Stack](https://github.com/DavideViolante/Angular-Full-Stack). They already provide multiple tsconfigs. I only added `"target": "es6"` to the config in `server/` because I am using sequelize v4, but I am always getting the following error:
[code]

Running it directly with `node --inspect --require ts-node/register app.ts` w

[2018-02-09 14:09] RobinBuschmann commented on #296
Hey @ReneHollander the following line causes the issue: https://github.com/ReneHollander/sequelize-not-working/blob/master/server/app.ts#L32

Since you're compiling your source files first and running the application afterwards, there are no ts files any more in your `dist/server/models` folder. That means the `User` model is never initialized. So you need to change the glob to `/models/*.model.js

[2018-02-09 14:12] ReneHollander commented on #296
Ah yes, that makes sense. It is now working es expected!
Thank you!

[2018-02-09 14:12] #296 closed

[2018-02-09 18:28] RobinBuschmann commented on #295
Hey @kjamrog, can you provide the code of the creation call?

[2018-02-09 18:38] kjamrog commented on #295
Hey, thanks for quick reply.
I'm just creating Sequelize object and calling sync() method. Everything works fine when I remove one of the relations from Project model.

[2018-02-09 18:44] kjamrog commented on #295
I double checked now and the error appears when creating Sequelize object, even before calling sync() method

[2018-02-09 19:10] RobinBuschmann commented on #295
Hmm, I cannot reproduce it. Can you provide an example repository so that I can have a look at?

[2018-02-09 19:15] RobinBuschmann commented on #294
Hi @jaydp17, thanks for reporting, but these typings need to be added to the sequelize type definitions instead. So it is not part of sequelize-typescript https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts :)

[2018-02-09 19:15] #294 closed

[2018-02-09 22:32] kjamrog commented on #295
When trying to create some minimal code snippet to reproduce it, I found out what is the problem. In Project model I had defined scope in which I included User model without 'as' keyword. Something like that:

[code]

After adding 'as' keyword it works as expected.

Anyway, thank you very much for your time!

[2018-02-09 22:54] RobinBuschmann commented on #295
You're welcome :)

[2018-02-09 22:54] #295 closed

[2018-02-09 22:54] #290 closed

[2018-02-10 13:08] ReneHollander opened #297 "Compound Keys"
I am using compound keys in my model. For example I have a city table which uses the postcode and name as a compound key:
[code]
Which results in the following create which looks correct:
[code]

I then want to reference this table from my user table:
[code]
But as you can see, no foreign key constraints are added to the table:
[code]

I am assuming I have to somehow reference the actual attribute

[2018-02-12 09:55] Djay77 opened #298 "Unique index on 2 or more fields"
Hello,

Is it possible to index 2 (or more) fields as unique like in the official documentation  ? : http://docs.sequelizejs.com/manual/tutorial/models-definition.html#indexes

`indexes: [
    {
      unique: true,
      fields: ['yyy', 'xxx']
    }]`

Thanks you

[2018-02-12 12:00] Arloh1 commented on #266
This is because @ForeignKey is more a helper for the @BelongsTo, @BelongsToMany and so on annotations then an independent decorator. In your case, since you need to define the foreign keys in the @BelongsTo annotation, you can omit the foreign key annotated properties completely.

Ones might consider extending the functionalities of the @ForeignKey decorator...

[2018-02-12 18:41] RobinBuschmann commented on #298
Hey, sure, try it like so:

[code]

[2018-02-12 19:09] RobinBuschmann commented on #297
Hey @ReneHollander, this is not working with associations only, you need to use scopes additionally. See here a discussion about it: https://github.com/sequelize/sequelize/issues/311

And here is the documentation of scopes in associations: http://docs.sequelizejs.com/manual/tutorial/associations.html#scopes

If you have issues getting this to work, just come back and I try to help you with this :

[2018-02-12 19:28] ReneHollander commented on #297
Thanks for getting back! I actually found that issue and with that I gave up and tried using [typeorm](https://github.com/typeorm/typeorm). But typeorm is also not behaving correctly with composite keys. I will try it again with sequelize. (I also did not see the hint with the scopes...)

[2018-02-12 19:55] #247 closed

[2018-02-12 19:58] #251 closed

[2018-02-12 20:03] #260 closed

[2018-02-12 20:21] #285 closed

[2018-02-12 21:05] #278 closed

[2018-02-13 07:08] chaoxihailing commented on #289
I sorry about this problem that I used not mapping data in userOrganization.

[2018-02-13 07:08] #289 closed

[2018-02-13 07:42] chaoxihailing opened #305 "how to use unique key instead of primary key in one-to-one assoction"
I have two model `AdminUser`, `Organization`, and I want to use `unique key` `Organzation.code` assoction `AdminUser.organizationCode` instead of primary key `id`
[code]
but sql query is still use `organization.id` associate
![image](https://user-images.githubusercontent.com/17508916/36138300-d191f204-10d3-11e8-98dc-2d26a11af3ce.png)

how to make right associate like ``AdminUser`.`organizationCode

[2018-02-13 08:52] jtrujillo7 opened #306 "Multiple tables of same Model"
Hi,

Is there a way to have multiple tables (different table names) in the same database using a single model definition?

Hacking around I found, given a Model Customer
[code]
And from here I could sync() and save() to the alternate table name. Maybe there's a more standard way...
Thanks!

[2018-02-13 15:49] Djay77 commented on #298
Damn, I tried with :

`indexes: {
        unique: true,
        fields: ['scope', 'path']
    }`

Thanks you 👍

[2018-02-13 15:49] #298 closed

[2018-02-13 21:00] RobinBuschmann commented on #305
Hey @chaoxihailing, actually you need to use `targetKey` like so:

[code]

⚠️But this doesn't seem to work with `HasOne`.  Regarding (this)[https://github.com/sequelize/sequelize/issues/8105] this is an issue with sequelize.

So you could use `@HasMany` as a workaround :/

[2018-02-13 21:04] RobinBuschmann commented on #306
Hey @jtrujillo7 you could use inheritance to achieve this. So, no, you will need separate models, but you could define one model from which other models will inherit:

[code]

What do you think?

[2018-02-14 08:17] jtrujillo7 commented on #306
It's a beautiful solution.
Just one detail that I am confused with, indexes.
Here is an attempt to create two tables with the same model and index structure:

[code]
Trying to add the index in the `@Table` decorator give that ts error that, frankly, I don't understand.
The only way I've found would be adding the indexes after the tables are created with

`sequelize.queryInterface.addIndex('Custome

[2018-02-14 09:07] RobinBuschmann commented on #306
Indeed, that's strange. tsc doesn't seem to be able to infer the type correctly. But annotating indexCustomer with the actual type `DefineIndexesOptions ` fixes this:

[code]

[2018-02-14 14:41] RobinBuschmann commented on #274
Hey @snewell92 any progress on this? 🙃

[2018-02-14 14:50] snewell92 commented on #274
I figured out that the sequelize CLI only supports v3, not v4.

[2018-02-14 14:51] snewell92 commented on #274
@SamD If you are using v3 of Sequelize, there's no reasons the Sequelize CLI can't be used. If you are using v4 of Sequelize then refer to this issue: https://github.com/sequelize/cli/issues/441#issuecomment-365488402

[2018-02-15 08:13] jtrujillo7 commented on #306
Perfect, thanks so much!

[2018-02-15 08:13] #306 closed

[2018-02-16 21:05] rochapablo opened #307 "Cannot read property 'hasOwnProperty' of undefined"
When I try to run on Heroku I got:

[code]

Running locally it's all working.

[code]

[2018-02-16 21:20] rochapablo commented on #307
Oops, sorry! I wasn't setting the right environment.

[2018-02-16 21:20] #307 closed

[2018-02-17 06:19] leonetosoft opened #308 "Error in use operator aliases"
I am not able to use operators like $ or, $ and ... is accusing error
[code]

[2018-02-18 13:38] RobinBuschmann commented on #308
Hey @leonetosoft can you provide the actual error?

[2018-02-18 15:44] doovers opened #309 "Update with associations"
With the following models & associations, how can I perform an update with this JSON?

I've spent a day trying to do this and don't know why I can't figure it out!

[code]

[code]

[code]

[code]

[2018-02-18 18:09] Darkseal commented on #292
Other than setting the `strictPropertyInitialization` flag to `false`, you can also change your TS code and use the new _definite assignment assertion_ modifiers for the affected properties.

For additional info on that (and other workarounds/fixes), [read this post](https://www.ryadel.com/en/ts2564-ts-property-has-no-initializer-typescript-error-fix-visual-studio-2017-vs2017/).

[2018-02-20 18:49] CFCSystem commented on #308
Hello!
Utilizando o operador $or está dando erro de compilação typescript:

Script: `user.findAll({
            attributes: ['id', 'nickname', 'email'],
            where: {
                $or: [{ email: { $like: userLogin + '%' } },
                { nickname: { $like: userLogin + '%' } }],
                busines_id: busines_id
            },
            raw: true
        });`

`TSError: ⨯ Unab

[2018-02-20 18:50] CFCSystem commented on #308
I had to use it this way:

`entities.user.findAll({
            attributes: ['id', 'nickname', 'email'],
            where: {
                [Sequelize.Op.or]: [{ email: { $like: userLogin + '%' } },
                { nickname: { $like: userLogin + '%' } }],
                busines_id: busines_id
            },
            raw: true
        });`

[2018-02-20 18:51] leonetosoft commented on #308
@RobinBuschmann
Hello!
Utilizando o operador $or está dando erro de compilação typescript:

Script: `user.findAll({
            attributes: ['id', 'nickname', 'email'],
            where: {
                $or: [{ email: { $like: userLogin + '%' } },
                { nickname: { $like: userLogin + '%' } }],
                busines_id: busines_id
            },
            raw: true
        });`

[2018-02-21 00:53] Toxicable opened #310 "How to share models between server and browser"
I'd like to share my models between front and backend so I only have one definition, but that currently appear to be possible since importing any class with the annotations in them brings in all the Nodejs binaries such as `dns` which cannot be used on the browser

[2018-02-21 18:37] saachinsiva opened #311 "findAll does not populate dataValues in Model instance"
We are facing issue with very basic model where findAll methods returns all the value as null except for the primary key in the dataValues but however we find that all the values are populated in previousDataValues butif we use raw=true, we can get the actual value but not as Model instance. Please see below the code. Please let me know what are we doing wrong here.

Note : The data already exists

[2018-02-21 19:11] RobinBuschmann commented on #311
Hey @saachinsiva this is because you're setting them `null`. If you think about how an object is instantiated: The values which get mapped from the database will be initialized in the super call - your `= null` initialization will happen afterwards. So you can imagine it like:

[code]

So you need to omit the `null` initialization and everything should work very well 😊

[2018-02-21 19:23] RobinBuschmann commented on #309
Hey @doovers did you this example: https://stackoverflow.com/questions/33918383/sequelize-update-with-association

Regarding this issue https://github.com/sequelize/sequelize/issues/7703, this feature doesn't seem to be implemented with `Model.update`

[2018-02-21 19:24] saachinsiva commented on #311
@RobinBuschmann

Thanks for the information. I just figured it myself and about to reply.  Everything is working fine now after I removed the initialization.

[2018-02-21 19:24] #311 closed

[2018-02-21 19:32] doovers commented on #309
@RobinBuschmann Yes I saw that post. I have been successful in updating a `HasOne` association like this:

[code]
But my customer model has `HasMany` associations for phone and address so I'm unsure how to do this. My goal is that the array of addresses and phones is updated with the customer object.

[2018-02-21 19:34] RobinBuschmann commented on #310
Hey @Toxicable, i think this won't be possible without installing `sequelize` and `sequelize-typescript` on the frontend as well, which won't work in a browser.

What about using interfaces instead? These interfaces can then be implemented by your backend- and frontend classes or  maybe you can use interfaces only on frontend?

[2018-02-21 19:46] Toxicable commented on #310
Yup I'm doing the Interface approach at the moment. Like so
[code]
Just would be nice if we could just use the same class on the frontend instead.
Maybe providing a shim for the decorators that can be resolved by the frontend would resolve the `sequelize` dependency?

[2018-02-21 20:07] RobinBuschmann commented on #309
Unfortunately you will need to do it manually. Ideally within a db transaction.

[2018-02-21 20:14] doovers commented on #309
@RobinBuschmann Is it a case of deleting the existing address and phone objects and adding the new? Do you have an example of how to do this?

[2018-02-22 01:58] chaoxihailing commented on #305
thanks，it can work normally

[2018-02-22 01:58] #305 closed

[2018-02-22 13:50] Relik77 opened #312 "Association "HasOne" & scope"
Hi,

With sequelize it's possible to use "scope" with "hasOne" relation.
For exemple for :
[code]

it works, but it would be necessary to update ```AssociationOptionsHasOne``` interface to avoid a typescript error :

[code]

[2018-02-25 06:38] kokominaj commented on #46
Any updates on this ?

[2018-02-25 15:29] RobinBuschmann commented on #312
Thank you for reporting!

[2018-02-26 14:38] Olian04 opened #316 "TypeError: Class constructor Model cannot be invoked without 'new'"
I'm trying to use `sequelize-typescript` like this:
[code]
But its throwing a really weird error. It's saying that `Class constructor Model cannot be invoked without 'new'` and then it point at some random part of the code, that has nothing to do with `sequelize-typescript`, and its a different part each time i make a change to the code (no matter how small of a change). But the error goes away if

[2018-02-26 15:50] RobinBuschmann commented on #316
Hey @Olian04, you need to set `target` at least to `es6` in `tsconfig.json`

This is because es5 classes cannot inherit es6 classes, see here https://stackoverflow.com/questions/30689817/es6-call-class-constructor-without-new-keyword

[2018-02-26 16:00] Olian04 commented on #316
@RobinBuschmann Thank you, but please read the entire issue.

[2018-02-26 16:31] RobinBuschmann commented on #316
Are you pointing to the `Unhandled rejection SequelizeDatabaseError: SQLITE_ERROR: no such table: User` issue? Did you create the table before creating a user?

[2018-02-26 17:14] Olian04 commented on #316
@RobinBuschmann Shouldn't `sequelize-typescript` do that for me when i call `create` on a table object with no table?

[2018-02-26 17:43] Olian04 commented on #316
@RobinBuschmann the problem with that is that 'sync' doesn't exist on Sequelize according to the typings. I get a typescript error when I try to use it.
I have to '@ts-ignore' it.

[2018-02-26 17:54] RobinBuschmann commented on #316
It is part of the sequelize typings, see here https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/models/Sequelize.d.ts#L7 and here https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L6033

[2018-03-02 08:57] chaoxihailing opened #317 "how to use unique key instead of primary key in many-to-many assoction"
I have three model User, Organization, UserOrganization   and I want to use unique key Organzation.code assoction UserOrganization.organizationCode instead of primary key id

    ---User
    Class User extends Model<User> {
    @PrimaryKey
    @AutoIncrement
    @Column
    public id: number;

    @Unique
    @Column
    public policeNumber: string;

    @BelongsToMany(() => Organization, () => Us

[2018-03-03 13:11] #276 closed

[2018-03-03 13:15] RobinBuschmann commented on #282
Hey @Danlock which exact strict option do you mean?

[2018-03-03 13:16] RobinBuschmann commented on #316
Hey @Olian04, did you get it working?

[2018-03-03 13:19] Olian04 commented on #316
@RobinBuschmann yes I did. Sorry I forgot to respond.

[2018-03-03 13:38] RobinBuschmann commented on #316
No problem :) then I close this issue now

[2018-03-03 13:38] #316 closed

[2018-03-04 06:51] #184 closed

[2018-03-04 19:23] RobinBuschmann commented on #317
`targetKey` would be the proper option for that. Unfortunately this is only supported for `BelongsTo` associations, not for `BelongsToMany` in sequelize. But there is an open PR for that feature https://github.com/sequelize/sequelize/pull/8143

[2018-03-04 22:17] Danlock commented on #282
[code]

Posted is my tsconfig.json

[2018-03-05 07:45] chaoxihailing opened #318 "SequelizeEagerLoadingError"
It is normal `manyTomany` association example,and I did `sequelize.addModels([User,Organiztion,UserOrganization]);`

    class User extends Model<User> {
    @PrimaryKey
    @AutoIncrement
    @Column
    public id: number;
    }

    class Organization extends Model<Organization> {
    @PrimaryKey
    @AutoIncrement
    @Column
    public id: number;
    }

    class UserOrganization extends Mode

[2018-03-05 09:54] chaoxihailing commented on #318
I find it can work like below

    let result = await User.findAll({
        where: {
            policeNumber: { $in: userCodes },
        },
        include: [{ model: Organization }],
    });

[2018-03-05 09:54] #318 closed

[2018-03-06 03:37] chaoxihailing opened #319 "Two manytomany association eagerLoad Problem"
I have two `ManyToMany` model `CourseSkill` and `CourseSkillUser`，and I want to these model  associate to get `User` but it happen error ` CourseSkillUser is not associated to Skill`.

these model define like below:

    class Course extends Model<Course> {
    @PrimaryKey
    @AutoIncrement
    @Column
    public id: number;

    @BelongsToMany(() => Skill, () => CourseSkill)
    public skills: S

[2018-03-06 10:53] maloy1984 opened #320 "Uncaught ReferenceError: Model is not defined"
Hello.
Can anybody help?
I have error with relations.
I have two models

`import {Column, DataType, HasMany, Model, Table} from 'sequelize-typescript';
import {Barcode} from './Barcode';

@Table({
    tableName: 'nomenclature'
})
export class Nomenclature extends Model<Nomenclature> {
    @Column({
        allowNull : false,
        primaryKey: true,
        type      : DataType.BIGINT
    })

[2018-03-06 19:51] frankyjquintero opened #321 "defined models: modelPaths fail"
Configuration
To make the defined models available, you have to configure a Sequelize instance from sequelize-typescript(!).

import {Sequelize} from 'sequelize-typescript';

const sequelize =  new Sequelize({
        database: 'some_db',
        dialect: 'sqlite',
        username: 'root',
        password: '',
        storage: ':memory:',
        modelPaths: [__dirname + '/models']
});
Before yo

[2018-03-06 20:27] RobinBuschmann commented on #321
Hey @frankyjquintero can you describe your issue in english, please? :) If this is not so easy for you, you could provide a link to your github repository, in which this issue is demonstrated. Then I can have a look at this :)

[2018-03-06 20:48] RobinBuschmann commented on #319
This is because `Skill` - which is the "parent" model in this query -  doesn't know about an association to  `CourseSkillUser`. You didn't define one in `Skill`.
The problem with that is, you can not define an include for a through model, which would be necessary to get the associated `CourseSkillUser` entries. A through model is implicitly used to resolve a many to many relation. So you need to d

[2018-03-06 20:57] RobinBuschmann commented on #320
Hey @maloy1984, I've tried your example - everything works very well for me. Can you provide a github repository with your example, which reproduces the issue?

[2018-03-07 01:52] chaoxihailing commented on #319
I see these information, Does it mean I have to not use belongsToMany relation with a through model used？ I have to remove model `CourseSkill`, and modify `CourseSkillUser`
association model `Course`，`Skill`, `User`.

model define

    class Course extends Model<Course> {
    @PrimaryKey
    @AutoIncrement
    @Column
    public id: number;

    @BelongsToMany(() => Skill, () => CourseSkillUser)

[2018-03-07 10:36] mossaabzaroui opened #323 "create / alter database from models"
Hello,

What is the best way to update the database when adding or modifying a model. Without using sync ({force: true}) that makes a Drop. We want to update our development and production environments automatically.

Thank you.

[2018-03-08 10:11] damavarunkumar opened #324 "module.js:538 error"
when i am run npm -v i am getting

 module.js:538 error

error: cannot find module 'ini'
at function.module._resolveFilename <module.js:536:15>

[2018-03-08 12:30] jhonyralph opened #325 "GMT sequelize deprecated String based operators are now deprecated."
GMT sequelize deprecated String based operators are now deprecated. Please use Symbol based operators for better security, read more at http://docs.sequelizejs.com/manual/tutorial/querying.html#operators at node_modules/sequelize/lib/sequelize.js:242:13

[2018-03-08 12:32] #325 closed

[2018-03-08 13:39] Diluka commented on #238
released in v0.6.3(3309260)

[2018-03-08 13:39] #238 closed

[2018-03-08 13:48] saachinsiva opened #326 "Error while debugging"
Hi

We are developing our node app in Typescript using VSCode. We start our application using ts-node-dev E.g. (ts-node-dev ./src-ts/start.ts) which works fine but when we try to debug the application, it fails with the below error.

`
TypeError: Class constructor Model cannot be invoked without 'new'
    at new AddressTypeSqlz (C:\server\src-ts\standard\address\dao\sqlz\AddressTypeSqlz.ts:31:42)

[2018-03-08 17:24] RobinBuschmann commented on #324
Hey @damavarunkumar you've run `npm -v` and got  `module.js:538 error`, right? This sounds like an npm issue in general to me - not related to sequelize-typescript. Have you tried to reinstall npm?

[2018-03-08 17:25] RobinBuschmann commented on #323
Hey @mossaabzaroui , see https://github.com/RobinBuschmann/sequelize-typescript/issues/274

[2018-03-08 17:40] RobinBuschmann commented on #326
Seems like the `compilerOptions` are ignored in your second case. Are you sure, that the `compilerOptions` from the `tsconfig.json` are used?

[2018-03-08 17:45] RobinBuschmann commented on #135
Issue is closed due to no response

[2018-03-08 17:45] #135 closed

[2018-03-08 17:47] RobinBuschmann commented on #167
Already fixed and released

[2018-03-08 17:47] #167 closed

[2018-03-08 17:48] RobinBuschmann commented on #168
closing issue due to no response

[2018-03-08 17:48] #168 closed

[2018-03-08 17:50] RobinBuschmann commented on #178
@SaadiKarim Do you still have this issue or can this be closed now?

[2018-03-08 17:50] RobinBuschmann commented on #185
Closing this issue due to no response

[2018-03-08 17:50] #185 closed

[2018-03-08 17:51] #188 closed

[2018-03-08 17:51] RobinBuschmann commented on #207
Closing this issue due to no response

[2018-03-08 17:51] #207 closed

[2018-03-08 18:09] saachinsiva commented on #326
Can you please let me know how can I verify that? Also , wanted to let you know that if I remove all of my Sequelize classes, the debugger works fine, its failing as soon as I add annotation.

I am now able to debug the app with the below configuration. Created tsc tasks and then using launch program pointing to the generated file.However I would prefer to use ts-node if possible.

Task definition

[2018-03-08 18:10] SaadiKarim commented on #178
I'm sorry I didn't reply sooner. We manage to get rid of this error but I have absolutly no clue how. It just worked. You can close the issue. Sorry again for the late reply

[2018-03-08 18:18] RobinBuschmann commented on #178
Thanks for the response :)

[2018-03-08 18:18] #178 closed

[2018-03-08 18:48] RobinBuschmann commented on #326
The only way I found to verify this is using the debugger and the help of my IDE (webstorm):
If the compilerOptions aren't used, the compiled output of es6 classes will be functions (cause the default target will be used, which es `es3`), in case of es2017 the output of these classes will be classes of course. So I stopped the debugger after a test class and  the IDE shows the difference between b

[2018-03-08 20:15] devuxer commented on #167
Thanks, Robin. This finally allowed me to eliminate that warning about string-based operators.

[2018-03-09 07:17] damavarunkumar commented on #324
@RobinBuschmann :- I have re install npm but still error remains same do we nee to change proxy settings.

[2018-03-13 01:27] doovers opened #327 "Alias cannot be inferred"
Given the following models, each of the associations work fine in isolation but not if used together. I'm getting:

What am I doing wrong?

[code]

[code]

[code]

[2018-03-13 07:53] RobinBuschmann commented on #327
Hey @doovers see this https://github.com/RobinBuschmann/sequelize-typescript#multiple-relations-of-same-models

[2018-03-13 14:10] snewell92 commented on #274
Oh, the day after my previous comment this happened: https://github.com/sequelize/cli/issues/441#issuecomment-365920223

So now the sequelize cli (which has migration support) is compatible with sequelize v4, and published to npm. Perhaps it will work now? I followed the docs and it seems like it just needs the model definitions loaded into memory, which you can do pretty easily.

I do want to rei

[2018-03-13 14:48] RobinBuschmann opened #328 "Add a how-to deal-with-db-migrations to the docs"
As mentioned here #274 and due to https://github.com/sequelize/cli/issues/441#issuecomment-365920223 we should inform users of sequelize-typescript how to deal with db migrations.

[2018-03-13 14:49] RobinBuschmann commented on #274
@snewell92 Perfect. Thanks you for the information. A blog post would be great as well :)

[2018-03-13 14:49] #274 closed

[2018-03-13 15:40] doovers commented on #327
@RobinBuschmann That's exactly the resource I used to try to do this. I'm doing what it says to do there but I'm still getting an error.

I've tried all of the following variants with the same result:

[code]
[code]
[code]

[2018-03-13 16:54] RobinBuschmann commented on #327
Sry, I have overseen that.

You need to do it for both directions. So for the `BelongsTo` and the `HasMany` annotations. In your first post you only did it for `HasMany `.

[2018-03-13 17:22] JiamingLinn commented on #326
I notice that it happens when the `target` option set to lower than `es6`. Could it fixed to surpport `es5`?

[2018-03-13 17:33] RobinBuschmann commented on #326
Since sequelize 4.X es6 classes are used. So if it is a requirement for you to compile to es5, you need to install sequelize 3.X

[2018-03-13 22:38] doovers commented on #327
@RobinBuschmann Is this what you mean? I've tried this and it doesn't work either... Apologies if I don't understand you correctly.

[code]

[code]

[code]

[2018-03-14 15:13] RobinBuschmann commented on #327
@doovers Does the error happen while initializing these models or when trying to retrieve data?
If it happens when retrieving data, you also need to define what exact `include` do you want to use. Therefor you have to set `as` explicitly like:

[code]

[2018-03-14 15:45] doovers commented on #327
@RobinBuschmann That was the problem! Thanks for the help!

[2018-03-14 15:45] #327 closed

[2018-03-14 15:52] doovers commented on #309
@MaheshCasiraghi I think I'm achieving the same thing with this code for a `HasOne`:

[code]
But how would I achieve something similar for a `HasMany`? This is my current approach:

[code]

@RobinBuschmann Is the above equivalent to what you were suggesting regarding the transactions?

[2018-03-15 07:24] RobinBuschmann commented on #309
@doovers What I mean with transactions are db transactions. See http://docs.sequelizejs.com/manual/tutorial/transactions.html

[2018-03-15 09:05] mossaabzaroui commented on #323
Thank you @RobinBuschmann

[2018-03-18 11:47] MikeDabrowski commented on #138
@ibox4real Huge thanks! I also use routing-controllers. Finally I was able to create many to many and got the exact problem you had here. What will I loose by disabling class-transformer, and maybe I can do this without disabling it (perhaps moving my sequelize-ts code somewhere else)?

[2018-03-18 12:44] MikeDabrowski opened #329 "Load models from path issue"
Hi, past two weeks I tried to create sequelize many to many associations and failed again and again. Then I tried your library and it worked almost out of the box.

But I encountered an issue with loading models to instance.
I am using latest everything, I am developing on windows but target is linux.

Here's the directory structure:
[code]
For example Role.ts is exporting default class Role.
[cod

[2018-03-18 13:33] MikeDabrowski commented on #329
I can move sequelize config to index.ts and it works fine there. Seems like it has wrong path or ignores it when defined in other place.

[2018-03-18 13:58] sant123 commented on #231
Hi, any advance on this? Just asking 😝🤭

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-18 15:06] MikeDabrowski commented on #329
I realized it works by normal sql rules from join table.

[2018-03-18 15:31] RobinBuschmann commented on #329
Hey @MikeDabrowski, thanks for your feedback :) So you already solved your issue now?

[2018-03-18 15:33] MikeDabrowski commented on #329
No, still can't auto load models. I edited the issue because I realized the answer to the other question :)

[2018-03-18 15:54] RobinBuschmann commented on #329
Are you using tsnode or do you compile the ts files first? Regarding the last option: Did you define a different directory for the output?

[2018-03-18 16:02] MikeDabrowski commented on #329
I use tsnode, my run conf: `nodemon --exec ./node_modules/.bin/ts-node -- ./src/index.ts`
Output dir is `dist` but i haven't tried to build it yet.

I also use swaggerUi which loads apis like this `[__dirname + '\\controllers\\*.ts']` which works. It also uses `__dirname` so might give us some clue. I think it is a matter of proper paths.

I also console.logged sequelize instance to look for any p

[2018-03-18 16:17] RobinBuschmann commented on #329
Ok. But wouldn't be the correct path from `instances/sequelize.ts` to the models `__dirname + '/../models'` or `__dirname + '/../models/*.ts'`. So you need to go one directory up.

[2018-03-18 16:21] MikeDabrowski commented on #329
Yeah I thought about it too, `__dirname` already points to instances and `+` just concatenates the rest.
Effect:
`Error: Model not initialized: "Role" needs to be added to a Sequelize instance before "findAll" can be called.`

Noob question: does it matter at what point `new Sequelize` runs?

[2018-03-18 16:25] RobinBuschmann commented on #329
Can provide an example project, which reproduces the issue?

[2018-03-18 16:55] MikeDabrowski commented on #329
Sure, https://github.com/MikeDabrowski/sequelize-ts-example

[2018-03-18 17:25] RobinBuschmann commented on #329
Seems like you're never importing `instances/sequelize.ts`, so that the models never getting added before they get used in your controllers.

[2018-03-18 17:28] RobinBuschmann commented on #231
Currently not, but this will be the next big thing after dropping sequelize v3 support what I will do. (Dropping sequelize v3 support is currently in progress :))

[2018-03-18 17:32] MikeDabrowski commented on #329
Wow, so simple mistake... I don't know I somehow assumed it would by picked up by something along the way. Thank you for your help and time.

[2018-03-18 17:59] RobinBuschmann commented on #329
You‘re welcome :)

[2018-03-18 17:59] #329 closed

[2018-03-18 18:14] MikeDabrowski commented on #309
Do I understand it correctly: in order to update associated entities I need to remove them and use create to add them back?

[2018-03-18 21:22] #326 closed

[2018-03-19 01:21] sanewell92 opened #330 "Typescript 2.7.2 constructor function"
Got an error, originating from the sequelize type definitions.

[code]

Coming from `Sequelize.d.ts`.

Anyone else getting this error? I'm using typescript 2.7.2 on an Ubuntu machine.

[2018-03-19 11:25] RobinBuschmann commented on #330
Hey @sanewell92 thanks for reporting. Unfortunately I cannot reproduce the issue. Can you provide an example repo which demonstrates the problem? Thank you

[2018-03-19 13:41] sanewell92 commented on #330
Try cloning [this repo](https://github.com/sanewell92/test-sequelize-ts-2.7) and then `npm install && npm run build`

[2018-03-20 01:17] sant123 opened #331 "Primary key"
This text is from sequelize v3? Because I'm working in version 4 and with this config...

[code]

I'm getting this response after `.save()` method:

![image](https://user-images.githubusercontent.com/7959437/37630288-bcbd59ce-2bb1-11e8-919d-be534e917890.png)

You can see `id` is null and a property named `null` is created, I tested in Sequelize and this happens when you forget to put autoIncrement

[2018-03-20 05:52] sant123 opened #332 "new Instance not refresh properties when save method has fields config."
I have this table...

id: number;
name: string;
age: number;

And this instance...

`const info = new Info({ id: 7845, name: "Santi", age: 23 })`

If I call

`info.save({ fields: ["name", "age"] })`

I expect Sequelize brings the new generated `id` by the DB in the field `info.id` but instead I get the previous `id`. However in the DB is persisted the generated `id`.

I tested with `Info.create` a

[2018-03-20 08:56] chanlito opened #333 "<Model>.create or .update ... not showing in vscode intellisense?"
@RobinBuschmann but click to go to definition works. What could be the issue here?

[2018-03-20 09:12] RobinBuschmann commented on #333
Which sequelize-typescript version are you using and which of vscode?

[2018-03-20 09:13] chanlito commented on #333
It seems that it doesn't show with typescript@2.7.+, but shows on 2.6.2

[2018-03-20 10:21] chaoxihailing opened #334 "how to associate one model through cross-model in query"
I have one `momeny-to-many` model `CoureSkill`, and it is assciate to `CourseExamStatus`, how to query `CourseExamStatus` through `CoureSkill`.

it is query write, end it is error

       let skillCourses = await Skill.findAndCountAll({
            limit: limit,
            offset: offset,
            where: whereQuery1,
            include: [{
                model: Course,
                where:

[2018-03-20 13:52] sant123 commented on #333
Yes, it's a Typescript issue that will be resolved in version 2.8. You can get more information here https://github.com/Microsoft/TypeScript/issues/21711

[2018-03-20 13:58] RobinBuschmann commented on #333
@sant123 Thanks for linking this with the actual ts issue :)

[2018-03-20 14:00] sant123 commented on #333
Happy to help @RobinBuschmann 😄

[2018-03-20 16:20] dkuida opened #335 "AllowNull(false) on foreign key"
Hi
if I have two models
[code]
if I try to set @AllowNull(false) on
[code]

in order to constraint the creation of a Patient only wiht clinic I get
        throw new Error("@Column annotation is missing for \"" + propertyName + "\" of class \"" + target.constructor.name + "\"" +
        ^

Error: @Column annotation is missing for "clinicId" of class "Patient" or annotation order is wrong.

in sequ

[2018-03-20 16:26] stormit-vn opened #336 "How to use transaction with async/await?"
Hi,

I am facing an issue related to transaction, my code as below

[code]

Then when I trying to execute create entity within transaction, but rollback does not work
[code]

To make this works, I have to pass the trx manually
[code]

Do we have any solution or workaround to fix this issue?

[2018-03-20 18:55] sant123 commented on #332
https://github.com/sequelize/sequelize/issues/9207

[2018-03-21 09:04] stormit-vn commented on #138
Hi,

I am facing this issue, it will works if we set target to es6, but when setting target to es6, the sequelize transaction will not working anymore. Does anyone know how to fix this issue without changing target or how to make transaction works with es6?

Thanks in advance!

[2018-03-22 13:45] #332 closed

[2018-03-22 16:47] doovers commented on #309
@RobinBuschmann Nice, thanks for that. I now have a working solution:

[code]

[2018-03-22 16:47] #309 closed

[2018-03-22 17:11] RobinBuschmann commented on #336
Hey @stormit-vn according to the sequelize docs (http://docs.sequelizejs.com/manual/tutorial/transactions.html) there is no other way than passing them manually to get the transactions to work. Or have I overseen something?

[2018-03-22 17:19] RobinBuschmann commented on #331
Hi @sant123 as the docs say, the id is already inherited from the base model. So when defining your own primary key(which is achieved with the `PrimaryKey` Decorator), it is up to you how this key will behave. That‘s why I would prefer the explicit solution: Adding `Autoincrement` manually. However if you want to have the default behaviour, just don‘t create your own primary key and use the inheri

[2018-03-22 17:36] sant123 commented on #331
Ohhhhh understood. Thank you!

[2018-03-22 17:36] #331 closed

[2018-03-22 18:40] RobinBuschmann commented on #330
@sanewell92 thanks for creating this repo. The compiler option `esModuleInterop` is causing this error. This is because `esModuleInterop: true` requires exports like `export =` to be imported with `import target from 'source'`. Since the sequelize typings use this format (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L6620) it is throwing this error.
So

[2018-03-22 18:52] RobinBuschmann commented on #319
@chaoxihailing Sry for the late response. Yes, to get this working like you want to, you need to use `HasMany` and `BelongsTo`.

[code]
And now you should be able to request the data like:
[code]

Does this solve your other question (https://github.com/RobinBuschmann/sequelize-typescript/issues/334) too?

[2018-03-22 19:07] RobinBuschmann commented on #335
Hey @dkuida, to achieve this, you either need to use `Column` annotation on your foreign key like:
[code]
or set `allowNull: false` on the relation annotation
[code]

[2018-03-23 02:54] stormit-vn commented on #336
@RobinBuschmann Rob actually, I got it working using below code

[code]

As you can see, we need to assign the namespace to the original Sequelize object, not the one sequelize-typescript returns.

[2018-03-23 02:54] #336 closed

[2018-03-24 22:11] dkuida commented on #335
well the first approach is the one I tried fro the start but it returns
`@Column annotation is missing for "clinicId" of class "Patient" or annotation order is wrong.`
but the second one worked like a charm

thank you

[2018-03-24 22:11] #335 closed

[2018-03-25 14:46] RobinBuschmann commented on #200
Fixed by 87cc694

[2018-03-25 14:49] #297 closed

[2018-03-26 13:59] fareshan opened #338 "getters and setters"
How can I set getters and setters in sequelize-typescript ?
http://docs.sequelizejs.com/manual/tutorial/models-definition.html#getters-setters

[2018-03-26 14:01] fareshan commented on #338
sorry, that seems to be clear in doc
i did not search enough

[2018-03-26 14:01] #338 closed

[2018-03-27 01:17] chaoxihailing commented on #319
thanks your useful response, it does resolve my question.

[2018-03-27 01:17] #319 closed

[2018-03-27 01:17] #334 closed

[2018-03-27 18:01] tills13 opened #339 "HasMany (or, general association) + Accessors"
I'm trying to format the value of a `HasMany` field on a class

[code]

`set meta` is called, but `get meta` is never called. The value is present in the result of `Post.findAll({ include: [PostMeta] })`, but it's not being pulled from `get meta`.

[2018-03-28 20:04] doovers commented on #327
@RobinBuschmann I'm having a little more trouble with this because I'm trying to do the include in the default scope of the model. How can I do this?

I tried with:
[code]
But got:

I can't seem to figure out how to define the include in the default scope:
[code]

[2018-03-28 20:42] doovers commented on #135
@RobinBuschmann Same problem here

[2018-03-30 08:57] urielvan opened #340 "Proper way to define types"
Hello
When I define classes, I need to add some columns to every class. e.g. status, remark
To be simple, it goes like this.
[code]
When I using v0.6.1, it's ok with `var bar = new Foo ({ foo: 'foo' })`
But with v0.6.3, I cannot compile because `foo`  doesn't exists in type `FilteredModelAttributes<ModelBase>`

[2018-03-30 09:41] RobinBuschmann commented on #340
Hey @urielvan, this is because you do not pass the generic type up to `Model`, so that the type information for the constructor typings (which are defined in `Model`)  cannot know of `Foo`'s properties.
Try it like so instead:

[code]

[2018-03-30 09:49] RobinBuschmann commented on #339
Hi @tills13, thanks for bringing this up. Unfortunately getters for associations aren't supported by sequelize.

Theoretically you could enable it, by implementing your own annotation like:
[code]
and use it like:
[code]

But since sequelize does some magic while resolving associations, this could lead to unpredictable errors... For example if you reduce your array values to strings, sequelize thr

[2018-03-30 10:17] urielvan commented on #340
@RobinBuschmann Thanks so much for the help ! 😄

[2018-03-30 10:22] #340 closed, assigned to nobody

[2018-03-30 22:52] TripleMap opened #341 "Completely confused in associations"
I have 3 tables. Users, users_layers, Layers

[code]

Could you help me to understand relations between tables.
It is necessary to receive the list of layers (their names from layer_name) by users, the list of users who use this layer.
I read sequelize docs, but it does not help me. Also try to get idea from examples, but it also didn't help me.

[2018-03-31 12:28] RobinBuschmann commented on #327
@doovers when do you the error? While initializing the models or when trying to retrieve data?

I couldn't reproduce it at all :/. Can you provide a full example?

[2018-04-02 16:29] chanlito commented on #333
Seems ok now with 2.8

[2018-04-02 16:29] #333 closed

[2018-04-03 15:42] saachinsiva opened #342 "Namespace collision for sequelize.QueryOptions?"
Hello

I am getting the below error

[code]

Following is part of my code

import { Sequelize } from 'sequelize-typescript';
[code]

In a different method :
[code]

I get this error on the query method second parameter.

Versions :

I do not get any error if I set my version of @types/sequelize to 4.27.5 .
Thanks

[2018-04-03 16:16] NobleUplift opened #343 "Is it possible to use attributes/rawAttributes with TypeScript model definitions?"
I make a lot of use out of reflection on my model definitions to determine how my resulting data is returned or saved, and I'm wondering if it's possible to access these attributes if I were to convert my application from vanilla Sequelize to TypeScript (my application is completely written in TypeScript except for Sequelize). I have 175 tables in my database so I'm hoping to generate them with [s

[2018-04-03 19:41] RobinBuschmann commented on #341
Hey @TripleMap, do I understand you correctly, that you got it working now? So that the only issue you have, is the user_layer prop on each element, right? when retrieving data via `Model.find({include: [...]})` and you want to get rid of `users_layers` property on every included result, you need to set in the include options `{include: [{model: layers, through: {attributes: []}]}`.

[2018-04-03 19:42] RobinBuschmann commented on #342
Hi @saachinsiva, did you install the sequelize typings additionally?

[2018-04-03 19:45] saachinsiva commented on #342
@RobinBuschmann

I did not install anything additionally other than updating my package.json file.

[code]

[2018-04-03 19:45] RobinBuschmann commented on #343
Hey @NobleUplift, this should be possible - under the hood sequelize-typescript uses native sequelize. So give it a try :) If you'll face any specific issue, I would be happy to help you with that.

[2018-04-03 19:47] RobinBuschmann commented on #342
`sequelize-typescript` already installs the sequelize typings and your additional redundant dependency to `"@types/sequelize": "^4.27.5",` can probably lead to issues. Please remove this dependency and give it another try :). Hopefully this helps

[2018-04-03 19:50] saachinsiva commented on #342
@RobinBuschmann

Thanks for helping me out. As I said earlier in my comments if hard set the version of sequelize to 4.27.5 everything works fine. I was trying to update the sequelize types to the latest version and it started breaking. But anyway it is not critical for us to upgrade right not and we are all set with using version 4.27.5

Thanks again.

[2018-04-04 00:06] rochapablo commented on #330
`skipLibCheck: true` worked, but when I try so do `.save()` I'm getting `this.lib.Database is not a constructor`

[2018-04-04 00:12] rochapablo commented on #330
Oops, I guess that it's because I was using `validateOnly: true,`. Still I'm getting access denied which it's odd, checking...

[2018-04-05 13:33] jtrujillo7 opened #344 "Fill model instance with object literal?"
I must be missing something elemental :

[code]
What I want to do is to fill the instance with the raw values but keeping the validations of typescript.

With

`let book:Partial<Book>=new Book;`

ts validates that field names are in Book but you can omit some non-optional field.

Is there a better approach to this?

[2018-04-05 17:24] RobinBuschmann commented on #231
Hey @alejandrogkl, good job 👍

Can you create a pull request, so that we can discuss your code? 🙂

[2018-04-05 17:37] RobinBuschmann commented on #344
Hey @jtrujillo7, with `book={title:"somethig"};` you're referencing a completely new object to your variable `book`. What do you want is assigning values to your existing object (which is an instance of `Book`), right? You can do so while initializing a model instance with
[code]
or if your model was already created:
[code]

[2018-04-05 17:53] RobinBuschmann commented on #308
@leonetosoft sorry, I have completely overseen your answer. Yeah I see, seems to be an issue with the sequelize typings. But since the usage of `$or`, `$in` and so on is deprecated in favor of using symbols instead, I wouldn't investigate this anymore. So I will close this issue, if it is ok for you?

[2018-04-05 17:54] RobinBuschmann commented on #321
Is this still an issue for you or can this be closed?

[2018-04-05 18:04] alejandrogkl commented on #231
done

[2018-04-05 19:45] aasmm7x commented on #292
Using the `!` modifier solved my problem without disable the property initialization rule!

Thanks @Darkseal

[2018-04-05 20:02] Durisvk opened #346 "$add not working (... is not a function in BaseModel)"
I am trying to call
[code]

where I have MyModel 1 : N Subscription relation.
[code]

[code]

the error I get is this:

[code]

It's trying to find a method `setSubscription` which is not present in BaseModel (this context)

I've also noticed after logging model's instance that there is this method much deeper nested than on highest level.

[2018-04-05 22:38] jtrujillo7 commented on #344
Hi Robin,

Yeah, thanks for your reply, I needed that clarification. Anyway what I was looking for was essentially object type checking of the properties passed to a model.

`new Book({titXXle:"sdf", price:34})`

Passes without error. I can not find a way to "secure" the assignments to a model.
thanks!

[2018-04-06 00:14] euler2718 opened #347 "Composite Foreign Keys"
I am trying to create a relationship with composite foreign keys (mssql).  I don't think this is supported, so I have tried to used a scope.
The resulting query is correct, but my sequelize model is only populating a single instance, not many.

Both Tables have 3 Fields with identical names (above as Q_ID, G_Code, T_Code) which determines the relationship:

**TableB.Q_ID** _REFERENCES_ **TableA.Q_

[2018-04-06 12:25] rhogeranacleto commented on #229
:pensive:

[2018-04-06 13:04] leonetosoft commented on #308
@RobinBuschmann By min is okay, it works normal the way I demonstrated. Thank you for your work!

[2018-04-06 16:55] RobinBuschmann commented on #344
@jtrujillo7 Which sequelize-typescript version are you using?

[2018-04-06 18:31] jtrujillo7 commented on #344
Hi,
I had 0.6.2. Upgraded to 0.6.3 and now it does the checks. Thanks!

[2018-04-06 18:31] #344 closed

[2018-04-06 19:53] Durisvk commented on #346
yeah you can close this issue, sorry for that

[2018-04-06 20:09] aa6my opened #348 "Webpack problem, how to solve it?"
`Field 'browser' doesn't contain a valid alias configuration`

The error shows like this. Try to googling still cannot find right answer

[2018-04-06 21:04] RobinBuschmann commented on #346
No problem

[2018-04-06 21:04] #346 closed

[2018-04-07 12:07] junior-ales commented on #330
I've spent a good amount of time dealing with this compilation error of `SequelizeOrigin` in `Sequelize` class. Maybe we could add something on the installation instructions about the `esModuleInterop` option, I'm up for opening a PR if you think it is appropriate @RobinBuschmann.

[2018-04-07 14:16] RobinBuschmann commented on #330
@junior-ales Sounds good :) For `sequelize-typescript@1.0.0` this won't be an issue anymore. But for now it is a good idea.

[2018-04-08 01:59] chanlito commented on #348
We need more information.

[2018-04-08 19:03] cavalor commented on #260
Hi @fareshan,

Write : `include: [{ all: true }]` instead of `include: { all: true }` solve the problem for me.

[2018-04-08 19:06] fareshan commented on #260
Hi @cavalor ,
This was fixed in the last version. And I no more need to add the 'as any'

[2018-04-09 05:08] sunzongzheng opened #349 "Property 'sync' does not exist on type 'Sequelize'"
## I got this:
![image](https://user-images.githubusercontent.com/12635613/38480178-891d9ef8-3bf6-11e8-936d-05cdd07dd9d4.png)

## model.ts like this:
![image](https://user-images.githubusercontent.com/12635613/38480197-a2b18b2c-3bf6-11e8-9d19-234ab1dd6f3f.png)

### Although I use ts-node to run it, it works well.
### How to avoid this error message?

[2018-04-10 03:17] chanlito opened #350 "Will sequelize-typescript work with sequelize v5?"
@RobinBuschmann , so Sequelize recently released https://github.com/sequelize/sequelize/releases/tag/v5.0.0-beta.2 with various breaking changes, so I wonder how will this affect sequelize-typescript v1 in the near future?

[2018-04-10 16:14] RobinBuschmann commented on #350
@chanlito Yes it should work. I've tested it a bit with https://github.com/RobinBuschmann/sequelize-typescript-example and it worked very well with v5.

[2018-04-11 06:41] dlemburg opened #352 "Problems with Model.bulkCreate()"
I'm trying to execute the following bulk create as follows:

[code]

This call does not break, but it does not insert new records. Here is a screenshot of the logged out results array- as you can see. all pertinent values are `undefined`:

![bulkcreate-bug](https://user-images.githubusercontent.com/17346002/38600220-40ddedfa-3d18-11e8-8b82-00e15046144b.PNG)

I have tried not instantiating new Enti

[2018-04-11 06:59] RobinBuschmann commented on #352
Hey @dlemburg `bulkCreate`, `create` and so on are expecting plain objects. Try it like so:
[code]

[2018-04-11 12:31] antonyarchukcodemotion opened #353 "Type issue with applying multiple scopes"
I have a few scopes on my model
[code]

Now I'd like to apply both at the same time.
I'm trying to do
[code]
It's ok by sequelize docs and it actualy works, but I'm getting an error by compiler:
`Error:(27, 40) TS2345: Argument of type '{ method: string[]; }' is not assignable to parameter of type 'string'.`

Looks like the declaration for `.scope` is a list of scopes w/o attributes (string[]) or

[2018-04-11 14:12] sunzongzheng commented on #349
@types/sequelize works well

[2018-04-11 16:40] dlemburg commented on #352
Great, thanks. That worked. Some of my earlier tests on different models did not work doing that same thing. So if anyone stumbles upon this, my suspicion is that it was breaking because the primary key column hadn't been properly assigned, or auto-increment hadn't been marked.

Thanks for the help!

[2018-04-11 16:40] #352 closed

[2018-04-12 15:41] jcarraway commented on #274
@snewell92 any update on the blog post or guide for migrations?

[2018-04-12 19:01] RobinBuschmann commented on #353
@antonyarchukcodemotion thanks for reporting. This was fixed with #322. But need to be published.

[2018-04-12 19:11] RobinBuschmann commented on #353
Is published now as beta release: `sequelize-typescript@0.6.4-beta.0`

[2018-04-13 13:52] Procaseycash opened #354 "Pivot table for many to many relationship auto creates unique for a column"
I have an issue with my pivot table, I defined unique to be false for each column but it keeps creating unique for the last column with foreign key but if I delete the unique constraint from indexes, i will be able to achieve the many to many relationship.. here is my model

Category Model

[code]
Group Model
[code]
CategoryGroup Model
[code]

Here is my table. You will notice "category_group_cate

[2018-04-14 12:00] alfaproject opened #355 "Create an association without a foreign key"
I was trying to create an association without creating a foreign key constraint for a particular use case, but it doesn't look like it's possible.

I actually thought the issue was in Sequelize and reported there: https://github.com/sequelize/sequelize/issues/9303

As you can see in that issue, the reduced test case actually achieves what I want, but I don't seem able to do the exact same using `s

[2018-04-14 17:46] ppaulogustavo opened #356 "s"

[2018-04-14 18:49] RobinBuschmann commented on #356
Thanks for contributing 😁😉

[2018-04-14 18:49] #356 closed

[2018-04-14 18:53] RobinBuschmann commented on #347
Hey @euler2718, sry for the late response. Unfortunately I don't fully get your issue. Can you provide a more advanced example? In which exact case only a single instance is populated instead of many?

[2018-04-14 19:05] RobinBuschmann commented on #354
Hey @Procaseycash, first of all, you can omit referencing the foreign keys additionally in the `BelongsToMany` annotations. sequelize-typescript can infer the foreign key through the `ForeignKey` annotation.
Regarding your actual issue, try this one:

[code]

I hope this helps.

[2018-04-14 19:06] #286 closed

[2018-04-14 19:09] RobinBuschmann commented on #310
Yeah, this would work. But it seems to me that it is not so easy to achieve and I would say it wouldn't be part of this project. But if you want to give it a try, I'm happy if you'll come back with your knowledge :)

[2018-04-14 19:09] #310 closed

[2018-04-14 19:11] #317 closed

[2018-04-14 19:11] RobinBuschmann commented on #320
Hey @maloy1984 is this still an issue for you or can this be closed?

[2018-04-14 19:12] #321 closed

[2018-04-14 19:12] #323 closed

[2018-04-14 19:13] RobinBuschmann commented on #324
Hey could you get it working now?

[2018-04-14 19:15] RobinBuschmann commented on #341
@TripleMap Can this be closed now?

[2018-04-14 19:16] #342 closed

[2018-04-14 22:43] aasmm7x opened #357 "'isInitialized' of undefined association problem."
Looks like when we try to put an association of model B.model.ts on an A.model.ts results in the following error:

`TypeError: Cannot read property 'isInitialized' of undefined`

[code]

The file os model names must be ordered by his association as well ?

[2018-04-15 17:03] alfaproject commented on #355
@RobinBuschmann that seems to be the missing piece. Thank you for helping! (:

[2018-04-15 17:03] #355 closed

[2018-04-15 17:37] dengue8830 commented on #286
cool, thanks.

sorry for the delay, i didn't see the email

[2018-04-16 19:05] ningacoding commented on #308
still a sequelize typings issue, because is not totally deprecated, you even can pass custom operator names by aliases:

http://docs.sequelizejs.com/manual/tutorial/querying.html#operators-aliases

wich should be supported by sequelize-typescript, since is a current and available option.

[2018-04-17 10:12] RobinBuschmann commented on #308
hey @ningacoding, yeah, you're right, but this need to be partially fixed here  https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/sequelize
since {where: {someProperty: {$or: [...]}}} is part of the native sequelize typings

I also noticed that sequelize-typescript need to be adjusted to support: `{where: {$or: ..., $and: ...}}`

[2018-04-18 02:05] doovers commented on #327
@RobinBuschmann Apologies for the late reply! I had another look at this and it happens when I call `create` on a model that `BelongsTo` a model with `include: [{ all: true }]`

Logging `include` at `/node_modules/sequelize/lib/model.js:465:29` yields:

[code]

[code]

Note that the model attribute is missing where `all: true` but in the parent it is present.

[2018-04-18 16:44] vekexasia opened #358 "QUESTION: What is the best way to have a postInit?"
Hello, lets say i've some "non annotated" fields in my model i want to populate upon init.

Right now i'm overriding the constructor but maybe there is a better way to have a "postInitialized" hook on the model so that i can precompute the above mentioned fields?

Thanks :)

[2018-04-18 19:12] vekexasia commented on #358
For example. hook afterCreate does not gets triggered after a `find` so i guess the only way is to override constructor and do logic there?

[2018-04-19 07:32] Toub commented on #328
After reading the related issues, I am not sure to understand if it is possible (and how) to use sequelize-cli to migrate sequelize-typescript models, or if we need to use a pure SQL script.

[2018-04-19 10:34] RobinBuschmann commented on #358
I think the most secure way to achieve this is the constructor. However, if you want to do async stuff after the instantiation of you model, you will need to use hooks.
As you already stated correctly, afterCreate only apply after `create()` was called explicitly. But you can also annotate your handler with `AfterFind` (and to make sure that you handler also gets triggered on a bulk creation `Afte

[2018-04-19 12:08] vekexasia commented on #358
Thanks for the suggestion. :)

 A little bit offtopic: what would it take to get a model working with two different sequelize?

Would you create a new class extending the first one just for the secondary sequelize usage?

[2018-04-19 13:01] RobinBuschmann commented on #358
You're welcome!

The ability to use multiple sequelize instances which are sharing models will be an up coming feature. It will be enabled under `repositoryMode` option. And yes: It will working as you described it: https://github.com/RobinBuschmann/sequelize-typescript/issues/231#issuecomment-351130658

[2018-04-19 14:27] sanewell92 commented on #328
As per the linked issue's discussion I can write a blog post that details how to use one of two tools, or both if I feel super gouda.

I'll comment updates here as I go, and I can PR a link to the blog in the readme, or we can adapt it as a Wiki post in this github repo (idk how wikis work or if they're any good >.> - do they markdown? Are the SEO friendly?)

[2018-04-20 05:45] RobinBuschmann commented on #328
Hey @sanewell92, sounds great. I prefer the readme or another versioned *.md file over github wiki :) Regarding SEO: I think github will do the job for us.

[2018-04-20 10:16] ekscentrysytet opened #359 "Type issue when passing string key to where clause"
Typescript compiler complains when I put query association syntax to where clause.

Here's the query:
[code]
I get error:
[code]

It's actullay acceptable by sequelize and works as expected but not documented in the docs. See discussions here: [#3095](https://github.com/sequelize/sequelize/issues/3095).

[2018-04-20 10:27] RobinBuschmann commented on #359
Hey @ekscentrysytet, thanks for reporting.

You need to use `['$matchedClients.id$' as any]: null`. There is currently no way to have type safety with the `$<property_name>$` syntax.

See this issue: https://github.com/RobinBuschmann/sequelize-typescript/issues/234#issuecomment-355820615

Hope this helps

[2018-04-20 14:00] ekscentrysytet commented on #359
@RobinBuschmann Ok, thank you!

[2018-04-20 14:00] #359 closed

[2018-04-20 15:13] TripleMap commented on #341
Yes

[2018-04-23 15:48] snewell92 commented on #274
Update - [started workin' on documentation](https://github.com/snewell92/sequelize-typescript/tree/migrations-docs) in a branch on my fork,

I would be interested to see other people's work flows with the sequelize cli, I'm going to fill in the rest of my workflow, but after getting into it, I'm not really seeing a lot of benefit from the sequelize cli that standalone (and lighter weight) cli tool

[2018-04-23 18:09] RobinBuschmann commented on #274
Oh, sounds a little bit disappointing :( So sequelize-cli does not provide more than a query builder via its queryInterface, right?

But anyway: Thanks for working on that :)

[2018-04-24 11:10] serranoarevalo commented on #349
@sunzongzheng how did you fix this?

[2018-04-24 14:47] sunzongzheng commented on #349
@serranoarevalo  I use official sequelize width `@types/sequelize` in the end.

[2018-04-24 15:31] RobinBuschmann commented on #349
@serranoarevalo can you provide your compiler options please or a lot easier to check for me: can you provide an example repo which reproduces the issue?

[2018-04-24 15:41] johannes-scharlach opened #361 "Behaviour with auto-pluralization of tables differs from sequelize"
Typically sequelize pluralises the model name to create tables, so that the table is called `Users` and the model is called `User`. That always made sense to me, since the table does contain multiple users.

By setting `freezeTableName` to `true` by default, `sequelize-typescript` behaves differently from `sequelize` in regards to the table names that are created. I tried to read up on https://git

[2018-04-24 17:11] RobinBuschmann commented on #361
Hey @johannes-scharlach, initially I decided at one point that I want to use the exact class name as table name. Simply because I prefer using it like that. To achieve this behaviour the `tableName`  option was set to the name of the class.
Since this decision was made and sequelize-typescript was alive for some time as #148 came up, switching to the default behaviour had mean a breaking change. S

[2018-04-24 17:30] johannes-scharlach commented on #361
Thanks for the clarification! This project is really cool and I hope I can help move it forward ;)

What I'd have in mind for making such a change is to set the default behaviour to be the same as in `sequelize`, but add a config option when you run `new Sequelize`, where you can define `defaultFreezeTableName`. That will make a migration to v1.0.0 simple for existing projects while having the def

[2018-04-24 18:01] RobinBuschmann commented on #361
It is already possible to set default define options for all tables like so
[code]
Nevertheless, `freezeTableName` is currently set while passing options via `@Table` annotation instead of using the global default options 🙈My fault..

[2018-05-02 16:46] #361 closed

[2018-05-05 11:28] #354 closed

[2018-05-05 11:28] #353 closed

[2018-05-05 11:29] RobinBuschmann commented on #348
@aa6my Is this still an issue for you?

[2018-05-05 11:30] RobinBuschmann commented on #347
@euler2718 Do you solved your issue?

[2018-05-05 11:31] RobinBuschmann commented on #324
Closed due to no answer

[2018-05-05 11:31] #324 closed

[2018-05-05 11:33] RobinBuschmann commented on #320
Closed due to no reply

[2018-05-05 11:33] #320 closed

[2018-05-05 11:35] RobinBuschmann commented on #292
What @Darkseal stated, using`!` is the way to go. Closing this issue now

[2018-05-05 11:35] #292 closed

[2018-05-05 11:39] RobinBuschmann commented on #266
@devuxer I've completely overseen your last question - sry for that. You need to set `allowNull` in the options of the `BelongsTo` annotation like so:

[code]

[2018-05-05 11:39] #266 closed

[2018-05-05 11:42] RobinBuschmann commented on #265
This feature is part of the latest version

[2018-05-05 11:42] #265 closed

[2018-05-05 11:44] RobinBuschmann commented on #225
Closing this issue due to no reply

[2018-05-05 11:44] #225 closed

[2018-05-05 18:26] RobinBuschmann commented on #287
Fixed with latest sequelize-typescript version

[2018-05-05 18:26] #287 closed

[2018-05-10 13:29] avidanyum opened #364 "Question: TypeError: Class constructor Model cannot be invoked without 'new'"
Asked it here: https://stackoverflow.com/questions/50272405/sequelize-typescript-typeerror-class-constructor-model-cannot-be-invoked-withou

Repo to reproduce here: https://github.com/avidanyum/test-node-sequelize (see below exact steps).

I'm using `sequelize-typescript` when I run a sample `mocha` test to check it I get:

`TypeError: Class constructor Model cannot be invoked without 'new'`

I sa

[2018-05-10 17:38] damianb commented on #364
[code]

This worries me here, and it might be what is the actual problem.  Try separating this into separate lines of code with clear delineations of responsibility.

[code]

as I suspect that the parser is not interpreting the order of operations as you'd believe.

[2018-05-10 18:42] avidanyum commented on #364
Hi, I committed the updated files with multiline and I still have the same error :/

logs:

[code]

updated code:

[code]

comitted these changes to here: https://github.com/avidanyum/test-node-sequelize

[2018-05-10 20:09] damianb commented on #364
Try changing the target to `ES2017` in your tsconfig.

[2018-05-11 03:58] avidanyum commented on #364
changing to `ES2017` indeed was the issue!! thank!

[2018-05-11 03:58] #364 closed

[2018-05-11 08:53] alexey-pelykh commented on #350
Odd, I get
[code]
in `node_modules/sequelize-typescript/lib/models/Model.js:6:13` with
[code]

[2018-05-11 13:50] RobinBuschmann commented on #350
Hey @alexey-pelykh thanks for bringing this up. `sequelize@5` will currently only work with `sequelize-typescript@canary` hope this helps

[2018-05-11 14:09] alexey-pelykh commented on #350
Thanks for explanation!

[2018-05-15 12:45] aasmm7x commented on #106
This problem happens also on `where` option.

`where?: WhereOptions<T> | where | fn | or | Array<col | and | or | string>;` @ https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/interfaces/IFindOptions.ts

It should support `literal` also on `where`.

[2018-05-15 17:42] RobinBuschmann commented on #350
With the latest beta release it should work with `sequelize@5` as well: `sequelize-tyescript@next`

[2018-05-17 05:32] micklynch opened #366 ""Error: Model not initialized: "Model" needs to be added to a Sequelize instance before "call" can be called.""
Hello Typescript-Sequelize'rs,
This may be a noob question but I will try to explain as best I can. As you can see, I run into an error when trying to save data to my PostgreSQL database. I tried to reduce everything back to basics to trace the error, here's my situation.

1. I set up the sequelize connection to my DB:
[code]
2. I confirm that the connection is established using:
[code]
This gives

[2018-05-17 05:45] RobinBuschmann commented on #366
Hey @micklynch, you either need to pass the class reference, the path to the directory(not the actual file) or a glob.
So for example `sequelize.addModels([Person])` should do the job :)

[2018-05-17 05:54] micklynch commented on #366
Thanks for the fast response @RobinBuschmann.

I tried the following:
[code]
And I still get the error.

Here's my `Person.model.ts' file
[code]

[2018-05-17 06:32] RobinBuschmann commented on #366
The constructor you're defined is wrong... see https://github.com/RobinBuschmann/sequelize-typescript/blob/master/lib/models/Model.d.ts#L39

But this is not the actual issue. Do you add the model and try to create the instance of `Person` in the same file?

For me it working perfectly well: I've created an example repo reflecting  what you've done: https://github.com/RobinBuschmann/st-366

[2018-05-17 07:56] RobinBuschmann commented on #366
An issue that I've seen very often is, that the model ist references correctly in one file and in another one the case sensitivity of the used path differs from the one where the model was added:
[code]

[code]

Node loads the file content again, so that:
[code]

[2018-05-17 08:14] micklynch commented on #366
Thanks a million Robin.

I think it was the constructor that was causing the issue. After I fixed that, I got another error that was related to my tsconfig.json. The repo you created for me was very helpful is sorting out that problem.

Cheers and keep up the great work!!

[2018-05-17 08:18] RobinBuschmann commented on #366
You're welcome :)

Then I'll close this issue now

[2018-05-17 08:18] #366 closed

[2018-05-17 08:18] RobinBuschmann commented on #357
@aasmm7x Do you still have this issue?

[2018-05-17 17:18] wbobeirne opened #367 "Create arguments don't require non-null fields"
Using version `1.0.0-alpha.3`, when I define a model like so:

[code]

I would expect calling

[code]

to give me an error letting me know that name is required. But the TypeScript def doesn't stop me. Obviously this causes the following runtime error:

Is there something I'm missing in the model definition or the create call that would prevent this? Or is this not supported?

[2018-05-18 17:16] euler2718 commented on #347
We solved the issue by creating Association Tables on the DB side manually...
So the main issue I was trying to solve, is what if I have something like BelongsToMany relationship with 3 keys instead of 2?

ALSO - this is more generally a sequelize question, but its about updated Association Tables:

    @BelongsToMany(() => SqlzModel1, { through: 'ASSN_TABLE', foreignKey: 'code1', otherKey: 'code2

[2018-05-18 20:45] RobinBuschmann commented on #347
@euler2718 Did you try to use the reference instead of a string: `{through: () => AssnSqlzModel}`?

[2018-05-18 20:53] euler2718 commented on #347
yes I did that too, and it works fine to read the table, but doesn't help on an update / create

[2018-05-20 11:58] alansmithnbs opened #368 "Type 'T' does not satisfy the constraint 'object'"
When upgrading to TypeScript 2.7.2 I am seeing the error:

`node_modules/@types/sequelize/node_modules/@types/lodash/index.d.ts(12651,53): error TS2344: Type 'T' does not satisfy the constraint 'object'.`

I'm using:
 - sequelize-typescript:  v0.6.4
 - sequelize: v4.37.8
 - typescript: v2.7.2

Issue seems to be with lodash typings - (https://github.com/DefinitelyTyped/DefinitelyTyped/issues/23375)

[2018-05-20 12:51] RobinBuschmann commented on #368
Hey @alansmithnbs, thanks for reporting. Unfortunately I couldn't reproduce the issue. Can you provide a full example? Feel free to use the repo I've just created for this issue https://github.com/RobinBuschmann/st-368.

[2018-05-20 13:03] RobinBuschmann commented on #367
Hey @wbobeirne, unfortunately there is no way to connect the configuration `{allowNull: false}` with the interface used in the `create` method. So it's up to you defining your requirements on `create`. You can achieve this like so:

[code]

[2018-05-23 20:42] 620eli opened #369 "update with returning: true option not returning updated object"
I was able to do this in the default version of sequelize and it returned me the updated user:
`User.update({ ... }, { where: { id }, returning: true }).then(
(updatedUsers, [user]) => res.json(user),
error => res.send(error)
);`
I wanted to do this with the sequelize-typescript version but I'm not able to get the user. When I try to do this, I get an 'Unhandled rejection TypeError: undefined is n

[2018-05-24 14:58] TalissonJunior commented on #178
Hi,
I don´t know why but i´m having the same issue;

It´s really weird because after i transpile the same code 3 times without changing anything from it i got the same error:
[code]

Here's my model code sample
https://github.com/TalissonJunior/NodeExpressWebApi/blob/master/src/Models/Database/ExampleEmployee.ts#L4

the sequelize instantiation:
https://github.com/TalissonJunior/NodeExpressWebApi/b

[2018-05-24 15:01] TalissonJunior opened #370 "@Table annotation is missing on class ..."
Hi,
I´m having the same issue as:
https://github.com/RobinBuschmann/sequelize-typescript/issues/178

It´s really weird because after i transpile the same code 3 times without changing anything from it i got the same error:
[code]

Here's my model code sample
https://github.com/TalissonJunior/NodeExpressWebApi/blob/master/src/Models/Database/ExampleEmployee.ts#L4

the sequelize instantiation:
https

[2018-05-24 17:21] RobinBuschmann commented on #369
Hey @620eli, thanks for reporting. Since I cannot reproduce your issue, can you provide an example repository which represents the actual issue?

[2018-05-24 17:45] RobinBuschmann commented on #370
Hey @TalissonJunior, this could be an issue: https://github.com/serhiisol/node-decorators/blob/master/di/package.json#L7

Due to the explicit dependency to `reflect-metadata` in `@decorators/di` (or some other of your dependencies that has dep on `reflect-metadata`), I assume that you're ending up with multiple `reflect-metadata` packages in your project. This in turn can lead to such unexpected b

[2018-05-24 20:00] jhondavila opened #371 "Error Schema no Found with Model"
**how define to schema with sequelize in typescript ?**

`@Table({
    timestamps: true,
    paranoid: true,
    tableName: "app",
    schema: "core"
})
export default class App extends Model<App> {
    @Column
    name: string;

    @Column
    alias: string;

    @Column
    icon_cls: string;

    @Column({
        type: DataType.TEXT
    })
    cfg: string;

    @Column
    id_ext: string
}

//

[2018-05-24 20:43] TalissonJunior commented on #370
Problem solved, thanks man i remove the ```@decorators/di``` because i wasn´t really using it.

[2018-05-24 20:44] #370 closed

[2018-05-24 22:12] 620eli commented on #369
[https://github.com/620eli/example](url)
After starting the server, try to do a PUT on localhost:9090/api/users/1 with the properties email, firstname, lastname, photoURL set in the request body. The error should now show up in the server output.

[2018-05-25 07:19] RobinBuschmann commented on #369
Hey @620eli, thanks. But this isn't working with native sequelize as well. This is because you're using `{returning: true}` with `sqlite`, which is not supported. The `returning` option is only available for postgres as stated [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L3041) as well.

[2018-05-25 08:08] 620eli commented on #369
Well, I am pretty sure that this worked with native sequelize and sqlite. Unfortunately I changed the project so I couldn't reproduce it anymore. I tried to rebuild it with native sequelize but it didn't work, too. Anyways, thanks for your help!

[2018-05-25 08:08] #369 closed

[2018-05-27 03:21] thuynh opened #372 "Self Referencing Association"
I'm having a difficult time finding examples and documentation on how to do this. Basically, this is what my database structure looks like:

[code]

I want to be able to pass a JSON structure that looks like this and it will cascade for me:

[code]

[2018-05-27 18:30] tomeram opened #373 "[Question] Updating schema"
I am trying to update schema if it's different on load and I am not sure how to do it.
I tried adding a column to a table and I am getting a missing column error:
[code]

Is there an option I can pass?
Tried : `validateOnly` and `sync: { force: true }` without success...

[2018-05-28 16:49] RobinBuschmann commented on #371
Hey @jhondavila, I haven’t used this feature before but I assume you need to create the schema before: https://stackoverflow.com/a/42505603

[2018-05-28 19:09] RobinBuschmann commented on #372
Hey @thuynh, you need to tell `sequelize-typscript` which `ForeignKey` of `RelatedKeywords` is the foreign key and which is the key of the related model in your `relatedKeywords` association:
for example:
[code]

[2018-05-28 19:11] RobinBuschmann commented on #373
Hey @tomeram , `validateOnly: true` is a hidden feature. It makes it possible to use the validation of sequelize without the actual ORM.

[2018-05-28 22:02] thuynh commented on #372
@RobinBuschmann tried that and I'm getting the following error: **RelatedKeyword is not associated to Keyword!**. Any other ideas?

[2018-05-28 23:07] thuynh commented on #372
@RobinBuschmann this is what I ended up doing to make it work. Seems a bit weird:

[code]

This class is exactly the same as the one above
[code]

[code]

The Keyword.create method works perfectly. However, when I try to update, nothing happens on the relatedKeywords:

[code]

What I expect is the 2 previous related keywords to be removed and the 2 new ones are created. However, I only see 1 query

[2018-05-29 05:55] RobinBuschmann commented on #372
Sry, I have overseen your create statement: since the relation is between `Keyword` and `Keyword`, you need to include `Keyword`Instead of `RelatedKeyword`:

[code]

[2018-05-29 15:15] alex-friedl opened #375 "Constructor (uri: string, options?: Options) not supported"
Hello,

First of all: thank you for this awesome library! :)

I was wondering if you could add support for the new `(uri: string, options?: Options): Sequelize;` constructor?

I find it quite convenient to use URIs for connection information and still have the possibility to configure things like SQL logging

[code]

[2018-05-30 05:16] maiksch opened #376 "Many-to-many relationship without composite unique constraint"
What I am trying to do is build a many-to-many table with an id as a primary key, where the same combination of foreign keys can be inserted multiple times. The problem is, that the table gets generated with an unique constraint like this:

[code]

This is how my models look like:

[code]
[code]

[code]

How is it possible to get the two foreign keys in the many-to-many table but without the uniqu

[2018-05-30 12:28] lookapanda opened #377 "Sequelize constructor arguments"
Did I miss something or why are the constructor arguments different to the native version?
With native Sequelize, I was able to do this:

[code]

Now I cannot do that anymore as it refuses to accept the properties like `replication`, which I need.

[2018-05-30 13:01] lookapanda commented on #377
Okay, after inspecting the typings for it, it appears that it's because of the `read` part of the `replication` property. Without that property, it works.

[2018-05-30 13:16] lookapanda commented on #377
Oh, nevermind. Those typings have been updated and apparently I had an older version installed.

[2018-05-30 13:16] #377 closed

[2018-05-30 17:59] RobinBuschmann commented on #375
Hey @alex-friedl, thanks for the hint. I will implement this when `1.0.0` is released :)

[2018-05-30 18:11] alex-friedl commented on #375
Sounds good! :)

Do you have a rough estimate for the release date of 1.0.0 ?

[2018-05-30 18:18] RobinBuschmann commented on #375
Unfortunately I cannot give you any estimation here. When I have the chance to upgrade to 1.0.0 on any of our productive projects and everything works well, I will feel more comfortable with it and will publish 1.0.0. Until then, you can use an alpha version of 1.0.0: Install it with the canary tag: `sequelize-typescript@canary`

[2018-05-31 06:36] RobinBuschmann commented on #376
Hey @maiksch, try:

[code]

Same vice-versa for User model.

[2018-06-01 01:28] MaxBinnewies opened #379 "build fails with latest typescript version"
Hello,

Our build fails on Kubernetes, but not locally, with the following error:
Step #0: node_modules/sequelize-typescript/lib/utils/types.d.ts(9,16): error TS2344: Type ‘keyof T’ does not satisfy the constraint ‘string’.
Step #0: Type ‘string | number | symbol’ is not assignable to type ‘string’.
Step #0: Type ‘number’ is not assignable to type ‘string’.

Turns out Kubernetes pulled the latest

[2018-06-01 04:55] maiksch commented on #376
Seems to work. Thank you

[2018-06-01 04:55] #376 closed

[2018-06-01 11:15] andys8 commented on #379
Can confirm the issue.

[2018-06-01 12:31] RobinBuschmann commented on #379
@MaxBinnewies Thanks for reporting. @andys8 Thanks for providing more details :)

For now you can also set `skipLibCheck` `true` in your tsconfig to omit the error.

[2018-06-01 13:04] #379 closed

[2018-06-01 14:28] Cyberuben opened #381 "options.include[].on not supported in query"
I'm currently using the following query:

[code]

The following code won't compile without the `// @ts-ignore` line because of missing types. It would be nice if you could add support for that.

[2018-06-01 21:17] andys8 commented on #379
Thanks @RobinBuschmann for the quick fix. When is the next release planned to make this fix available?

[2018-06-01 23:24] Romstar opened #382 "How do we access the sequelize instance"
Hello,

while using sequelize typescript I am unable to directly access the sequelize object to perform raw queries and store procedure calls.  Any idea how to go about this?

[2018-06-01 23:24] #382 closed, assigned to nobody

[2018-06-04 06:48] keyiis opened #383 "Model not initialized"
I used modelPaths in config,but tip error `Model not initialized: "Account" needs to be added to a Sequelize instance before "findAndCount" can be called.`
config
[code]
i tried to use addModels,but no effect.

[2018-06-04 14:42] TalissonJunior commented on #281
Any updates ?

[2018-06-04 14:50] RobinBuschmann commented on #281
@TalissonJunior This will be part of `sequelize-typescript@1.0.0` - I'm working on it

[2018-06-04 16:06] RobinBuschmann commented on #383
@keyiis your setup looks okay so far. Can you provide an example repo which reproduces the issue?

[2018-06-04 16:07] Cyberuben commented on #381
Unfortunately it doesn't seem to be mentioned anywhere in the docs. Although, it is mentioned in the reference, but no examples or proper types have been given.

http://docs.sequelizejs.com/class/lib/model.js~Model.html

Search using your browser for `options.include[].on`.

[2018-06-04 16:31] TalissonJunior commented on #281
@RobinBuschmann  Awesome, i´m excited to see that new version.

[2018-06-04 18:05] RobinBuschmann commented on #381
Ok, then I'll simply add it with `on: any`

[2018-06-04 20:27] tomeram commented on #373
@RobinBuschmann Thanks,
I found my answer anyway 😄

[2018-06-04 20:27] #373 closed

[2018-06-05 13:56] lookapanda opened #384 "FilteredModuleAttributes in 1.0"
Is there a reason the arguments for `getDataValue()` are restricted to those few in https://github.com/RobinBuschmann/sequelize-typescript/blob/1.0.0/lib/model/types/FilteredModelAttributes.ts#L4 ?

I can no longer use `this.getDataValue('somethingElese')` because of this and sadly, I cannot find any changelog that explains this breaking change.

[2018-06-05 21:41] Romstar commented on #281
how are you even able to access the sequelize object?  Why am I not able to do this?  I can't run raw queries, change the default timeout from 15 seconds to longer, or even called stored procedures.  How do I do that?

[2018-06-05 23:09] TalissonJunior commented on #281
@Romstar  you need to get the instance of your sequelize connection, then you can run raw queries here is an example:

[code]

Hope it helps.

[2018-06-06 10:23] keyiis commented on #383
@RobinBuschmann I spent all day solved this problem,but the reason is very strange.if i comment `app.use(errorhandler());` ,all work fine.
issuse code
[code]

[2018-06-06 10:26] keyiis commented on #383
@RobinBuschmann code can run,but has a error in complie process.
[code]

[2018-06-06 11:31] lookapanda commented on #384
Hello,

I have this case, for example:

[code]

But  `this.getDataValue('language')` is not allowed by the compiler now because of `FilteredModuleAttributes`.

It is very much a valid use case here though, because I want that getter to return the default value and not `null` if there's no entry in the database.

[2018-06-06 11:41] lookapanda commented on #384
<img width="877" alt="bildschirmfoto 2018-06-06 um 13 41 39" src="https://user-images.githubusercontent.com/770632/41036142-5e80053e-698f-11e8-8f53-51f13043a7f4.png">

[2018-06-06 11:50] TalissonJunior commented on #281
@Romstar can you provide a minimal code or a repository that i can access to check out this issue?

[2018-06-06 13:32] RobinBuschmann commented on #384
Ah ok, I see. Either do
[code]
or
[code]

Hope this helps

[2018-06-06 14:19] #381 closed

[2018-06-06 16:22] lookapanda commented on #384
I'm still relatively new to TypeScript, I somehow have the feeling that it has to do with the generics, but I'm not quite sure how to fix it

[2018-06-06 16:23] lookapanda opened #386 "modelPaths in 1.0"
I see that they've been deprecated:

[code]

Why is that and what's the replacement?

[2018-06-06 18:51] sandervspl opened #387 "Unable to get many to many working"
Been trying to get my Many to Many association to work, but unable to do so. I looked at the example code, but it's not working for me.

[code]

[code]

[code]

This results in the following error:
[code]

Is there something I'm missing? It's basically a 1-1 copy of the example code.

[2018-06-06 20:21] sandervspl commented on #387
Restarting the development server seemed to have fixed it somehow.

My next problem is querying though.

My query:
[code]

The error:
`SequelizeEagerLoadingError: Room is not associated to UserRoom!`

Why isn't it associated? I don't get what I'm missing.

[2018-06-07 12:15] Aleksaas opened #388 "Invalid scope called"
[code]

I have this error message which happens sometimes for some entities although the specified scope exists. Example:
[code]

[code]

In 90% of the code something like this work, but in some places it doesn't for some reason. Anyone had this issue?

[2018-06-07 20:20] Romstar commented on #281
@TalissonJunior  I can, I'll just create a new repository with the same package json and a single index.ts file creating a new sequelize instance and failing to have a query accessible as well as the config being limited.  I'll link you here when I do it.

[2018-06-09 11:50] RobinBuschmann commented on #388
Hey @Aleksaas, can you confirm, that is only happens for entities where you've defined an include like `include: [() => EquipmentType.scope("dto")]`? That's at least what I guess causing the issue 🤔If so this is definitely a bug

[2018-06-09 11:50] RobinBuschmann commented on #386
@lookapanda  Just `models` is the replacement. Since it now also takes references instead of only paths.

[2018-06-09 12:18] RobinBuschmann commented on #387
Hey @sandervspl, this is because the association exists between `User` and `Room, not `UserRoom` and `User` or `Room`. So you either need to define an additional relation (one-to-many between `UserRoom` and `Room`) if you want to retrieve the data like you did or you implement it like:
[code]

[2018-06-09 12:19] RobinBuschmann commented on #383
@keyiis Regarding the compiler issue, see #379

[2018-06-09 13:03] keyiis commented on #383
@RobinBuschmann thks!

[2018-06-09 13:03] #383 closed

[2018-06-10 05:31] nevyen opened #389 "How to Resolve TS2339: Property 'length' does not exist on type 'Model<{}> | Model<{}>[]'."
Hey guys,

I have created a many to many association. And it all works fine. My Models are:

[code]
[code]
[code]
Now I am trying to get all Roles of an User. So I can check if my user ist allowed to access the data.
The method I'm trying to do this looks so:

[code]
Now my problem is that typescript complains about "roles.length". It seems the promise doesn't be an array. So how can I avoid this?

[2018-06-10 05:36] nevyen opened #390 "Error in Model class compiling typescript"
Hey when I'm compiling my project I get this error message from typescript compiler:

[code]
It is thrown from the Model class by using Omit. So maybe this error only happens on my PC or it is a general problem.

Any help is welcome.

[2018-06-11 08:08] FinalFrag commented on #390
I'm getting the same thing. Excluding node_modules in tsconfig.json doesn't seem to work either :/

[code]

[2018-06-11 12:02] jeremyhon commented on #389
I have a similar situation where I'm retrieving an array of associations via the `$get` method
[code]
TS won't let me add the type annotation because "includes" doesn't exist on Model<{}>, which is the singular form of the Model. However I'm trying to retrieve an array of said models (Model<{}>[]) which _should_ have the `includes` method.

Any ideas for workarounds or solutions? This is a great l

[2018-06-11 15:40] mxs42 commented on #282
Any updates on this? Examples from readme simply don't compile in strict mode.

[2018-06-11 18:07] mxs42 opened #391 "AnyWhereOptions don't allow NULL"
Consider having this code:
[code]
Sequelize supports this code, where clause is `WHERE field IS NULL` in this case.
Type definitions don't allow NULL:
[code]

Why can't we have `WhereOptions<any>[] | Object | null` there?

[2018-06-11 18:17] RobinBuschmann commented on #390
Duplicate of #379

Fixed in `sequelize-typescript@next`

[2018-06-11 18:17] #390 closed

[2018-06-11 18:32] RobinBuschmann commented on #389
@nevyen Since typescript cannot infer the type automatically here, you have to explicitly set the type like:
[code]
or in @jeremyhon case, when using `async/await` the type need to be casted:
[code]

[2018-06-11 18:39] RobinBuschmann commented on #391
Hey @mxs42, thanks for reporting, but this is an `@types/sequelize` issue (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/sequelize/index.d.ts#L3188). Can you report it there or create a PR fixing this issue?

[2018-06-11 19:04] RobinBuschmann commented on #282
Sry completely overseen this issue. But `where` seems to work perfectly well in `@Table({indexes: [{where: {bla: 'sdfdsf'}}]})`

@mxs42 What's your issue here? :)

[2018-06-11 19:09] RobinBuschmann opened #392 "Fails on strict or strictFunctionTypes compilerOptions"
When setting `strictFunctionTypes` or `strict`(which enables `strictFunctionTypes`) `true` compilation fails.

[2018-06-11 20:24] nevyen commented on #389
Thanks for your help. Maybe you can add this to your example. If your are new to typscript it's a little complicated.

Closed for me. Whats about @jeremyhon ?

[2018-06-11 21:06] mxs42 commented on #391
Sorry, completely misunderstood this thing about relationships between sequelize-typescript and types, I will create a PR in their repo later.

[2018-06-11 21:06] #391 closed

[2018-06-11 21:09] mxs42 commented on #282
@RobinBuschmann well, it turns out that I messed with types while hot-fixing an issue with AnyWhereOptions and broke some code accidentally 😆
No issues on my sides anymore, I should be more careful I guess.

[2018-06-12 03:43] jeremyhon commented on #389
Awesome. I originally used a type cast function but your solution is more concise. Thanks for the fast response.

[2018-06-12 04:57] #389 closed

[2018-06-12 05:50] RobinBuschmann commented on #384
Hey @lookapanda what error message are you getting here?

[2018-06-12 11:11] lookapanda commented on #384
It says that `language` does not exist on that type. I started another attempt similar to https://github.com/RobinBuschmann/sequelize-typescript/issues/291

I extend the Model class now directly and override the needed functions like `findById`

[2018-06-12 15:50] DerekTBrown opened #393 "Add Support for Indexes"
I think there should be a decorator for creating indexes.  For instance, I would like to create a unique index on two fields.

[2018-06-13 11:16] 620eli commented on #388
A can confirm this issue.

[2018-06-14 16:00] vschoener opened #394 "Error: Cannot find module"
Hey,

I just run into an issue trying to load the models. It says:
`'/app/src/models/user'`

I use webpack to build / watch and hot reload the server. (Works nice).

Lately, I tried to follow your guide and use this library, I created this config:

[code]

My models folder contain only one file, user.ts :

[code]
And when I run my code, I get the error that says it can't find the file user.

Do yo

[2018-06-17 14:51] sahilchaddha commented on #388
I have reproduced this issue and found a workaround solution.I suppose this is because how sequelize inits models from the folder. This can be fixed if EquipmentType is initialized before the calling model is. You can try changing fileName with prefix `a` like `aequipmentType.ts`. This will make sequalize to init EquipmentType model with scopes first.

[2018-06-18 09:32] vschoener commented on #394
Ok so, to fix my issue, I use this way:
[code]

Don't like having to add a model one by one, but for now I'll deal with :)

[2018-06-18 09:32] RobinBuschmann opened #395 "ForeignKey inference for derived classes not working properly"
Given following models:
[code]
[code]
[code]
[code]

Expected behaviour:
Should infer foreign key for `Child` on `Related`

Actual behaviour:
Throws `Foreign key for "Derived" is missing on "Related".`

[2018-06-18 09:44] vschoener commented on #328
@sanewell92 Sounds good :) Did you start something? :)

[2018-06-18 11:39] lookapanda commented on #106
@RobinBuschmann This is missing on the 1.0 branch, could you add that please? :)

[2018-06-18 12:32] lookapanda commented on #386
Thanks!

[2018-06-18 12:32] #386 closed

[2018-06-18 14:54] RobinBuschmann commented on #384
@lookapanda Sry for the delayed reply: So it throws here:
[code]
?

[2018-06-18 15:08] RobinBuschmann commented on #393
@DerekTBrown You mean like so:
[code]

[2018-06-18 15:11] RobinBuschmann commented on #394
@vschoener Can you provide the exact error message including stack trace? Or If you have an example repo which reproduces the issue?

[2018-06-18 15:22] lookapanda commented on #384
It did, but as I said, I'm doing it in another way and it works fine now!

[2018-06-18 15:22] #384 closed

[2018-06-19 09:45] vschoener commented on #394
@RobinBuschmann Of course

Since I created a new model so this is `activity` instead of `user` but the issue remains the same.
And I now use `export class User extends Model<User>` when using glob/path cause I don't have the same file/class name identically (cf documentation).

Here is the stack I got:

[code]

[2018-06-19 11:21] Aleksaas commented on #388
I realized that it actually depends on the order of model includes in `this._sequelize.addModels([` method, so when I moved model `EquipmentType` to be before the model that includes it, it worked. That's why it seemed like random behavior and worked for some models and for some not.

[2018-06-19 11:33] sahilchaddha commented on #388
Yes. I am not sure how we can set order of models during init method. But renaming for now is a valid working work-around solution to this problem.

[2018-06-19 15:47] lookapanda commented on #17
@RobinBuschmann How is this working in 1.0?  I want to create a Node relay resolver for GraphQL so I need to call the Sequelize model classes "dynamically" based on the Relay Node type.

[code]

but it's not working because it can't find `findById` and there's also no `_`

[2018-06-19 21:15] freeeve commented on #82
@andineck
I ran into it, too.

It looks like the proper way should be:
`Project.findAll({order: sequelize.literal('title DESC')})`
or:
`Project.findAll({order: [sequelize.literal('title DESC')]})`

[2018-06-20 05:29] skshrivas commented on #357
Hi @RobinBuschmann
I am having same issue , i have to model class -
1) In Questions.ts --
[code]
**and  2) in Options.ts**
[code]

when i am starting me server getting error as below -
\node_modules\sequelize-typescript\lib\models\association\BaseAssociation.js:19
        if (!modelClass.isInitialized) {
                       ^

TypeError: Cannot read property 'isInitialized' of undefined
    at

[2018-06-20 06:46] Aleksaas commented on #388
But you don't have to rename. I just did this: `        this._sequelize.addModels([
            EquipmentType,
            Equipment
        ])`
instead of this: `        this._sequelize.addModels([
            Equipment,
            EquipmentType
        ])`
and it worked. `Equipment` includes `EquipmentType`.

[2018-06-20 06:47] Aleksaas opened #396 "Different scopes for WHERE and SELECT"
This is not a bug reporting, it is only a question, and if it is not possible currently maybe it can become feature.
When I get `Users` from DB I have something like this in my `where` clause `'$customer.name$'` where `customer` is property on `User`.
Because of that I need to put this in `User` scope: `include: [() => Customer]`. If I don't do that I would get error: `missing from-clause entry fo

[2018-06-20 07:05] sahilchaddha commented on #388
Yes. This also works. For me, i am providing directory path for all the models. Hence renaming works for me. `modelPaths: "/models/*.model"`

[2018-06-20 12:05] RobinBuschmann commented on #388
@Aleksaas @sahilchaddha Maybe I misunderstood something, but when using `addModels` it is important to add all models, which have relations between each other, at once(!). So if you have an association between `User` and `UserAddress`, you need to `addModels([User, UserAddress])`

[2018-06-20 12:40] Aleksaas commented on #388
@RobinBuschmann Yes, but if u do something like this in `User` model: `include: [() => UserAddress.scope("dto")]` it will throw an error if u define `UserAddress` after `User`  like this: `addModels([User, UserAddress])`. But if u define like this `addModels([UserAddress, User])` it will work. That was the problem in my case. The order was important.

[2018-06-20 13:16] RobinBuschmann commented on #388
@Aleksaas Thanks for clarifying that :)

[2018-06-20 16:16] Aleksaas commented on #396
I found solution, if u want something to be available for `where` and not appear in `select` this is how it should be included: `include: [{ model: User, attributes: []}]`. Don't know why this is not documented, it is important feature.

[2018-06-20 17:12] lookapanda commented on #327
Is there something new to this? @RobinBuschmann

[2018-06-21 17:00] lverledens opened #397 "where on included object"
Hello all,

This is a question, not an issue.
I would like to use a where clause on my included model and I can't find the correct way to realise it.

This is what i'm doing:
[code]

There are multiple LinkedObjects possible for every StoredObject.
I would like to add a where clause that makes it possible to filter some of the StoredObjects.
[code]
I can't put the where in { model: LinkedObject }

[2018-06-23 12:40] tzellman commented on #397
If I am understanding your question correctly, you need to add the related `where` clause directly on the object literal in the `include` array.

Full documentation is here: http://docs.sequelizejs.com/class/lib/model.js~Model.html#static-method-findAll

[2018-06-23 13:14] RobinBuschmann commented on #394
@vschoener This is definitely a node error. Your path is wrong. Could be something to do with the starting `/` which means the root path here.

[2018-06-23 13:21] RobinBuschmann commented on #17
@lookapanda Your implementation looks correct to me. in `1.0` there is a `models` property on the sequelize instance - so exactly how you've done it. But I cannot reproduce your issue, it is working well for me. Can you provide more information here?

[2018-06-23 13:31] RobinBuschmann commented on #357
@skshrivas Unfortunately I cannot reproduce the issue. Can you provide an example repo please?

[2018-06-23 13:34] RobinBuschmann commented on #396
@Aleksaas You're right, but this should be part of the sequelize docs - not the sequelize-typscript ones.

[2018-06-23 13:34] #396 closed

[2018-06-23 14:18] RobinBuschmann commented on #327
@lookapanda I've completely overseen this one. I looked into it now and getting an error as well, but a different one: `Unhandled rejection TypeError: val.replace is not a function`. Which error do you receive here?

[2018-06-25 03:52] michalejoye opened #398 "Many to Many relationship issue"
I am having an issue with mapping the many to many when self ref. In my case, I have a User class which has a array of Users called friends. However I try to map the data, the array is always undefined.
I have a class called User which is like:
[code]
and the FriendList class is
[code]

[2018-06-25 11:30] lookapanda commented on #327
I get the same error as @doovers (with different type names, obviously)

[2018-06-25 11:32] lookapanda commented on #17
[code]

Well, this is the error message I get.

[2018-06-25 12:10] RobinBuschmann commented on #327
@lookapanda So

as well?

[2018-06-25 13:02] lookapanda commented on #327
Hm, no, not in my implementation. What do you do to get that error?

[2018-06-25 13:02] lookapanda commented on #327
I "fixed" it by using `include: all` but ofc, I don' want to include everything, I only need 3 attributes

[2018-06-25 18:24] vekexasia opened #399 "Model.options type definitions?"
Hello,

Is there any particoular reason why (typeof Model).options is not defined in type definitions?

[2018-06-26 16:33] lverledens commented on #397
@tzellman, @RobinBuschmann , thanks for reading my question. I realize that it might not have been clear what my problem is exactly.

My issue is the fact that I want to include on null OR when the included object has an attribute with a specific value.

This is the code I am using. I added `required: false`  because i want to join on null and I added the `where` statement like you described in yo

[2018-06-27 01:06] sanewell92 commented on #328
I'm officially moving my GitHub presence to the @snewell92 account. This won't confusing at all 😆

I have some time to continue the work I started; if you want to follow my progress [this is the branch on a fork on the aforementioned account](https://github.com/snewell92/sequelize-typescript/tree/migrations-docs).

Feel free to check out commit ab0b57294e8c70ed5a5c0ffc12bb0d3177150caf for the deet

[2018-06-28 13:27] trashtatur opened #400 "Has Many / BelongsTo Circular Dependancy"
Hello!

I was trying to set up two tables with a "Has Many" "Belongs To" Relation, by setting up the models in different files, so that there is one Model Class per File. However this seems to produce a circular dependancy, as the import statements dont seem to resolve, because I am still getting the
"Foreign Key for 'User Model'  is missing on 'Articles Model' issue"

Yes I could resolve this by

[2018-06-28 13:46] RobinBuschmann commented on #400
Hey @trashtatur, as the error message says you need to define the foreign key for `UserModel` on `ArticlesModel `.

You can either do it like this..
[code]
or
[code]

[2018-06-28 14:08] trashtatur commented on #400
Okay that did it! Thank you!
Though I have one more question... when I set an attribute to unique that is of datatype string, do I have to do anything else with it? Because when I do it in the User table, it puts out and error saying

``UnhandledPromiseRejectionWarning: SequelizeDatabaseError: Specified key was too long; max key length is 767 bytes``

Only thing I did in the code is add unique her

[2018-06-28 14:09] trashtatur commented on #400
That did it! Thank you very much :)

[2018-06-28 14:10] #400 closed

[2018-06-28 14:47] RobinBuschmann commented on #398
Hey @michalejoye, since both `ForeignKey` annotations are referencing the same model (`User`), sequelize-typscript cannot know which foreign key is the "own" ID and which one is the ID of the users friend. So you need to tell it explicitly like:

[code]
If you do so, you can omit the ForeignKey annotation in your `FiendList` model
[code]

An error message would be good here 🤔

[2018-06-28 14:50] RobinBuschmann opened #401 "Feature: Throw an error if model class has multiple foreign keys referencing the same model"
sequelize-typescript should throw an error if it finds multiple foreign keys referencing the same model like:

[code]
This should be because it cannot infer which is the actual `foreignKey` and which one is the `otherKey`.

[2018-06-28 14:50] RobinBuschmann commented on #398
#401

[2018-06-28 15:10] RobinBuschmann commented on #397
@lverledens Ah ok, I get it know: This is not documented very well, but you can achieve it roughly like so:

[code]

Please note that `yourLinkedObjectAlias` is the name of the property you annotated in `StoredObjects`. For example:
[code]

Hope this helps!

[2018-06-28 15:35] RobinBuschmann commented on #399
Hey @vekexasia, thanks for reporting. Yeah we should add this!

[2018-06-28 20:37] Rodrigo54 commented on #281
This works for me.

[code]

[2018-06-29 21:35] michalejoye commented on #398
So i tired those changes but it does not seem to work. User.friends is always returning null

'''
@Table
export class FriendList extends Model<FriendList> {

  @Column
  UserId: number;

  @Column
  FriendId: number;
}
'''
'''
@Table
export class User extends Model<User> {

    @Column({
        autoIncrement:true,
        primaryKey:true
    })
    UserId:number;

    @Column({
        unique:tru

[2018-06-30 12:36] lverledens commented on #397
Thanks @RobinBuschmann
I had read about the $xxx$ options in sequelize documentation but I couldn't find out how to use it with sequelize-typescript.

Issue solved :)

[2018-06-30 12:36] #397 closed

[2018-07-02 17:53] xlxAciDxlx opened #403 "Question/Issue: Type Hinting Oddly Delayed"
So I'm having a rather weird issue. When typing out model properties (example `email` for a `User` model), the type/property hint (`em` => `email: string` popup suggestion) do not appear. Is there some sort of type hinting that's not fully being put in place as would be expected?

[code]

I expect `email` to be suggested when trying to run `User.create`, however it doesn't show up until I fully ty

[2018-07-04 15:28] torkelrogstad opened #404 "Transactions in hooks"
Is it possible to get access to the (possibly undefined) Transaction object in hooks defined on our models?

Like in [this](https://stackoverflow.com/questions/35014679/sequelize-hook-depending-on-transaction) SO question.

[2018-07-04 20:03] MatthiasKunnen commented on #231
The PR in question is #345, if someone is looking for a link.

[2018-07-04 21:02] MatthiasKunnen opened #405 "Custom filename -> model matching"
Would it be possible to allow a custom matcher instead of matching the filename directly to the model? I use `person.model.ts` as filename and `export class Person extends Model<Person>`. I don't want to use default exports because of reasons mentioned here: https://basarat.gitbooks.io/typescript/docs/tips/defaultIsBad.html.

I would suggest adding an optional modelMatch property to the Sequelize

[2018-07-04 21:09] MatthiasKunnen commented on #403
I would be handy to know your environment in order to reproduce/resolve this. Which IDE are you using, are there any plugins that might have an effect on type hinting, which version of TypeScript are you using, ...

I'm using Webstorm 2018.1.5 and don't have this issue.

[2018-07-04 21:11] xlxAciDxlx commented on #403
I'm using Visual Studio Code, I think with the standard TypeScript extension. My TypeScript version is `2.9.2`

[2018-07-04 21:45] MatthiasKunnen commented on #403
And this is when you use `Model.build({email: 'email@example.com'})` or `new Model({email: 'email@example.com'})`? I've had more accurate type hints with the latter.

[2018-07-04 22:03] xlxAciDxlx commented on #403
Apparently, the issue is that using the shorthand `Model.build` or `Model.create` don't show the typing suggestions. However, doing `new Model(...)` works as expected.

[2018-07-05 00:08] DerekTBrown commented on #393
@RobinBuschmann that would require mixing interfaces, which I don't think is a good move.  Maybe just a `@Index` decorator that lets you pass in a single index option as passed into the `define` operation.

[2018-07-05 00:12] MatthiasKunnen commented on #403
Based on the typings, I can't really see anything that could cause this.
[code]
The `this: (new () => T)` is a combination of a [this parameter](https://www.typescriptlang.org/docs/handbook/functions.html#this-parameters) and a [constructor type](http://blakeembrey.com/articles/2015/04/typescript-constructor-of-type/). It basically says that in the `create` function, `this` will refer to a class t

[2018-07-05 16:14] MatthiasKunnen commented on #403
For VS Code, I think restarting should suffice

[2018-07-05 16:15] xlxAciDxlx commented on #403
I tried clearing the Editor History, restarting, removing some extensions (though none of them were related to TypeScript) - all to no avail.

[2018-07-05 21:21] xlxAciDxlx opened #406 "A Few Questions"
I just have a few questions that I feel like for some reason I'm struggling to wrap my head around.

### Scope Inclusions/Exclusions
For fetching the results of a `User`, I have the default scope set to _exclude_ the `password` field (because, duh). However, I can't seem to find any way to include the `role` field (linked to `UserRole` class).

### Table/Column Linking
For assigning a `User` a rol

[2018-07-06 02:44] tzellman commented on #406
Not sure if this is what you are asking, but you could use a Virtual Column, which plucks out and maps the role(s) you care about.

e.g.
[code]

[2018-07-06 06:47] xlxAciDxlx commented on #406
Thanks, @tzellman , I'll give that a shot! Also, has anyone found any good ways of automatically generating migrations? I get that's a big ask, but it seems tedious and rather time wasting to have to modify the `sequelize-typescript` model file (when you make changes to columns, etc) as well as to have to also type out a migration up/down.

[2018-07-06 08:29] RobinBuschmann commented on #406
Hey @xlxAciDxlx, to include associated models in your queries you need to include the model like so. Nevertheless I see some issues in your setup. You expect your `User` model to have multiple roles, right? And a role can belong to multiple `User`? This seems to be a `many-to-many` relation to me:

[code]
[code]
The "through" table:
[code]
When querying data:
[code]
or when using scopes:
[code]

H

[2018-07-06 08:33] RobinBuschmann commented on #405
@MatthiasKunnen This sounds like a great idea to me. 👍Lets implement this

[2018-07-06 08:40] RobinBuschmann commented on #404
@torkelrogstad Yes, sure:

[code]

[2018-07-06 10:30] torkelrogstad commented on #404
Thank you! Does types exist for these options? I solved by problem by simply doing `{...options}` in all my queries within a hook, but that's a completely untyped solution.

[2018-07-07 13:30] xlxAciDxlx commented on #406
Thanks, @RobinBuschmann, that's what I was looking for! :D Any answer on the migrations? :D

[2018-07-09 07:48] MatthiasKunnen opened #407 "reflect-metadata dependency"
This library states in the README that it requires [reflect-metadata](https://www.npmjs.com/package/reflect-metadata). The consumer has to install this package manually. Why is this dependency not in the dependency list of `package.json` so that it is automatically installed along with `sequelize-typescript`?

[2018-07-09 08:06] MatthiasKunnen commented on #405
I assume based on the following that it is not:

This is not only good practice regarding design, but also matters for the order of execution. Since Typescript creates a __metadata("design:type", SomeModel) call due to emitDecoratorMetadata compile option, in some cases SomeModel is probably not defined(not undefined!) and would throw a ReferenceError. When putting SomeModel in a separate file, it

[2018-07-12 03:57] francisvalois opened #408 ""duplicating" property in "include" options"
Hello,

I'm using the "duplicating" property of the "include" options to get around a limitation with inner join where condition and limit select under the Sequelize library. I've found that the actual IBaseIncludeOptions does not include this property so i get many error from the TypeScript compiler.

The property is not shown into the documentation but is used in the actual code of Sequelize as

[2018-07-12 07:03] b051 opened #410 "missing property in IFindOptions<F>"
should have `includeIgnoreAttributes?: boolean` property

https://github.com/sequelize/sequelize/blob/master/lib/dialects/abstract/query-generator.js#L1451

[2018-07-15 01:00] xlxAciDxlx commented on #406
Any suggestions in regards to migrations?

[2018-07-16 15:23] Mc128k opened #411 "Initialize object after loading from database"
Hi
This is not a bug, but a question I could not find the answer for. I am trying to initialise an object after loading it from the database, so it creates an internal state before being usable. Normally you would do these things from the constructor, but apparently the data is still not defined when it's being called.

So I thought about hooks, but it didn't work. Basically I want the object to b

[2018-07-17 09:15] BenjaminDish opened #412 "Examples about complex @BelongToMany associations in the doc"
Hello,

This request is not an issue on the code but could be considered as a lack in the docs. I'm trying to use the @BelongsToMany tag do define a relationship between two entities, but I can't find how to do it really, using your documentation and the SequelizeJs documentation. My relation allows me to get a Map<string, CalculProgramme>. So I have an extra string attribute in the association (+

[2018-07-18 05:43] RobinBuschmann commented on #410
Thanks for reporting !

[2018-07-18 05:50] RobinBuschmann commented on #406
@xlxAciDxlx sry for the delayed reply. Currently I‘m using no sequelize integrated implementation for my migrations. I‘m happy with
https://github.com/db-migrate/node-db-migrate - with dB-migrate i‘m writing raw migration queries in order to have full control over my database.

[2018-07-18 06:03] RobinBuschmann commented on #412
Hey @BenjaminDish , try it like so:

[code]
[code]

[code]

[2018-07-18 14:37] RobinBuschmann commented on #408
Can be closed due to #409

[2018-07-18 14:37] #408 closed

[2018-07-18 15:35] BenjaminDish commented on #412
Hello @RobinBuschmann ,

Thank you for your answer, but the result I want is a bit diferent of what you propose. As you can see, I have a `calculs_key character varying(255) NOT NULL,` in my association.

Indeed, the way I want the data to be retrieved in my model is :

[code]
where the key:string is the calculsKey of the association.

I am able to change the postgresql schema and maybe the @Belon

[2018-07-19 05:55] RobinBuschmann commented on #407
Hey @MatthiasKunnen, this is to prevent that multiple reflect-metadata packages get installed. Why? Each reflect-metadata installation has its own metadata storage, from which it reads and writes from.
So if you had a project with multiple reflect-metadata packages, it could happen that in one file you write metadata in one reflect-metadata package and  in another file you’re trying to retrieve th

[2018-07-19 08:19] BenjaminDish commented on #281
Nice workaround @Rodrigo54, waiting for the v1.0.0 fix.

[2018-07-19 14:18] RobinBuschmann commented on #412
You could define a property getter additionally which resolves in such a map:
[code]
Does this help? :)

[2018-07-19 14:20] RobinBuschmann commented on #411
Hey @Mc128k, can you provide some code snippets/examples so that we can get a better idea of what you want to achieve please? :)

[2018-07-19 14:32] xlxAciDxlx commented on #406
I'll give that a shot, thank you!

[2018-07-19 14:40] Mc128k commented on #411
It's a simple matter of calling some code whenever a new instance is created. Like using a constructor, I would like to be able to initialize some stuff when the class is created (after the instance variables are populated with the database data).

So when I create / update / load an instance it always perform some stuff immediately after the object is created.

[2018-07-19 15:43] RobinBuschmann commented on #411
Sounds totally like hooks are the solution for that - what issues did you faced with hooks?

[2018-07-19 15:47] Mc128k commented on #411
The fact that apparently there is no hook that covers the "load" operation. Or maybe I could not find it. I tried some hooks but they weren't fired at the right moment

[2018-07-20 08:56] BenjaminDish commented on #412
Hello Robin,

Thanks for your help.
I tried your piece of code but I can't test it properly. Indeed, the `acc[calcul.ProgrammeCalculProgramme.calculKey] = calcul;` row doesn't compile as ProgrammeCalculProgramme is not an attribute of CalculProgramme.

Almost I would like to have my 'calculs' field included in the json I return to my client.

Sending data to the client should generate a JSON like

[2018-07-20 13:56] BenjaminDish commented on #412
Hey Robin,

I finally gave up to apply such a structure to sequelize. I just added the key:string to the CalculProgramme model and used a Basic @BelongsToMany relationship between Programme and CalculProgramme.

Indeed, it seems that SequelizeJs is not done for this case.

Thank you for your help and for this project, he will soon be an important piece of my backend and I will follow, and maybe pa

[2018-07-20 14:40] mschipperheyn commented on #309
@doovers nice. But you should put `await customer.$create` etc. That kills the parallel behavior of `Promise.all`. It should imho be

[code]

[2018-07-21 16:38] dagda1 opened #413 "running migrations creates 2 tables"
I have the following class:
[code]

And the following migration:

[code]

After running `./node_modules/.bin/sequelize db:migrate` it creates 2 tables, `User` and `users`.

Why is the `User` table being created?

[2018-07-21 17:03] #413 closed

[2018-07-22 01:55] leogoesger commented on #159
@RobinBuschmann could you provide an example of how you are using `db-migrate`? thanks

[2018-07-23 06:32] RobinBuschmann commented on #159
@leogoesger Sure. Here we go https://github.com/ElisaBaum/maple-backend/tree/develop/migrations

https://github.com/ElisaBaum/maple-backend/blob/develop/package.json#L7

[2018-07-23 17:47] olaferlandsen opened #414 "Support for LTREE?"
Hello! this repo can support LTREE??

[2018-07-24 03:10] Diluka opened #415 "ignoreDuplicates not working when individualHooks is true"
### VERSIONS
 - `sequelize`: `4.38.0`
 - `sequelize-typescript`: `0.6.5`

### PROBLEMS
Only `ignoreDuplicates: true` it will generate `INSERT IGNORE ...` statements. If both `ignoreDuplicates: true` and `individualHooks: true` it generates `INSERT ...` statements only.

P.S. I'm not sure this issue is belongs to `sequelize-typescript` or `sequelize`.

[2018-07-24 03:31] iamzifei opened #416 "init database?"
Hi just trying to refactor a project using sequelize-typescript. the project has model defined in ts already such as the following:

[code]

and I've add model as the following:

[code]

however when running `sequelize db:migrate` I couldn't see the table get created in the database, is there anything wrong?

the package version is as following:

[code]

after testing a couple of times the issue i

[2018-07-24 17:42] RobinBuschmann commented on #411
@Mc128k If you don't want to do async stuff, you could use the `constructor`. After the `super` call the instance variables should be fully initialized:
[code]

If you want to use hooks, you'd need to combine hooks. Something like:
[code]

[2018-07-24 17:43] RobinBuschmann commented on #412
You're welcome. Then I'll close this for now

[2018-07-24 17:43] #412 closed

[2018-07-24 17:43] xlxAciDxlx commented on #406
Yes, that's what I'm referring to. Would you mind providing a quick example? I'm not entirely sure I'm grasping how I'd go about this.

[2018-07-24 17:50] RobinBuschmann commented on #414
If sequelize supports it and the database clients sequelize uses (`pg`, `mysql2`, ...) then sequelize-typescript should support it as well. But unfortunately I couldn't find anything regarding this in the sequelize docs.

[2018-07-24 17:53] RobinBuschmann commented on #406
Unfortunately not :/ I've never used the sequelize integrated data migrations. So I have no clue how to configure them. If you find out, I would appreciate it if you'd come back with your knowledge :)

[2018-07-24 17:58] RobinBuschmann commented on #23
@leogoesger Since globs are supported now, you could do it like so: `/**/!(index).ts`

[2018-07-24 18:00] RobinBuschmann commented on #415
Sounds like a `sequelize` issue. Can you verify by reproducing it with sequelize only?

[2018-07-24 18:05] RobinBuschmann commented on #416
Hey @iamzifei there are several discussions about migrations and sequelize-typescript https://github.com/RobinBuschmann/sequelize-typescript/issues?utf8=%E2%9C%93&q=migrations

Since I've never used the sequelize integrated implementation migration, for now I can only recommend using https://github.com/db-migrate/node-db-migrate

[2018-07-24 18:15] Mc128k commented on #411
I was missing the constructor arguments, I think that's more than ok.

Thanks a lot

[2018-07-24 18:15] #411 closed

[2018-07-24 21:10] olaferlandsen commented on #414
thanks too much!

[2018-07-24 21:15] olaferlandsen commented on #414
@RobinBuschmann I was found this addon:
https://github.com/overlookmotel/sequelize-hierarchy

[2018-07-25 10:20] CodeCakePie opened #417 "Can't compile when using Sequelize 4.38.0"
Build in VS-Code gives me following error:

/node_modules/sequelize-typescript/lib/utils/types.d.ts:9:16 - error TS2344: Type 'keyof T' does not satisfy the constraint 'string'.  Type 'string | number | symbol' is not assignable to type 'string'.
    Type 'number' is not assignable to type 'string'.

9     [P in Diff<keyof T, K>]: T[P];

What could be the reason?

[2018-07-26 07:49] BenjaminDish opened #418 "Question : Use Abstract Class in associations"
Hello,

It is an issue but a true question. Here is my use case :

I have a generic class CompteSpecial
[code]

implemented by 2 classes : CompteSpecialPresta and CompteSpecialRZ

[code]

[code]
and in a Compte Class, I need to build a @BelongToMany Association with theses classes like :

[code]

So as you can see, I need the comptesSpeciaux attribute to refer to an array of CompteSpecial, which c

[2018-07-26 12:09] MatthiasKunnen commented on #403
Did you resolved this issue? Maybe updating VS Code helps?

[2018-07-26 19:43] wbk opened #421 "hooks option in @Table decorator is broken"
Given a model `foo.ts`

[code]

An attempt to load this model will throw `Error: Model not initialized: "Foo" needs to be added to a Sequelize instance before "addHook" can be called.` during the model's own initialization process.

Sequelize ultimately calls `this.Addhook()` for every item specified in a Table's `hooks` options property, but the options are processed by sequelize before a model's

[2018-07-26 20:01] CodeCakePie commented on #417
it seems like my visual studio code ist the reason, very strange behaviour. Build Task doesn't work, but tsc command works...

[2018-07-26 20:01] #417 closed

[2018-07-26 21:09] bencesibin opened #423 "Create associations with same Table"
I am trying to create an association with same Table.

Similar issue was in Sequelize Solved: https://github.com/sequelize/sequelize/issues/1937

**My model looks like this:**

[code]
**Module table**
[code]
**expected json**
[code]
**Error is**

[code]

[2018-07-26 21:17] xlxAciDxlx commented on #406
Would you mind outlining your current method for me? Maybe I'd be able to wrap my head around it. I'm just super paranoid (at least on the production side of things) about messing up a live database that's actually used to power services. Haha And if I figure anything out, I definitely will share my knowledge!

[2018-07-27 03:12] thomascmost opened #424 "Breaks in Typescript 2.9"
The following error gets thrown:
[code]

[2018-07-27 07:33] BenjaminDish commented on #423
Hello, could please provide the peace of code which crashes ? It seems to be related to a lodash usage.

[2018-07-27 09:10] CindyBoy commented on #318
I meet the same question, had you soved?

[2018-07-27 10:39] chaoxihailing commented on #318
yes, you have to add mapping variable just like in User model
[code]
and query like
[code]

[2018-07-27 10:40] chaoxihailing commented on #318
@CindyBoy

[2018-07-27 10:40] bencesibin commented on #423
thanks @BenjaminDish
[code]
Hi just trying to execute with Default Scope
`
const datas = await Module.findAll<Module>();
`

[2018-07-27 11:07] RobinBuschmann commented on #418
Hey @BenjaminDish, association scopes are the right way to do this. Look at the sequelize docs here: http://docs.sequelizejs.com/manual/tutorial/associations.html#scopes

If you still have questions, don't hesitate to ask ;)

[2018-07-27 11:11] #405 closed

[2018-07-27 11:12] #407 closed

[2018-07-27 11:32] RobinBuschmann commented on #406
@xlxAciDxlx probably an example helps: https://github.com/ElisaBaum/maple-backend/tree/develop/migrations https://github.com/ElisaBaum/maple-backend/blob/develop/package.json#L7

With `db-migrate-plugin-typescript` you can also write your migrations in ts.

[2018-07-27 11:34] RobinBuschmann commented on #423
@bencesibin Does the issue also appears without using scopes?

[2018-07-27 17:39] bencesibin commented on #423
thanks @RobinBuschmann

**This works fine**
[code]

But not as expected ( multiple level child based on parentModuleId )
can u suggest me a correct method to do this.

**Output is :** single level child

[code]

[2018-07-30 08:04] RykoL opened #426 "[Question] Model with mutltiple relations of same type"
Hey folks,

**Nvm i figured it out myself, issuer and debtor shouldn't be an Model instance. Ticket can be closed**

i'm currently having problems creating an record that has two relations of the same type.

These are the models i defined.
[code]

In a test i've been trying to create records of it, but couldn't get it to work. When omitting the user/debtor save it wouldn't save the User instances

[2018-07-30 12:12] ALjean opened #427 "SQL syntax error. findAndCountAll with scopes"
When a use Model.scope(['scope1']).findAndCountAll({distinct: true})

I get an SQL sql syntax error.
SELECT DISTINCT('id') FROM .....   // some joins with aliases
Expected result:

DISTINCT('id') =>  DISTINCT('aliasName.id')

It's happend because scope adds empty array``` include: [] ```.
And sequelize.count() add alias to query DISTINCT('aliasName.id').

sequelize-typescript/services/models.js
me

[2018-07-31 06:13] vekexasia opened #428 "Cannot transpile with TypeScript 3.0.1"
Hello,

I've been trying to update my proj to typescript 3.0.1 but unfortunately sequelize-typescript does not transpile correctly due to this:

[code]

[2018-07-31 11:49] firou1925 commented on #312
Any updates on this?

[2018-07-31 14:33] RobinBuschmann commented on #426
Hey @RykoL, since you solved your issue by yourself, can you provide your solution here and close this issue by you own? :)

[2018-07-31 14:35] RobinBuschmann commented on #427
@ALjean thanks for reporting. So with pure sequelize this is working. Do I understand you properly here?

[2018-07-31 14:37] azmtb commented on #428
In your `tsconfig.json` -

[code]

or add `!` to the variable

I believe.

[2018-07-31 15:02] RobinBuschmann commented on #428
Hey thanks for reporting. With `sequelize-typescript@0.6.6-beta.1` it should already work. Please give it a try!

[2018-08-01 07:01] ALjean commented on #427
@RobinBuschmann Yes.

[2018-08-01 07:08] RykoL commented on #426
Sure the solution was just as easy as replacing
[code]
with
[code]

[2018-08-01 07:08] #426 closed

[2018-08-01 12:31] aviranco opened #429 "Provide "schema" in the Sequelize constructor parameter"
I am using PostgreSQL, and I would like to pass the "schema" of PostgerSQL (to put the tables in) in the Sequelize ctor options and it seems it doesn't exist.

I know there is a @table decorator on each model, but I want to define it once when I define the specific connection instead of define every time in every model declaration.

I did it in the Sequelize ctor like this:
[code]

Thanks

[2018-08-02 12:52] AamuLumi opened #431 "Add options on BelongsToMany"
Hi !

Is there a way to add options on a `BelongsToMany` relation as mentioned in [Sequelize doc](http://docs.sequelizejs.com/class/lib/model.js~Model.html#static-method-belongsToMany) ?
I read in the doc that `@BelongsToMany(relatedModelGetter: () => typeof Model, through: string, options: AssociationOptionsBelongsToMany)` exists, but it doesn't seem to work (typescript error).

And is there a wa

[2018-08-02 14:18] RobinBuschmann commented on #431
Hey @AamuLumi, the docs are wrong here - It rather should be:
[code]

Hope this helps.

[2018-08-02 14:19] RobinBuschmann opened #432 "Wrong BelongsToMany API description"
`@BelongsToMany(relatedModelGetter: () => typeof Model, through: string, options: AssociationOptionsBelongsToMany)` should be`@BelongsToMany(relatedModelGetter: () => typeof Model, options: AssociationOptionsBelongsToMany)`

https://github.com/RobinBuschmann/sequelize-typescript#foreignkey-belongsto-hasmany-hasone-belongstomany-api

[2018-08-02 14:20] RobinBuschmann commented on #431
#432

[2018-08-02 14:49] RobinBuschmann commented on #423
@bencesibin  Sequelize doesn't support nested hierarchies like this by default. You will need to use something like https://github.com/overlookmotel/sequelize-hierarchy. But I haven't used it yet together with sequelize-typescript.